.why-effective
  display flex
  flex-direction column
  padding basePadding (basePadding*2)
  border 1px solid #eaeaea
  border-radius (basePadding/3*2)
  height 100%
  min-height 7.4rem
  line-height 1.5rem
  &__text
    flex-grow 1
    text-align center
    padding-bottom (basePadding)
  &::after
    content ''
    width 1.066rem
    height 1rem
    align-self center
    background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 15'><defs><style>.cls-1{fill:%23734d76;}</style></defs><title>promotion</title><path class='cls-1' d='M8,12c-0.34,0-.67,0-1-0.05V12L3,15V10.68A5.6,5.6,0,0,1,0,6C0,2.69,3.58,0,8,0s8,2.69,8,6S12.42,12,8,12ZM5,5H3V7H5V5ZM9,5H7V7H9V5Zm4,0H11V7h2V5Z'/></svg>")
    background-size cover
