extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/primed.jpg',
  //-         title: 'Сайт медицинского холдинга Праймед',
  //-         link: {
  //-           text: 'http://www.stomcenter.ru',
  //-           href: 'http://www.stomcenter.ru'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Медицинский холдинг «PRIMED» - это комплекс современных клиник в Санкт-Петербурге, работающих в области эстетической медицины и стоматологии и объединяющий многопрофильную клинику Медицинский Центр Города и сеть клиник Стоматологический Центр Города.'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка новой версии сайта многопрофильной клиники привело к значительному увеличение интереса пациентов`,
          text: '&laquo;Медицинский Центр Города&raquo;&nbsp;&mdash; комплекс современных клиник, работающих в&nbsp;сфере эстетической медицины, флебологии, снижении веса, клинической диагностики и&nbsp;стоматологии.',
          //- url: 'stomcenter.ru',
          img: imgPath+'detail/primed-detail.webp',
          logo: '/images/portfolio/razrabotka-saytov/logo/logo-medcenter.webp',
          logoWidth: '75',
          logoHeight: '115',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Улучшить конверсию сайта, сделать его более современным и удобным;
          li Обновить оформление сайта.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Обновили дизайн сайта;
          li Улучшили продающие качества сайта.
      +caseSection('Результаты',{type:'task'}).text-align-left
        p По сравнению с предыдущей версией:
        ul.list-marked
          li Время, которое проводит посетитель на сайте, #[strong увеличилось на 28,4%];
          li Количество страниц, которые просматривает посетитель, #[strong увеличилось на 17,9%];
          li Количество посетителей, которые просмотрели всего одну страницу и ушли #[strong уменьшилось на 1,36%];
          li 
            p Сайт приняли в каталог DMOZ *
            p: +img({
              name: 'primed-1',
              path: '/images/razrabotka-saytov/primed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Главная страница').image-shadow
            p.text-marked--size--s * Open Directory Project http://www.dmoz.org, более известный как DMOZ, является, вероятно, единственным самым качественным и авторитетным каталогом в Интернете.
        //- -
        //-   let results = [
        //-     {title: '28,4%', desc: 'переходов'},
        //-     {title: '21,09', desc: 'средняя цена клика'},
        //-     {title: '23', desc: 'заявки'},
        //-     {title: '7,72%', desc: 'конверсия кампании '},
        //-     {title: '273 р.', desc: 'стоимость заявки'},
        //-   ]
        //- +caseResultsList(results)
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        ol.list-numbered 
          li 
            p Сделали дизайн сайта более современным и&nbsp;соответствующим брендбуку
            +grid({ 'paddingy':true }).page-subsection
              +grid__item({ m:6, xs:12 })
                p: a(href='/images/razrabotka-saytov/primed/primed-2.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-2',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Брендбук').object-fit-cover.image-shadow
              +grid__item({ m:6, xs:12 })
                p: a(href='/images/razrabotka-saytov/primed/primed-3.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-3',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Брендбук').object-fit-cover.image-shadow

          li 
            p Разработали прототипы новой версии сайта.
            p Мы&nbsp;подготовили несколько вариантов интерфейса и&nbsp;согласовали их&nbsp;с&nbsp;клиентом. Прототип позволил нам учесть все нюансы и&nbsp;эффективно визуализировать идеи, которые мы&nbsp;планировали реализовать.
            +grid({ 'paddingy':true }).page-subsection
              +grid__item({ m:6, xs:12 })
                p: a(href='/images/razrabotka-saytov/primed/primed-4.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-4',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Прототипы новой версии сайта').image-shadow
              +grid__item({ m:6, xs:12 })
                p: a(href='/images/razrabotka-saytov/primed/primed-5.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-5',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Прототипы новой версии сайта').image-shadow
          li Разработали адаптивную верстку, которая подстраивается под разрешение экрана и&nbsp;различные устройства.
          li Вынесли все направления клиники в&nbsp;шапку для удобства навигации, акцентировали внимание на&nbsp;телефоне.
          li Сделали внутреннее меню лучше читаемым.
          li Убрали из&nbsp;правой колонки лишние элементы.
          li 
            p Привели в&nbsp;порядок подвал сайта.
            +grid({ 'paddingy':true }).page-subsection
              +grid__item({ m:6, xs:12 })
                p #[strong До]
                p: a(href='/images/razrabotka-saytov/primed/primed-6.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-6',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Подвал сайта' width='1000' height='540').object-fit-cover.image-shadow
              +grid__item({ m:6, xs:12 })
                p #[strong После]
                p: a(href='/images/razrabotka-saytov/primed/primed-7.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-7',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Подвал сайта' width='1000' height='540').object-fit-cover.image-shadow
              +grid__item({ m:6, xs:12 })
                p #[strong До]
                p: a(href='/images/razrabotka-saytov/primed/primed-8.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-8',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Подвал сайта' width='1000' height='540').object-fit-cover.image-shadow
              +grid__item({ m:6, xs:12 })
                p #[strong После]
                p: a(href='/images/razrabotka-saytov/primed/primed-9.png' target='_blank' data-fancybox).image-zoom 
                  +img({
                    name: 'primed-9',
                    path: '/images/razrabotka-saytov/primed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Подвал сайта' width='1000' height='540').object-fit-cover.image-shadow

        h3.text-align-center Разработали посадочную страницу для акции
        +pageSubsection
          p Спроектировали и&nbsp;внедрили продающую страницу для акций клиники:
          ul.list-marked 
            li Разместили всю необходимую информацию об&nbsp;услуге на&nbsp;одной странице.
            li Внедрили счетчик обратного отсчета для ограничения по&nbsp;времени.
            li Встроили удобную форму отправки заявки.
            li Добавили врачей, которые выполняют услугу.
            li Кратко рассказали о&nbsp;преимуществах клиники.
        +pageSubsection
          p: a(href='/images/razrabotka-saytov/primed/primed-10.png' target='_blank' data-fancybox).image-zoom 
            +img({
              name: 'primed-10',
              path: '/images/razrabotka-saytov/primed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Разработали посадочную страницу для акции' width='1000' height='543').object-fit-cover.image-shadow
