+grid({justify: 'center', paddingy: true}).home-feedback-gallery
  +grid__item({m:3, s:4, xs:6}).home-feedback-gallery__item
    a(href='/images/feedback/pervaya-semeynaya-big.jpg' data-fancybox='gallery')
      img(src='/images/feedback/main-page_scan-1-min.jpg')
  +grid__item({m:3, s:4, xs:6}).home-feedback-gallery__item
    a(href='/images/feedback/scg-big.jpg' data-fancybox='gallery')
      img(src='/images/feedback/main-page_scan-2-min.jpg')
  +grid__item({m:3, s:4, xs:6}).home-feedback-gallery__item
    a(href='/images/feedback/tradicii-big.jpg' data-fancybox='gallery')
      img(src='/images/feedback/main-page_scan-3-min.jpg')
