mixin notePanel(settings = {title: '', body})
  - let classList = ''
  if settings.color
    - classList += 'note-panel--color-'+settings.color
  .note-panel(class= classList)
    .note-panel__header !{settings.title}
    .note-panel__body
      +createElement(settings.body)
