.note-panel
  --panel-color #aab2bd
  display flex
  flex-direction column
  height 100%
  &__header
    background-color var(--panel-color)
    padding (basePadding*2)
    text-align center
    color #ffffff
    min-height 6rem
    display flex
    align-items center
    justify-content center
    font-weight bold
    font-size font-m
    line-height line-m
  &__body
    padding (basePadding*2)
    border 1px solid var(--panel-color)
    color #797677
    flex-grow 1
    & *:last-child
      margin-bottom 0
  &--color-purple
    --panel-color #846387
  &--color-red
    --panel-color #8f3254
