-
  const classes = (className, settings = {}) => {
    const classList = [className]
    for ( let item of Object.entries(settings) ) {
      if (item[0] !== 'tag' && item[1]) {
        if (item[1]===true)
          classList.push(`${className}--${item[0]}`)
        else
        if (typeof item[1] === 'string' || typeof item[1] === 'number')
          classList.push(`${className}--${item[0]}-${item[1]}`)
        else if (Array.isArray(item[1])) {
          classList.push(
                  item[1].map(i => {
                    const o = {};
                    o[item[0]] = i;
                    return classes(className, o);
                  }).join(' ')
          );
        }
      }
    }
    return Array.from(new Set(classList.join(' ').split(' '))).join(' ');
  }
