.table-wrap
  margin-bottom 1rem
  overflow-x auto
.table
  width 100%
  font-size font-s
  line-height line-s
  &--colored
    & ^[0]__row
      &:nth-child(2n+1)
        background-color rgba(#f4f4f4, 0.4)
  &__header
    padding basePadding
    text-align left
    vertical-align middle
    background-color #f4f4f4
  &__cell
    padding basePadding
    vertical-align middle
    border-bottom 1px solid #f4f4f4
    ^[-1]__row:last-child > &
      border-bottom 1px solid #f4f4f4
    &--empty
      &::after
        content '—'
        font-size font-xxxl
        line-height 1
    &--green
      background-color #c5e5cb
    &--border
      border-left 1px solid #f4f4f4
      &:last-child
        border-right 1px solid #f4f4f4

  &__row
    p
    ul
      font-size font-s
      line-height line-s
    
  &.table--small
    font-size font-xs
    line-height line-xs
