.portfolio-list
  display grid
  grid-template-columns repeat(12, 1fr);
  grid-auto-rows 1fr
  column-gap 2rem
  row-gap 2rem
  &__col-m-9
    &:nth-child(n)
      grid-column 1/9
  &__col-s-6
  &__col-m-6
    &:nth-child(n)
      grid-column 1/7
    &:nth-child(2n)
      grid-column 7/13
  &__col-s-6
    @media(max-width point-s - 1)
      &:nth-child(n)
        grid-column 1/13
  &__col-m-6
  &__col-m-9
    @media(max-width point-m - 1)
      &:nth-child(n)
        grid-column 1/13
  &__works
    &:nth-child(1)
    &:nth-child(5)
    &:nth-child(12)
    &:nth-child(17)
      grid-column 1/8
    &:nth-child(2)
    &:nth-child(6)
    &:nth-child(13)
    &:nth-child(18)
      grid-column 8/13
    &:nth-child(3)
    &:nth-child(7)
      grid-column 1/6
    &:nth-child(4)
    &:nth-child(8)
      grid-column 6/13
    &:nth-child(9)
    &:nth-child(14)
      grid-column 1/5
    &:nth-child(10)
    &:nth-child(15)
      grid-column 5/9
    &:nth-child(11)
    &:nth-child(16) 
      grid-column 9/13
    // &:nth-child(3n+14)
    //   grid-column 1/5
    // &:nth-child(3n+15)
    //   grid-column 5/9
    // &:nth-child(3n+16) 
    //   grid-column 9/13
    @media(max-width point-m - 1)
      &:nth-child(2n+1)
        grid-column 1/7
      &:nth-child(2n)
        grid-column 7/13
    @media(max-width point-s - 1)
      &:nth-child(n)
        grid-column 1/13
