.youtube-module
  padding .75rem 1.25rem
  background-color #f0f0f0
  &__title
    font-weight bold
    margin-bottom (font-xs/2)
  &__list
    position relative
    font-size font-xs
    line-height line-xs
    &::after
      position absolute
      left 0
      bottom -3.5rem
      content ''
      width 50px
      height 50px
      background-image url(../images/youtube-vitaliy.webp)
      background-repeat no-repeat
      background-size contain
      z-index 10
      @media(max-width point-m - 1)
        bottom -4.375rem
