mixin results(list)

  .results&attributes(attributes)
    ul.results__list
      each item in list
        .results__item
          .results__title !{item.title}
          if item.info
            .results__info !{item.info}
          if item.link
            a(href= item.link.href).results__link !{item.link.text}
