extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Кейс Клиника Игнатовского'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/klinika-ignatovskogo.png',
      //-     title: 'Клиника Дерматологии и Репродуктивного здоровья доктора Игнатовского',
      //-     link: {
      //-       text: 'http://dermklinik.ru',
      //-       href: 'http://dermklinik.ru'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Основные направления деятельности клиники – дерматология, урология и гинекология.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Была создана адаптивная версия сайта с удобной навигацией;
      //-     li Проведен юзабилити аудит и внедрены улучшения в интерфейс;
      //-     li Проведена базовая техническая оптимизация сайта;

      //-   p
      //-     strong Результат:
      //-     |  Увеличение целевой посещаемости сайта 
      //-     strong в 8 раз
      //-     |  с 1000 до 8000 посетителей в месяц.
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличении количество звонков первичных пациентов на 24% по каналу SEO для клиники дерматологии',
          text: 'Основные направления деятельности клиники Дерматологии и Репродуктивного здоровья доктора Игнатовского – дерматология, урология и гинекология.',
          url: 'dermklinik.ru',
          img: imgPath+'detail/ignatovskogo-detail.webp',
          logo: imgPath+'logo/logo-ignatovskogo.svg',
          logoWidth: '130',
          logoHeight: '50',
          logoMod: 'width-auto',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет;
          li Улучшить конверсию сайта.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Была создана адаптивная версия сайта с удобной навигацией;
          li Проведен юзабилити аудит и внедрены улучшения в интерфейс;
          li Проведена базовая техническая оптимизация сайта.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличении количество звонков первичных пациентов на #[strong 24%] по каналу SEO;
          li Дополнительно более #[strong 25 обращений] в месяц с контекстной рекламы;
          li Конверсия сайта в записи на прием увеличилась на #[strong 19%];
          li Увеличение целевой посещаемости сайта в #[strong 4,5 раза] с 1800 до 8300 посетителей в месяц.
        -
          let results1 = [
            {title: '24%', desc: 'увеличение <br> количества звонков'},
            {title: '25', desc: 'дополнительных <br> обращений в месяц'},
            {title: '19%', desc: 'рост <br> конверсии сайта'},
            {title: '4,5 раза', desc: 'увеличение <br> посещаемости сайта'},
          ]
        +caseResultsList(results1).text-align-center
      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        .page-section
          ol.list-numbered
            li Выполнили технический SEO аудит;
            li Исправили найденные ошибки;
            li Собрали эффективные поисковые запросы и внедрили их на страницы;
            li На входе мы получили сайт с не оптимально продуманной структурой. Не было реализовано правильной иерархии разделов, некоторые страницы отсутствовали в меню и до них было сложно добраться.
          p Наша команда переработала структуру сайта так, чтобы она была более понятна посетителям сайта и соответствовала требованиям поисковых систем.
          a(href='/images/prodvizhenie-saytov/dermklinik/site-structure-dermklinik.ru.pdf' target='_blank')
            +img({
              name: 'site-structure',
              path: '/images/prodvizhenie-saytov/dermklinik/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Структура сайта dermklinik.ru').image-shadow
        .page-section
          h3.text-align-center Результат
          p Увеличение целевой посещаемости сайта в&nbsp;#[strong 4,5 раза] с&nbsp;1800 до&nbsp;8300 посетителей в&nbsp;месяц.
          +grid({ paddingy: true })
            +grid__item({ m:9 })
              +img({
                name: 'visitors',
                path: '/images/prodvizhenie-saytov/dermklinik/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'График посещаемости сайта dermklinik.ru').image-shadow
      
      +caseSection('Увеличение конверсии сайта',{type:'solutions'}).text-align-left
        h3 1. Выполнили комплексный анализ сайта по&nbsp;следующим направлениям:
        ul.list-marked
          li Анализ целей и&nbsp;задач целевой аудитории сайта;
          li Юзабилити аудит (анализ оптимальных сценариев использования сайта, удобства логической структуры, навигации);
          li Анализ маркетинговой составляющей сайта (дизайн, структура и&nbsp;содержание текстов).
        h3 2. Подготовили отчет о&nbsp;найденных ошибках и&nbsp;рекомендаций по&nbsp;их&nbsp;исправлению.
        h3 3. Реализовали рекомендации:

        h4 Проработали интерфейс и&nbsp;структуру сайта
        ul.list-marked
          li Сделали интерфейс верхней части сайта более удобным;
          li Упростили навигацию и&nbsp;сделали ее&nbsp;более понятной;
          li Уменьшили имиджевый блок, чтобы он&nbsp;полностью помещался на&nbsp;первый экран;
          li Объединили некоторые направления, а&nbsp;также добавили новые. А&nbsp;потом вывели главные разделы в&nbsp;отдельное меню.
        p #[strong До]
        p
          +img({
            name: 'before',
            path: '/images/prodvizhenie-saytov/dermklinik/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Сайт dermklinik.ru до проработки интерфейса').image-shadow
        p #[strong После]
        p 
          +img({
            name: 'after',
            path: '/images/prodvizhenie-saytov/dermklinik/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Сайт dermklinik.ru после проработки интерфейса').image-shadow
          
        h4 Прайс
        p Внедрили удобный интерфейс поиска услуг в&nbsp;прайсе. Раньше пациенту приходилось просматривать большое количество позиций чтобы найти нужную.
        p Сейчас мы&nbsp;реализовали умную строку поиска с&nbsp;автозаполнением. При вводе названия услуги интерфейс предлагает варианты, похожие на&nbsp;вводимый текст. После выбора варианта пользователю показывается позиция прайса с&nbsp;ценой.
        +img({
          name: 'price',
          path: '/images/prodvizhenie-saytov/dermklinik/',
          formats: [
            { ext: 'png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Интерфейс поиска услуг в прайсе на сайте dermklinik.ru').image-shadow
    
        h4 Реализовали версию сайта для слабовидящих
        p Требования к&nbsp;содержанию сайта медицинской организации установлены Приказом Минздрава РФ&nbsp;от&nbsp;30.12.2014 &#8470;&nbsp;956н, в&nbsp;котором прописано, что для доступности информации, сайт должен содержать версию для слабовидящих.
        p Мы&nbsp;реализовали такую версию в&nbsp;черно-белых цветах. Также сделали возможность выбирать размер шрифта.
        +grid 
          +grid__item({ m:6 })
            +img({
              name: 'poor-vision',
              path: '/images/prodvizhenie-saytov/dermklinik/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Версия сайта dermklinik.ru для слабовидящих').image-shadow
        
        h4 Адаптировали сайт к&nbsp;мобильным телефонам
        p Заверстали сайт так, чтобы он&nbsp;удобно адаптировался по&nbsp;размеру к&nbsp;разным устройствам: планшетам и&nbsp;смартфонам.
        +grid 
          +grid__item({ m:6 })
            p
              +img({
                name: 'mobile',
                path: '/images/prodvizhenie-saytov/dermklinik/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Мобильная версия сайта dermklinik.ru').image-shadow
        p Также мы:
        ul.list-marked
          li Сделали более информативной страницу &laquo;Контакты&raquo;;
          li Внедрили виджеты для лучшей коммуникации с&nbsp;посетителями сайта: обратный звонок, онлайн чат и&nbsp;форма обратной связи;
          li Структурировали и&nbsp;дополнили информацию о&nbsp;врачах.
        
        h3.text-align-center Результат
        p Конверсия сайта в записи на прием увеличилась на #[strong 19%].
        +grid({ paddingy: true })
          +grid__item({ m:4, s:5 })
            +img({
              name: 'click',
              path: '/images/prodvizhenie-saytov/dermklinik/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [{
                values: [ 1, 2 ]
              }]
            })(alt= 'Показатели конверсии').image-shadow
      
      +caseSection('Запуск контекстной рекламы').text-align-left
        .page-section
          h3.text-align-center Согласовали с&nbsp;клиентом наиболее приоритетные направления для рекламы
          p Обычно мы&nbsp;рекомендуем выбирать услуги, по&nbsp;которым у&nbsp;клиента есть серьезные преимущества, которые имеют достаточный спрос и&nbsp;приносят клиенту наибольшую прибыль.
          p В&nbsp;данном случае остановились на&nbsp;трех направлениях:
          ul.list-marked
            li гинекология;
            li урология;
            li дерматология.

          h3.text-align-center Подобрали запросы
          p Следующим этапом наш специалист подобрал &laquo;гео&raquo; запросы, связанные с&nbsp;расположением клиники. Для этого мы&nbsp;используем специальную таблицу со&nbsp;скриптом, который перебирает все возможные варианты направлений и&nbsp;топонимов.
          +img({
            name: 'table',
            path: '/images/prodvizhenie-saytov/dermklinik/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Таблица с запросами').image-shadow
        
        .page-section
          h3.text-align-center Собрали преимущества, изучили объявления конкурентов
          p Мы&nbsp;тщательно анализируем объявления конкурентов при подготовке рекламных кампаний. Собираем офферы других клиник, находим удачные тексты, а&nbsp;также уточнения. В&nbsp;результате такой работы получаем лучшее объявление, которое выгодно отличается от&nbsp;других предложений.
          iframe(src="https://drive.google.com/file/d/1tPsryGjd3XGSFFi58QC6J338czrpv5tn/preview" width="100%" height="500px" allow="autoplay")
        
        .page-section
          h3.text-align-center Создали эффективные объявления и запустили рекламную кампанию
          +grid
            +grid__item({ m:9 })
              +img({
                name: 'ad-1',
                path: '/images/prodvizhenie-saytov/dermklinik/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                })(alt= 'Пример объявления').image-shadow
        .page-section
          h3.text-align-center Результат
          p Дополнительно более #[strong 25&nbsp;обращений] в&nbsp;месяц с&nbsp;контекстной рекламы.
      +caseOffer
