.portfolio-buttons
  display flex
  flex-wrap wrap
  column-gap 1rem
  row-gap 1rem
  & .btn
    font-size 0.8rem
    line-height 1.3
    font-weight 600
    @media(max-width point-l - 1)
      font-size 1rem
