mixin portfolioButtons(list)
  ul.portfolio-buttons
    each item in list
      if item.active
        - itemClass = 'btn btn--small-padding btn--secondary btn--active'
      else
        - itemClass = 'btn btn--small-padding btn--secondary'
      li: button(type='button' data-button= item.button class= itemClass)= item.button
