+grid({justify: 'center', align: 'center', paddingy:true }).home-reasons
  +grid__item({m:4, s:3, xs: 12}).text-align-center
    p Выполнили #[br] #[+textMarked({ 'size--m': true, 'font-weight--600':true, color: 'purple' }) 100+] аудитов
  +grid__item({m:8, s:9, xs: 12})
    h3.home-reasons__title 3 причины заказать аудит
    ul.list-marked
      li Вы не понимаете за что платите деньги?
      li Вы хотите проверить работу ваших подрядчиков?
      li Несмотря на все усилия, реклама не привлекает пациентов?
