.home-reasons
  padding-y (basePadding*4)
  margin-top (basePadding*4)
  background-color #fafafa
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  &__title
    // font-size 2rem
    // line-height 2.5rem
    text-align center
    margin-bottom 0.875rem
  // .list-marked
  //   font-size font-l
  //   line-height line-l
