.banner
  padding (basePadding*1.5) (basePadding*3)
  font-size font-s
  color color-text-secondary
  background #6f277f linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.95))
  &__header
    margin-bottom .5rem
    font-weight bold
  &__body
    display flex
    align-items center
    margin -(basePadding)
    @media screen and (max-width 40rem)
      flex-wrap wrap
  &__text
    flex-grow 1
    padding basePadding
    p
    .list-marked
    .list-numbered
      margin-bottom font-s
      font-size font-s
      line-height line-s
      &:last-child
        margin-bottom 0
  &__button
    flex-shrink 0
    padding basePadding
  .btn
    padding-y (basePadding/2)
    font-size font-xs
