mixin banner(settings = {header:'', text: '', button: ''})
  .banner
    .banner__header !{settings.header}
    .banner__body
      .banner__text
        +createElement(settings.text)
      .banner__button: a(href='' data-fancybox).btn !{settings.button}

mixin bannerForm 
  .banner
    h3.text-align-center Обсудим ваш проект?
    +grid({ tag: 'form', paddingy:true, justify:'center' })(method="post" action="/index.php?option=com_rsform&view=rsform&formId=32").form.form--case-offer.validated-form.submitJS
      //- input(type='text' name='req_name' value)
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__name') Как вас зовут?
        input(type='text' name="form[name]" placeholder='Имя' data-regex="[а-яё]").form-input.validated.required.regex#form__name
        //- .validation-msg.validation-msg-required 
        //- .validation-msg.validation-msg-regex Должны быть русские буквы
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__site') Сайт клиники
        input(type='text' name='form[site]' placeholder='Сайт').form-input.rsform_phone.validated.required#form__site
        //- .validation-msg.validation-msg-required 
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__tel') Номер телефона
        input(type='tel' name='form[tel]' placeholder='Телефон').form-input.rsform_phone.validated.required#form__tel
        //- .validation-msg.validation-msg-required 
      +grid__item({ m:4, s:6, xs:12 }).form__submit
        button(type='submit').btn.btn--primary Обсудить проект
      <script>document.write('<input type="hidden" name="form[formId]" value="32"/>')</script>
      +grid__item({ xs:12 })
        +textMarked({ tag:'p', 'size--xs': true }).form__policy Нажимая на&nbsp;кнопку &laquo;Обсудить проект&raquo;, вы&nbsp;даете согласие на&nbsp;#[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh') обработку персональных данных] и&nbsp;соглашаетесь c&nbsp;политикой конфиденциальности.
