mixin caseSection(header, settings = {})
  - let classList = ''
  if settings.type
    - classList += ` case-section--`+settings.type
  .case-section(class= classList)&attributes(attributes)
    h2.case-section__title !{header}
    block
