.case-section
  padding 3rem 5rem
  text-align center
  margin-x -(basePadding*2)
  // @media screen and (max-width point-s)
  //   padding-x (basePadding*2)
  &.text-align-left
    text-align left
  @media (max-width point-m - 1)
    margin-x 0
    padding-x 0
  em
    font-style normal
    color #8c3052
  & > :last-child
  li ul
    margin-bottom 0
  &__title
    margin-bottom 2.25rem
    text-align center
  &--task
    border-bottom 3px solid #8c3052
  &--solutions
    border-bottom 3px solid #e8e8e8
  &--settings
    border-bottom 3px solid #e8e8e8
    text-align left
  h3
    // font-size font-l
    // line-height line-l
    margin-top 1.75rem
    margin-bottom (font-m/4*3)
    color #734d76
  h4 + .page-subsection
    margin-top 0.25rem
