.slider
  --arrow-position -10px
  --nav-top-position 50%
  position relative
  margin-top (basePadding*1.5)
  margin-bottom (basePadding*4)
  &--development-cases
    --nav-top-position 100%
  @media screen and (max-width point-s)
    margin-x basePadding
  & img
    display block
  .flex-nav-prev
  .flex-nav-next
    position absolute
    top var(--nav-top-position)
    transform translateY(-50%)
    a
      --before-background-color color-link
      --before-transition-duration .3s
      display flex
      align-items center
      justify-content center
      width (basePadding*3)
      height (basePadding*6)
      &:hover
        --before-background-color color-link-hover
        --before-transition-duration .1s
      &::before
        content ''
        background-color var(--before-background-color)
        transition background-color var(--before-transition-duration)
        width (basePadding*3)
        height (basePadding*3)
        mask-image var(--arrow)
        rotate var(--a-before-rotate)
        mask-repeat no-repeat
  .flex-nav-prev
    --a-before-rotate 90deg
    left var(--arrow-position)
  .flex-nav-next
    --a-before-rotate -90deg
    right var(--arrow-position)
  .flex-control-paging
    display flex
    justify-content center
    list-style none
    padding-top basePadding
    margin-x (-(basePadding/3))
    & > li
      margin-x (basePadding/3)
      a
        display block
        width (basePadding/1.5)
        height (basePadding/1.5)
        background-color #888888
        text-indent -9999px
        border-radius 50%
        transition background-color timing-s
        &.flex-active
          transition none
          background-color #f0f0f0
