extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка новой версии сайта клиники по пересадке волос привела к увеличению заявок пациентов с сайта в <strong>2 раза</strong>`,
          text: 'Клиника пересадки волос является структурным подразделением многопрофильной клиники эстетической медицины Medall.',
          url: 'netvolos.ru',
          img: imgPath+'detail/netvolos-detail.webp',
          logo: imgPath+'logo/logo-netvolos.svg',
          logoWidth: '130',
          logoHeight: '50',
          logoMod: 'width-auto',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет по каналу SEO;
          li Улучшить конверсию сайта и показатели возврата инвестиций в рекламу;
          li Сделать оформление сайта частью бренда.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Подготовили качественный продающий контент;
          li Разработать современный, удобный, динамичный адаптивный интерфейс;
          li Отрисовали дизайн, соответствующий в стилистике основному сайту клиники.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение количества заявок пациентов с сайта в #[strong 2 раза];
          li Глубина просмотра сайта увеличилась на #[strong 4%], время пользователя на сайте увеличилось на #[strong 3%];
          li Увеличение видимость сайта в поисковых системах (% пользователей, которые увидят сайт по поисковым запросам) #[strong с 80% до 90,5%].

        -
          let results1 = [
            {title: '×2', desc: 'увеличение <br> количества заявок'},
            {title: '4%', desc: 'увеличение <br> глубины просмотра сайта'},
            {title: '3%', desc: 'увеличение <br> время пользователя на сайте'},
          ]
        +caseResultsList(results1).text-align-center
      
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p Мы&nbsp;давно сотрудничали с&nbsp;клиникой по&nbsp;пересадке волос и&nbsp;занимались правками на&nbsp;сайте, а&nbsp;также поддержкой позиций сайта в&nbsp;поисковых системах. В&nbsp;какой-то момент пришло понимание, что с&nbsp;текущим сайтом серьезных успехов в&nbsp;привлечении пациентов ожидать не&nbsp;стоит.
        p Существующая версия уже не&nbsp;соответствовала духу времени: устаревший дизайн и&nbsp;верстка, недостаточно проработанный контент и&nbsp;отсутствие системы управления.
        p Мы&nbsp;всегда стремимся к&nbsp;лучшему результату, поэтому предложили нашему клиенту обновить сайт. Нашей целью было сделать лучший сайт в&nbsp;нише для того чтобы еще больше укрепить позиции клиента на&nbsp;рынке.
      +caseSection('Подход к&nbsp;работе',{type:'solutions'}).text-align-left
        p При разработке сайта мы&nbsp;следуем четкой методологии, не&nbsp;пропуская ни&nbsp;одного этапа. Это является залогом получения лучшего результата.
      +caseSection('Получение и&nbsp;анализ брифов от&nbsp;клиента',{type:'solutions'}).text-align-left
        p Перед началом работ мы&nbsp;стараемся максимально подробно опросить клиента, досконально выяснить особенности услуги, которую он&nbsp;предоставляет, позиционирование компании, преимущества, как выстроен маркетинг, описание целевой аудитории.

        h3.text-align-center Анализ целевой аудитории
        p Предварительно у&nbsp;нас было описание целевой аудитории клиники:
        ul.list-marked 
          li Люди с&nbsp;тотальным или частичным облысением:
            ul.list-marked 
              li тотальная алопеция;
              li андрогенетическое облысение;
              li повреждение головы (ожоги, шрамы, операции);
              li другие заболевания волос и&nbsp;кожи головы.
          li Люди с&nbsp;проблемными волосами (редкие волосы).

        h3.text-align-center Анализ конкурентов
        p На&nbsp;основе полученной информации мы&nbsp;провели поиск и&nbsp;собрали список прямых конкурентов, которые занимают ту&nbsp;же рыночную нишу.
        ul.list-marked 
          li https://www.hfe-hfe.ru/
          li https://rth.ru/
          li https://www.peresadka.center/
          li http://www.volosy.ru/

        p Мы&nbsp;тщательно проанализировали сайты конкурентов, зафиксировали особенности и&nbsp;интересный идеи, которые можем использовать в&nbsp;разрабатываемом проекте.
      
      +caseSection('Создание полного семантического ядра',{type:'solutions'}).text-align-left
        +pageSubsection
          p Поисковые запросы в&nbsp;нашем процессе являются фундаментом для дальнейшего проектирования структуры сайта. Мы&nbsp;всегда создаем сайты так, чтобы они максимально отвечали на&nbsp;поисковый спрос, соответствовали требованиям поисковых систем&nbsp;и, следовательно, были полностью готовы к&nbsp;дальнейшему продвижению.
          p На&nbsp;основе анализа брифов и&nbsp;конкурентов мы&nbsp;подготовили маркеры&nbsp;&mdash; это базовые темы, по&nbsp;которым будет продвигаться сайт.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            p: +img({
              name: 'netvolos-1',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Создание полного семантического ядра').image-shadow
        +pageSubsection
          p На&nbsp;базе маркеров мы&nbsp;собрали все возможные варианты запросов и&nbsp;обработали&nbsp;их.
      
      +caseSection('Подготовка структуры сайта',{type:'solutions'}).text-align-left
        +pageSubsection
          p На&nbsp;основе анализа конкурентов, требований к&nbsp;сайту и&nbsp;собранного семантического ядра мы&nbsp;подготовили mind map. Это отправная точка для проектирование структуры.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
              name: 'netvolos-2',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Подготовка структуры сайта').image-shadow

      +caseSection('Подготовка контента',{type:'solutions'}).text-align-left
        +pageSubsection
          p При подготовке контента для сайта мы&nbsp;кропотливо взаимодействуем с&nbsp;клиентом. 
          p Также мы&nbsp;внимательно изучили страницы сайтов конкурентов, проанализировали их&nbsp;и&nbsp;собрали лучшие идеи для наполнения сайта.
          p По&nbsp;каждой проектируемой страницы мы&nbsp;создали:
          ul.list-marked 
            li отдельный документ со&nbsp;списком вопросов #[br] данный документ был направлен клиенту для заполнения.
            li отдельный документ, отражающий будущую структуру контента на&nbsp;странице #[br] он&nbsp;был использован для написания текстов.
            li пометки, какой медиаконтент (фото и&nbsp;иллюстрации) нам будет необходим для наполнения.
          p Мы&nbsp;подготовили таблицу, в&nbsp;которую свели всю указанную информацию для удобства контроля.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: +img({
              name: 'netvolos-3',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Подготовка контента').image-shadow

      +caseSection('Результаты от&nbsp;вложения в&nbsp;контент',{type:'solutions'}).text-align-left
        +pageSubsection
          p После запуска сайта мы&nbsp;загрузили все поисковые запросы в&nbsp;сервис мониторинга и&nbsp;получили отличные результаты. Видимость сайта, т.е.&nbsp;%&nbsp;пользователей, которые увидят сайт по&nbsp;поисковым запросам выросла до&nbsp;90,5%.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: +img({
              name: 'netvolos-4',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Результаты от&nbsp;вложения в&nbsp;контент').image-shadow
        +pageSubsection
          p Сайт обгоняет по&nbsp;видимости всех ближайших конкурентов, даже самую популярную в&nbsp;СМИ клинику RTH.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: +img({
              name: 'netvolos-5',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Результаты от&nbsp;вложения в&nbsp;контент').image-shadow
        +pageSubsection
          p Из&nbsp;общего числа 178 поисковых запросов: по&nbsp;98&nbsp;сайт был в&nbsp;тройке лидеров, по&nbsp;140 запросам сайт был в&nbsp;первой десятке.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
              name: 'netvolos-6',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Результаты от&nbsp;вложения в&nbsp;контент').image-shadow

      +caseSection('Создание прототипа для версии на&nbsp;среднем мониторе (под 1024px)',{type:'solutions'}).text-align-left
        +pageSubsection
          p Собрав всю накопленную на&nbsp;предыдущих этапах информацию мы&nbsp;подготовили тщательные прототипы основных страниц сайта.
          p Каждую страницу сайта мы&nbsp;спроектировали таким образом чтобы она являлась посадочной: разместив максимально исчерпывающую информацию по&nbsp;каждому аспекту, снабдив аргументами, преимуществами. Таким образом можно с&nbsp;уверенностью запускать рекламу и&nbsp;отправлять трафик на&nbsp;любую страницу сайта.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-7.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-7',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-8.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-8',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-9.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-9',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-10.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-10',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-11.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-11',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-12.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-12',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Создание прототипа для версии на среднем мониторе (под 1024px)' width='1000' height='600').image-shadow.object-fit-cover
        +pageSubsection
          p Также был разработан прототип первого экрана для мобильного телефона.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:4 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-13.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-13',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототип первого экрана для мобильного телефона' width='1000' height='600').image-shadow.object-fit-cover

      +caseSection('Подготовка технического задания',{type:'solutions'}).text-align-left
        p На&nbsp;основе структуры сайта, требований к&nbsp;функционалу, прототипа интерфейса было подготовлено подробное техническое задание по&nbsp;всем страница сайта на&nbsp;13&nbsp;страницах.
      
      +caseSection('Отрисовка дизайна страниц',{type:'solutions'}).text-align-left
        p На&nbsp;основе требований заказчика к&nbsp;дизайну, фирменного стиля и&nbsp;brand book были подготовлены макеты дизайна основных страниц сайта.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-14.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-14',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'До' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-15.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-15',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'После' width='1000' height='600').image-shadow.object-fit-cover

        h3.text-align-center Страница &laquo;Результаты&raquo;
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-16.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-16',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница Результаты' width='1000' height='600').image-shadow.object-fit-cover

        h4.text-align-center Фильтры
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            +img({
              name: 'netvolos-17',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Фильтры').image-shadow
        +pageSubsection
          p Так как мы&nbsp;получили подробную информацию по&nbsp;каждому результату операции, то&nbsp;смогли классифицировать все случаи и&nbsp;подготовили удобный фильтр.
          p Таким образом любой пациент сможет посмотреть результат операции, который максимально соответствует его случаю. Это решает сразу несколько задач. Во-первых, пациент может спрогнозировать свой результат, проверить, соответствует&nbsp;ли он&nbsp;его ожиданиям. Во-вторых, он&nbsp;убедится, что клинике уже помогала пациенту со&nbsp;схожими проблемами. Это сильно увеличивает доверие к&nbsp;клинике и&nbsp;вероятность принятия положительного решения.

        h3.text-align-center Страница &laquo;Цены&raquo;
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: a(href='/images/razrabotka-saytov/netvolos/netvolos-18.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'netvolos-18',
                path: '/images/razrabotka-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница Цены' width='1000' height='600').image-shadow.object-fit-cover
        
        h4.text-align-center Расчет стоимости
        +pageSubsection
          p Стоимость услуг&nbsp;&mdash; это&nbsp;то, что обычно больше всего волнует пациентов. Поэтому мы&nbsp;решили основательно подойти к&nbsp;этой информации.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            +img({
              name: 'netvolos-19',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Расчет стоимости').image-shadow
        +pageSubsection
          p Сначала мы&nbsp;подробно объясняем пациенту от&nbsp;чего зависит и&nbsp;как рассчитывается стоимость услуги пересадки. Далее мы&nbsp;рассказываем каким способом и&nbsp;какую информацию должен предоставить пациент чтобы получить точный расчет стоимости.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            +img({
              name: 'netvolos-20',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Расчет стоимости').image-shadow
        +pageSubsection
          p Мы&nbsp;пошли еще дальше и&nbsp;решили реализовать своего рода квиз: простой калькулятор расчета примерной стоимости пересадки волос + форма запроса точной стоимости.
          p По&nbsp;нашему опыту калькуляторы, которые помогают пациенту принять решение значительно помогают увеличить конверсию. А&nbsp;квизы отлично помогают получать контакты пациента.
          p Работает квиз следующим образом:
          ol.list-numbered 
            li Пациент в&nbsp;зависимости от&nbsp;пола выбирает изображение, соответствующее его степени облысения.
            li Далее он&nbsp;выбирает предполагаемый метод пересадки.
            li На&nbsp;основе предполагаемого объема пересадки для выбранного случая и&nbsp;метода мы&nbsp;показываем примерную стоимость услуги в&nbsp;виде диапазона.
            li Одновременно с&nbsp;этим мы&nbsp;предлагаем пациенту заполнить форму со&nbsp;своими контактными данными, приложить фотографии головы и&nbsp;получить точную стоимость пересадки.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            +img({
              name: 'netvolos-21',
              path: '/images/razrabotka-saytov/netvolos/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Расчет стоимости').image-shadow

      +caseSection('Внедрение системы управления').text-align-left
        p Мы&nbsp;внедрили современную версию системы управления сайтом 1c-bitrix в&nbsp;редакции &laquo;Старт&raquo;. Клиент может удобно управлять всем контентом сайта.
        p Все запросы из&nbsp;форм задания вопросы, записи на&nbsp;консультацию, расчета стоимости, отзывов отправляются на&nbsp;почту администратора, а&nbsp;также сохраняются в&nbsp;базе сайта.
