extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/stomcenter.jpg',
          title: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
          link: {
            text: 'http://www.stomcenter.ru',
            href: 'http://www.stomcenter.ru'
          },
          info: [
            {tag: 'p', content: 'Сеть клиник «Стоматологический Центр Города» входит в число крупнейших сетей клиник оказывает широкий спектр услуг в сфере стоматологии, придерживаясь самых высоких стандартов качества.'},
            {tag: 'p', content: 'Дизайн в светлых, ярких тонах создает для посетителя атмосферу спокойствия и безопасности, позволяя довериться профессионализму врачей-стоматологов клиники.'},
            {tag: 'p', content: 'Главная страница представляет собой исключительно удобный путеводитель по материалам сайта: здесь можно быстро и удобно получить информацию о контактах клиник, актуальных акциях и новостях, перечне услуг, достижениях сети клиник, главных врачах и преимуществах.'}
          ]
        }
      +pageDevelopment(page)
