extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/audit-saita/1-clinic/' 
        const header = {
          title: `Увеличение количества первичных обращений пациентов <strong>на 14%</strong> за счет реновации сайта после комплексного аудита.`,
          text: 'Медицинский холдинг &laquo;Первая семейная клиника&raquo; включает в&nbsp;себя пять многопрофильных центров, четыре стоматологические клиники, два отделения неврологии, отделения врачебной косметологии и&nbsp;травмпункт.',
          url: '1-clinic.ru',
          img: imgPath+'1-clinic-main.webp',
          logo: imgPath+'1-clinic-logo.webp',
          logoWidth: '111',
          logoHeight: '20',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Выполнить реновацию сайта и дать рекомендации по увеличению конверсии посетителей в пациентов;
          li Подготовить предложения по повышению посещаемости сайта, а также по обеспечению равномерной записи в клиники разной специализации.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Выполнили комплексный аудит сайта;
          li Подготовили предложения по реновации сайта и прототип;
          li Выполнили аудит кампаний контекстной рекламы;
          li Перенесли сайт на более быстрый сервер.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение количества первичных обращений пациентов с сайта на #[strong 14%].

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился руководитель отдела маркетинга клиники с&nbsp;запросом на&nbsp;предметное коммерческое предложение по&nbsp;#[strong реновации сайта, повышению посещаемости и&nbsp;конверсии], поисковому продвижению, технической поддержки и&nbsp;контекстной рекламе.
        p Также клиент просил оценить качество сегодняшней работы по&nbsp;указанным выше направлениям.
        p Мы&nbsp;скрупулезно взялись за&nbsp;эту задачу, подготовили #[strong глубокий комплексный аудит] сайта, а&nbsp;также аудит кампаний контекстной рекламы. Также подготовили предложение по&nbsp;реновации сайта в&nbsp;виде подробного прототипа.
        p После внедрения наших предложений клиент получил результат, которого #[strong даже не&nbsp;ожидал].
      
      +caseSection('Аудит сайта',{type:'solutions'}).text-align-left
        p Мы&nbsp;выполнили комплексный аудит сайта на&nbsp;#[strong 11&nbsp;страницах], который включал два направления:
        ul.list-marked 
          li аудит продающих качеств;
          li технический seo аудит.
        p В&nbsp;рамках аудита продающих качеств мы&nbsp;выполнили следующие этапы:
        ul.list-marked 
          li Анализ целей и&nbsp;задач целевой аудитории сайта;
          li Юзабилити аудит (анализ оптимальных сценариев использования сайта, удобства логической структуры, навигации);
          li Анализ маркетинговой составляющей сайта (дизайн, структура и&nbsp;содержание текстов).
        iframe(src="https://drive.google.com/file/d/1VLf5kINiS0xodZpaADGLrDfNBD7YVg1q/preview" width="100%" height="560" allow="autoplay")

      +caseSection('Предложения о&nbsp;реновации сайта',{type:'solutions'}).text-align-left
        +pageSubsection
          p На&nbsp;основе аудита мы&nbsp;подготовили прототип нескольких страниц сайта.
          h3.text-align-center Главная страница
          ol.list-numbered 
            li Переработали шапку:
              ul.list-marked 
                li на&nbsp;самом верху расположили главное меню и&nbsp;форму поиска по&nbsp;сайту;
                li сделали акцент на&nbsp;телефоне и&nbsp;кнопке &laquo;Заказать звонок&raquo;, вынесли адреса клиник, сделали график работы более компактным, чем избавились от&nbsp;перегруженности информацией.
            li Вынесли направления деятельности в&nbsp;дополнительное меню.
            li Добавили слайдер с&nbsp;акциями на&nbsp;первый экран.
            li Далее разместили важные цифры, аргументирующие основные преимущества сети клиник.
            li Спроектировали блок с&nbsp;удобной навигацией по&nbsp;услугам в&nbsp;виде вкладок по&nbsp;направлениям.
            li Под ним разместили три блока в&nbsp;виде вкладок: калькуляторы по&nbsp;услугам стоматологии и&nbsp;косметологии, а&nbsp;также сервис по&nbsp;экспресс-диагностике. Они должны #[strong увеличить вовлеченность] пользователей и&nbsp;помогать в&nbsp;формировании лидов.
            li В&nbsp;правой колонке мы&nbsp;систематизировали и&nbsp;упорядочили элементы записи на&nbsp;прием, вопроса специалиста.

        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/audit-saita/1-clinic/1-clinic-1.webp' target='_blank' data-fancybox).image-zoom   
              +img({
                name: '1-clinic-1',
                path: '/images/audit-saita/1-clinic/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'До' width='1000' height='560').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/audit-saita/1-clinic/1-clinic-2.webp' target='_blank' data-fancybox).image-zoom   
              +img({
                name: '1-clinic-2',
                path: '/images/audit-saita/1-clinic/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'После' width='1000' height='560').image-shadow.object-fit-cover
        
        +pageSubsection
          h3.text-align-center Страница услуги
          ol.list-numbered 
            li В&nbsp;левой колонке мы&nbsp;разместили внутреннее меню раздела для удобства перехода между различными услугами.
            li В&nbsp;правую колонку вынесли форму записи на&nbsp;прием, ссылки на&nbsp;онлайн консультацию и&nbsp;слайдер с&nbsp;акциями.
            li В&nbsp;центральной части основной контент услуги, разбитый на&nbsp;части вкладками: цены, отзывы, врачи, фотографии, клиники, статьи, консультации. Таким образом на&nbsp;каждой странице услуги пациент может найти исчерпывающую информацию без необходимости искать ее&nbsp;в&nbsp;других разделах сайта.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: a(href='/images/audit-saita/1-clinic/1-clinic-3.webp' target='_blank' data-fancybox).image-zoom   
              +img({
                name: '1-clinic-3',
                path: '/images/audit-saita/1-clinic/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница услуги' width='1000' height='560').image-shadow.object-fit-cover

      +caseSection('Аудит кампаний контекстной рекламы').text-align-left
        p Также мы&nbsp;выполнили подробный аудит кампаний контекстной рекламы, которые вел предыдущий подрядчик. В&nbsp;результате обнаружили #[strong множество ошибок и&nbsp;недоработок]:
        ul.list-marked 
          li Не&nbsp;отключены показы по&nbsp;дополнительным релевантным фразам.
          li Недостаточно хорошо проработан список ключевых слов.
          li Не&nbsp;релевантный текст объявлений.
          li Недостаточно проработаны варианты текстов объявлений.
          li В&nbsp;заголовках объявлений неэффективно используются ключевые фразы.
          li Несоответствие посадочной страницы сайта и&nbsp;запросы пользователя.
          li Недостаточно проработанная быстрые ссылки к&nbsp;объявлениям.
          li Запросы информационного характера.
          li Неправильно указана ставка для объявлений.
        iframe(src="https://drive.google.com/file/d/1mU3PSHmAaIg3ctOASf0x9jaf-_ad8VP3/preview" width="100%" height="560" allow="autoplay")

      +caseOffer
