extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Стоматологический центр DHC'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/prodvizhenie-saytov/' 
        const header = {
          title: 'Реализация эффективной стратегии интернет-рекламы стоматологического центра DHC позволило сократить расходы и привлечь пациентов',
          text: 'Стоматологический центр DHC – высокотехнологичный стоматологический центр с человеческим подходом к проблемам своих пациентов и разумными ценами.',
          url: 'dhcentre.ru',
          img: imgPath+'dhc-detail.webp',
          logo: imgPath+'logo-dhc.webp',
          logoWidth: '104',
          logoHeight: '104',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Быстрое привлечения клиентов в&nbsp;условиях, когда продвижение сайта откладывается на&nbsp;неопределенный срок;
          li Продвижение бренда, повышение лояльности, привлечение клиентов;
          li Сформировать устойчивый положительный имидж клиники в&nbsp;сети Интернет.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Запустили кампании контекстной рекламы;
          li Выполнили работы по&nbsp;управлению репутацией;
          li Начали работы с&nbsp;группами в&nbsp;социальных сетях FB и&nbsp;Вконтакте.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Негатив вытеснен из&nbsp;результатов поиска, сформированы #[strong положительные результаты] поиска по&nbsp;100% &laquo;репутационных&raquo; запросов;
          li Высокий показатель кликабельности объявлений &gt; 24%, #[strong снижение цены клика в&nbsp;4&nbsp;раза], увеличение глубины просмотра в&nbsp;3&nbsp;раза;
          li В&nbsp;за&nbsp;10&nbsp;дней в&nbsp;группу было привлечено более #[strong 100&nbsp;участников].
        -
          let results1 = [
            {title: '> 24%', desc: 'кликабельность объявлений'},
            {title: '4 раза', desc: 'снижение цены клика'},
            {title: '> 100', desc: 'участников привлечено в группу'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился клиент стоматологическая клиника, с&nbsp;высокотехнологичным диагностическим и&nbsp;стоматологическим оборудованием, которая работает, используя концепцию цифровой стоматологии. Клиника находится в&nbsp;одной из&nbsp;#[strong башен Москва-Сити] в&nbsp;центре столицы.
        p Мы&nbsp;решили, что важно учитывать расположение клиники и&nbsp;то, что целевая аудитория, которая здесь работает или живет, представляет средний класс или выше среднего. Поэтому и&nbsp;коммуникативная стратегия должна быть направлена на&nbsp;интересы именно данной целевой аудитории.
        p Для воздействия на&nbsp;целевую аудиторию мы&nbsp;предложили использовать рекламный канал, отвечающий на&nbsp;спрос&mdash; контекстную рекламу, а&nbsp;также инструменты формирования имиджа&nbsp;&mdash; управление репутацией и&nbsp;маркетинг в&nbsp;социальных сетях.

      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        h3.text-align-center Стратегии 
        .page-section
          .page-subsection
            p Мы&nbsp;предложили две стратегии, которые посчитали удачными в&nbsp;данном случае.
            ul.list-marked
              li Привлечение целевых посетителей из&nbsp;районов, находящихся недалеко от&nbsp;клиники. Данная стратегия проверена нами уже длительное время и&nbsp;является эффективной для стоматологических клиник.
              li Привлечение посетителей, для которых важен статус клиники, учитывая расположение и&nbsp;место.
          .page-subsection
            p Создали 2&nbsp;кампании, по&nbsp;одной для каждой из&nbsp;стратегий.
            ul.list-marked
              li 1-ая кампания &laquo;DHC Москва-Сити&raquo; по&nbsp;запросам, связанным с&nbsp;местоположением (название района, метро, улиц), в&nbsp;связке со&nbsp;&laquo;стоматология&raquo; и&nbsp;синонимами.
              li 2-ая &laquo;DHC ВИП&raquo; по&nbsp;запросам, связанным с&nbsp;элитной, вип&nbsp;&mdash; стоматологией.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'ad-1',
                path: '/images/prodvizhenie-saytov/dhc/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Контекстная реклама стоматологии DHC').image-shadow
        
        .page-section
          h3.text-align-center Результаты
          .page-subsection
            ul.list-marked
              li Кампания &laquo;DHC Москва-Сити&raquo; показала хорошие результаты: крайне высокий показатель кликабельности объявлений (#[strong 24,8%]), постепенно снижающаяся цена клика и&nbsp;увеличение глубины просмотра. 
              li Кампанию &laquo;DHC Вип&raquo; также показала хороший потенциал (CTR рос, цена клика постепенно снижалась).
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:6 })
              p: +img({
                name: 'click-cost',
                path: '/images/prodvizhenie-saytov/dhc/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Статистика средней цены клика').image-shadow
            +grid__item({ m:6 })
              p: +img({
                name: 'ctr',
                path: '/images/prodvizhenie-saytov/dhc/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Статистика CTR').image-shadow
        
      +caseSection('Управление репутацией',{type:'solutions'}).text-align-left
        p В&nbsp;ходе первоначального экспресс-аудита репутации клиники выявили, что:
        ul.list-marked
          li репутация практически не&nbsp;сформирована;
          li на&nbsp;подавляющем большинстве трастовых площадок отсутствует информация о&nbsp;клинике;
          li некоторые существующие отзывы помечены как &laquo;недостоверные&raquo;, что только оттолкнет потенциального клиента.
        
        h3.text-align-center Цель
        p Цель клиента&nbsp;&mdash; сформировать устойчивый положительный имидж клиники в&nbsp;сети Интернет.
        p Вспомогательные цели:
        ul.list-marked
          li наполнение отзывами страниц репутационной выдачи, чтобы в&nbsp;топе не&nbsp;было страниц без отзывов;
          li вытеснение из&nbsp;топа репутационной выдачи сайтов с&nbsp;информацией о&nbsp;других клиниках;
          li постоянное отслеживание и&nbsp;парирование негатива;
          li подбор трастовых площадок и&nbsp;создание там профиля клиники.
        
        h3.text-align-center Решение
        p Исходя из&nbsp;аудита и&nbsp;целей клиента мы&nbsp;выбрали одну из&nbsp;возможных стратегий работы: добавление положительных отзывов на&nbsp;существующие площадки в&nbsp;репутационной выдаче.
        p Для реализации стратегии выполнили следующие задачи:
        ul.list-marked
          li Подбор трастовых площадок для размещения информации о&nbsp;клинике (добавление отзывов на&nbsp;эти площадки после индексации страниц профилей и&nbsp;выхода в&nbsp;топ 30).
          li Поиск площадок с&nbsp;отзывами по&nbsp;ключевым словам (наиболее важным для клиента).
          li Работа с&nbsp;форумами (медицинские, про красоту, женские, мамские и&nbsp;т.д.).
          li Мониторинг поисковой выдачи по&nbsp;репутационным запросам.
          li В&nbsp;соответствии с&nbsp;коммерческим предложением ежемесячно добавлялось #[strong 20&nbsp;отзывов].

        h3.text-align-center Результаты
        ul.list-marked
          li наполнены отзывами все страницы из&nbsp;репутационной выдачи;
          li подобраны трастовые площадки и&nbsp;созданы профили клиники;
          li отсутствуют свежие негативные отзывы, прошлые закрыты свежими положительными.

      +caseSection('Маркетинг в социальных сетях').text-align-left
        +pageSubsection 
          h3.text-align-center Цель
          p Продвижение бренда, повышение лояльности, привлечение клиентов.
          h3.text-align-center Решение
          ul.list-marked
            li Создали брендированные сообщества в&nbsp;FB и&nbsp;Вконтакте;
            li Генерация контента: #[br] Стали публиковать новости, акции, обсуждения, тематическую информацию, развлекательный контент;
            li Привлечение подписчиков: #[br] Запустили процесс приглашения в&nbsp;группу целевую аудиторию;
            li Поддержка существующей группы: #[br] На&nbsp;регулярной основе выполняли администрирование, модерирование, удаление спама, обновление информации.
          h3.text-align-center Результаты
          p #[a(href='https://vk.com/dhcentre' target='_blank') vk.com/dhcentre]
        
        +grid({ paddingy: true }).page-subsection
          +grid__item
            +img({
              name: 'vk',
              path: '/images/prodvizhenie-saytov/dhc/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Группа во Вконтакте').image-shadow
        +pageSubsection 
          p Группы ежедневно наполнялись материалами (1&nbsp;запись в&nbsp;день) в&nbsp;соответствии с&nbsp;утвержденным с&nbsp;руководством клиники контент планом.

        h3.text-align-center Привлечение подписчиков
        p Приглашение в&nbsp;группу состояло из&nbsp;двух этапов: сначала мы&nbsp;приглашали целевую аудиторию в&nbsp;друзья, а&nbsp;потом друзей в&nbsp;группу.
        p Таким образом мы&nbsp;задействовали только целевых участников.
        p За&nbsp;полторы недели мы&nbsp;добавили более #[strong 100&nbsp;человек].

      +caseOffer
