extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/shankara.jpg',
  //-         title: 'Аюрведический медицинский центр «Shankara»',
  //-         link: {
  //-           text: 'http://www.aurmed.ru',
  //-           href: 'http://www.aurmed.ru'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Центр «SHANKARA» - это медицинский центр, который специализируется на аюрведической медицине, остеопатии, лечебном массаже, йоге.'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `В результате разработки сайта аюрведического медицинского центра количество обращений пациентов увеличилось в <strong>1,5 раза</strong>`,
          text: 'Центр &laquo;Shankara&raquo;&nbsp;&mdash; это медицинский центр, который специализируется на&nbsp;аюрведической медицине, остеопатии, лечебном массаже, йоге.',
          //- url: 'netvolos.ru',
          img: imgPath+'detail/shankara-detail.webp',
          logo: imgPath+'logo/logo-shankara.webp',
          logoWidth: '83',
          logoHeight: '70',
          logoMod: 'width-auto',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Разработать сайт медицинского центра, как маркетинговый инструмент;
          li Увеличить количество обращений клиентов.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, современный, удобным и продающий сайт;
          li Создали рекламную кампанию в Яндекс.Директ;
          li Начали работы по поисковой оптимизации.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение количества обращений пациентов в #[strong 1,5 раза].
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился основатель аюрведического медицинского центра из&nbsp;Санкт-Петербурга, основные направления деятельности которого: аюрведа, йога, неврология, остеопатия, гомеопатия, лечебные массажи и&nbsp;медицина с&nbsp;задачей по&nbsp;разработке сайта. Также в&nbsp;перспективе центр планировал продавать аюрведическую косметику и&nbsp;препараты онлайн.
        p Это направление было в&nbsp;новым в&nbsp;нашей практике. Мы&nbsp;были очень заинтересованы в&nbsp;создании лучшего сайта. Нам очень импонировала основная идея коллектива&nbsp;&mdash; помочь людям стать здоровыми и&nbsp;сделать мир красивее!
      
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        p При разработке сайта мы&nbsp;следуем четкой методологии, не&nbsp;пропуская ни&nbsp;одного этапа. Это является залогом получения лучшего результата.
        p Весь процесс у&nbsp;нас разделен на&nbsp;следующие стадии. Особое внимание мы&nbsp;удаляем этапам, связанным с&nbsp;проектированием, так как это фундамент будущего сайта.
        ol.list-numbered 
          li Сбор и&nbsp;анализ требований к&nbsp;сайту. #[br] Функциональные требования и&nbsp;требования к&nbsp;дизайну.
          li Получение и&nbsp;анализ брифов от&nbsp;клиента. #[br] Маркетинговая информация, описание целевой аудитории, список конкурентов, формулирование УТП.
          li Создание полного семантического ядра. #[br] Сбор поисковых запросы по&nbsp;теме сайта, анализ и&nbsp;обработка, группировка по&nbsp;страницам.
          li Подготовка структуры сайта. #[br] Разработка mindmap и&nbsp;структуры меню.
          li Создание прототипа для версии на&nbsp;среднем мониторе (под 1024px).
          li Отрисовка дизайна страниц.

        h3.text-align-center Анализ
        +pageSubsection
          p Мы&nbsp;тщательно изучили бриф, который предоставил нам клиент, чтобы понимать миссию, УТП и&nbsp;преимущества медицинского центра, которые мы&nbsp;должны отразить на&nbsp;сайте.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:7, xs:12 })
            +img({
              name: 'aurmed-1',
              path: '/images/razrabotka-saytov/aurmed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Анализ информации').image-shadow
        +pageSubsection
          p Проанализировали описание целевой аудитории, чтобы понять для кого мы&nbsp;должны создать сайт: какие у&nbsp;пациентов потребности, что они ожидают от&nbsp;услуг, как они выбирают услуги и&nbsp;т.д.

        h3.text-align-center Создание полного семантического ядра
        +pageSubsection
          p Мы&nbsp;основательно подошли к&nbsp;сбору ключевых слов. Проработали основные направления деятельности клиники. Проанализировали прайс и&nbsp;услуги клиники, услуги множества конкурентов.
          p Разбили все запросы&nbsp;на:
          ul.list-marked 
            li Симптомы.
            li Заболевания:
              ul.list-marked 
                li Позвоночника;
                li Суставов;
                li Нервной системы.
            li Методы лечения.
          p Таким образом нам удалось получить максимально возможное количество тем для страниц.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            +img({
              name: 'aurmed-2',
              path: '/images/razrabotka-saytov/aurmed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Создание полного семантического ядра').image-shadow

        h3.text-align-center Подготовка структуры страниц
        +pageSubsection
          p На&nbsp;основе анализа конкурентов, требований к&nbsp;сайту и&nbsp;собранного семантического ядра мы&nbsp;подготовили структуру сайта и&nbsp;меню. Это отправная точка для проектирование структуры.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            +img({
              name: 'aurmed-3',
              path: '/images/razrabotka-saytov/aurmed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Подготовка структуры страниц').image-shadow

        h3.text-align-center Подготовка контента
        p Мы&nbsp;спроектировали раздел &laquo;Проблемы&raquo;, в&nbsp;котором описываются различные заболевания кожи и&nbsp;указывается соответствующая процедура, направленная на&nbsp;решение данной проблемы. Данный контент направлен на&nbsp;то, чтобы правильно увеличить конверсию страниц и&nbsp;подтолкнуть пациента к&nbsp;записи на&nbsp;услугу.
        p Подготовили таблицу, в&nbsp;которой собрали возможные проблемы и&nbsp;процедуры.

        h3.text-align-center Создание прототипа
        +pageSubsection
          p В&nbsp;первую очередь мы&nbsp;обсудили с&nbsp;клиентом&nbsp;то, как он&nbsp;видит будущую структуру блоков страницы сайта. Клиенту было проще визуализировать информацию. Поэтому он&nbsp;подготовил черновой набросок от&nbsp;руки.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:7, xs:12 })
            +img({
              name: 'aurmed-4',
              path: '/images/razrabotka-saytov/aurmed/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Создание прототипа').image-shadow
        +pageSubsection
          p Собрав всю накопленную на&nbsp;предыдущих этапах информацию мы&nbsp;подготовили не&nbsp;детализированные прототипы основных страниц сайта.
          h4.text-align-center Прототип главной страницы
        .page-section
          +pageSubsection
            ul.list-marked 
              li В&nbsp;шапке мы&nbsp;разместили главное меню&nbsp;&mdash; для эффективной навигации, логотип и&nbsp;телефон для возможности быстро позвонить в&nbsp;центр
              li Сразу под шапкой мы&nbsp;расположили блоки с&nbsp;направлениями деятельности для того чтобы клиента сразу было понятно, какими услугами он&nbsp;может воспользоваться.
              li Далее с&nbsp;левой стороны находится блок акций, а&nbsp;под ним ссылки на&nbsp;запись на&nbsp;прием и&nbsp;задать вопрос. Справа&nbsp;&mdash; новости центра, так как важно отразить информацию о&nbsp;проходящих курсах.
              li Ниже рассказываем о&nbsp;центре, чтобы заслужить доверие пациентов.
              li В&nbsp;подвале&nbsp;&mdash; ссылки на&nbsp;услуги и&nbsp;контактная информация.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:7, xs:12 })
              +img({
                name: 'aurmed-5',
                path: '/images/razrabotka-saytov/aurmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототип главной страницы').image-shadow
        .page-section
          h4.text-align-center Прототип страницы услуги
          br
          +grid({ paddingy: true })
            +grid__item({ m:7, xs:12 })
              +img({
                name: 'aurmed-6',
                path: '/images/razrabotka-saytov/aurmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототип страницы услуги').image-shadow

        h3.text-align-center Отрисовка дизайна сайта
        p Мы&nbsp;разработали современный дизайн в&nbsp;мягких, светлых тонах, которые соответствуют духу аюрведического направления: поиск внутренней гармонии и&nbsp;единения с&nbsp;природой.
        +grid({ paddingy: true })
          +grid__item({ m:6 })
            p: strong Главная страница
            p: a(href='/images/razrabotka-saytov/aurmed/aurmed-7.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'aurmed-7',
                path: '/images/razrabotka-saytov/aurmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Главная страница' width='1000' height='700').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница услуги
            p: a(href='/images/razrabotka-saytov/aurmed/aurmed-8.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'aurmed-8',
                path: '/images/razrabotka-saytov/aurmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница услуги' width='1000' height='700').image-shadow.object-fit-cover
