mixin portfolioWorksItem(list)
  each item in list
    a(class= `portfolio-works-item portfolio-works-item--${item.mod}` href= item.href)&attributes(attributes)
      img(src=`/images/portfolio/razrabotka-saytov/${item.img}` alt=item.title loading='lazy' decoding='async').portfolio-works-item__image  
      .portfolio-works-item__inner
        p.portfolio-works-item__title !{item.title}
        p(data-category= item.category).portfolio-works-item__category= item.category
        span.btn.btn--small-padding.portfolio-works-item__button Подробнее
