.portfolio-works-item
  position relative
  display block
  min-height 15.5rem
  text-decoration none
  background-color var(--bg-color)
  border-radius 15px
  overflow hidden
  &::after
    content ''
    position absolute
    right 1.5rem
    bottom 1.5rem
    width var(--logo-width)
    height var(--logo-height)
    background-image var(--logo-image)
    background-repeat no-repeat
    background-size cover
    background-position center
  &:hover .portfolio-works-item__image
    @media(min-width point-l)
      transform scale(1.1)
  &:hover .portfolio-works-item__button
    background-color #333333
  
  &--neuros
    --logo-width 9.5rem
    --logo-height 9rem
    --logo-image url(../images/svg-sprites/common.svg#logo-neuros)
    --bg-color #2CB34C
    --gradient linear-gradient(180deg, #2CB34C 0%, rgba(80, 80, 80, 0) 100%)
    &::after
      bottom 0
      right 0

  &--medall
    --bg-color #4E7AC7
    --gradient linear-gradient(180deg, rgba(78, 122, 199, 0.8) 0%, rgba(82, 181, 223, 0.184) 100%)

  &--ignatovskogo 
    --logo-width 9.2rem
    --logo-height 4rem
    --logo-image url(../images/logo-ignatovskogo.webp)
    --bg-color #053B70
    --gradient linear-gradient(180deg, rgba(5, 59, 112, 0.9) -1.61%, rgba(120, 141, 162, 0.441) 100%)
    &::after
      bottom 0
      right 0

  &--medall-hair
    --logo-width 6.75rem
    --logo-height 2.4rem
    --logo-image url(../images/svg-sprites/common.svg#logo-medall)
    --bg-color #5A8988
    --gradient linear-gradient(180deg, #5A8988 0%, rgba(153, 153, 153, 0.55) 39.58%, rgba(153, 153, 153, 0.55) 100%)

  &--stomadeus
    --bg-color #FF831B
    --gradient linear-gradient(180deg, #FF831B 0%, rgba(255, 131, 27, 0.63) 49.22%, rgba(234, 211, 192, 0.529747) 99.06%)

  &--mir-krasoty
    --logo-width 8.8rem
    --logo-height 4.85rem
    --logo-image url(../images/logo-mir-krasoty.webp)
    --bg-color #433B36
    --gradient linear-gradient(180deg, rgba(67, 59, 54, 0.9) -1.61%, rgba(67, 59, 54, 0.558) 100%)
    &::after
      right 0

  &--primed
    --logo-width 5rem
    --logo-height 5rem
    --logo-image url(../images/logo-medcenter.png)
    --bg-color #111111
    --gradient linear-gradient(180deg, rgba(17, 17, 17, 0.5) 0%, rgba(0, 0, 0, 0.13) 100%)
    &::after
      background-size contain 
      border-radius 50%
  &--white-dent
    --logo-width 8rem
    --logo-height 3.8rem
    --logo-image url(../images/svg-sprites/common.svg#logo-whitedent)
    --bg-color #DD4F44
    --gradient linear-gradient(180deg, rgba(221, 79, 68, 0.7) 0%, rgba(194, 149, 146, 0.154) 100%)

  &--hairdesign
    --logo-width 10.6rem
    --logo-height 6.7rem
    --logo-image url(../images/svg-sprites/common.svg#logo-hairdesign)
    --bg-color #D9B780
    --gradient linear-gradient(127.12deg, rgba(73, 55, 54, 0.9) 1.59%, rgba(73, 55, 54, 0) 96.91%), linear-gradient(127.17deg, rgba(217, 183, 128, 0.2) 3.49%, rgba(217, 183, 128, 0.2) 100%);

  &--medical-center
    --logo-width 7.8rem
    --logo-height 3.3rem
    --logo-image url(../images/logo-medall-1.webp)
    --bg-color #0C6F9A
    --gradient linear-gradient(126.71deg, rgba(12, 111, 154, 0.8) 1.94%, rgba(119, 213, 255, 0.8) 100%)
    &::after
      right 0
      background-size contain 

  &--shankara
    --logo-width 4.9rem
    --logo-height 4.3rem
    --logo-image url(../images/logo-shankara.webp)
    --bg-color #B46F15
    --gradient linear-gradient(127.41deg, rgba(180, 111, 21, 0.8) 38.31%, rgba(180, 111, 21, 0) 100%)
    &::after
      right 0.5rem
      bottom 0.5rem
      background-size contain 

  &--stomatology-center
    --logo-width 8rem
    --logo-height 10rem
    --logo-image url(../images/svg-sprites/common.svg#logo-stomatology-center)
    --bg-color #2E3849
    --gradient linear-gradient(180deg, #2E3849 0%, rgba(33, 49, 74, 0) 134.52%)

  &--doctor-dent
    --bg-color #535353
    --gradient linear-gradient(117.17deg, rgba(83, 83, 83, 0.4) 2.75%, rgba(148, 148, 148, 0.4) 93.76%)
  
  &--hairlife
    --logo-width 7.5rem
    --logo-height 2.6rem
    --logo-image url(../images/svg-sprites/common.svg#logo-hairlife)
    --bg-color #351D15
    --gradient linear-gradient(126.71deg, rgba(53, 29, 21, 0.8) 1.94%, rgba(51, 20, 20, 0) 100%), linear-gradient(126.71deg, rgba(214, 189, 159, 0.5) 1.94%, rgba(214, 189, 159, 0.5) 100%)
    &::after
      right 0.5rem

  &--volosy24
    --logo-width 7.25rem
    --logo-height 7.25rem
    --logo-image url(../images/logo-volosy24.webp)
    --bg-color #BE9A5E
    --gradient linear-gradient(127.66deg, rgba(184, 134, 74, 0.459) 1.57%, rgba(88, 50, 4, 0.045) 97.44%), linear-gradient(127.17deg, rgba(190, 154, 94, 0.7) 3.49%, rgba(152, 118, 61, 0.007) 100%)
    &::after
      right 0
      bottom 0

  &--triholog
    --logo-width 4.5rem
    --logo-height 3.8rem
    --logo-image url(../images/logo-triholog.webp)
    --bg-color #403B30
    --gradient linear-gradient(127.73deg, rgba(64, 59, 48, 0.8) 25.44%, rgba(75, 69, 52, 0) 99.06%)
    &::after
      right 0.5rem
      bottom 0.5rem

  &--challenge-hair
    --logo-width 5rem
    --logo-height 5.9rem
    --logo-image url(../images/logo-challenge-hair.webp)
    --bg-color #3AAF90
    --gradient linear-gradient(180deg, #3AAF90 0%, rgba(74, 183, 154, 0.47) 100%)
    &::after
      right 0.5rem
      bottom 0.5rem

  &__image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    transition all 0.3s ease-in-out
  &__inner
    position relative
    display flex
    flex-direction column
    align-items flex-start
    min-height 15.5rem
    height 100%
    padding 1.5rem
    background var(--gradient)
    background-blend-mode normal, overlay
  &__title
  &__category
    color #FFFFFF
    line-height 1.3
    font-weight 600
  &__title
    margin-bottom 0.5rem
    font-size 1.2rem
    @media(max-width point-l - 1)
      margin-bottom 0.7rem
  &__category
    font-size 0.7rem
    opacity 0.7
    @media(max-width point-l - 1)
      font-size 0.9rem
  &__button
    margin-top auto
    font-size 0.8rem
    line-height 1.3
    color #ffffff
    background-color rgba(#ffffff, 0.3)
