extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let header = {
          className: 'medcenter',
          title: 'Кейс по контекстной рекламе клиники эстетической медицины «Медицинский центр города»',
          desc: '«Медицинский центр города» - многофункциональный медицинский центр, оказывающий услуги в области эстетической медицины, пересадке волос, лазерной косметологии и др.',
          price: '32 616 руб.',
        }
      +caseHeader(header)
      +caseSection('Задача',{type:'task'})
        p Увеличение количества заявок на акцию «Увеличение груди. Все включено за 115 000 руб.».
          br
          | Не меньше 10 заявок в месяц и как минимум двое согласившихся пациентов на операцию с этих заявок.
      +caseSection('Поиск решения',{type:'solutions'})
        p Для увеличения количества заявок на акцию использовали контекстную рекламу Яндекс.Директ и Google Adwords. Провели серьезную аналитическую работу по выбору наиболее конверсионных запросов и разработали наиболее продающие тексты объявлений. Создали специальную landing page для проводимой акции в целях улучшения конверсии. Также, для оценки эффективности кампании была подключена система отслеживания звонков.
      +caseSection('Тонкие настройки',{type:'settings'})
        h3 Продвигали по ключевым запросам:
        ul.list-marked
          li наиболее конверсионные запросы по направлению «увеличение груди»;
          li ключевые запросы с названиями используемых в клинике имплантов;
        h3 Рекламные объявления:
        p В целях экономии бюджета и отсекания не конверсионных кликов рекламные объявления составлены с учетом следующих критериев:
        ul.list-marked
          li включали в заголовок объявления стоимость услуги;
          li включали в объявление детали акции «Все включено»;
          li включали в объявления продающие триггеры;
          li в объявлениях обыгрывали преимущества клиники и выгоды для пациента.
      +caseSection('Результаты')
        p За месяц было получено 
          strong 5 звонков и 12 заявок
          |  с сайта. Месячный бюджет на кампанию составил 32616 руб. Таким образом, 
          strong конверсия кампании составила 3,97%
          | , стоимость привлечения клиента составила 1918 рублей. В результате полученных заявок 
          strong 6 пациентов
          |  согласились на операцию в клинике, что в денежном выражении означает дополнительный доход в размере 690 000 рублей в месяц. Данный результат полностью удовлетворял целям, поставленным клиентом.

        -
          let results = [
            {title: '428', desc: 'переходов'},
            {title: '74,8 р.', desc: 'средняя цена перехода'},
            {title: '17', desc: 'заявок'},
            {title: '6', desc: 'операций'},
          ]
        +caseResultsList(results)
        +caseCupSeparator
        -
          let infoList = [
            {
              className: 'conversion',
              title: '3,97%',
              info: 'Конверсия<br>кампании'
            },
            {
              className: 'roi',
              title: '919%',
              info: 'ROI<br>в рекламу'
            },
            {
              className: 'income',
              title: '690 000',
              info: 'Рублей<br>доход'
            },
          ]
        +caseInfoList(infoList)
      +caseOffer
      +caseSection('Дополнительные бонусы')
        -
          let bonuses = [
            {
              text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
              className: 'experience'
            },
            {
              text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
              className: 'volume'
            }
          ]
        +caseBonuses(bonuses)
