mixin blogInteresting(list)
  .blog-interesting
    +grid({paddingy: true}).blog-interesting__list
      each item in list
        +grid__item({m:3,xs:6}).blog-interesting__item
          a(href='').blog-interesting__image: img(src != item.image alt != item.name)
          a(href='').blog-interesting__name !{item.name}
          .blog-interesting__views !{item.views}
