extends /blocks/layout/layout

include /blocks/figure/figure
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/audit-saita/demosmed/' 
        const header = {
          title: `Увеличение вовлеченности пользователей за счет реновации сайта клиники ортодонтии после комплексного аудита.`,
          text: 'Медицинский центр &laquo;Демос&raquo;&nbsp;&mdash; многопрофильный центр, специализирующийся на&nbsp;ортодонтии и&nbsp;стоматологических услугах.',
          url: 'demosmed.ru',
          img: imgPath+'demosmed-main.webp',
          logo: imgPath+'demosmed-logo.webp',
          logoWidth: '130',
          logoHeight: '50',
          logoMod: 'width-auto',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Повышение продаж услуг через Интернет.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Выполнили комплексный аудит сайта;
          li Подготовили предложения по реновации сайта и прототип;
          li Выполнили аудит кампаний контекстной рекламы.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Уменьшение процента отказов по данным Яндекс.Метрика с #[strong 16% до 10%].
          li Увеличение среднего времени пребывания на сайте по данным Яндекс.Метрика на #[strong 12%].
        -
          let results1 = [
            {title: 'до 10%', desc: 'уменьшение <br> процента отказов'},
            {title: '12%', desc: 'увеличение <br> среднего времени на сайте'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился маркетолог #[strong медицинского центра &laquo;Демос&raquo;] с&nbsp;задачей повышения продаж услуг. Центр уже давно работал на&nbsp;рынке, но&nbsp;модернизация сайта уже давно не&nbsp;производилась. Мы&nbsp;провели аудит продающих качеств сайта, seo аудит, а&nbsp;также аудит кампаний контекстной рекламы.
        p По&nbsp;всем направлениям выявили ряд проблем, как мелких, так и&nbsp;#[strong очень серьезных]. Предложили клиенту модернизировать #[strong сайт ортодонтического центра], а&nbsp;такжа заняться поисковым продвижением и&nbsp;переделкой кампаний контекстной рекламы.
        p В&nbsp;первую очередь мы&nbsp;запросили приоритетные направления для продвижения. Ими оказались: #[strong ортодонтия, педиатрия, стоматология, косметология, терапевт, зуботехническая лаборатория].

      +caseSection('Аудит сайта',{type:'solutions'}).text-align-left
        p Мы&nbsp;выполнили комплексный аудит сайта, который включал два направления:
        ul.list-marked 
          li аудит продающих качеств (на&nbsp;6&nbsp;страницах);
          li технический seo аудит (на&nbsp;10&nbsp;страницах).

        h3.text-align-center Аудит продающих качеств сайта
        p В&nbsp;рамках аудита продающих качеств мы&nbsp;выполнили следующие этапы:
        ol.list-numbered 
          li Анализ целей и&nbsp;задач целевой аудитории сайта;
          li Юзабилити аудит (анализ оптимальных сценариев использования сайта, удобства логической структуры, навигации);
          li Анализ маркетинговой составляющей сайта (дизайн, структура и&nbsp;содержание текстов).

        p В&nbsp;ходе изучения сайта мы&nbsp;нашли следующие #[strong серьезные проблемы]:
        ul.list-marked 
          li Форма записи на&nbsp;прием содержит избыточное количество полей, что уменьшает количество записей;
          li У&nbsp;части врачей нет автобиографии, описания опыта работы, сертификатов;
          li Онлайн консультант некорректно настроен&nbsp;&mdash; постоянно всплывает диалог;
          li Телефон в&nbsp;шапке невозможно выделить, так как он&nbsp;сделан картинкой. Пользователи с&nbsp;мобильных телефонов не&nbsp;смогут быстро позвонить в&nbsp;клинику.

        p От&nbsp;качества сайта во&nbsp;многом зависит результат от&nbsp;рекламы. Причиной #[strong малого количества обращений пациентов] в&nbsp;большинстве случаев могут быть:
        ul.list-marked 
          li проблемы в&nbsp;удобстве пользования сайтом (структура, навигация);
          li отсутствие нужной информации или ее&nbsp;плохое качество.
        iframe(src="https://drive.google.com/file/d/1PWz6FfPPMLezj9u87VKLPoU7Hqanv8B_/preview" width="100%" height="560" allow="autoplay")

        h3.text-align-center Технический seo аудит
        p Провели экспресс seo аудит вашего сайта и&nbsp;выявили ряд проблем, как мелких, так и&nbsp;очень серьезных.
        iframe(src="https://drive.google.com/file/d/1EojfV0VA1O_W5Brg2jlyGRpaXh6kr9VJ/preview" width="100%" height="560" allow="autoplay")

        h3.text-align-center Аудит контекстной рекламы
        p Провели экспресс аудит кампаний контекстной рекламы. Там также #[strong множество ошибок], которые снижают ее&nbsp;эффективность, а&nbsp;также увеличивают бюджеты.
        ul.list-marked 
          li Недостаточная проработка минус слов к&nbsp;ключевым фразам.
          li Запросы информационного характера.
          li Некорректный текст объявлений.
          li Отсутствует разделение кампании по&nbsp;отделениям.
          li В&nbsp;заголовках объявлений нужно использовать ключевую фразу.
          li Неправильно указана ставка для объявлений.
          li Несоответствие посадочной страницы и&nbsp;объявления.
          li Автоматическое расширение фраз.
          li Не&nbsp;задействованы ключевые слова, связанные с&nbsp;местоположением клиники. А&nbsp;они дают максимальный эффект.
        iframe(src="https://drive.google.com/file/d/1zsCeAOyr8H3F3qivahnigCHn4UcKkffH/preview" width="100%" height="560" allow="autoplay")
      
      +caseSection('Предложения по&nbsp;реновации сайта').text-align-left
        +pageSubsection
          h3.text-align-center Новая структура
          p Мы&nbsp;тщательно изучили существующую структуру разделов и&nbsp;создали карту сайта.
          p На&nbsp;основе карты, выполненного аудита мы&nbsp;подготовили новую структуру сайта, которая будет #[strong более удобна и&nbsp;понятна пользователям]. 
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: a(href='/images/audit-saita/demosmed/demosmed-1.webp' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'demosmed-1',
                path: '/images/audit-saita/demosmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Новая структура' width='1000' height='560').image-shadow.object-fit-cover
        
        +pageSubsection
          p Мы&nbsp;распечатали карту в&nbsp;#[strong формате А2]&nbsp;чтобы можно было удобно ее&nbsp;править от&nbsp;руки. На&nbsp;это было потрачено больше количество времени, но&nbsp;без этой работы невозможно достичь маркетинговых результатов.
        
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: a(href='/images/audit-saita/demosmed/demosmed-2.webp' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'demosmed-2',
                path: '/images/audit-saita/demosmed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Карта в формате А2' width='1000' height='560').image-shadow.object-fit-cover
        
        +pageSubsection
          h3.text-align-center Видеоинструкция
          p Специально для клиента мы&nbsp;подготовили видеоинструкцию, где подробно описали наши предложения по&nbsp;изменению структуры.
          video(controls preload="none" width="100%" poster="/images/audit-saita/demosmed/instruction.jpg")
            source(src="/images/audit-saita/demosmed/instruction.mp4" type="video/mp4")
        
        +pageSubsection
          h3.text-align-center Прототипы страниц
          +grid({ paddingy: true })
            +grid__item({ m:6, xs:12 })(class = classes('grid', { nopadding:true, 'align-content': 'space-between' }))
              +grid__item({ xs:12 })
                p Подготовили прототипы страниц сайта с&nbsp;улучшенной навигацией и&nbsp;новой структурой. На&nbsp;главной странице добавили важные элементы и&nbsp;изменили компоновку в&nbsp;соответствии с&nbsp;аудитом. 
              +grid__item({ xs:12 })
                figure.figure
                  a(href='/images/audit-saita/demosmed/demosmed-3.webp' target='_blank' data-fancybox).image-zoom   
                    +img({
                      name: 'demosmed-3',
                      path: '/images/audit-saita/demosmed/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                    })(alt= 'Прототип главной страницы' title='Прототип главной страницы' width='1000' height='560').image-shadow.object-fit-cover
                  figcaption.figure__caption Прототип главной страницы
            
            +grid__item({ m:6, xs:12 })(class = classes('grid', { nopadding:true, 'align-content': 'space-between' }))
              +grid__item({ xs:12 })
                p В&nbsp;прототипе страницы услуги отразили свой подход, когда каждая страница содержит все необходимые элементы и&nbsp;становится #[strong посадочной].
          
              +grid__item({ xs:12 })
                figure.figure
                  a(href='/images/audit-saita/demosmed/demosmed-4.webp' target='_blank' data-fancybox).image-zoom   
                    +img({
                      name: 'demosmed-4',
                      path: '/images/audit-saita/demosmed/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                    })(alt= 'Прототип страницы услуги' title='Прототип страницы услуги' width='1000' height='560').image-shadow.object-fit-cover
                  figcaption.figure__caption Прототип страницы услуги
            
            +grid__item({ m:6, xs:12 })
              figure.figure
                a(href='/images/audit-saita/demosmed/demosmed-5.webp' target='_blank' data-fancybox).image-zoom   
                  +img({
                    name: 'demosmed-5',
                    path: '/images/audit-saita/demosmed/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Прототип мобильной версии сайта' title='Прототип мобильной версии сайта' width='1000' height='560').image-shadow.object-fit-cover
                figcaption.figure__caption Прототип мобильной версии сайта

        +pageSubsection
          h3.text-align-center Дизайн
          p После согласования прототипа мы&nbsp;подготовили макеты дизайна, в&nbsp;которых мы&nbsp;освежили оформление сайта.
        
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            figure.figure
              a(href='/images/audit-saita/demosmed/demosmed-6.webp' target='_blank' data-fancybox).image-zoom   
                +img({
                  name: 'demosmed-6',
                  path: '/images/audit-saita/demosmed/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Макет дизайна главной страницы' title='Макет дизайна главной страницы').image-shadow
              figcaption.figure__caption Макет дизайна главной страницы
          +grid__item({ m:6, xs:12 })
            figure.figure
              a(href='/images/audit-saita/demosmed/demosmed-7.webp' target='_blank' data-fancybox).image-zoom   
                +img({
                  name: 'demosmed-7',
                  path: '/images/audit-saita/demosmed/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Макет дизайна страницы услуги' title='Макет дизайна страницы услуги').image-shadow
              figcaption.figure__caption Макет дизайна страницы услуги

      +caseOffer
