.footer-contacts
  font-size font-xs
  line-height line-xs
  padding-left (basePadding*5)
  margin-bottom (basePadding*2)
  background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 27'><defs><style>.cls-1{fill:%23444443;}</style></defs><title>office</title><path class='cls-1' d='M7.53,115.35l-12-19.46L-3.2,92H-4.43l-2.45,2.59v1.09l0.13,0.21h1.09L6.28,115.32H5.37L-6.75,95.89l-0.13-.21H-13l1.22-2.45V92l-2.47,3.06,0,0.62v2.45l8.57,17.18H-8.1v-1.23H-9.33v-1.23h-1.22v-1.23h-6.12v1.23H-17.9v1.23h-2.45v-7.36l-1.22-1.23v-8l-0.64-3.9-0.59,3.93v7.93L-24,106.73v7.36h-4.9v1.23H-35l8.57-16V96.91l-1.22-1.23-2.45-1.23v1.23l1.22,1.23h-4.9l-12.24,18.41h-2.45L-35,96.91h1.22V95.68l-2.45-2.45h-1.22l1.22,3.68L-49.87,115.5A2.24,2.24,0,0,0-51,117.16,1.84,1.84,0,0,0-49.12,119H7.2A1.84,1.84,0,0,0,7.53,115.35Z' transform='translate(50.96 -92)'/></svg>")
  background-repeat no-repeat
  background-position center left
  background-size (basePadding*4) auto
