.breadcrumbs
  display flex
  flex-wrap wrap
  padding-bottom basePadding
  font-size font-xs
  line-height line-xs
  align-items center
  border-bottom 1px solid #F7EFDF
  &__parent
    padding-right (basePadding /2 )
    a
      color color-text
      &:hover
        color color-link-hover
  &__current
    color color-text-secondary
  &__separator
    border 0.25rem solid transparent
    border-left 0.25rem solid #cccccc
