extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Многопрофильная клиника «Медицинский Центр Города»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/medcenter.png',
      //-     title: 'Многопрофильная клиника «Медицинский Центр Города»',
      //-     link: {
      //-       text: 'http://www.medcentergoroda.ru/',
      //-       href: 'http://www.medcentergoroda.ru/'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Клиника Медицинский Центр Города - комплекс современных клиник, работающих в области эстетической косметологии и стоматологии.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Регулярно ведутся работы по добавлению тематического контента;
      //-     li На постоянной основе обновляются группы в социальных сетях;
      //-     li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
      //-     li Проводятся мероприятия по управлению репутацией в социальных медиа.
      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 6 раз
      //-       |  с 2348 до 14425 посетителей в месяц.
      //-     li Увеличение количества звонков клиентов из интернета в 
      //-       strong 4 раза
      //-       |  с 150 до более 600 в месяц.
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['центр пластической хирургии',{content:'3',type:'marked'}],
      //-       ['мезотерапия',{content:'3',type:'marked'}],
      //-       ['ринопластика',{content:'3',type:'marked'}],
      //-       ['отопластика',{content:'2',type:'marked'}],
      //-       ['фотоэпиляция',{content:'1',type:'marked'}],
      //-       ['увеличение груди',{content:'2',type:'marked'}],
      //-       ['мануальная терапия',{content:'3',type:'marked'}],
      //-     ]
      //-   +resultsTable(table1)

      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличение количества обращений пациентов из&nbsp;Интернет в&nbsp;2,2 раза для многопрофильной клиники &laquo;Медицинский Центр Города&raquo;',
          url: 'medcentergoroda.ru',
          img: imgPath+'detail/medall-detail-2.webp',
          logo: imgPath+'logo/logo-medcenter.webp',
          logoWidth: '75',
          logoHeight: '115',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
        p.portfolio-detail__text Клиника &laquo;Медицинский Центр Города&raquo;&nbsp;&mdash; многопрофильная клиника работающая в&nbsp;области эстетической медицины, трихологии, флебологии, снижении веса, мануальной терапии и&nbsp;стоматологии.
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет;
          li Увеличение узнаваемости бренда.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Запустили поисковую оптимизация сайта;
          li Создали эффективные рекламные кампании в&nbsp;системе Яндекс.Директ и&nbsp;Google.Adwords;
          li Проведен юзабилити аудит и&nbsp;внедрены улучшения в&nbsp;интерфейс;
          li Проводятся мероприятия по&nbsp;управлению репутацией в&nbsp;социальных медиа;
          li Ведем группы в&nbsp;социальных сетях.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение количества обращений пациентов из&nbsp;интернета #[strong в&nbsp;2,24 раза] с&nbsp;170 до&nbsp;более 380&nbsp;в месяц. #[br] #[+textMarked({ tag:'div', 'size--s': true }) * данные взяты из&nbsp;#[a(href='/images/prodvizhenie-saytov/medcentergoroda/infoklnika.png' target='_blank') отчета по&nbsp;рекламе] программы Инфоклиника] 
          li Увеличение целевой посещаемости сайта #[strong в&nbsp;6&nbsp;раз] с&nbsp;2348 до&nbsp;14425 посетителей в&nbsp;месяц.
          li Увеличение конверсии сайта в&nbsp;лид #[strong в&nbsp;2&nbsp;раза] с&nbsp;2,28% до&nbsp;4,24%. #[br] #[+textMarked({ tag:'div', 'size--s': true }) * 4,24% данные на&nbsp;октябрь 2015 года]
          li Средний ROI в&nbsp;поисковую рекламу услуги &laquo;Увеличение груди&raquo;&nbsp;&mdash; #[strong 1791%].
        -
          let results1 = [
            {title: '2,24 раза', desc: 'увеличение <br> количества обращений'},
            {title: '6 раз', desc: 'увеличение <br> целевой посещаемости'},
            {title: '2 раза', desc: 'увеличение <br> конверсии сайта'},
            {title: '1791%', desc: 'средний ROI'},
          ]
        +caseResultsList(results1).text-align-center
      //- +caseSection('Детальная статистика',{type:'solutions'}).text-align-left
      //-   p В&nbsp;месяц центр получает в&nbsp;среднем 240 обращений по&nbsp;каналу &laquo;Поисковый трафик&raquo;: #[br] #[+textMarked({ tag:'span', 'size--s': true }) * данные взяты из&nbsp;сервиса телефонии Asterisk и&nbsp;системы управления сайтом]
      //-   p 
      //-     +img({
      //-       name: 'asterisk',
      //-       path: '/images/prodvizhenie-saytov/medcentergoroda/',
      //-       formats: [
      //-         { ext: 'png', orig: true },
      //-         { ext: 'webp', mime: 'image/webp' },
      //-       ],
      //-     })(alt= 'Данные из сервиса телефонии Asterisk').image-shadow
      //-   p Состав обращений:
      //-   ul.list-marked
      //-     li 200 звонков;
      //-     li 24&nbsp;записей на&nbsp;прием с&nbsp;сайта;
      //-     li 16&nbsp;заявок на&nbsp;обратный звонок.

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        .page-section
          p Так сложилось, что в&nbsp;2008 году после успешной работы по&nbsp;продвижению клиники по&nbsp;пересадке волос к&nbsp;нам обратилась многопрофильная клиника &laquo;Медицинский Центр Города&raquo;, которая стала ее&nbsp;новым владельцем. Это один из&nbsp;наших старейших клиентов, с&nbsp;которым мы&nbsp;сотрудничаем до&nbsp;сих пор.
          p За&nbsp;время нашего сотрудничества мы&nbsp;несколько раз создавали новые версии сайта, запускали множество кампаний контекстной рекламы, поддерживали высокие позиции сайта в&nbsp;поисковых системах, а&nbsp;также задействовали другие рекламные каналы.
          p Также глубоко погрузились в&nbsp;бизнес клиента и&nbsp;по&nbsp;факту стали его внешним отделом маркетинга.
      
      +caseSection('Увеличение количества дозвонившихся пациентов',{type:'solutions'}).text-align-left
        .page-section
          p При анализе статистики мы&nbsp;часто обращаемся к&nbsp;системе отслеживания звонков. Просматривая поступившие звонки, мы&nbsp;обратили внимание на&nbsp;длительное среднее время ожидания на&nbsp;линии (более 2&nbsp;минут) и&nbsp;большое #[strong количество потерянных звонков (около 9%)]. Мы&nbsp;обратили на&nbsp;это внимание руководства, так как это напрямую связано с&nbsp;бизнесом клиники.
          p В&nbsp;результате оказалось, что с&nbsp;телефонией действительно были проблемы. После некоторых настроек клиенту удалось снизить %&nbsp;потерянных звонков #[strong в&nbsp;3&nbsp;раза].
      
      +caseSection('Привлечение пациентов на&nbsp;услугу &laquo;Увеличение груди&raquo;',{type:'solutions'}).text-align-left
        .page-section
          p В&nbsp;начале 2016 года клиент поставил перед нами задачу подготовить сайт и&nbsp;рекламу для старта в&nbsp;начале апреля кампании продвижения специального предложения по&nbsp;услуге увеличения груди.
          p Мы&nbsp;заранее занялись поисковой оптимизацией сайта под ключевые слова, подготовили посадочную страницу, а&nbsp;также эффективную кампанию контекстной рекламы в&nbsp;Яндекс и&nbsp;Google.
          a(href='/images/prodvizhenie-saytov/medcentergoroda/site.png' target='_blank' data-fancybox).image-zoom
            +img({
              name: 'site',
              path: '/images/prodvizhenie-saytov/medcentergoroda/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Посадочная страница medcentergoroda.ru' width='500' height='700').image-shadow.object-fit-cover
        .page-section
          p Расчет ROI в&nbsp;рекламу услуги увеличения груди по&nbsp;акции за&nbsp;99000&nbsp;руб.&nbsp;за&nbsp;2016&nbsp;год.
          +table
            +tr.table__row
              +th 
              +th март
              +th апрель
              +th май
              +th июнь
              +th июль
              +th август
              +th сентябрь
              +th октябрь
              +th ноябрь
            +tr.table__row
              +td Траты в Яндекс.Директ
              +td 0
              +td 390
              +td 8010
              +td 8700
              +td 4950
              +td 6810
              +td 5340
              +td 4830
              +td 8640
            +tr.table__row
              +td Траты в Google.Adwords
              +td 0
              +td 800
              +td 3900
              +td 6100
              +td 4600
              +td 5500
              +td 3300
              +td 3500
              +td 5000
            +tr.table__row
              +td Траты на продвижение
              +td 4700
              +td 4700
              +td 4700
              +td 4700
              +td 4700
              +td 4700
              +td 4700
              +td 4700
              +td 4700
            +tr.table__row
              +td Заявок с сайта
              +td 1
              +td 2
              +td 13
              +td 5
              +td 3
              +td 9
              +td 3
              +td 5
              +td 10
            +tr.table__row
              +td Операций
              +td 1
              +td 1
              +td 6
              +td 5
              +td 4
              +td 0
              +td 0
              +td 2
              +td 3
            +tr.table__row
              +td.table__cell--green ROI в рекламу (%)
              +td.table__cell--green 2207
              +td.table__cell--green 1768
              +td.table__cell--green 3580
              +td.table__cell--green 2550
              +td.table__cell--green 2810
              +td.table__cell--green 20
              +td.table__cell--green 20
              +td.table__cell--green 1546
              +td.table__cell--green 1626

          p Получилось, что средний размер затрат на&nbsp;привлечение пациента (операцию) составил&nbsp;&mdash; #[strong 2700-3600&nbsp;руб].
        
      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        .page-section 
          p Мы&nbsp;выполнили предварительный анализ сайта по&nbsp;следующим направлениям:
          ul.list-marked
            li Анализ сайтов конкурентов по&nbsp;ряду параметров;
            li Оценка состояния сайта;
            li Анализ типичных технических ошибок;
            li Анализ содержания сайта и&nbsp;качества оптимизации.
        .page-section 
          p На&nbsp;основе анализа&nbsp;мы:
          ul.list-marked
            li Отобрали эффективные запросы;
            li Провели оптимизацию всего контента на&nbsp;сайте;
            li Подготовили оптимизированный контент;
            li Организовали получение ссылок.
        .page-section 
          h3.text-align-center Результат
          .page-section 
            +img({
              name: 'medcenter',
              path: '/images/prodvizhenie-saytov/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График роста посетителей').image-shadow
      
      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        h3.text-align-center Решение
        p Подготовили эффективные рекламные кампании в&nbsp;системе Яндекс.Директ и&nbsp;Google.Adwords, а&nbsp;именно:
        ul.list-marked
          li Настроили кампании на&nbsp;поиске по&nbsp;направлениям клиники: косметология, пластическая хирургия, снижение веса, флебология и&nbsp;т.д.;
          li Анализировали метрики, формулировали выводы и&nbsp;новые гипотезы на&nbsp;основе полученных данных.

        h3.text-align-center Результаты
        ul.list-marked
          li #[strong Прирост звонков] от&nbsp;пациентов #[strong на&nbsp;21%] (ноябрь/октябрь 2016&nbsp;г);
          li #[strong Цена] клика #[strong снизилась на&nbsp;54%] с&nbsp;62&nbsp;до&nbsp;28&nbsp;руб.&nbsp;за&nbsp;переход (декабрь/ноябрь 2016&nbsp;г);
          li #[strong Конверсия в&nbsp;звонок] по&nbsp;направлению стоматологии по&nbsp;данным за&nbsp;ноябрь и&nbsp;декабрь 2016&nbsp;г&nbsp;&mdash; #[strong 9%];
          li Стоимость звонка в&nbsp;ноябре #[strong 2016&nbsp;г&nbsp;&mdash; 855&nbsp;руб.], в&nbsp;декабре #[strong 2016&nbsp;г&nbsp;&mdash; 177&nbsp;руб.]
        +grid({ paddingy: true })
          +grid__item({ m:6 })
            +img({
              name: 'ad-1',
              path: '/images/prodvizhenie-saytov/medcentergoroda/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Пример объявления').image-shadow
          +grid__item({ m:6 })
            +img({
              name: 'ad-2',
              path: '/images/prodvizhenie-saytov/medcentergoroda/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Пример объявления').image-shadow
      
      +caseSection('Новый вызов&nbsp;&mdash; изменения в&nbsp;законе &laquo;О&nbsp;рекламе&raquo;',{type:'solutions'}).text-align-left
        h3.text-align-center 
        p С&nbsp;1&nbsp;января 2014&nbsp;года, в&nbsp;связи с&nbsp;изменениями в&nbsp;Федеральном законе &laquo;О&nbsp;рекламе&raquo;, в&nbsp;интернете запретили рекламировать медицинские услуги. В&nbsp;том числе методы профилактики, диагностики, лечения и&nbsp;медицинской реабилитации.
        p Рекламные кампании контекстной рекламы в&nbsp;медицинской тематике, которые содержат упоминания услуг, с&nbsp;этого момента стали отклоняться на&nbsp;модерации (служба модерации Яндекса начала активные действия по&nbsp;отклонению кампаний уже с&nbsp;начала февраля.). При этом рекламировать медицинскую деятельность в&nbsp;целом и&nbsp;отдельные ее&nbsp;направления все еще было возможно. 
        p Мы&nbsp;оперативно перенесли и&nbsp;запустили все кампании клиента в&nbsp;Google.Adwords (там не&nbsp;было жесткой модерации), а&nbsp;также переделали все кампании на&nbsp;Яндексе.Директ с&nbsp;учетом требования закона.
        p #[strong Несмотря на&nbsp;отсутствие четких правил и&nbsp;неоднозначного их&nbsp;толкования службой поддержки Яндекса, нам все таки удалось пройти модерацию и&nbsp;запустить часть кампаний на&nbsp;Яндексе. Таким образом, данные глобальные изменения почти не&nbsp;повлияли на&nbsp;бизнес клиента.]
      
      +caseSection('Контекстно-медийный баннер Яндекса',{type:'solutions'}).text-align-left
        .page-section
          +grid({ cols:'10' })
            +grid__item({ m:6 })
              p В&nbsp;классической контекстной рекламе на&nbsp;поиске существует серьезная конкуренция и&nbsp;большая стоимость клика. Но&nbsp;есть инструмент, который не&nbsp;все знают и&nbsp;поэтому не&nbsp;часто используют. 
              p Для продвижения высокомаржинальных услуг мы&nbsp;предложили клиенту запустить БАЯН&nbsp;&mdash; контекстно-медийный баннер. Он&nbsp;показывается в&nbsp;правой колонке в&nbsp;ответ на&nbsp;целевые запросы в&nbsp;поиске.
            +grid__item({ m:2, s:4, xs:5 })
              p 
                +img({
                  name: 'banner-1',
                  path: '/images/prodvizhenie-saytov/medcentergoroda/',
                  formats: [
                    { ext: 'gif', orig: true },
                  ],
                })(alt= 'Баннер').image-shadow
            +grid__item({ m:2, s:4, xs:5  })
              p 
                +img({
                  name: 'banner-2',
                  path: '/images/prodvizhenie-saytov/medcentergoroda/',
                  formats: [
                    { ext: 'gif', orig: true },
                  ],
                })(alt= 'Баннер').image-shadow
            +grid__item
              ul.list-marked
                li Провели анализ услуг: конкурентов, уровня цен, позиционирования;
                li Подобрали эффективные и&nbsp;целевые запросы;
                li Подготовили яркий баннер: включили в&nbsp;него уникальное торговое предложение;
                li Подготовили высоконверсионную посадочную страницу.
          h3.text-align-center Результаты
          +table
            +tr.table__row
              +th Затраты
              +th Показы
              +th Переходов
              +th CTR
              +th Стоимость перехода на сайт (руб.)
              +th Обращений пациентов
              +th Стоимость обращения (руб.)
            +tr.table__row
              +td 12 000 руб.
              +td 20 000
              +td 291
              +td 1.44%
              +td 41
              +td 24
              +td 833

          p Были зафиксированы неплохие поведенческие показатели по&nbsp;этому каналу:
          ul.list-marked
            li глубина просмотра сайта 3,88;
            li время на&nbsp;сайте 3:27&nbsp;сек.
      
      +caseSection('Использование рекомендательного сервиса Zoon для рекламы',{type:'solutions'}).text-align-left
        .page-section
          p Когда мы&nbsp;задействовали стандартные каналы рекламы, которые могли привести трафик на&nbsp;наш сайт, мы&nbsp;задумались о&nbsp;получении дополнительных заявок со&nbsp;сторонних ресурсов.
          p Мы&nbsp;обратили внимание на&nbsp;популярный агрегатор компаний zoon.ru, который получал большое количество трафика из&nbsp;поисковых систем и&nbsp;вел активную рекламную кампанию в&nbsp;интернете.
          p На&nbsp;данном агрегаторе можно заполнить профиль своей клиники, разместить информацию о&nbsp;врачах, услугах, ценах и&nbsp;акциях.
          p Мы&nbsp;воспользовались двумя видами рекламного размещения на&nbsp;этом портале.

          h3.text-align-center Размещение по&nbsp;тарифу &laquo;Премиум&raquo; на&nbsp;3&nbsp;месяца
          p Этот пакет предусматривал полный функционал размещения компании на&nbsp;портале, а&nbsp;также дополнительные показы профиля компании в&nbsp;листинге каталога, на&nbsp;страницах конкурентов и&nbsp;карте. Стоимость пакета: 33&nbsp;332&nbsp;руб.
          p По&nbsp;результатам кампания дает неплохие показатели.
          +table
            +tr.table__row
              +th Затраты (руб.)
              +th Уникальных отвеченных звонков
              +th Записей пациентов
              +th Стоимость записи пациента (руб.)
            +tr.table__row
              +td 33&nbsp;332
              +td 135
              +td 
                p всего 55
                ul.list-marked
                  li на&nbsp;стоматологию&nbsp;&mdash; 16;
                  li на&nbsp;косметологию&nbsp;&mdash; 16;
                  li на&nbsp;пластику&nbsp;&mdash; 8&nbsp;записей;
                  li к&nbsp;другим специалистам&nbsp;&mdash; 15.
              +td 606
        
        .page-section
          +grid({ paddingy: true, justify: 'center' })
            +grid__item({ m:6 })
              +img({
                name: 'zoon-1',
                path: '/images/prodvizhenie-saytov/medcentergoroda/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Отчет за май на zoom.ru').image-shadow
            +grid__item({ m:6 })
              +img({
                name: 'zoon-2',
                path: '/images/prodvizhenie-saytov/medcentergoroda/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Отчет за июнь на zoom.ru').image-shadow
            +grid__item({ m:6 })
              +img({
                name: 'zoon-3',
                path: '/images/prodvizhenie-saytov/medcentergoroda/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Отчет за июль на zoom.ru').image-shadow
        
        .page-section
          h4.text-align-center Заявки с&nbsp;этого ресурса имеют ряд особенностей.
          p #[strong 30%] звонивших не&nbsp;записались по&nbsp;причине отсутствия времени для записи.
          p Это когда на&nbsp;желаемое или ближайшее время нет возможности записаться, т.е. либо время занято, либо врача в&nbsp;это время нет в&nbsp;клинике. Поэтому важно чтобы у&nbsp;вас в&nbsp;клинике были свободные слоты на&nbsp;запись к&nbsp;врачам.
          p #[strong 11%] звонивших не&nbsp;записались, так как не&nbsp;было нужного специалиста.
          p Это когда пациент хочет попасть к&nbsp;врачу, который в&nbsp;принципе не&nbsp;принимает в&nbsp;клинике. Т.е. данной специализации нет среди врачей клиники. Поэтому данный ресурс более эффективен для многопрофильных клиник с&nbsp;широким штатом специалистов.

          h3.text-align-center Пакет кликов с&nbsp;баннера
          p Предоставляет возможность запустить рекламу, связанную с&nbsp;акцией. В&nbsp;пакет входит определенное количество переходов с&nbsp;баннера на&nbsp;страницу профиля компании. Мы&nbsp;предложили запустить акцию по&nbsp;стоматологии.
          
          h4.text-align-center Результаты
          .page-section
            +table
              +tr.table__row
                +th Затраты (руб.)
                +th Количество переходов в профиль компании
                +th Количество звонков
                +th Количество записей пациентов
                +th Стоимость записи пациента (руб.)
              +tr.table__row
                +td 4200
                +td 100
                +td 8
                +td 5
                +td 840

          p На&nbsp;основе нашего опыта работы с&nbsp;этим сервисом мы&nbsp;выработали действия необходимые для того, чтобы получить больше обращений пациентов:
          ul.list-marked
            li Максимально заполнить профиль компании;
            li Получать максимум хороших отзывов на&nbsp;сайте zoon.ru;
            li Отвечать на&nbsp;все добавленные отзывы.

      +caseSection('Получение пациентов с&nbsp;сервиса записей к&nbsp;врачу docdoc.ru',{type:'solutions'}).text-align-left
        p docdoc.ru&nbsp;&mdash; один из&nbsp;крупнейших сервисов по&nbsp;привлечению пациентов с&nbsp;оплатой за&nbsp;запись.
        p Является лидером этого сегмента в&nbsp;России с&nbsp;долей рынка около 60%.
        p Общее число клиентов docdoc.ru на&nbsp;17&nbsp;июня 2020 года превышает 7,5 млн человек. Сервис привлекает около 310&nbsp;000 записей к&nbsp;врачам в&nbsp;месяц.
        p На&nbsp;момент размещения на&nbsp;сервисе там действовали следующие тарифы:
        ul.list-marked
          li Запись на&nbsp;прием к&nbsp;врачу общего профиля&nbsp;&mdash; 400&nbsp;руб.
          li Запись к&nbsp;стоматологу&nbsp;&mdash; 600&nbsp;руб.
          li Запись на&nbsp;прием на&nbsp;КТ/МРТ&nbsp;&mdash; 250&nbsp;руб.
          li Запись на&nbsp;прием на&nbsp;диагностику&nbsp;&mdash; 100&nbsp;руб.

        h3.text-align-center Результаты
        p После размещения клиент стал получать около #[strong 5-10 записей] на&nbsp;прием в&nbsp;месяц.
        p На&nbsp;основе нашего опыта работы с&nbsp;этим сервисом мы&nbsp;выработали действия необходимые для того, чтобы получить больше обращений пациентов:
        ul.list-marked
          li Можно увеличить рейтинг клиники, тем самым улучшить отображения врачей клиники при поиске на&nbsp;данном сервиса за&nbsp;счет заполнения информации о&nbsp;врачах.
          li Также целесообразно сделать скидку на&nbsp;прием при записи с docdoc.ru для увеличения привлекательности.
      
      +caseSection('Селективная реклама',{type:'solutions'}).text-align-left
        p Для того чтобы решить задачу формирования узнаваемости бренда и&nbsp;получения большого охвата аудитории мы&nbsp;предложили клиенту запустить селективную рекламу через систему программатик-маркетинга #[a(href='https://www.soloway.ru/') Soloway].
        p Мы&nbsp;задействовали два вида рекламы:
        ul.list-marked
          li #[strong Потребительский сегмент. Аудитории: &laquo;Косметология&raquo;] #[br] #[+textMarked({ tag:'div', 'size--xs': true }) Реклама в&nbsp;потребительских сегментах&nbsp;&mdash; селективная баннерная реклама с&nbsp;оплатой за&nbsp;показы. Рекламное сообщение демонстрируется только той части интернет-аудитории, которая удовлетворяет заданным критериям: посещает в&nbsp;настоящий момент определенные сайты и&nbsp;тематические страницы, вводит поисковые запросы по&nbsp;теме. #[br] Реклама в&nbsp;потребительских сегментах:] 
            ul.list-marked
              +textMarked({ tag:'li', 'size--xs': true }) #[strong Разумно расходует рекламный бюджет], потому что не&nbsp;показывается всем подряд;
              +textMarked({ tag:'li', 'size--xs': true }) #[strong Достигает] целевой аудитории;
              +textMarked({ tag:'li', 'size--xs': true }) #[strong Привлекает внимание], так как отвечает текущим потребностям аудитории;
              +textMarked({ tag:'li', 'size--xs': true }) #[strong Гибко и&nbsp;быстро настраивается] под задачи конкретного рекламодателя;
              +textMarked({ tag:'li', 'size--xs': true }) #[strong Не&nbsp;требует времени на&nbsp;подготовку.] Нет необходимости заранее выкупать показы.

          li #[strong Тематические каналы: Здоровье, медицина и&nbsp;красота] #[br] #[+textMarked({ tag:'div', 'size--xs': true }) Тематический канал&nbsp;&mdash; это группа сайтов, объединенных общей темой. Реклама показывается на&nbsp;всех сайтах из&nbsp;группы.]
      
        +grid({ cols:'10' })
          +grid__item({ m:6 })
            p Мы&nbsp;тщательно подготовили кампанию: создали красивые баннеры, подобрали таргетинг, за&nbsp;счет чего CTR (соотношение показов и&nbsp;кликов) получился в&nbsp;#[strong два раза больше среднего прогнозируемого].
            p После запуска и&nbsp;тестов мы&nbsp;провели оптимизацию кампании, заменили баннеры, что еще больше увеличило количество кликов.
          +grid__item({ m:2, xs:5 })
            p 
              +img({
                name: 'soloway-1',
                path: '/images/prodvizhenie-saytov/medcentergoroda/',
                formats: [
                  { ext: 'gif', orig: true },
                ],
              })(alt= 'Баннер').image-shadow
          +grid__item({ m:2, xs:5  })
            p 
              +img({
                name: 'soloway-2',
                path: '/images/prodvizhenie-saytov/medcentergoroda/',
                formats: [
                  { ext: 'gif', orig: true },
                ],
              })(alt= 'Баннер').image-shadow
          
          +grid__item({ m:4, s:5, xs:7 })
            p #[strong Прогнозируемые показатели]
            +table
              +tr.table__row
                +th CTR
                +th Кол-во кликов
              +tr.table__row
                +td 0.12%
                +td 480
              +tr.table__row
                +td 0.12%
                +td 384

        h3.text-align-center Результаты кампании
        .page-section
          +table
            +tr.table__row
              +th Тип размещения
              +th Показов уникальному пользователю
              +th Цена за 1000 показов
              +th Показы
              +th Стоимость со скидкой
              +th Кликов
              +th CTR
              +th Записей пациентов
            +tr.table__row
              +td Потребительский&nbsp;сегмент. Аудитории: "Косметология"
              +td 3
              +td 180 руб.
              +td 400,000
              +td 54,000 руб.
              +td 1022
              +td 0,25%
              +td 15
            +tr.table__row
              +td Тематические&nbsp;каналы: Здоровье, медицина и красота
              +td 3
              +td 180 руб.
              +td 320,000
              +td 43,200 руб.
              +td 618
              +td 0,19%
              +td 9

        p Рекламная кампания дала отличный результат. Мы&nbsp;заметили рост &laquo;брендовых&raquo; запросов в&nbsp;поисковых системах.
        p Стоимость привлечения пациента на&nbsp;запись при использовании данного рекламного канала получилась достаточно высокой. Но&nbsp;учитывая&nbsp;то, что основная задача кампании была другой, мы&nbsp;считаем, что она была выполнена.
    
      +caseSection('SMM').text-align-left
        h3.text-align-center Цель
        p Удержание старых клиентов, информационная поддержка&nbsp;и, как следствие, повторные продажи. А&nbsp;также привлечение новых клиентов.

        h3.text-align-center Решение 
        p Официальное представительство медицинского холдинга PRIMED (в&nbsp;который входит Медицинский Центр Города и&nbsp;Стоматологический Центр Города) в&nbsp;социальных сетях FB и&nbsp;ВКонтакте с&nbsp;созданием и&nbsp;поддержанием локальных страниц для клиник, входящих в&nbsp;сеть холдинга.

        h3.text-align-center Направления работы
        ul.list-marked
          li Организация присутствия бренда PRIMED на&nbsp;основных площадках социальных медиа в&nbsp;русскоязычном сегменте сети;
          li Организация прямой коммуникации &laquo;бренд-пользователь&raquo;, реагирование на&nbsp;отзывы и&nbsp;жалобы пользователей;
          li Повышение лояльности к&nbsp;бренду;
          li Информирование пользователей о&nbsp;мероприятиях и&nbsp;промо-акциях PRIMED и&nbsp;вовлечение в&nbsp;них, дополнительное распространение информации о&nbsp;деятельности и&nbsp;услугах холдинга.

        h3.text-align-center Результат
        .page-section
          p Общее количество участников в&nbsp;3х&nbsp;группах Вконтакте увеличилось на&nbsp;#[strong 589&nbsp;]пользователей.
          +table
            +tr.table__row
              +th(rowspan="2") Название группы
              +th(rowspan="2") Ссылка на группу
              +th(colspan="4") Количество участников в группе
              +th(rowspan="2") Прирост 13/14
            +tr.table__row
              +th июл.13
              +th сен.13
              +th ноя.13
              +th янв.14
            +tr.table__row
              +td «Медицинский холдинг Праймед»
              +td http://vk.com/primedru
              +td 9
              +td 24
              +td 179
              +td 255
              +td 2733%
            +tr.table__row
              +td «Стоматологический центр города»
              +td http://vk.com/clubl6870685
              +td 2 665
              +td 2 860
              +td 2 828
              +td 2 894
              +td 9%
            +tr.table__row
              +td «Медицинский Центр Города»
              +td http://vk.com/club22880677
              +td 9 302
              +td 9 296
              +td 9 388
              +td 9 416
              +td 1%
            +tr.table__row
              +td(colspan="2").table__cell--green Всего
              +td.table__cell--green 11 976
              +td.table__cell--green 12 180
              +td.table__cell--green 12 395
              +td.table__cell--green 12 565
              +td.table__cell--green 5%
        
        .page-section
          p Общее количество участников в&nbsp;3х&nbsp;группах FB увеличилось на&nbsp;#[strong 2&nbsp;392] пользователя (в&nbsp;#[strong 40&nbsp;]раз). 
          +table
            +tr.table__row
              +th(rowspan="2") Название группы
              +th(colspan="5") Количество участников в группе
              +th(rowspan="2") Прирост 13/14
            +tr.table__row
              +th июл.13
              +th сен.13
              +th ноя.13
              +th янв.14
              +th июл.14
            +tr.table__row
              +td «Медицинский холдинг Праймед»
              +td 35
              +td 57
              +td 398
              +td 732
              +td 864
              +td 1 416%
            +tr.table__row
              +td «Стоматологический центр города»
              +td 10
              +td 32
              +td 269
              +td 589
              +td 743
              +td 2 222%
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 17
              +td 37
              +td 359
              +td 723
              +td 847
              +td 2 189%
            +tr.table__row
              +td.table__cell--green Всего
              +td.table__cell--green 62
              +td.table__cell--green 126
              +td.table__cell--green 1 026
              +td.table__cell--green 2 044
              +td.table__cell--green 2 454
              +td.table__cell--green 1 848%

        .page-section
          p Динамика по&nbsp;уникальным посетителям во&nbsp;Вконтакте положительная, число выросло в&nbsp;#[strong 3,2] раза.
          +table
            +tr.table__row
              +th Название группы
              +th июл.13
              +th сен.13
              +th ноя.13
            +tr.table__row
              +td «Медицинский холдинг Праймед» 
              +td 17
              +td 60
              +td 184
            +tr.table__row
              +td «Стоматологический центр города» 
              +td 66
              +td 147
              +td 276
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 174
              +td 159
              +td 364
            +tr.table__row
              +td.table__cell--green Всего
              +td.table__cell--green 257
              +td.table__cell--green 366
              +td.table__cell--green 824

        .page-section
          p Общее количество отметок &laquo;Нравится&raquo; страниц групп FB выросло в&nbsp;#[strong 2,4] раза.
          +table
            +tr.table__row
              +th Группа
              +th ноя.13
              +th янв.14
              +th июл.14
            +tr.table__row
              +td «Медицинский холдинг Праймед» 
              +td 399
              +td 732
              +td 864
            +tr.table__row
              +td «Стоматологический центр города» 
              +td 270
              +td 589
              +td 743
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 360
              +td 687
              +td 847
            +tr.table__row
              +td.table__cell--green Всего
              +td.table__cell--green 1 029
              +td.table__cell--green 2 008
              +td.table__cell--green 2 454

        .page-section
          p Охват публикаций и&nbsp;число вовлеченных пользователей в&nbsp;FB выросли в&nbsp;#[strong 2,2] и&nbsp;#[strong 2,4] раза соответственно.
          +table
            +tr.table__row
              +th(rowspan="2") Группа
              +th(colspan="2") Охват публикации
              +th(colspan="2") Вовлеченные пользователи
            +tr.table__row
              +th ноя.13	
              +th янв.14	
              +th ноя.13	
              +th янв.14
            +tr.table__row
              +td «Медицинский холдинг Праймед» 
              +td 64
              +td 67
              +td 51 
              +td 50
            +tr.table__row
              +td «Стоматологический центр города» 
              +td 48
              +td 67
              +td 33
              +td 51
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 80
              +td 282
              +td 52
              +td 249
            +tr.table__row
              +td.table__cell--green Всего
              +td.table__cell--green 192
              +td.table__cell--green 416
              +td.table__cell--green 136
              +td.table__cell--green 350
      
      +caseOffer
