extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Интернет-реклама нейрохирургического центра позволила увеличить количество обращений в 2 раза',
          text: 'Нейрохирургический центр им. профессора Г.С. Тиглиева "Новые технологии", основанный 25 лет назад на базе научно-клинического центра Л.Г. Соколова ФМБА России, выполняет операции любой сложности.',
          url: 'neuros.ru',
          img: imgPath+'detail/neuros-detail.webp',
          logo: imgPath+'logo/logo-neuros.svg',
          logoWidth: '90',
          logoHeight: '90',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section

      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет.
          li Улучшить узнаваемость клиники.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Провели анализ брифов, конкурентов. Собрали преимущества и сформулировали УТП.
          li Провели аудит, выработали ряд предложение по совершенствованию сайта и увеличению потока пациентов.
          li Доработали сайт:
            ul.list-marked
              li Обновили дизайн сайта: сделали его более современным.
              li Исправили ошибки usability, усовершенствовали версию для мобильных телефонов.
              li Улучшили продающие качества сайта.
          li Выполнили поисковую оптимизацию всех страниц сайта.
          li Создали эффективные рекламные кампании в системе Яндекс.Директ.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение посетителей из&nbsp;поисковых систем в #[strong 3&nbsp;раза]: с&nbsp;750 до&nbsp;2&nbsp;250&nbsp;в месяц.
          li Общее количество обращений в&nbsp;клинику увеличилось в #[strong 2&nbsp;раза].
        +table 
          +tr.table__row
            +th Источник
            +th Март 2022
            +th Март 2023
            +th Прирост
          +tr.table__row
            +td Заявка на прием и заявки на обратный звонок с сайта
            +td 24
            +td 46
            +td #[strong 200%]
          +tr.table__row
            +td Записавшиеся пациенты, которые узнали о&nbsp;клинике из&nbsp;Интернет
            +td 5
            +td 35
            +td #[strong 700%]

      +caseSection('Анализ',{type:'solutions'}).text-align-left
        p Мы основательно подходим к планированию и рекламной стратегии. И в первую очередь провели сравнительный анализ клиник конкурентов:
        ul.list-marked
          li сравнили цены и выяснили ценовой сегмент, который занимает клиника;
          li изучили перечень предложений услуг конкурентов;
          li посмотрели, на каких площадках рекламируются другие клиники;
          li зафиксировали особенности маркетинга на сайтах.
        +grid({ paddingy: true })
          +grid__item
            +img({
              name: 'analiz-konkurentov',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Анализ конкурентов neuros').image-shadow

      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        p Мы&nbsp;выполнили предварительный анализ сайта по&nbsp;следующим направлениям:
        ul.list-marked
          li Оценка состояния сайта;
          li Анализ типичных технических ошибок;
          li Анализ содержания сайта и&nbsp;качества оптимизации.
        p После анализа наша команда в соответствии со строгими регламентами, установленными в агентстве, выполнила ряд работ:
        ul.list-marked
          li Исправили технические ошибки;
          li Выполнили оптимизацию структуры сайта;
          li Собрали все возможные вопросы в тематике и подготовили задания для текстов;
          li Подготовили качественные оптимизированные тексты и сопроводили их изображениями;
          li Провели работы по получению ссылок на созданные материалы.
        h3.text-align-center Результаты
        p Уже через несколько месяцев посещаемость сайта стала стремительно расти.

        +grid({ paddingy: true })
          +grid__item({ m:9 })
            +img({
              name: 'seo-traffic-metrika',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'График посещаемости сайта neuros.ru').image-shadow
          +grid__item
            p По доле запросов в топ 10 поисковых систем сайт лидирует среди всех конкурентов. 
            +grid({ paddingy: true })
              +grid__item({ m:9 })
                +img({
                  name: 'competitor',
                  path: '/images/prodvizhenie-saytov/neuros/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] },
                  ]
                })(alt= 'График запросов в топ 10 поисковых систем').image-shadow

      +caseSection('Улучшение поведенческих показателей',{type:'solutions'}).text-align-left
        p На основе usability аудита мы выявили некоторые проблемы:
        ul.list-marked
          li Шапка сайта была перегружена информацией;
          li Призыв к действию “Записаться на прием” был оформлен не очень заметно;
          li Не был реализован поиск по сайту;
          li Верстка сайта не была адаптирована под современные широкие экраны с большим разрешением;
          li Мелкий размер шрифта основного текста затруднял чтение.
        p Мы исправили эти проблемы и получили хорошие результаты.

        .page-section
          +table
            +tr.table__row
              +th Период
              +th Отказы
              +th Глубина
              +th Время на сайте
            +tr.table__row
              +td янв-мар 2022
              +td 12,9
              +td 1,51
              +td 1:33
            +tr.table__row
              +td янв-мар 2023
              +td 12,2
              +td 2,07
              +td 2:08
            +tr.table__row
              +td.table__cell--green Динамика
              +td.table__cell--green -5%
              +td.table__cell--green +37%
              +td.table__cell--green +38%
        +grid({ paddingy: true })
          +grid__item
            +img({
              name: 'conversion',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 'l', values: [ 1, 2 ] },
              ]
            })(alt= 'Пример объявления для рекламной кампании').image-shadow
        
        -
          const results = [
            {title: '21%', desc: 'Прирост кликов на телефон за год'},
          ]
        +caseResultsList(results)

        +table
          +tr.table__row
            +th Метрика
            +th Февраль 2022
            +th Февраль 2023
          +tr.table__row
            +td Клики на телефон на сайте
            +td 80
            +td 97

      +caseSection('Улучшение продающих качеств сайта',{type:'solutions'}).text-align-left
        p Мы провели аудит продающих качества сайта с помощью собственного регламента, который представляет собой чеклист из более #[strong 70 пунктов].
        p Нашли ряд проблем. Самые серьезные:
        ul.list-marked
          li Не проработано УТП (уникальное торговое предложение).
          li Не проработан контент страниц заболеваний: малый объем текста, не внедрена структура “посадочных” страниц, малое количество отраженных операций, почти нет страниц по операциям.
          li Мало собственных фотографий.
          li Нет единого стиля фотографий врачей, некоторые плохого качества.
          li Размещены очень старые отзывы, нет рукописных сканов и видео отзывов, нет привязки к врачам и услугам.
          li Нет части полезной и важной информации для пациентов: оборудование, ДМС, для иногородних, рассрочка и кредит.
        p Мы доработали шапку и серьезно переделали главную страницу сайта:
        ul.list-marked
          li Подготовили несколько вариантов УТП, согласовали с клиентом и разместили на первом экране.
          li В отображении на мобильном добавили кнопки мессенджеров.
          li Проработали преимущества клиники и разместили их на главной странице.
          li Описали диагностические возможности клиники.
          li Проработали контент страниц заболеваний и добавили раздел операций.
          li Провели фотосессию с врачами, получили качественные фотографии для врачей и контента сайта.
          li Обновили отзывы.
          li Добавили страницы оборудование, ДМС, для иногородних, рассрочка и кредит, частые вопросы.
          li Добавили общую схему получения услуг.


      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        h3.text-align-center Цель
        p Привлечь новых пациентов в клинику через системы Yandex.Direct.
        h3.text-align-center Решение
        p Запустили брендовые рекламные кампании, по&nbsp;операциям и&nbsp;заболеваниям, по&nbsp;конкурентам, а&nbsp;также непосредственно по&nbsp;врачам.
        p Отслеживали результаты, отключали неэффективные кампании, масштабировали&nbsp;те, которые дают результат.
        p #[strong Примеры объявлений:]
        +grid({ paddingy: true })
          +grid__item({ s:6 })
            +img({
              name: 'example-1',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [{
                values: [ 1, 2 ]
              }]
            })(alt= 'Пример объявления для рекламной кампании').image-shadow
          +grid__item({ s:6 })
            +img({
              name: 'example-2',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [{
                values: [ 1, 2 ]
              }]
            })(alt= 'Пример объявления для рекламной кампании').image-shadow

      +caseSection('Эффект от оптимизации рекламных кампаний',{type:'solutions'}).text-align-left
        ul.list-marked
          li Количество кликов выросло в #[strong 2,9] раз;
          li Количество конверсий (звонок, запись с&nbsp;сайта, заявка через форму Comagic) выросло в #[strong 3,2] раза;
          li CPA удалось снизить на #[strong 34%];
          li Цена клика снизилась на #[strong 27%].
        .page-section
          +table({ 'small': true})
            +tr.table__row
              +th Период
              +th Показы
              +th Клики
              +th CTR (%)
              +th Ср. цена клика (руб.)
              +th Расход (руб.)
              +th Конверсии
              +th CPA
              +th Автоцель: клик по номеру телефона
              +th Заявки CoMagic
              +th Отправка формы
            
            +tr.table__row
              +td Август
              +td 13&nbsp;198
              +td 524
              +td 4%
              +td 31
              +td 16&nbsp;303
              +td 11
              +td 1&nbsp;482
              +td 9
              +td 2
              +td 

            +tr.table__row
              +td Сентябрь
              +td 35&nbsp;339
              +td 620
              +td 2%
              +td 29
              +td 17&nbsp;930
              +td 16
              +td 1&nbsp;121
              +td 13
              +td 2
              +td 1

            +tr.table__row
              +td Октябрь
              +td 26&nbsp;082
              +td 673
              +td 3%
              +td 31
              +td 20&nbsp;780
              +td 24
              +td 866
              +td 15
              +td 5
              +td 4
          
            +tr.table__row
              +td Ноябрь
              +td 35&nbsp;341
              +td 826
              +td 2%
              +td 27
              +td 22&nbsp;477
              +td 22
              +td 1&nbsp;022
              +td 4
              +td 7
              +td 11

            +tr.table__row
              +td Декабрь
              +td 43&nbsp;280
              +td 1&nbsp;035
              +td 2%
              +td 27
              +td 28&nbsp;121
              +td 36
              +td 781
              +td 9
              +td 7
              +td 20

            +tr.table__row
              +td Январь
              +td 92&nbsp;379
              +td 1&nbsp;523
              +td 2%
              +td 23
              +td 34&nbsp;355
              +td 35
              +td 982
              +td 11
              +td 7
              +td 17
            
            +tr.table__row
              +td.table__cell--green Всего
              +td.table__cell--green 245&nbsp;619
              +td.table__cell--green 5 201
              +td.table__cell--green 2%
              +td.table__cell--green 28
              +td.table__cell--green 139&nbsp;966
              +td.table__cell--green 144
              +td.table__cell--green 972
              +td.table__cell--green 61
              +td.table__cell--green 30
              +td.table__cell--green 53

        +grid({ paddingy: true })
          -
            const schedules = [
              {
                img: 'clicks',
                alt: 'График с данными по кликам',
              },
              {
                img: 'average-price',
                alt: 'График с данными по средней цене клика',
              },
              {
                img: 'conversion-table',
                alt: 'График с данными конверсии',
              },
              {
                img: 'CPA',
                alt: 'График с данными CPA',
              },
            ]
          each item in schedules
            +grid__item({ m:6 })
              +img({
                name: item.img,
                path: '/images/prodvizhenie-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= item.alt).image-shadow

      +caseSection('Интеграция с amoCRM',{type:'solutions'}).text-align-left
        p Мы&nbsp;помогли клиенту в&nbsp;настройке интеграции сайта через API и&nbsp;передачи информации о&nbsp;заявках из&nbsp;форм в&nbsp;amoCRM. Процесс настройки был достаточно непростой, но&nbsp;мы&nbsp;во&nbsp;взаимодействии со&nbsp;службой поддержки решили все возникшие проблемы.
        p Подключение CRM-системы позволило систематизировать обработку обращений в&nbsp;центр, качественнее взаимодействовать с&nbsp;клиентами и&nbsp;оценивать результаты за&nbsp;период времени.

      +caseSection('Внедрение квиза Marquiz',{type:'solutions'}).text-align-left
        p Тестирование квиза Marquiz привело к&nbsp;пониманию, что клиенты хотят получить больше информации, готовы взаимодействовать с&nbsp;клиникой в&nbsp;формате вопрос-ответ и&nbsp;следовательно данный инструмент можно использовать для сбора контактных данных пациентов, которые не&nbsp;готовы сразу записаться на&nbsp;прием к&nbsp;врачу.
        +grid({ paddingy: true })
          +grid__item
            +img({
              name: 'quiz-1',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 'l', values: [ 1, 2 ] },
              ]
            })(alt= 'Квиз Marquiz').image-shadow
          +grid__item({ m:9 })
            +img({
              name: 'quiz-2',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Вопросы квиза Marquiz').image-shadow
        h3.text-align-center Результаты
        p Было получено #[strong 7&nbsp;заявок] за&nbsp;2&nbsp;недели по&nbsp;ознакомительному тарифу. Дальнейшее использование было отложено в&nbsp;связи с&nbsp;необходимыми ресурсами со&nbsp;стороны врачей/клиники (оперативное реагирование на&nbsp;данные потенциальных клиентов, составление рекомендаций).
      
      +caseSection('Внедрение сервиса Comagic').text-align-left
        p Благодаря Comagic добавились формы обратной связи на&nbsp;сайт&nbsp;&mdash; у&nbsp;пользователя появилось больше выбора и&nbsp;удобства в&nbsp;части коммуникации с&nbsp;клиникой. Также коллтрекинг позволяет оценивать эффективность каналов и&nbsp;анализировать качество звонков.
        h3.text-align-center Статистика Comagic
        -
          const comagic = [
            {title: '26%', desc: 'Прирост заявок с&nbsp;формы Comagic с&nbsp;ноября по&nbsp;март'},
          ]
        +caseResultsList(comagic)
        +grid({ paddingy: true })
          +grid__item
            +img({
              name: 'comagic',
              path: '/images/prodvizhenie-saytov/neuros/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 'l', values: [ 1, 2 ] },
              ]
            })(alt= 'Статистика Comagic').image-shadow

      +caseOffer
      //- +caseSection('Дополнительные бонусы')
      //-   -
      //-     let bonuses = [
      //-       {
      //-         text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
      //-         className: 'experience'
      //-       },
      //-       {
      //-         text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
      //-         className: 'volume'
      //-       }
      //-     ]
        //- +caseBonuses(bonuses)
