extends /blocks/layout/layout

include /blocks/blog/blog

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +grid({paddingy: true})
        +grid__item({m:8,xs:12})
          -
            const blog = [
              {
                name: 'Контекстная реклама для стоматологии',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/kontekstnaya-reklama-dlya-stomatologii.html',
              },
              {
                name: 'Эффективный интернет-маркетинг для стоматологических клиник и услуг в 2024 году ',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/marketing-dlya-stomatologii.html',
              },
              {
                name: 'Как открыть ветеринарную клинику',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/kak-otkryt-veterinarnuyu-kliniku.html',
              },
              {
                name: 'Как открыть клинику',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/kak-otkryt-kliniku.html',
              },
              {
                name: '5 кейсов по продвижению стоматологии',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/kejsy-po-prodvizheniyu-stomatologii.html',
              },
              {
                name: ' Как привлечь пациентов в медицинский центр',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/kak-privlech-pacientov-v-kliniky.html',
              },
              {
                name: 'Реклама пластической хирургии',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/reklama-plasticheskoj-hirurgii.html',
              },
              {
                name: 'Реклама ветеринарной клиники',
                image: '/images/blog/',
                date: '26.05.2023',
                href: '/blog/reklama-veterinarnoy-kliniki.html',
              },
              {
                name: 'Новые требования к сайту медицинской организации в 2023 году',
                image: '/images/blog/trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu.jpg',
                date: '26.05.2023',
                href: '/blog/trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu.html',
              },
              {
                name: 'Реклама и маркетинг для косметологии',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '26.05.2023',
                href: '/blog/reklama-kosmetologii.html',
              },
              {
                name: 'Подробное руководство по медицинскому маркетингу',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '26.05.2023',
                href: '/blog/medicinskij-marketing.html',
              },
              {
                name: 'Как открыть стоматологию с нуля: бизнес-план и пошаговая инструкция',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '26.05.2023',
                href: '/blog/kak-otkryt-stomatologiyu.html',
              },
              {
                name: '16 рабочих способов привлечь пациента в стоматологическую клинику',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '26.05.2023',
                href: '/blog/reklama-stomatologii.html',
              },
              {
                name: '20 эффективных способов продвижения медицинских центров и клиник',
                image: '/images/blog/reklama-medicinskogo-centra-i-kliniki/main.jpg',
                date: '26.05.2023',
                href: '/blog/reklama-medicinskogo-centra-i-kliniki.html',
              },  
              {
                name: 'Юридические аспекты работы клиники в условиях пандемии',
                image: '/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg',
                date: '26.04.2020',
                href: '/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii.html',
              },
              {
                name: 'Обзор — рейтинг сервисов, программ и приложений для системы телемедицины',
                image: '/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg',
                date: '25.04.2020',
                href: '/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny.html',
              },
            ]
          +blog(blog)
        +grid__item({m:4,xs:12})#social
          +grid({paddingy: true})
            +grid__item({xs:12})
              script(type="text/javascript" src="//vk.com/js/api/openapi.js?151")
              #vk_groups
              script(type="text/javascript")
                | VK.Widgets.Group("vk_groups", {mode: 3, width: 304, height: 500}, 86134177);
            +grid__item({xs:12})
              .fb-page(data-href="https://www.facebook.com/medreclama/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
                blockquote( cite="https://www.facebook.com/medreclama/" class="fb-xfbml-parse-ignore")
                  a( href="https://www.facebook.com/medreclama/") Маркетинг в медицине
            +grid__item({xs:12})
              include /blocks/youtube-module/youtube-module
