extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/icon-block/icon-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 Как открыть стоматологию с нуля: бизнес-план и пошаговая инструкция
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Рассмотрим, как открыть стоматологию и начать зарабатывать, если бизнес опыта пока нет.
          -
            const banner1 = {
              header: 'Есть реклама, но мало пациентов?<br>​Хотите увеличить эффективность рекламы и сайта?',
              text: [
                {tag: 'p', content: 'Выполним комплексный аудит интернет-маркетинга клиники или аудит продающих качество сайта.'},
                {tag: 'p', content: 'Выявим слабые точки, дадим конкретные рекомендации.'},
              ],
              button: 'Отправить заявку',
            } 
          +banner(banner1)


          h2 Секрет успешного бизнеса стоматологических услуг
          +pageSubsection
            p Стоматологи, которые мечтают создать свой собственный бизнес, в&nbsp;поисках информации о&nbsp;том, как открыть стоматологию, обычно ищут сведения о&nbsp;получении лицензии, стоимости аренды, размере налогов. Многие обеспокоены недостатком опыта управления, отсутствием знаний по&nbsp;бухгалтерскому учету. Ищут готовые шаблонные бизнес-планы, боятся, что может не&nbsp;хватить денег.
          +grid.page-subsection
            +grid__item({ m:10 })
              +img({
                name: 'business-plan',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Структура бизнес-плана' title='Структура бизнес-плана').image-shadow
              span.text-marked--size--s Структура бизнес-плана
          +pageSubsection
            p Опытные врачи и&nbsp;начинающие бизнесмены почти всегда упускают из&nbsp;виду главное&nbsp;&mdash; маркетинг. По&nbsp;статистике большая часть компаний закрывается, потому что организаторы не&nbsp;смогли правильно оценить спрос на&nbsp;услугу или продукт. Если есть клиенты, понимание того, как продвигать бизнес, запускать рекламу, тогда можно переходить к&nbsp;финансовому планированию. На&nbsp;этом этапе открытия стоматологии потребует умение строить бюджет доходов и&nbsp;расходов, чтобы не&nbsp;оказаться в&nbsp;минусе, в&nbsp;том числе временно, не&nbsp;нести незапланированные кредитные расходы при низких доходах.
            p Если есть клиенты, нужно сориентироваться в&nbsp;налогообложении, найти помещение для аренды, заключить договор и&nbsp;проконтролировать все детали, чтобы не&nbsp;быть обманутым. Также потребуется приложить усилия для оформления лицензии. Ко&nbsp;всем этим этапам важно тщательно подготовиться, чтобы после завершения формальностей сразу приступить к&nbsp;работе, а&nbsp;не&nbsp;оплачивать аренду неработающего стоматологического кабинета. Однако это не&nbsp;главное, все это важно, но&nbsp;даже блестящие результаты в&nbsp;урегулировании формальностей не&nbsp;приведут к&nbsp;успеху.
            p Игнорирование маркетинга&nbsp;&mdash; основная ошибка новичков в&nbsp;бизнесе. Но&nbsp;что делать, с&nbsp;чего начать, как продвигаться, от&nbsp;чего зависит успех, и&nbsp;на&nbsp;что можно рассчитывать, т.е. как привлечь пациентов? Ответы на&nbsp;эти вопросы зависят от&nbsp;базовых условий. Первым делом нужно оценить количество существующих постоянных клиентов, рассчитать уровень дохода, который они приносят или могут принести. 
            p Если опыта совсем нет, нужно оценить имеющиеся ресурсы и&nbsp;компетенции, что в&nbsp;наличии. Возможно, есть навыки администрирования в&nbsp;стоматологическом или смежном, к&nbsp;примеру, косметологическом (эстетическом) бизнесе. Или опыт управления различными видами бизнеса в&nbsp;семье. Если собственных ресурсов недостаточно, нужно сразу искать партнеров или специалистов, в&nbsp;том числе на&nbsp;аутсорсинге, которые помогут отладить процесс, окажут помощь в&nbsp;открытии стоматологии, и&nbsp;попутно научат продвигать услуги самостоятельно.

          h2 Анализ рынка: перспективно&nbsp;ли открывать стоматологию
          +pageSubsection
            p Анализ рынка стоматологических услуг в&nbsp;стране, регионе, выбранной локации&nbsp;&mdash; первый этап на&nbsp;пути составления бизнес-плана. О&nbsp;существующих трендах и&nbsp;перспективах отрасли можно узнать из&nbsp;статистических данных, публикуемых государственными органами и&nbsp;частными компаниями.
          +grid.page-subsection
            +grid__item
              +img({
                name: 'analysis-stages',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Этапы анализа рынка' title='Этапы анализа рынка').image-shadow
              span.text-marked--size--s Этапы анализа рынка
          +pageSubsection
            p Если планируется масштабный проект, с&nbsp;большим количеством рабочих мест, уместно заказать полноценное исследование маркетинговой компании. Для открытия стоматологического кабинета может быть достаточно анализа данных открытых источников.
          +grid.page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'pest',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'PEST-анализ' title='PEST-анализ').image-shadow
              span.text-marked--size--s PEST-анализ

          h3.no-content Состояние рынка стоматологических услуг в&nbsp;настоящий момент
          +pageSubsection
            p Данные государственных органов говорят о&nbsp;том, что в&nbsp;ближайшие годы рынок частных стоматологических услуг будет расти в&nbsp;среднем на&nbsp;10% в&nbsp;год. Исследования холдинга РБК показывают, что сектор после пандемии снова набирает обороты, постепенно растет средний чек и&nbsp;число пациентов частных стоматологов.
          +grid.page-subsection
            +grid__item
              +img({
                name: 'dynamics',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Динамика рынка стоматологии в России' title='Динамика рынка стоматологии в России').image-shadow
              span.text-marked--size--s Динамика рынка стоматологии в России
          +pageSubsection
            p Согласно данным издания #[a(href='https://www.dp.ru/a/2022/02/28/Ne_vsem_po_zubam?utm_source=blog&utm_medium=19.04.2022&utm_campaign=biznes-plan-stomatologii' target='_blank' rel ="nofollow") Деловой Петербург] за&nbsp;2021 год рынок вырос на&nbsp;20% и&nbsp;достиг в&nbsp;абсолютном выражении 13&nbsp;млрд. руб. Рост происходит за&nbsp;счет отложенного из-за пандемии спроса. Продолжения роста стоит ожидать при условии стабильности экономики страны. Так как падение доходов всегда приводит к&nbsp;резкому сокращению числа клиентов у&nbsp;стоматолога.
            p В&nbsp;городе уже функционирует 16&nbsp;тыс. клиник и&nbsp;кабинетов, среди них 15&nbsp;сетей. При этом крупные компании занимают 10,3% рынка, остальное приходится на&nbsp;долю небольших предприятий. Это говорит о&nbsp;том, что доля постоянных издержек, за&nbsp;счет которых можно обеспечить существенное снижение себестоимости оказываемых услуг, не&nbsp;велика, а&nbsp;значит, новичок сможет конкурировать с&nbsp;более опытными компаниями.
            p Выгодно&nbsp;ли открывать стоматологию в&nbsp;2023&nbsp;году, покажет время? В&nbsp;первой половине года в&nbsp;экономике страны не&nbsp;было встрясок, доходы россиян не&nbsp;претерпели существенных изменений, показатель инфляции находится на&nbsp;приемлемом уровне (5-7%). Ситуация стабильная с&nbsp;тенденцией к&nbsp;небольшому росту в&nbsp;краткосрочной перспективе и&nbsp;до&nbsp;10% в&nbsp;год в&nbsp;среднесрочной. Долгосрочный прогноз в&nbsp;условиях общей нестабильной политико-экономической ситуации экономисты не&nbsp;делают. Но&nbsp;эта проблема, сложность прогнозирования отдаленных перспектив, касается всех отраслей и&nbsp;сфер.

          h2 Пошаговый план
          p Реализация бизнес-проекта должна проходит по&nbsp;плану, который обычно включает следующие этапы:
          +grid({ paddingy: true }).page-subsection
            +grid__item({ s:6 }): +iconBlock({ form: true }).block-marked Оценка собственных сил и&nbsp;возможностей.
            +grid__item({ s:6 }): +iconBlock({ location: true }).block-marked Выбор локации и&nbsp;оценка перспектив.
            +grid__item({ s:6 }): +iconBlock({ hospital: true }).block-marked  Анализ свободных помещений в&nbsp;выбранной локации, и&nbsp;оценка стоимости аренды.
            +grid__item({ s:6 }): +iconBlock({ 'dentist-chair': true }).block-marked  Расчет потребности в&nbsp;оборудовании и&nbsp;материалах.
            +grid__item({ s:6 }): +iconBlock({ dentist: true }).block-marked  Оценка целесообразности привлечения наемных работников разных специализаций на&nbsp;начальном этапе.
            +grid__item({ s:6 }): +iconBlock({ license: true }).block-marked  Оформление необходимых для работы документов.
            +grid__item({ s:6 }): +iconBlock({ advertising: true }).block-marked  Реклама и&nbsp;маркетинг: способы и&nbsp;каналы продвижения, оценка потребности в&nbsp;инвестициях.
            +grid__item({ s:6 }): +iconBlock({ financial: true }).block-marked  Подготовка финансового плана с&nbsp;расчетами.
          +pageSubsection
            p Рассмотрим подробнее, как открыть стоматологию с&nbsp;нуля: пошаговые инструкции для начинающих предпринимателей.

          h2 Обязательно&nbsp;ли быть стоматологом?
          +pageSubsection
            p Желание открыть стоматологический кабинет или клинику возникает по&nbsp;разным причинам. Одни, располагая опытом администрирования (управления) сетью центров красоты, а&nbsp;также имея знакомого стоматолога, оценивают возможность заниматься бизнесом в&nbsp;смежной сфера вместе с&nbsp;партнером. 
          +grid.page-subsection
            +grid__item
              +img({
                name: 'stomatology-1',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'На приеме у стоматолога').image-shadow
          +pageSubsection
            p Практика показывает, что шанс есть и&nbsp;у&nbsp;врачей-стоматологов, которые хотели&nbsp;бы уйти от&nbsp;работы по&nbsp;найму, открыть свой бизнес, и&nbsp;у&nbsp;тех, кто просто увлечен направлением, как-то с&nbsp;ним соприкасался и&nbsp;хотел был превратить в&nbsp;бизнес. Единственное обязательное условия&nbsp;&mdash; искренний живой интерес к&nbsp;стоматологии и&nbsp;готовность заниматься этим направлением каждый день.
            p Среди успешных предпринимателей большая часть работает стоматологами, постоянно учится, осваивает новые методы и&nbsp;технологии. Но&nbsp;есть и&nbsp;те, кто просто обладает необходимыми знаниями и&nbsp;опытом управления различными видами бизнеса, и&nbsp;потому знает, как открыть стоматологию, а&nbsp;отладив процесс, отходит от&nbsp;дел. 

          h2 Где открыть зубную клинику
          p Анализ локации фактически сводится к&nbsp;вопросу: открыть кабинет в&nbsp;своем спальном районе или в&nbsp;центре города. Выбор зависит от&nbsp;финансовых возможностей и&nbsp;имеющейся клиентов. Если пока пациентов мало, окупить помещение в&nbsp;дорогом районе будет сложно, даже за&nbsp;счет высокой проходимости. Потому что уровень конкуренции в&nbsp;таких местах всегда выше, чем в&nbsp;более удаленных от&nbsp;мест массового скопления людей.
          
          h2 Как выбрать помещение 
          +pageSubsection
            p Выбор помещения зависит от&nbsp;формата работы: частный кабинет или стоматологическая клиника с&nbsp;наемным персоналом. А&nbsp;также от&nbsp;сегмента: эконом, бизнес, люкс. Для пациентов эконом-класса основным критерием выбора выступает цена. Они пойдут туда, где дешевле, если качество работы их&nbsp;устраивает, т.е. пломбы после визита к&nbsp;стоматологу не&nbsp;выпадают. Эту группу мало интересует ремонт в&nbsp;холле или кабинете. 
          +grid.page-subsection
            +grid__item: +img({
                name: 'stomatology-2',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Кабинет стоматолога').image-shadow
          +pageSubsection
            p Представители сегмента бизнес ожидают определенного уровня сервиса, качественного современного оборудования, отсутствия очередей и&nbsp;определенного комфорта. Значит нужно потратить деньги на&nbsp;удобные диваны в&nbsp;холле, сделать ремонт, чтобы в&nbsp;клинику было &laquo;не&nbsp;стыдно&raquo; зайти с&nbsp;девушкой или другом.
            p Представители класса люкс ориентируются прежде всего на&nbsp;уровень сервиса. Им&nbsp;должно быть удобно, желательно, чтобы все, что предлагается, соответствовало самым современным требованиям. Однако ремонт в&nbsp;помещениях&nbsp;&mdash; это только часть оснащения. Дорогой и&nbsp;богатый будет хорошо восприниматься, если выбрано самое презентабельное оборудование (дизайн не&nbsp;менее важен, чем реализованные в&nbsp;стоматологической установке технологии), современные материалы и&nbsp;аксессуары.
            p Также нужно учитывать, что к&nbsp;отделке помещений для работы стоматолога законодательство предъявляет определенные требования. Так, площадь кабинета частного мастера должна составлять не&nbsp;менее 30&nbsp;м2, из&nbsp;которых&nbsp;14 (минимум) должно быть выделено под рабочую зону, 5&nbsp;&mdash; под санитарную и&nbsp;10&nbsp;&mdash; под холл. Минимальная высота потолков&nbsp;&mdash; 3&nbsp;метра, пространство от&nbsp;окна до&nbsp;противоположной стены&nbsp;&mdash; не&nbsp;менее 6.
            p #[strong Примечание.] Законодательные нормы постоянно меняются, поэтому нужно следить за&nbsp;нововведениями, чтобы не&nbsp;оказаться в&nbsp;ситуации, когда деньги на&nbsp;аренду и&nbsp;ремонт помещения истрачены, а&nbsp;работать нельзя, потому что оно не&nbsp;соответствует актуальным госстандартам. Бесплатные инструкции на&nbsp;тему, как открыть стоматологию с&nbsp;нуля не&nbsp;содержат самой актуальной информации, ее&nbsp;нужно искать в&nbsp;законах. Помочь разобраться также может опытный бизнес-консультант.

          +pageSubsection
            h2 Расходы на&nbsp;оборудование и&nbsp;материалы
          +grid.page-subsection
            +grid__item
              +img({
                name: 'stomatology-3',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Что учитывать при выборе стоматологической установки' title='Что учитывать при выборе стоматологической установки').image-shadow
              span.text-marked--size--s Что учитывать при выборе стоматологической установки
          +pageSubsection
            p Объем расходов на&nbsp;техническое оснащение зависит не&nbsp;только от&nbsp;уровня клиники, но&nbsp;и&nbsp;от&nbsp;специализаций врачей. Базовый набор включает:
            ul.list-marked
              li Стоматологическое кресло с&nbsp;турбиной и&nbsp;вспомогательными приспособлениями&nbsp;&mdash; в&nbsp;среднем от&nbsp;300-350&nbsp;тыс. руб.
              li Расходные материалы и&nbsp;комплектующие для оборудования (наконечники и&nbsp;др.)&nbsp;&mdash; около 10&nbsp;тыс.&nbsp;в&nbsp;мес., при условии покупки нового оборудования, не&nbsp;нуждающегося в&nbsp;частом ремонте.
              li Инструменты&nbsp;&mdash; от&nbsp;30-40&nbsp;тыс. руб.&nbsp;на&nbsp;одно рабочее место, если сразу приобрести набор всего необходимого. Но&nbsp;при посменной работе желательно, чтобы у&nbsp;каждого мастера были свои инструменты.
              li Полимеризационная лампа (достаточно одной для кабинета терапевта, даже при посменной работе)&nbsp;&mdash; 10&nbsp;тыс. руб.
              li Апекс-локатор&nbsp;&mdash; 30&nbsp;тыс. руб. В&nbsp;сегменте эконом технология может оказаться не&nbsp;востребованной первое время, но, учитывая не&nbsp;очень высокую стоимость и&nbsp;необходимость постоянного профессионального развития, чтобы выдерживать нарастающую с&nbsp;каждым годом конкуренцию, желательно иметь.
              li Автоклав для стерилизации инструментов&nbsp;&mdash; в&nbsp;среднем 60&nbsp;тыс. руб. Если в&nbsp;клинике несколько кабинетов, можно приобрести&nbsp;1, к&nbsp;примеру, на&nbsp;3&nbsp;кабинета.
              li Мебель (столы, стулья, шкафы) для стоматолога, ассистента (медсестры)&nbsp;&mdash; от&nbsp;30&nbsp;до&nbsp;100&nbsp;тыс. руб.
              li Радиовизиограф (недорогой аналог полноценного рентгеновского аппарата)&nbsp;&mdash; в&nbsp;среднем 250-300&nbsp;тыс. руб.
            p Получилось более 700&nbsp;тыс. рублей. Это базовый комплект остро необходимого для тех, кто просто пытается сориентироваться в&nbsp;ценах, понять, сколько стоит открыть стоматологическую клинику, но&nbsp;на&nbsp;практике расходы будут выше.

          h2 Требования к&nbsp;врачам и&nbsp;персоналу
          p Требования к&nbsp;сотрудникам зависят от&nbsp;выбранного экономического сегмента. В&nbsp;сегменте эконом потребуется медсестра базовой квалификации, возможно, без опыта работы, и&nbsp;администратор, но&nbsp;и&nbsp;без него можно обойтись. 

          h2 Как юридически грамотно оформить документы и&nbsp;разрешения 
          p Для начала работы нужно оформить два основных документа, открывающих дорогу к&nbsp;дальнейшим шагам: зарегистрировать&nbsp;ИП или юридическое лицо в&nbsp;налоговых органах и&nbsp;получить лицензию на&nbsp;медицинскую стоматологическую деятельность. После этого можно обращаться в&nbsp;банк за&nbsp;кредитами, искать инвесторов.
          p Кроме того, для ведения бизнеса потребуется:
          +grid({ paddingy: true }).page-subsection
            +grid__item({ s:6 }): +iconBlock({ funds: true }).block-marked Зарегистрироваться в&nbsp;ПФ, ФСС, ФОМС.
            +grid__item({ s:6 }): +iconBlock({ 'joint-account': true }).block-marked  Открыть счет в&nbsp;банке.
            +grid__item({ s:6 }): +iconBlock({ cashier: true }).block-marked  Закупить контрольно-кассовое оборудование.
            +grid__item({ s:6 }): +iconBlock({ firefighter: true }).block-marked  Получить разрешение от&nbsp;санитарной и&nbsp;пожарной служб.
          +pageSubsection
            p Это базовый перечень остро необходимых правовых действий для тех, кто пытается понять, как открыть свою стоматологию. При запуске проекта крупной клиники юридических формальностей будет много больше. 

          h2 Реклама и&nbsp;маркетинг 
          +pageSubsection
            p Это самая важная часть плана, ибо как открыть клинику стоматологическую, если нет клиентов. Опытные стоматологи могут привести с&nbsp;собой часть пациентов в&nbsp;предыдущего места работы, но&nbsp;их&nbsp;почти всегда оказывается недостаточно даже для того, чтобы заполнить день одного врача. Так как кто-то из&nbsp;клиентов останется в&nbsp;прежнем медучреждение, потому что выбрал именно клинику, а&nbsp;не&nbsp;одного из&nbsp;ее&nbsp;врачей, кто-то не&nbsp;захочет ездить в&nbsp;другое место.
          +grid.page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'sales-funnel',
                path: '/images/blog/kak-otkryt-stomatologiyu/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Воронка продаж' title='Воронка продаж').image-shadow
              span.text-marked--size--s Воронка продаж
          +pageSubsection
            p Маркетинговый план или стратегия продвижения&nbsp;&mdash; это комплекс мероприятий, от&nbsp;которых зависит успех бренда стоматологии у&nbsp;пациентов. Ключевые составляющие: каналы продвижения (персональная страница стоматолога в&nbsp;соцсети, сайт, сайты-агрегаторы) и&nbsp;инструменты (рекламные объявления в&nbsp;транспорте, на&nbsp;онлайн и&nbsp;офлайн досках, контент: тексты, видео, коллажи). Подробнее, о&nbsp;том, как продвигать стоматологический бизнес, находить клиентов, читайте в&nbsp;статье #[a(href='/blog/reklama-stomatologii') &laquo;16&nbsp;рабочих способов привлечь пациента в&nbsp;стоматологическую клинику&raquo;].

          h2 Финансовый план с&nbsp;расчетами
          p Финансовый план обычно включает следующие разделы:
          ul.list-marked
            li Первоначальные расходы: регистрация, аренда, ремонт (по&nbsp;потребности), вывеска, прочие&nbsp;&mdash; приблизительно #[strong 1-1,1]&nbsp;млн. руб.
            li Ежемесячные траты: расходные материалы, оплата труда, аренда, коммунальные платежи, налоги&nbsp;&mdash; #[strong 100-200]&nbsp;тыс. руб.
            li Доходы и&nbsp;окупаемость. При среднем чеке #[strong 300]&nbsp;тыс. руб.&nbsp;и&nbsp;затратах времени на&nbsp;#[strong 1]&nbsp;клиента от&nbsp;#[strong 40]&nbsp;мин.&nbsp;до&nbsp;#[strong 1]&nbsp;часа можно рассчитывать на&nbsp;#[strong 10-20%] окупаемости.
            li Риски. На&nbsp;непредвиденные обстоятельства нужно закладывать не&nbsp;менее&nbsp;#[strong 10%], часто их&nbsp;требуется #[strong 20]&nbsp;и&nbsp;более.
          p Также важно иметь календарный план открытия, в&nbsp;котором должны быть отражены такие детали как: сколько нужно вложить средств в&nbsp;аренду помещения в&nbsp;то&nbsp;время, когда в&nbsp;нем будет делаться ремонт, т.е. дохода бизнес приносить не&nbsp;будет, и&nbsp;сколько после.
          p Планируя расходы и&nbsp;доходы, нужно осознавать, что результаты работы первых двух-трех месяцев очень показательны. Если клиентов нет, или их&nbsp;совсем мало, со&nbsp;временем почти ничего не&nbsp;изменится. Неудача должна стать поводом для изменений в&nbsp;планах продвижения, нужно проанализировать не&nbsp;только рекламу, но&nbsp;также цену, сервис, упаковку продукта. В&nbsp;тоже время нужно быть готовым к&nbsp;тому, что заметного дохода на&nbsp;личные нужды предпринимателя долгое время не&nbsp;будет, так как небольшая выручка будет уходить на&nbsp;многие неучтенные статьи расходов.

          h2 Выводы
          p Мы&nbsp;рассмотрели в&nbsp;общих чертах все, что нужно, чтобы открыть стоматологический кабинет. Но&nbsp;за&nbsp;обобщенным планом стоит большой профессиональный труд не&nbsp;только стоматологов, но&nbsp;и&nbsp;специалистов по&nbsp;продвижению бизнеса, от&nbsp;которых зависит, придут&nbsp;ли в&nbsp;клинику пациенты.

          -
            const banner2 = {
              header: 'У вас есть проект? Давайте обсудим!<br>Комплексный медицинский маркетинг',
              text: {tag: 'div', className: 'grid', content:[
                
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'SEO'},
                    {tag: 'li', content: 'Контекстная реклама'},
                    {tag: 'li', content: 'SMM'},
                  ],
                }},
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'Аудиты'},
                    {tag: 'li', content: 'Личная консультация'},
                  ],
                }},
              ]},
              button: 'Отправить заявку',
            }
          +banner(banner2)
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: '/images/staff-vitaliy.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
