extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/icon-block/icon-block
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 Как открыть ветеринарную клинику
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Ветеринарный бизнес&nbsp;&mdash; перспективное направление, ведь сейчас в&nbsp;России домашних животных содержит около половины семей. Питомцы нередко болеют, а&nbsp;значит, им&nbsp;может понадобиться медицинская помощь. К&nbsp;тому&nbsp;же, всё больше становится осознанных владельцев&nbsp;&mdash; тех, для кого важно здоровье домашнего животного, качество и&nbsp;продолжительность его жизни. Эти люди нередко заботятся о&nbsp;питомцах больше, чем о&nbsp;себе самих, готовы тратить крупные суммы на&nbsp;их&nbsp;лечение, а&nbsp;значит, решив открыть ветеринарную клинику, вы&nbsp;будете получать стабильную прибыль. 
          +figure({
            image: {
              name: 'vetklinika-1',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Число оказанных ветеринарных услуг в России в 2018-2022 гг.',  
            }, 
          })

          h2 Особенности ветеринарного бизнеса
          p Чаще всего о&nbsp;перспективе создания ветклиники задумываются&nbsp;те, кто имеет опыт работы в&nbsp;этой сфере. Например, это могут быть ветврачи, которых не&nbsp;устраивают условия работы в&nbsp;существующих медучреждениях и&nbsp;которые хотят обеспечить для домашних питомцев более качественный уход. Желательно иметь профильное образование и&nbsp;понимать принципы доказательной медицины, иначе организовать работу ветклиники будет непросто. Если вы&nbsp;не&nbsp;обладаете специальными знаниями, вам с&nbsp;самого начала понадобится помощь консультанта, который поможет расставить приоритеты, составить бизнес-план клиники и&nbsp;разобраться, какое оборудование закупать в&nbsp;первую очередь.
          p Подбирая сотрудников, нужно учитывать, что государственные учебные заведения, где обучаются ветврачи, дают только общие сведения о&nbsp;лечении мелких домашних животных. Поэтому хороший специалист&nbsp;&mdash; это тот, кто не&nbsp;ограничился получением высшего образования в&nbsp;сельхозакадемии или университете и&nbsp;постоянно повышает свою квалификацию на&nbsp;профильных курсах, а&nbsp;также имеет практический опыт. Некоторые виды услуг требуют дополнительной специализации: чтобы открыть при клинике ветаптеку, нужен сотрудник, прошедший курсы фармацевта. Отдельное разрешение потребуется и&nbsp;для проведения вакцинации, а&nbsp;это одна из&nbsp;самых популярных услуг.

          h2 План открытия ветеринарной клиники
          p Чтобы составить бизнес-план для ветеринарной клиники, нужно изучить рынок и&nbsp;определиться, какой сегмент услуг вы&nbsp;ходите охватить. Вы&nbsp;можете сконцентрироваться на&nbsp;одном или нескольких направлениях, в&nbsp;числе которых:
          ul.list-marked 
            li профилактика болезней и&nbsp;вакцинация;
            li диагностика;
            li лечение и&nbsp;консультирование; 
            li продажа лекарств и&nbsp;специализированного корма для животных. 
          +grid({ tag: 'figure' }).figure
            +grid__item({ m:9, xs:12 })
              +img({
                name: 'vetklinika-2',
                path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Число ветеринарных клиник на каждые 100 тыс. человек в 20 крупнейших городах России* *при расчетах использованы данные «2ГИС» и Федеральной службы государственной статистики' title='Число ветеринарных клиник на каждые 100 тыс. человек в 20 крупнейших городах России* *при расчетах использованы данные «2ГИС» и Федеральной службы государственной статистики').figure__image.image-shadow
              figcaption.figure__caption Число ветеринарных клиник на каждые 100 тыс. человек в 20 крупнейших городах России* #[br] #[span.text-marked--size--xs *при расчетах использованы данные «2ГИС» и Федеральной службы государственной статистики]

          p Еще один вариант&nbsp;&mdash; ветеринарный кабинет. Он&nbsp;тоже позволяет вести прием, но&nbsp;занимает небольшую площадь. Поэтому в&nbsp;нем проводятся только процедуры и&nbsp;обследования, не&nbsp;требующие специализированного оборудования. Это может быть подходящий вариант для старта, поскольку открытие ветеринарного кабинета потребует меньше затрат.
          p Открывать клинику можно самостоятельно или по&nbsp;франшизе. Создание собственного бренда&nbsp;&mdash; более трудоемкая задача, поскольку понадобится самостоятельно разработать бизнес-план, раскрутить свой бренд, сформировать уникальную концепцию клиники. Работа по&nbsp;франшизе позволяет воспользоваться готовыми решениями. Привлекать клиентов будет проще благодаря известному бренду. Однако следует внимательно изучить договор, чтобы дальнейшее сотрудничество с&nbsp;франчайзи не&nbsp;принесло неприятных сюрпризов.
          +figure({
            image: {
              name: 'vetklinika-3',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'По возможности проверяйте преимущества франшиз, которые есть на рынке',  
            }, 
          })
          p Если вы&nbsp;решили развивать собственный бренд и&nbsp;открывать ветеринарную клинику с&nbsp;нуля, важно придумать для нее название, которое будет вызывать доверие и&nbsp;хорошо запоминаться. Рекомендуется избегать наименований, которые выглядят несерьезными, например, кличек животных. Оптимальный вариант&nbsp;&mdash; слова &laquo;Ветклиника&raquo; или &laquo;Ветеринарный госпиталь&raquo; в&nbsp;сочетании с&nbsp;фамилией врача.

          h3.no-content Бизнес-план и&nbsp;стратегия развития
          p Разрабатывая проект ветеринарной клиники, нужно выполнить расчет единовременных и&nbsp;регулярных расходов. В&nbsp;2023 году расходы на&nbsp;запуск клиники оцениваются примерно в&nbsp;1,5 миллиона рублей. Имейте в&nbsp;виду, что при хорошем сценарии вы&nbsp;начнете получать прибыль только через год, а&nbsp;полностью окупаться клиника начнет не&nbsp;раньше, чем через два-три года. Расходы можно разделить на&nbsp;две категории. 
          p Расходы перед открытием ветеринарной клиники:
          ul.list-marked 
            li ремонт помещений, где будет располагаться клиника;
            li приобретение оборудования и&nbsp;мебели;
            li создание сайта и&nbsp;проведение первой рекламной кампании;
            li прохождение проверок и&nbsp;лицензирование ветеринарной деятельности. 
          p Регулярные расходы:
          ul.list-marked 
            li заработная плата врачей и&nbsp;персонала;
            li оплата коммунальных услуг;
            li закупка лекарств и&nbsp;расходных материалов;
            li привлечение клиентов (через сайт, с&nbsp;помощью различных рекламных материалов).
          p Конкретная сумма зависит от&nbsp;региона, где расположена клиника, и&nbsp;выбранного вами профиля.

          h2 Юридические аспекты развития клиники
          p Чтобы работа клиники не&nbsp;вызвала претензий со&nbsp;стороны проверяющих органов, необходимо соответствующим образом оформить ее&nbsp;деятельность. Вы&nbsp;можете выбирать между двумя организационными формами&nbsp;&mdash; ИП&nbsp;или ООО. Их&nbsp;достоинства и&nbsp;недостатки представлены в&nbsp;таблице ниже.
          +table({ colored:true })
            +tr.table__row
              +th 
              +th.text-align-center Преимущества
              +th.text-align-center Недостатки
            +tr.table__row
              +td ИП
              +td 
                ul.list-marked 
                  li проще зарегистрировать или снять с учета;
                  li иметь профильное образование не обязательно;
                  li можно использовать патентную систему налогообложения.
              +td
                ul.list-marked 
                  li не&nbsp;получится открыть бизнес вместе с&nbsp;партнером;
                  li получение лицензии на&nbsp;ветеринарную деятельность может быть сложнее.
            +tr.table__row
              +td ООО
              +td
                ul.list-marked 
                  li можно открыть бизнес вместе с&nbsp;партнером;
                  li проще взаимодействовать с&nbsp;контролирующими органами.
              +td
                ul.list-marked 
                  li регистрация требует подготовки большого количества документов;
                  li нужно оформить устав организации;
                  li нужен уставный капитал;
                  li нужно вести бухгалтерский учет.

          p Для индивидуальных предпринимателей, которые хотят открыть ветклинику, подойдет патентная система налогообложения, которая не&nbsp;требует сдачи отчетности. Достаточно оплатить патент на&nbsp;ветеринарную деятельность и&nbsp;уплатить необходимые налоги и&nbsp;взносы. На&nbsp;их&nbsp;объем будет влиять количество сотрудников и&nbsp;особенности налогового законодательства в&nbsp;регионе.
          p Для ООО подойдет можно использовать упрощенную систему налогообложения по&nbsp;системе &laquo;Доходы минус расходы&raquo;. В&nbsp;этом случае клиника будет платить&nbsp;15% с&nbsp;прибыли после вычета из&nbsp;доходов подтвержденных чеками расходов. Это особенно выгодно на&nbsp;старте бизнеса, поскольку расходов у&nbsp;ветклиники много.
          p Деятельность клиники описывается кодом 75.00.02 по&nbsp;ОКВЭД (&laquo;Деятельность ветеринарная для домашних животных&raquo;). Если вы&nbsp;хотите продавать лекарства, корма или другие товары для животных, понадобится добавить соответствующие коды.
          p Чтобы начать обслуживать пациентов, клиника должна получить разрешения в&nbsp;нескольких контролирующих организациях:
          ul.list-marked 
            li Роспотребнадзор выдает лицензии на&nbsp;проведение в&nbsp;помещениях лечебных, диагностических, операционных манипуляций.
            li Россельхознадзор выдает лицензии на&nbsp;фармакологическую деятельность, без которых врачи не&nbsp;смогут использовать в&nbsp;работе лекарства.
            li Станция по&nbsp;борьбе с&nbsp;бешенством выдает клинике разрешение на&nbsp;проведение прививок против этого заболевания.
          p Если в&nbsp;клинику поступает животное с&nbsp;подозрением на&nbsp;бешенство, она не&nbsp;имеет право лечить его самостоятельно&nbsp;&mdash; необходимо обратиться в&nbsp;районную станцию по&nbsp;борьбе с&nbsp;бешенством. За&nbsp;нарушение этого правила грозит административная ответственность. Поэтому при приеме животных нужно проверять информацию о&nbsp;его прививках.

          h2 Местоположение
          p Выгодно открывать ветклинику в&nbsp;новых районах города, которые были недавно застроены или начали сейчас активно застраиваться. Их&nbsp;жителям будут нужны услуги ветеринара в&nbsp;ближайшей доступности, и&nbsp;при этом вам не&nbsp;придется конкурировать с&nbsp;большим количеством других учреждений. Следовательно, вы&nbsp;привлечете больше пациентов. Ветклиника в&nbsp;спальном районе&nbsp;&mdash; перспективный вариант, поскольку клиенту часто ищут услуги ветврача, когда в&nbsp;них возникает необходимость, и&nbsp;отдают предпочтение заведениям, которые находятся рядом. Хорошо, если локация соответствует следующим критериям:
          ul.list-marked 
            li рядом есть парк или лес, подходящий для выгуливания собак;
            li рядом есть парковка для клиентов;
            li помещения клиники находятся на&nbsp;первом этаже, поскольку спускаться или подниматься по&nbsp;лестнице с&nbsp;питомцем неудобно.
          p Обратите внимание, что, в&nbsp;отличие от&nbsp;продуктовых магазинов или салонов красоты, ветклиники нельзя открывать на&nbsp;первом этаже жилых домов даже если конкретное помещение является нежилым.

          h3.no-content Требования к&nbsp;помещению
          p Требования к&nbsp;помещению, где будет расположена клиника, устанавливает Роспотребнадзор. Его сотрудники проверят соответствие помещения актуальным критериям и&nbsp;только если претензий нет, выдадут ветеринарное удостоверение:
          ul.list-marked 
            li Нужно обустроить два входа. Это обусловлено не&nbsp;только правилами пожарной безопасности, но&nbsp;и&nbsp;необходимостью отделить инфицированных животных от&nbsp;здоровых.
            li Помещение должно быть оборудовано кнопкой вызова охраны.
            li Нужно обеспечить горячее и&nbsp;холодное водоснабжение, хорошую вентиляцию, аварийное освещение.
            li Из&nbsp;соображений гигиены в&nbsp;помещениях, где врачи будут вести прием, стены и&nbsp;пол облицовывают пластиком или плиткой, с&nbsp;которых легко удалять загрязнения.
            li К&nbsp;рентген-кабинету предъявляются специальные требования: стены и&nbsp;окна покрываются изолирующими материалами, которые задерживают излучение.
          +figure({
            image: {
              name: 'vetklinika-4',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Схема помещения ветеринарной клиники',  
            }, 
          })
          p Какая площадь помещения вам понадобится, зависит от&nbsp;профиля ветклиники, которую вы&nbsp;собираетесь открыть. Помимо холла, где пациенты будут ждать своей очереди, понадобится обустроить несколько кабинетов, чтобы принимать пациентов, хранить препараты, проводить процедуры и&nbsp;операции. Если план работы ветеринарной клиники включает услуги стационара, то&nbsp;есть постоянного пребывания животных в&nbsp;клинике на&nbsp;лечении, понадобится еще один кабинет со&nbsp;специальным оборудованием. Минимальная площадь монофункционального помещения по&nbsp;нормам&nbsp;&mdash; 6&nbsp;м#[sup 2], полифункционального&nbsp;&mdash; 10&nbsp;м#[sup 2].
          p А&nbsp;вот отдельного помещения под лабораторию обычно не&nbsp;отводят: выгоднее заключить договор со&nbsp;сторонней лабораторией, чем закупать дорогостоящее оборудование, обучать и&nbsp;держать в&nbsp;штате еще одного сотрудника.

          h3.no-content Необходимое оборудование
          p Оборудование, которое будет использоваться в&nbsp;ветеринарной клинике, должно иметь сертификаты государственного образца. Вы&nbsp;можете начать с&nbsp;закупки базового набора самого необходимого, а&nbsp;потом расширять спектр услуг, приобретая дополнительное оборудование. В&nbsp;таблице ниже приводится список того, что может понадобиться для различных помещений в&nbsp;ветклинике.
          +figure({
            image: {
              name: 'vetklinika-5',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Составьте список базового и дополнительного оборудования, которое может потребоваться в дальнейшем',  
            }, 
          })
          +table({ colored: true })
            +tr.table__row
              +td Холл для ожидания
              +td 
                ul.list-marked 
                  li Стойка администратора 
                  li Мебель с&nbsp;обивкой из&nbsp;кожи или кожзаменителя, которую легко мыть и&nbsp;дезинфицировать
            +tr.table__row
              +td Приемно-смотровая
              +td 
                ul.list-marked 
                  li Смотровые столы
                  li Медицинские шкафы для инструментов и&nbsp;расходных материалов
                  li Тележки
                  li Стойки для капельниц
                  li Стол и&nbsp;стулья для врача и&nbsp;пациентов
            +tr.table__row
              +td Операционная
              +td 
                ul.list-marked  
                  li Операционный стол с&nbsp;возможностью изменения положения
                  li Специальные бестеневые лампы
                  li Подкатной столик
                  li Медицинские шкафы
                  li Стойки для капельниц
                  li Стерилизатор
                  li Система мониторинга для отслеживания жизненных показателей животных
                  li Раковина
            +tr.table__row
              +td Стационар
              +td Оборудование зависит от&nbsp;вида стационара (дневной, круглосуточный, инфекционный). Понадобится оборудовать место для выгула, обустроить боксы для содержания животных.
            +tr.table__row
              +td Кабинет для хранения препаратов
              +td 
                ul.list-marked  
                  li Фармацевтический холодильник
                  li Сейф для сильнодействующих препаратов
                  li Термогигрометр для контроля температуры и&nbsp;влажности

          p При закупке мебели и&nbsp;оборудования для ветклиники следует отдавать предпочтение прочным материалам, которые хорошо переносят частое мытье и&nbsp;дезинфекцию. Также на&nbsp;все помещения понадобится закупить емкость для отходов, средства для уборки и&nbsp;дезинфекции, бактерицидные лампы.

          h2 Найм и&nbsp;обучение персонала
          p Закупить оборудование еще недостаточно&nbsp;&mdash; на&nbsp;нем должен работать квалифицированный персонал. Даже если ветеринарную клинику открывает практикующий врач, который планирует сам принимать пациентов, ему понадобится вспомогательный персонал. Лучше всего, если в&nbsp;клинике работает несколько врачей, чтобы всегда кто-то мог принять пациента. Минимальный состав для запуска ветклиники следующий:
          ul.list-marked  
            li хирург и&nbsp;терапевт с&nbsp;профильным высшим образованием;
            li два ассистента (для них достаточно среднего специального образования в&nbsp;этой сфере);
            li два администратора;
            li сотрудник, который возьмет на&nbsp;себя поддержание чистоты и&nbsp;дезинфекцию.
          +figure({
            image: {
              name: 'vetklinika-6',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Структура персонала ветклиники',  
            }, 
          })
          p Все сотрудники, которые работают с&nbsp;животными, должны пройти вакцинацию от&nbsp;бешенства. Если по&nbsp;медицинским причинам человеку нельзя делать эту прививку, он&nbsp;не&nbsp;допускается к&nbsp;такой деятельности. Кроме того, весь персонал должен оформить медицинские книжки.

          h2 Маркетинг и&nbsp;привлечение клиентов
          +figure({
            image: {
              name: 'vetklinika-7',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Критерии выбора ветеринарной клиники в Москве и МО, %',  
            }, 
          })
          p Планируя рекламную кампанию, учитывайте сезонность ветеринарного бизнеса. Как правило, больше всего клиентов обращаются в&nbsp;апреле-мае и&nbsp;в&nbsp;августе-сентябре. Следовательно, именно в&nbsp;эти периоды нужно быть готовым к&nbsp;большему потоку пациентов, а&nbsp;также приложить особые усилия к&nbsp;продвижению своих услуг. В&nbsp;то&nbsp;же время, на&nbsp;некоторые услуги спрос сохраняется в&nbsp;течение всего года&nbsp;&mdash; например, на&nbsp;прививки и&nbsp;профилактические мероприятия. 
          +figure({
            image: {
              name: 'vetklinika-8',
              path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Частотность самых популярных запросов можно бесплатно проверить в сервисе Яндекс Вордстат',  
            }, 
          })
          p Чтобы продвижение клиники было успешным, ориентируйтесь на&nbsp;следующие принципы:
          ul.list-marked  
            li
              p Старайтесь выстроить дружеские отношения с&nbsp;клиентами. Если у&nbsp;них сложится хорошее первое впечатление, они обратятся к&nbsp;вам снова не&nbsp;только в&nbsp;экстренном случае, но&nbsp;и&nbsp;для профилактики.
              +figure({
                image: {
                  name: 'vetklinika-9',
                  path: '/images/blog/kak-otkryt-veterinarnuyu-kliniku/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Доброжелательное отношение к питомцам и их хозяевам - залог долгосрочных отношений',  
                }, 
              })
            li В&nbsp;рекламе отдавайте приоритет локальному продвижению. Размещайте объявления в&nbsp;окрестностях, рассказывайте о&nbsp;клинике в&nbsp;местных группах в&nbsp;социальных сетях.
            li Постарайтесь наладить связи с&nbsp;клубами владельцев домашних животных.
            li Индивидуально подходите к&nbsp;каждому клиенту и&nbsp;будьте готовы предложить несколько вариантов действий.
            li Следите за&nbsp;отзывами, которые клиенты оставляют в&nbsp;интернете, и&nbsp;своевременно реагируйте на&nbsp;них. Не&nbsp;ограничивайтесь шаблонными ответами&nbsp;&mdash; отвечайте по&nbsp;делу и&nbsp;исправляйте ошибки, если действительно их&nbsp;совершили.

          h2 Современные технологии в&nbsp;ветеринарии
          p Чтобы предоставлять пациентам качественные услуги, нужно быть в&nbsp;курсе современных технологий. Это касается не&nbsp;только оборудования, которое используется для лечения и&nbsp;диагностики, но&nbsp;и&nbsp;решения организационных вопросов. Вы&nbsp;можете сократить затраты времени на&nbsp;рутинные задачи, если внедрите в&nbsp;клинике систему автоматизированного учета и&nbsp;управления. Решения, которые есть сейчас на&nbsp;рынке, могут выполнять следующие функции:
          ul.list-marked  
            li отслеживать количество медикаментов и&nbsp;других расходных материалов, чтобы сократить издержки на&nbsp;их&nbsp;хранение;
            li равномерно распределять загрузку врачей, чтобы сотрудникам было комфортно работать, а&nbsp;пациентам не&nbsp;приходилось долго ждать;
            li предоставлять клиентам удобный интерфейс для записи на&nbsp;прием;
            li поддерживать контакт с&nbsp;клиентами и&nbsp;повышать количество повторных визитов.
          p Затраты на&nbsp;подобное программное обеспечение вполне оправданы, поскольку оно, в&nbsp;конечном итоге, улучшает то&nbsp;впечатление, которое создается у&nbsp;пациентов о&nbsp;клинике.

          h2 Этика и&nbsp;устойчивое развитие
          p Вы&nbsp;можете повысить репутацию клиники и&nbsp;одновременно привлечь новых клиентов, сотрудничая с&nbsp;волонтерскими организациями. Это могут быть, например, приюты, которые обращаются за&nbsp;лечением содержащихся в&nbsp;них питомцев, или волонтеры, подбирающие беспризорных животных. Ветклиники работают с&nbsp;ними не&nbsp;даром: они оплачивают услуги по&nbsp;обычному прейскуранту, но&nbsp;не&nbsp;сразу, а&nbsp;по&nbsp;мере того, как удается собрать необходимую сумму пожертвований.
          p Таким образом, ветеринарная клиника получает постоянный поток клиентов, однако иногда приходится работать в&nbsp;долг. В&nbsp;то&nbsp;же время, посты о&nbsp;помощи волонтерам и&nbsp;пристройстве животных из&nbsp;приюта помогают создать позитивное впечатление о&nbsp;медучреждении.

          h2 Этические стандарты
          p Важно, чтобы все врачи, работающие в&nbsp;клинике, соблюдали современные этические стандарты. В&nbsp;приоритете для них должно быть благополучие животных. Известны случаи, когда врачам приходится отказывать клиенту в&nbsp;услуге. Например, если недобросовестный владелец приносит питомца с&nbsp;просьбой усыпить, врач может отказать и&nbsp;заняться поиском нового владельца. Иногда животных приходится некоторое время держать при клинике, пока для них не&nbsp;найдется хозяин, и&nbsp;такой сценарий тоже лучше предусмотреть заранее. Если вы&nbsp;не&nbsp;работаете с&nbsp;экзотическими домашними питомцами, заранее найдите контакты специалиста, к&nbsp;которому сможете направлять таких клиентов.

          h2 Вопросы и&nbsp;ответы
          - 
            const faq = [
              {
                title: 'Какие существуют тренды в&nbsp;ветеринарной медицине?',
                text: [
                  { tag:'p', content: 'Появляется новое оборудование, которое позволяет точнее диагностировать заболевания и&nbsp;контролировать состояния животного. Разрабатываются более щадящие, малоинвазивные операции. Большее значение приобретает качественное обезболивание.' },
                ],
              },
              {
                title: 'Какие инновационные методы лечения можно внедрить в&nbsp;практику?',
                text: [
                  { tag:'p', content: 'В&nbsp;зависимости от&nbsp;направления работы клиники можно закупить новое диагностическое оборудование. Врачи должны следить за&nbsp;медицинской литературой, чтобы быть в&nbsp;курсе появления в&nbsp;практике новых препаратов. ' },
                ],
              },
              {
                title: 'Какие страховые программы для животных могут быть предложены?',
                text: [
                  { tag:'p', content: 'Страховые программы для животных могут покрывать различный объем услуг: от&nbsp;общих консультаций по&nbsp;содержанию и&nbsp;питанию до&nbsp;лечения заболеваний.' },
                ],
              },
              {
                title: 'Какие правовые изменения в&nbsp;отрасли ожидаются в&nbsp;ближайшем будущем?',
                text: [
                  { tag:'p', content: 'Одна из&nbsp;самых сложных областей ветеринарной медицины&nbsp;&mdash; законодательство, регулирующее использование сильнодействующих обезболивающих препаратов. Оно время от&nbsp;времени меняется, поэтому при открытии клиники полезно проконсультироваться с&nbsp;юристом.' },
                ],
              },
              {
                title: 'Какие программы лояльности для клиентов наиболее эффективны?',
                text: [
                  { tag:'p', content: 'Развитию бизнеса будут способствовать программы лояльности, которые позволят клиенту почувствовать заботу. Предлагайте скидку на&nbsp;дополнительные услуги, напоминайте о&nbsp;профилактических процедурах и&nbsp;демонстрируйте человечное отношение к&nbsp;питомцу.' },
                ],
              },
              {
                title: 'Какие способы повышения квалификации ветеринаров существуют?',
                text: [
                  { tag:'p', content: 'Врачи, которые работают с&nbsp;домашними питомцами, должны регулярно повышать квалификацию на&nbsp;дополнительных курсах, чтобы быть в&nbsp;курсе современных трендов в&nbsp;практике лечения животных.' },
                ],
              },
              {
                title: 'Какие меры предпринимаются для обеспечения безопасности пациентов и&nbsp;персонала?',
                text: [
                  { tag:'p', content: 'Все помещения клиники должны соответствовать описанным в&nbsp;статье стандартам и&nbsp;регулярно проходить уборку и&nbsp;дезинфекцию.' },
                ],
              },
            ]

          .home-process.home-process--faq
            ul.home-process__list
              each item in faq
                li.home-process__item
                  +textMarked({ 'size--xm': true }).home-process__title !{item.title}
                    svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                        animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                        animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
                  .home-process__body
                    +createElement(item.text)

          h2 Чек-лист открытия
          p Чтобы открыть ветклинику, понадобится:
          ol.list-numbered 
            li Выбрать организационную форму, систему налогообложения и&nbsp;зарегистрировать бизнес.
            li Выбрать помещение и&nbsp;привести его в&nbsp;соответствие с&nbsp;нормативами. (стоимость аренды зависит от&nbsp;региона, на&nbsp;ремонт может уйти до&nbsp;1&nbsp;млн рублей; в&nbsp;дальнейшем коммунальные платежи около 10&nbsp;тысяч рублей ежемесячно).
            li Закупить оборудование. (стоимость зависит от&nbsp;профиля клиники, минимум 500 тысяч рублей).
            li Обустроить кабинеты для приема пациентов.
            li Закупить препараты (около 200 тысяч рублей ежемесячно).
            li Нанять персонал (зарплаты обойдутся в&nbsp;200-300 тысяч ежемесячно)
            li Заключить договоры на&nbsp;обслуживание (дезинфекцию, дератизацию, вывоз отходов различных категорий).
            li Получить необходимые разрешения.
            li Оплатить пошлину (7500&nbsp;р.) в&nbsp;Россельхознадзоре и&nbsp;получить лицензию на&nbsp;ветеринарную деятельность.
            li Спланировать и&nbsp;реализовать кампанию по&nbsp;продвижению клиники (включая создание сайта) (от&nbsp;200 тысяч рублей).


          -
            const banner2 = {
              header: 'У вас есть проект? Давайте обсудим!<br>Комплексный медицинский маркетинг',
              text: {tag: 'div', className: 'grid', content:[
                
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'SEO'},
                    {tag: 'li', content: 'Контекстная реклама'},
                    {tag: 'li', content: 'SMM'},
                  ],
                }},
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'Аудиты'},
                    {tag: 'li', content: 'Личная консультация'},
                  ],
                }},
              ]},
              button: 'Отправить заявку',
            }
          +banner(banner2)
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: '/images/staff-vitaliy.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
