extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/icon-block/icon-block
include /blocks/case/case
include /blocks/portfolio-promotion-item/portfolio-promotion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 5 кейсов по продвижению в стоматологии - бесплатные лиды, увеличение звонков в 2,5 раза и сокращение расходов на рекламу
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          
          p В мире, где цифровое присутствие становится жизненно важным для успеха бизнеса, стоматологические клиники испытывают необходимость адаптации к новым реалиям. 
          p В статье рассказываем о трансформации, которую прошли 5 наших клиентов — стоматологических клиник, стремясь увеличить поток пациентов через интернет, повысить прибыль и укрепить бренд: от тщательной поисковой оптимизации до мастерства в управлении репутацией в социальных сетях. 
          p Здесь представлены реальные кейсы по стоматологии и результаты, которые вдохновят и предоставят ценные данные для любого, кто ищет рост в сфере цифрового маркетинга.

          h2 Кейс: реклама стоматологии с результатом около 600 обращений в месяц
          p #[strong Каналы продвижения]: SEO, Яндекс.Директ, Google.Adwords, Соц. сети #[br] #[strong Гео]: Санкт-Петербург
          
          h3.no-content  О&nbsp;проекте
          p Проект стал первым в&nbsp;нашем портфолио в&nbsp;сфере стоматологии. В&nbsp;течение 7&nbsp;лет сотрудничества с&nbsp;клиентом выполнили огромный объем работ, протестировали различные гипотезы и&nbsp;успешно задействовали большинство из&nbsp;возможных каналов интернет-рекламы. Благодаря этому сеть филиалов выросла с&nbsp;2&nbsp;до&nbsp;5, и&nbsp;вошла в&nbsp;топ-5 лучших частных клиник Санкт-Петербурга.
          p В&nbsp;процессе работы над проектом выявили, что среднее время ожидания на&nbsp;линии составляло более 2&nbsp;минут, и&nbsp;около&nbsp;8% звонков были потеряны. После внимательного анализа и&nbsp;настройки телефонии процент потерянных звонков снизился в&nbsp;3&nbsp;раза.
          p На&nbsp;старте работы сайт функционировал на&nbsp;устаревшей системе управления, с&nbsp;проблемами в&nbsp;безопасности. Наша команда провела технический аудит, обновила систему управления и&nbsp;настроила систему защиты. Переработали интерфейс и&nbsp;дизайн сайта, что сделало его более удобным и&nbsp;привлекательным.

          h3.no-content  Задача
          p Поставили задачу&nbsp;&mdash; увеличить количество обращений, приходящих из&nbsp;интернета, повысить прибыль клиник и&nbsp;усилить узнаваемость бренда в&nbsp;сфере стоматологии.

          h3.no-content  Решение
          p Для достижения поставленных задач предприняли следующие шаги:
          ul.list-marked 
            li Запустили поисковую оптимизацию сайта&nbsp;&mdash; ключевой этап в&nbsp;продвижении стоматологии.
            li Создали рекламные кампании в&nbsp;системах Яндекс.Директ и&nbsp;Google.Adwords&nbsp;&mdash; получили лиды для стоматологии.
            li Провели юзабилити-аудит&nbsp;&mdash; внедрили улучшения в&nbsp;интерфейс сайта.
            li Организовали мероприятия по&nbsp;управлению репутацией в&nbsp;социальных медиа и&nbsp;ведению групп в&nbsp;соцсетях (реализовали кейс для стоматологии ВКонтакте и&nbsp;Facebook).

          h3.no-content  Результаты
          ul.list-marked 
            li Целевая посещаемость увеличилась в&nbsp;6&nbsp;раз, достигнув отметки в&nbsp;22&nbsp;115 посетителей в&nbsp;месяц.
            li Количество звонков пациентов из&nbsp;интернета возросло в&nbsp;1,71&nbsp;раза, достигая более 580 звонков в&nbsp;месяц.
            li Конверсия в&nbsp;лид улучшилась до&nbsp;8,3% (в&nbsp;том числе через лид-магниты для стоматологии).
          -
            let results1 = [
              {title: '×6', desc: 'увеличение <br> целевой посещаемости'},
              {title: '×1,71', desc: 'увеличение <br> звонков пациентов'},
              {title: '8,3%', desc: 'конверсия <br> в лид'},
            ]
          +caseResultsList(results1).text-align-center

          h3.no-content Подробнее
          .page-section.portfolio-list
            -
              const works1 = [
                {
                  mod: 'stomatology-center',
                  href: 'set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
                  title: 'Достижение 600 обращений пациентов из интернета в месяц',
                  name: 'Сеть клиник «Стоматологический центр города»',
                  category: 'Медицина и здоровье',
                  logo: 'logo-stomatology-center.svg',
                  chart: 'chart-stomatology-center', 
                },
              ]
            each item in works1
              +portfolioPromotionItem(item).portfolio-list__col-m-9

          h2 Кейс: увеличение количества звонков в&nbsp;2,5 раза
          p #[strong Каналы продвижения] : SEO, Яндекс.Директ, Соц. сети #[br] #[strong Гео]: Санкт-Петербург

          h3.no-content О&nbsp;проекте
          p Сеть стоматологических клиник &laquo;Стомадеус&raquo; обратилась к&nbsp;нам по&nbsp;рекомендации другого клиента. Несмотря на&nbsp;длительную работу клиники на&nbsp;рынке, должного внимания интернет-маркетингу не&nbsp;уделяли. В&nbsp;результате, из-за конкуренции, поток первичных пациентов снизился. Наша команда провела анализ текущего состояния интернет-маркетинга и&nbsp;разработала стратегию продвижения.
          p В&nbsp;рамках кейса по&nbsp;продвижению стоматологии, основное внимание уделили контекстной рекламе и&nbsp;оптимизации сайта. Примеры успешных рекламных кампаний в&nbsp;Яндекс.Директ и&nbsp;таргетированной рекламе в&nbsp;социальных сетях (когда практиковали кейс для стоматологии по&nbsp;таргету в&nbsp;ВК и&nbsp;ФБ) показали, что правильный маркетинг привлекает значительное количество новых пациентов и&nbsp;увеличивает прибыль.

          h3.no-content Задача
          p Цель стоматологической клиники &laquo;Стомадеус&raquo;&nbsp;&mdash; увеличение количества пациентов, приходящих из&nbsp;интернета, повышение прибыли и&nbsp;узнаваемости бренда.

          h3.no-content Решение
          p Для достижения поставленных задач предприняли следующие шаги:
          ul.list-marked 
            li Оптимизация всех страниц для поисковых систем;
            li Обновление сайта;
            li Создание эффективных рекламных кампаний в&nbsp;системе Яндекс.Директ;
            li Управление репутацией в&nbsp;социальных медиа (кейс для стоматологии в&nbsp;ВК и&nbsp;на&nbsp;ФБ).

          h3.no-content Результаты
          ul.list-marked 
            li Целевая посещаемость увеличилась в&nbsp;3&nbsp;раза: с&nbsp;2400 до&nbsp;7200 посетителей в&nbsp;месяц;
            li Количество звонков из&nbsp;интернета возросло в&nbsp;2,5&nbsp;раза: с&nbsp;20&nbsp;до&nbsp;50;
            li Записи на&nbsp;прием с&nbsp;сайта увеличились в&nbsp;2,7&nbsp;раза.
          -
            let results2 = [
              {title: '×3', desc: 'увеличение <br> целевой посещаемости'},
              {title: '×2,5', desc: 'увеличение <br> звонков из интернета'},
              {title: '2,7', desc: 'увеличение <br> записи на прием с сайта'},
            ]
          +caseResultsList(results2).text-align-center

          h3.no-content Подробнее
          .page-section.portfolio-list
            -
              const works2 = [
                {
                  mod: 'stomadeus',
                  href: 'set-stomatologicheskiy-klinik-stomadeus',
                  title: 'Увеличение количества звонков пациентов из интернета в 2,5 раза',
                  name: 'Сеть стоматологических клиник «Стомадеус»',
                  category: 'Медицина и здоровье',
                  logo: 'logo-stomadeus.svg',
                  chart: 'chart-stomadeus', 
                },
              ]
            each item in works2
              +portfolioPromotionItem(item).portfolio-list__col-m-9

          h2 Кейс: реклама стоматологии в&nbsp;директ + оптимизация&nbsp;&mdash; увеличение количества первичных записей до&nbsp;140&nbsp;в месяц
          p #[strong Каналы продвижения]: SEO, Яндекс.Директ #[br] #[strong Гео]: Санкт-Петербург

          h3.no-content О&nbsp;проекте
          p Проект начался с&nbsp;выполнения бесплатного экспресс-аудита сайта, в&nbsp;ходе которого выявили различные ошибки и&nbsp;проблемы. После углубленного аудита составили календарный план работ по&nbsp;оптимизации. В&nbsp;рамках оптимизации провели работу над структурой и&nbsp;контентом страниц. Особое внимание уделили продвижению услуг, связанных с&nbsp;компьютерной томографией зубов, протезированием и&nbsp;имплантацией. Запустили контекстную рекламу, нацеленную на&nbsp;локальное привлечение пациентов.
          p Мероприятия значительно увеличили &laquo;Вайтдент&raquo; клиентскую базу и&nbsp;доходы, подтверждая эффективность нашего подхода к&nbsp;продвижению в&nbsp;сфере стоматологии.

          h3.no-content Задача
          p В&nbsp;июле 2014 года клиника эстетической стоматологии &laquo;Вайтдент&raquo; обратилась к&nbsp;нам с&nbsp;просьбой о&nbsp;продвижении их&nbsp;сайта в&nbsp;поисковых системах Яндекс и&nbsp;Google. Основные цели были:
          ul.list-marked 
            li Увеличение количества пациентов, приходящих из&nbsp;интернета по&nbsp;каналу SEO;
            li Привлечение пациентов на&nbsp;услуги компьютерной томографии зубов;
            li Увеличение дохода.

          h3.no-content Решение
          p Для достижения поставленных задач&nbsp;мы:
          ul.list-marked 
            li Выполнили поисковую оптимизацию;
            li Провели мероприятия по&nbsp;управлению репутацией;
            li Запустили эффективные рекламные кампании в&nbsp;системе Яндекс.Директ, ориентированные на&nbsp;привлечение целевых пациентов.

          h3.no-content Результаты
          p Благодаря нашим усилиям:
          ul.list-marked 
            li Количество звонков из&nbsp;интернета увеличилось в&nbsp;1,5&nbsp;раза;
            li Целевая посещаемость выросла в&nbsp;4&nbsp;раза, достигая отметки в&nbsp;1400 посетителей в&nbsp;месяц.
          -
            let results3 = [
              {title: '×1,5', desc: 'увеличение <br> звонков из интернета'},
              {title: '×4', desc: 'увеличение <br> целевой посещаемости'},
            ]
          +caseResultsList(results3).text-align-center

          h3.no-content Подробнее
          .page-section.portfolio-list
            -
              const works3 = [
                {
                  mod: 'whitedent',
                  href: 'klinika-esteticheskoy-stomatologii-vaytdent',
                  title: 'Увеличение количества первичных записей пациентов из Интернет до 140 в месяц',
                  name: 'Стоматологическая клиника «ВайтДент»',
                  category: 'Медицина и здоровье',
                  logo: 'logo-whitedent.webp',
                  chart: 'chart-whitedent', 
                },
              ]
            each item in works3
              +portfolioPromotionItem(item).portfolio-list__col-m-9

          h2 Кейс: сокращение расходов на&nbsp;рекламу и&nbsp;привлечение пациентов для стоматологического центра
          p #[strong Каналы продвижения]: Яндекс.Директ, Соц. сети #[br] #[strong Гео]: Москва

          h3.no-content О&nbsp;проекте
          p К&nbsp;нам обратилась стоматологическая клиника с&nbsp;высокотехнологичным диагностическим и&nbsp;стоматологическим оборудованием, работающая по&nbsp;концепции цифровой стоматологии. Клиника расположена в&nbsp;одной из&nbsp;башен Москва-Сити. 
          p Учитывая расположение клиники и&nbsp;целевую аудиторию, разработали коммуникативную стратегию, направленную на&nbsp;интересы данной аудитории. Для воздействия на&nbsp;целевую аудиторию выбрали контекстную рекламу, управление репутацией и&nbsp;маркетинг в&nbsp;социальных сетях.

          h3.no-content Задача
          p В&nbsp;условиях, когда продвижение откладывается на&nbsp;неопределенный срок, стояла задача быстрого привлечения пациентов. Также необходимо было продвигать бренд, повышать лояльность и&nbsp;формировать устойчивый положительный имидж в&nbsp;интернете.

          h3.no-content Решение
          p Для достижения поставленных задач запустили кампании контекстной рекламы, выполнили работы по&nbsp;управлению репутацией и&nbsp;начали работы с&nbsp;группами в&nbsp;социальных сетях&nbsp;FB и&nbsp;ВКонтакте (реализовали кейс по&nbsp;таргету для стоматологии).

          h3.no-content Результаты
          p Вытеснили негатив из&nbsp;результатов поиска, сформировали положительные результаты по&nbsp;100% &laquo;репутационных&raquo; запросов. Показатель кликабельности объявлений достиг более&nbsp;24%, цена клика снизилась в&nbsp;4&nbsp;раза, а&nbsp;глубина просмотра увеличилась в&nbsp;3&nbsp;раза. За&nbsp;10&nbsp;дней в&nbsp;группу было привлечено более 100&nbsp;участников.
          -
            let results4 = [
              {title: '>24%', desc: 'показатель <br> кликабельности объявлений'},
              {title: '×4', desc: 'снижение <br> цены клика'},
              {title: '×3', desc: 'увеличение <br> глубины просмотра'},
            ]
          +caseResultsList(results4).text-align-center
          
          h3.no-content Подробнее
          .page-section.portfolio-list
            -
              const works4 = [
                {
                  mod: 'dhcentre',
                  href: 'stomatologicheskiy-centr-dhc',
                  title: 'Реализация эффективной рекламной стратегии в короткие сроки',
                  name: 'Стоматологический центр DHC',
                  category: 'Медицина и здоровье',
                  logo: 'logo-dhc.webp',
                  chart: 'chart-medall-hair', 
                },
              ]
            each item in works4
              +portfolioPromotionItem(item).portfolio-list__col-m-9

          h2 Кейс: привлечение 43&nbsp;конверсий из&nbsp;контекстной рекламы в&nbsp;низкий сезон
          p #[strong Каналы продвижения]: Яндекс.Директ #[br] #[strong Гео]: Санкт-Петербург

          h3.no-content О&nbsp;проекте
          p Клиент, представляющий сеть стоматологических клиник, обратился за&nbsp;оптимизацией рабочего процесса в&nbsp;летний период. Наша команда профессионалов в&nbsp;области маркетинга разработала стратегию продвижения, включая контекстную рекламу и&nbsp;создание посадочных страниц для ключевых услуг. Этот кейс стал примером успешного продвижения стоматологической клиники в&nbsp;условиях высокой конкуренции.

          h3.no-content Задача
          p Сеть стоматологических клиник столкнулась с&nbsp;проблемой недостаточной загрузки врачей в&nbsp;летний период низкого спроса. Основная задача заключалась в&nbsp;быстром привлечении пациентов, чтобы оптимизировать работу клиники.

          h3.no-content Решение&nbsp;&mdash; кейс по&nbsp;рекламе в&nbsp;Яндекс.Директ по&nbsp;стоматологии
          p Для решения задачи предложили запустить кампанию контекстной рекламы в&nbsp;Яндекс.Директ. После анализа конкурентов и&nbsp;оценки бюджета, решили продвигать 3&nbsp;ключевые услуги: терапия, удаление зубов и&nbsp;имплантация. Для каждой услуги разработали отдельные посадочные страницы, акцентируя внимание на&nbsp;акциях, этапах услуг, блоке врачей, показаниях к&nbsp;услуге и&nbsp;отзывах пациентов.

          h3.no-content Результаты
          p Рекламное продвижение дало следующие результаты:
          ul.list-marked 
            li Общее количество показов составило 123&nbsp;782.
            li Количество кликов&nbsp;&mdash; 968.
            li Общий расход составил 33&nbsp;333 рублей без НДС.
            li Средняя цена клика&nbsp;&mdash; 34&nbsp;рубля.
            li Всего совершено 43&nbsp;конверсии по&nbsp;цене 775 рублей (без НДС).
            li 29&nbsp;кликов совершено по&nbsp;номеру телефона, и&nbsp;14&nbsp;переходов в&nbsp;мессенджер.
          -
            let results5 = [
              {title: '968', desc: 'Количество кликов'},
              {title: '33 333 ₽', desc: 'Общий расход'},
              {title: '34 ₽', desc: 'Средняя цена клика'},
            ]
          +caseResultsList(results5).text-align-center

          h3.no-content Подробнее
          .page-section.portfolio-list
            -
              const works5 = [
                {
                mod: '33zub',
                href: 'stomatologicheskaya-klininka-33zub',
                title: 'Привлечение 43 конверсий для сети стоматологических клиник в низкий сезон',
                name: 'Стоматологические клиники 33zub',
                category: 'Медицина и здоровье',
                logo: 'logo-33zub.png',
                chart: 'chart-stomadeus', 
              },
              ]
            each item in works5
              +portfolioPromotionItem(item).portfolio-list__col-m-9

          h2 Выводы
          p Цифровой маркетинг открывает новые горизонты для стоматологических клиник. Успешные кейсы подтверждают, что SEO, контекстная реклама и&nbsp;управление репутацией в&nbsp;соцсетях значительно увеличивают поток пациентов и&nbsp;прибыль.
          p Ключ к&nbsp;успеху&nbsp;&mdash; комплексный подход. Интеграция различных инструментов онлайн-маркетинга дает впечатляющие результаты, повышая узнаваемость бренда и&nbsp;лояльность клиентов.
          p Эта статья служит напоминанием о&nbsp;том, что в&nbsp;эпоху цифровизации необходимо быть на&nbsp;шаг впереди, постоянно адаптируясь к&nbsp;меняющимся трендам и&nbsp;инновациям в&nbsp;маркетинге.


          -
            const banner2 = {
              header: 'У вас есть проект? Давайте обсудим!<br>Комплексный медицинский маркетинг',
              text: {tag: 'div', className: 'grid', content:[
                
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'SEO'},
                    {tag: 'li', content: 'Контекстная реклама'},
                    {tag: 'li', content: 'SMM'},
                  ],
                }},
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'Аудиты'},
                    {tag: 'li', content: 'Личная консультация'},
                  ],
                }},
              ]},
              button: 'Отправить заявку',
            }
          +banner(banner2)
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: '/images/staff-vitaliy.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
