extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/icon-block/icon-block
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 Контекстная реклама для стоматологии
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Чтобы обеспечивать стабильный поток новых клиентов и&nbsp;успешно развивать бизнес в&nbsp;сфере медицинских услуг, необходимо использовать различные виды продвижения, и&nbsp;контекстная реклама для стоматологии имеет первостепенное значение. Это гибкий инструмент, который можно адаптировать к&nbsp;меняющимся условиям рынка, и&nbsp;она дает эффект уже на&nbsp;короткой временной дистанции.
          +figure({
            image: {
              name: 'kontekstnaya-1',
              path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            }, 
          })

          h2 Нужна&nbsp;ли стоматологии контекстная реклама?
          p Контекстная реклама для стоматологии требует постоянных вложений средств, поэтому, прежде чем запускать кампанию, полезно проанализировать, какую пользу она может принести в&nbsp;вашем конкретном случае, и&nbsp;определить рекламную стратегию. По&nbsp;сравнению с&nbsp;другими видами продвижения этот подход для стоматологии имеет сразу несколько преимуществ:
          ul.list-marked 
            li Быстрый результат. Подготовка кампании к&nbsp;запуску займет около двух недель, а&nbsp;эффект вы&nbsp;заметите сразу&nbsp;же: звонков от&nbsp;клиентов станет больше уже в&nbsp;первые дни.
            li Прозрачность и&nbsp;эффективная аналитика. Вы&nbsp;контролируете расходы на&nbsp;рекламу, а&nbsp;значит, всегда видите, какой канал лучше окупается, и&nbsp;может корректировать рекламные бюджеты. Аналитика позволяет установить, сколько стоит каждый новый клиент, который приходит в&nbsp;клинику, и&nbsp;сопоставить эту сумму с&nbsp;доходом, который он&nbsp;приносит.
            li Охват аудитории. Вы&nbsp;можете таргетировать объявления именно на&nbsp;ту&nbsp;аудиторию, которая заинтересована в&nbsp;ваших услугах.
            li Повышение узнаваемости бренда. Даже если пользователь не&nbsp;переходит по&nbsp;вашему объявлению прямо сейчас, он&nbsp;получает информацию о&nbsp;вашей клинике, и&nbsp;это повышает вероятность того, что он&nbsp;выберет ваши услуги в&nbsp;будущем.
          p Существует несколько показателей, которые определяют эффективность контекстной рекламы. Еще до&nbsp;начала кампании нужно поставить задачи и&nbsp;определить целевые показатели, чтобы затем отслеживать их&nbsp;в&nbsp;динамике и&nbsp;вносить коррективы в&nbsp;случае необходимости.

          h2 Планирование рекламной кампании
          p Успех кампании стоматологической клиники зависит от&nbsp;того, насколько качественно была проделана подготовительная работа. Специалист по&nbsp;контекстной рекламе тщательно соберет информацию, проанализирует особенности конкретной ниши, изучит аудиторию и&nbsp;только после этого будет разрабатывать стратегию.
          p Вот несколько советов, которые помогут спланировать эффективную кампанию.

          h3.no-content Бюджетирование и&nbsp;расчет стоимости лида
          p #[strong Определите бюджет и&nbsp;целевые показатели.] Стоматологические услуги&nbsp;&mdash; высококонкурентная сфера, поэтому нужно быть готовым, что и&nbsp;реклама окажется недешевой, в&nbsp;особенности, если ваша клиника находится в&nbsp;крупном городе. Стоимость клика может составлять 30-50 рублей и&nbsp;выше. Чтобы оценить затраты, можно использовать инструмент &laquo;Прогноз бюджета&raquo; в&nbsp;Яндекс.Директе. Укажите в&nbsp;нем регион, в&nbsp;котором будет показываться объявление, период времени, устройства и&nbsp;ключевые фразы. Система рассчитает ожидаемое количество запросов и&nbsp;показов, а&nbsp;также суммарный бюджет рекламной кампании.
          +figure({
            image: {
              name: 'kontekstnaya-2',
              path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Пример прогноза бюджета для нашего клиента - клиники <a href="/portfolio/marketing/stomatologicheskaya-klininka-33zub">33й зуб</a>',  
            }, 
          })
          p Заранее спланируйте бюджет, просчитайте стоимость лида и&nbsp;установите целевые показатели, такие как количество переходов. При расчете бюджета понадобится учесть местоположение, сезонность спроса, количество пациентов, которые вы&nbsp;готовы принять в&nbsp;месяц.
          p #[strong Определите целевую аудиторию с&nbsp;учетом особенностей ваших услуг.] Реклама будет отличаться в&nbsp;зависимости от&nbsp;того, является&nbsp;ли ваша клиника бюджетной стоматологией или предоставляет услуги класса люкс. Некоторые услуги, такие как имплантация, выбирают после долгого планирования, а&nbsp;другие, например, срочное лечение зубов&nbsp;&mdash; по&nbsp;доступности и&nbsp;географической близости. Все это будет влиять на&nbsp;тексты объявлений и&nbsp;их&nbsp;таргетирование. Сегментируйте аудиторию и&nbsp;таргетируйте рекламу для каждой услуги отдельно.
          p #[strong Выстраивайте рекламную стратегию с&nbsp;учетом специфики бизнеса стоматологической клиники.] Например, известно, что клиенты стоматологии чаще предпочитают звонить, чем оставлять заявки. Поэтому стоит либо показывать объявления только в&nbsp;рабочее время, либо добавьте на&nbsp;сайт возможность сделать отложенный звонок. Вкладывайте больше средств в&nbsp;продвижение самых прибыльных стоматологических услуг. 
          +figure({
            image: {
              name: 'kontekstnaya-3',
              path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Доля звонков по часам от сервиса коллтрекинга Calltouch',  
            }, 
          })

          h3.no-content Оптимизация сайта и&nbsp;посадочных страниц
          p #[strong Подберите ключевые запросы и&nbsp;определите семантическое ядро.] Используйте разные комбинации с&nbsp;названиями услуг, цены (например &laquo;бюджетная стоматология&raquo;), местоположения. Проверяйте, что именно ищут пользователи по&nbsp;конкретным запросам и&nbsp;уточняйте их&nbsp;список. Анализируйте статистику по&nbsp;запросам каждую неделю и&nbsp;корректируйте список минус-слов при необходимости.
          p #[strong Доработайте сайт.] Контекстная реклама для стоматологии не&nbsp;станет эффективной, если сайтом, на&nbsp;который она приводит, неудобно пользоваться. Убедитесь, что с&nbsp;любой страницы клиент может перейти в&nbsp;форму записи или оставить заявку на&nbsp;обратный звонок. Заполняйте сайт детальной информацией о&nbsp;ваших услугах и&nbsp;поддерживайте ее&nbsp;актуальность. Позаботьтесь о&nbsp;том, чтобы сайт быстро загружался и&nbsp;корректно отображался и&nbsp;на&nbsp;ПК, и&nbsp;на&nbsp;мобильных устройствах. Всё больше пользователей просматривают сайты со&nbsp;смартфонов, а&nbsp;значит, нужно сделать подачу информации удобной для них.
          p #[strong Не&nbsp;забывайте про призывы к&nbsp;действию.] Кнопка для записи на&nbsp;прием всегда должна быть у&nbsp;посетителя в&nbsp;поле зрения. Предлагайте разные варианты записи: звонок по&nbsp;телефону, заказ обратного звонка, запись через мессенджер или форму на&nbsp;сайте. Убедитесь, что каждый из&nbsp;них действительно работает и&nbsp;удобен в&nbsp;использовании.

          h3.no-content Аналитика и&nbsp;корректировка кампании
          p #[strong Отслеживайте эффективность.] В&nbsp;течение всей кампании следите за&nbsp;показателями. Важны количество конверсий и&nbsp;ROI. ROI расшифровывается как Return of&nbsp;Investment, или коэффициент окупаемости. Он&nbsp;показывает, окупаются&nbsp;ли вложенные средства. Он&nbsp;рассчитывается как отношение прибыли, полученной от&nbsp;клиента, к&nbsp;затратам на&nbsp;его привлечение. Они позволяют понять, насколько эффективно расходуются средства и&nbsp;приносят&nbsp;ли они нужную отдачу.
          +grid.page-subsection
            +grid__item({ m:9, xs:12 })
              +figure({
                image: {
                  name: 'kontekstnaya-4',
                  path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Увеличение конверсии в целевое действие на сайте в 4 раза стоматологической клиники «Стомадеус». <a href="/portfolio/marketing/set-stomatologicheskiy-klinik-stomadeus">Подробнее</a>',  
                }, 
              })
          +figure({
            image: {
              name: 'kontekstnaya-5',
              path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Формула расчета ROI',  
            }, 
          }).page-subsection
          
          p Кроме того, эффективность рекламной кампании можно оценивать по&nbsp;следующим показателям:
          ul.list-marked 
            li 
              p CTR (click-through rate, коэффициент кликабельности)&nbsp;&mdash; отношение количества кликов к&nbsp;количеству показов. Он&nbsp;позволяет понять, какие объявления и&nbsp;каналы привлекают больше всего посетителей, то&nbsp;есть какая доля пользователей, увидевших объявление, в&nbsp;итоге кликнет по&nbsp;нему.
              +figure({
                image: {
                  name: 'kontekstnaya-6',
                  path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Формула расчета CTR',  
                }, 
              })
            li 
              p СРА (Cost Per Action, стоимость целевого действия)&mdash; отношение расходов на&nbsp;рекламу к&nbsp;количеству целевых действий (таких как переход на&nbsp;сайт, подписка на&nbsp;рассылку, запись на&nbsp;прием в&nbsp;клинику). Таким образом, вы&nbsp;узнаете, в&nbsp;какую сумму обходится целевое действие потенциального клиента.
              +figure({
                image: {
                  name: 'kontekstnaya-7',
                  path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Формула расчета CPA',  
                }, 
              })
            li 
              p СРО (Cost Per Order, стоимость привлечения одной продажи)&nbsp;&mdash; отношение расходов на&nbsp;рекламу к&nbsp;количеству подтвержденных заказов. Принцип расчетов такой&nbsp;же, как у&nbsp;предыдущего показателя, но&nbsp;в&nbsp;качестве целевого действия учитывается именно покупка/заявка.
              +figure({
                image: {
                  name: 'kontekstnaya-8',
                  path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Формула расчета CPO',  
                }, 
              }).page-subsection
              
              .page-subsection
                +table({ colored:true })
                  +tr.table__row
                    +th Название компании
                    +th Стоимость лида
                  +tr.table__row
                    +td Основная стоматология
                    +td 2 160 ₽
                  +tr.table__row
                    +td Протезирование
                    +td 2 518 ₽
                  +tr.table__row
                    +td Пародонтология
                    +td 1 520 ₽
                  +tr.table__row
                    +td Хирургия
                    +td 1 087 ₽ 
                  +tr.table__row
                    +td Имплантация
                    +td 2 849 ₽       
                  +tr.table__row
                    +td Терапия
                    +td 1 212 ₽
                  +tr.table__row
                    +td Брекеты
                    +td 1 051 ₽
              
              .block-marked.page-subsection Средняя стоимость лида в&nbsp;стоматологии в&nbsp;регионах 2000&nbsp;₽, в&nbsp;#[span(style='white-space: nowrap;') Санкт-Петербурге] ~3000 ₽, в&nbsp;столице ~4000 ₽

          p #[strong Регулярно вносите корректировки.] Контекстная реклама дает быстрый эффект, поэтому и&nbsp;корректировать ее&nbsp;нужно часто. Проверять ключевые запросы стоит еженедельно, чтобы отслеживать, какие из&nbsp;них не&nbsp;приносят нужного трафика и&nbsp;добавлять минус-слова. Оценивать, насколько хорошо делает рекламная стратегия в&nbsp;целом&nbsp;&mdash; ежемесячно, используя описанные выше показатели. Если у&nbsp;вас есть несколько вариантов объявления или посадочной страницы, используйте А/Б тестирование, чтобы оценить, какой из&nbsp;них дает лучший результат.

          h2 Какими должны быть эффективные объявления
          p Успех кампании зависит от&nbsp;того, насколько продуман текст объявлений. Он&nbsp;должен учитывать специфику стоматологического бизнеса и&nbsp;того, как люди выбирают услуги в&nbsp;этой сфере.
          p Упоминание специальных предложений и&nbsp;акций помогает привести новых клиентов, но&nbsp;только в&nbsp;том случае, если цена при этом действительно выгодна для пользователя. Важно, чтобы креатив не&nbsp;только привлекал внимание, но&nbsp;и&nbsp;содержал всю необходимую информацию&nbsp;&mdash; период действия скидки, ее&nbsp;размер, выгоду для пользователя. Нужно, чтобы клиент не&nbsp;только перешел по&nbsp;ссылке, но&nbsp;и&nbsp;воспользовался услугами клиники. Поэтому неточная информация в&nbsp;объявлении вызовет негативную реакцию. Следите за&nbsp;актуальностью сообщений об&nbsp;акциях и&nbsp;скидках и&nbsp;регулярно обновляйте&nbsp;их.
          p Изучите объявления конкурентов и&nbsp;сформулируйте свое уникальное предложение. О&nbsp;высоком качестве услуг и&nbsp;опыте врачей упоминают все клиники&nbsp;&mdash; вам нужно выделиться на&nbsp;их&nbsp;фоне. Объявления обязательно должны называть преимущества для клиентов, например, если вы&nbsp;делаете бесплатный рентген при первом визите или помогаете оформить налоговый вычет.

          h3.no-content Распространенные ошибки
          p Ошибки, допущенные при планировании рекламной кампании, могут привести к&nbsp;тому, что ее&nbsp;бюджет будет потрачен впустую. Чаще всего к&nbsp;этому приводят следующие проблемы:
          ul.list-marked 
            li Отсутствие аналитики. Чтобы создать рекламную стратегию, нужно представлять, кому, что и&nbsp;как вы&nbsp;будете предлагать, то&nbsp;есть изучить рынок, аудиторию и&nbsp;рекламные каналы. Иначе окажется, что бюджет уходит на&nbsp;рекламу в&nbsp;каналах, где нет вашей целевой аудитории.
            li Недостаточное или нерегулярное изучение конкурентов. Поняв, какие стратегии используют конкуренты, вы&nbsp;сможете позаимствовать удачные решения и&nbsp;в&nbsp;то&nbsp;же время продемонстрировать, чем вы&nbsp;отличаетесь от&nbsp;других компаний в&nbsp;вашей нише.
            li 
              p Неудачные изображения в&nbsp;креативах. Отталкивающие или неприятные изображения, связанные с&nbsp;лечением зубов, привлекут внимание, но&nbsp;вызовут негативные эмоции. Привлечению клиентов это не&nbsp;поспособствует.
              +figure({
                image: {
                  name: 'kontekstnaya-9',
                  path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Пример отталкивающего креатива',  
                }, 
              })

            li Акцент сразу на&nbsp;нескольких предложениях. Каждое объявление должно фокусироваться на&nbsp;чем-то одном&nbsp;&mdash; услуге, акции, особом предложении.
            li Плохой лендинг. Переходя на&nbsp;посадочную страницу, клиент хочет увидеть, прежде всего, информацию об&nbsp;условиях и&nbsp;стоимости лечения, а&nbsp;также о&nbsp;записи на&nbsp;прием. Не&nbsp;заставляйте его листать несколько экранов в&nbsp;поисках этих сведений.
            li 
              p Невнимание к&nbsp;личному бренду. Выбирая стоматологическую клинику, люди ищут не&nbsp;медицинское учреждение, а&nbsp;конкретных врачей, в&nbsp;том числе, по&nbsp;рекомендациям знакомых. Используйте это, чтобы превратить страницы врачей на&nbsp;вашем сайте в&nbsp;источник конверсии.
              +grid.page-subsection
                +grid__item({ m:9, xs:12 })
                  +figure({
                    image: {
                      name: 'kontekstnaya-10',
                      path: '/images/blog/kontekstnaya-reklama-dlya-stomatologii/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      alt: 'Хороший пример оформления карточки врача на сайте одного из наших клиентов <a href="/portfolio/razrabotka-saytov/white-dent">"Вайтдент"</a>',  
                    }, 
                  })
          p Продуманная стратегия в&nbsp;рекламе стоматологической клиники поможет избежать этих ошибок и&nbsp;построить кампанию, которая даст быстрый и&nbsp;стабильный эффект.

          h2 Расширенные стратегии контекстной рекламы
          p Существуют еще несколько приемов, которые помогают сделать контекстную рекламу стоматологической клиники более эффективной.
          ul.list-marked 
            li Используйте ретаргетинг. Показывайте рекламу пользователям, которые уже заходили на&nbsp;ваш сайт, но&nbsp;не&nbsp;совершили целевого действия.
            li Протестируйте возможности РСЯ. Рекламная сеть Яндекса позволяет увеличить охват и&nbsp;узнаваемость. Ваши материалы будут появляться на&nbsp;ресурсах со&nbsp;схожей тематикой, поэтому это направление можно использовать для продвижения акций и&nbsp;конкретных услуг.
            li Используйте видео и&nbsp;интерактивные элементы. Они помогают привлечь внимание пользователя, удерживают его взгляд на&nbsp;объявлении и&nbsp;повышают вероятность того, что он&nbsp;перейдет на&nbsp;ваш сайт.
            li Протестируйте контекстную рекламу в&nbsp;социальных сетях. Так вы&nbsp;повысите узнаваемость бренда и&nbsp;сможете сформировать лояльную аудиторию.

          h2 Успешные рекламные кампании
          p Если рекламная кампания стоматологической клиники будет спланирована правильно, эффект будет заметен уже в&nbsp;короткий срок. По&nbsp;#[a(href='/blog/kejsy-po-prodvizheniyu-stomatologii') ссылке] вы&nbsp;можете увидеть несколько практических кейсов контекстной рекламы в&nbsp;стоматологии, которая приносит конкретные результаты:
          ul.list-marked 
            li увеличение посещаемости сайта;
            li увеличение конверсии (рост количества обращений);
            li повышение узнаваемости клиники;
            li привлечение посетителей в&nbsp;низких сезон.
          p Наилучшего эффекта удается достичь, когда в&nbsp;комплексе используется несколько методов&nbsp;&mdash; например, продвижение стоматологии в&nbsp;Яндекс.Директ, аудит сайта и&nbsp;его оптимизация, создание лендингов для отдельных услуг.
          p Контекстная реклама помогает привлекать новых клиентов в&nbsp;краткосрочной перспективе и&nbsp;одновременно обеспечивает базу для стабильного развития бизнеса. Кампания с&nbsp;проработанной стратегией обеспечит постоянный поток новых клиентов и&nbsp;стабильный доход стоматологического учреждения.

          h2 Популярные вопросы
          - 
            const faq = [
              {
                title: 'Как определить эффективность рекламной кампании?',
                text: [
                  { tag:'p', content: 'Следите за&nbsp;показателями, такими как ROI, стоимость клика, количество конверсий. Сопоставляйте доход, который приносят новые пациенты, с&nbsp;затратами на&nbsp;продвижение.' },
                ],
              },
              {
                title: 'Какие инструменты использовать для аналитики?',
                text: [
                  { tag:'p', content: 'Для аналитики можно использовать инструменты сервисов объявлений, например, Яндекс.Метрику. Для более детальной аналитики можно подключить дополнительные инструменты, такие как RoiStat или PrimeGate.' },
                ],
              },
              {
                title: 'Как часто нужно обновлять рекламные объявления и&nbsp;посадочные страницы?',
                text: [
                  { tag:'p', content: 'Рекомендуется обновлять контент на&nbsp;сайте по&nbsp;меньшей мере ежемесячно. Рекламную кампанию следует корректировать чаще, например, еженедельно проверяя, ключевые запросы.' },
                ],
              },
              {
                title: 'Как сделать рекламные объявления эффективными?',
                text: [
                  { tag:'p', content: 'Изучите свою аудиторию и&nbsp;ориентируйтесь на&nbsp;ее&nbsp;интересы и&nbsp;запросы. Помните, что пользователь должен не&nbsp;только перейти на&nbsp;сайт, но&nbsp;и&nbsp;заказать услугу. Поэтому нужно использовать контекстную рекламу в&nbsp;комплексе с&nbsp;другими инструментами, включая оптимизацию сайта.' },
                ],
              },
              {
                title: 'Какие ошибки часто совершают в&nbsp;рекламе стоматологических клиник?',
                text: [
                  { tag:'p', content: 'Чаще всего реклама оказывается неэффективной из-за того, что ее&nbsp;публикуют без учета специфики ниши. Знание целевой аудитории, целенаправленная работа над репутацией клиники и&nbsp;отдельных врачей, удобный и&nbsp;релевантный лендинг&nbsp;&mdash; всё это необходимо, чтобы реклама приносила результат.' },
                ],
              },
            ]
          .home-process.home-process--faq
            ul.home-process__list
              each item in faq
                li.home-process__item
                  +textMarked({ 'size--xm': true }).home-process__title !{item.title}
                    svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                        animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                        animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
                  .home-process__body
                    +createElement(item.text)




          +bannerForm
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: '/images/staff-vitaliy.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
