extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/icon-block/icon-block
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 Эффективный интернет-маркетинг для стоматологических клиник и услуг в 2024 году 
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Стоматология принадлежит к&nbsp;числу наиболее прибыльных направлений в&nbsp;частной медицине, но&nbsp;и&nbsp;конкуренция в&nbsp;этой сфере довольно высока. Чтобы успешно развивать свой бизнес, необходимо понимать, как устроен современный маркетинг в&nbsp;стоматологии и&nbsp;какие стратегии нужно применять в&nbsp;первую очередь, чтобы привлекать и&nbsp;удерживать клиентов.
          +figure({
            image: {
              name: 'marketing-1',
              path: '/images/blog/marketing-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Стоматология занимает 2е место по затратам, что говорит о востребованности направления',  
            }, 
          })

          h2 Главные тренды маркетинга в&nbsp;стоматологии
          p Если пять лет назад владельцы клиник стоматологии могли позволить себе уделять продвижению меньше внимания, то&nbsp;сейчас значение менеджмента и&nbsp;маркетинга в&nbsp;стоматологии возрастает всё заметнее. Без грамотно выстроенной стратегии и&nbsp;понимания аудитории не&nbsp;удастся убедить посетителей, что они должны выбрать именно ваше медицинское учреждение. С&nbsp;одной стороны, конкуренция увеличивалась в&nbsp;течение последних лет за&nbsp;счет роста количества клиник. С&nbsp;другой, в&nbsp;пандемию отрасль пережила некоторый спад, из&nbsp;которого затем нашла выход. В&nbsp;результате борьба за&nbsp;потенциальных пациентов среди множества клиник усилилась. 

          h3.no-content Понимание аудитории
          p Чтобы добиваться успеха на&nbsp;изменившемся рынке, нужно, прежде всего, понимать, с&nbsp;какой аудиторией вы&nbsp;работаете. От&nbsp;этого зависит, каких перемен стоит ожидать в&nbsp;ближайшей перспективе и&nbsp;на&nbsp;что ориентироваться в&nbsp;стоматологическом маркетинге, чтобы привлечь и&nbsp;удержать клиентов, особенно в&nbsp;ситуации, когда многие из&nbsp;них вынуждены сокращать расходы. Все клиники стоматологии можно разделить на&nbsp;три группы в&nbsp;зависимости от&nbsp;того, в&nbsp;каком ценовом сегменте они работают.
          +figure({
            image: {
              name: 'marketing-2',
              path: '/images/blog/marketing-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Пирамида ценовых сегментов',  
            }, 
          })
          ul.list-marked 
            li Лоукост-сегмент в&nbsp;стоматологии теряет сильнее всего в&nbsp;периоды, когда клиенты начинают внимательнее относиться к&nbsp;тратам. Многие из&nbsp;них могут предпочесть пожертвовать удобством и&nbsp;получать те&nbsp;же услуги бесплатно в&nbsp;государственных клиниках. Чтобы бизнес оставался доходным, нужно сделать акцент на&nbsp;самые маржинальные процедуры или сконцентрироваться на&nbsp;узких сегментах, где выиграть конкуренцию с&nbsp;бесплатной медициной проще, например, на&nbsp;неотложной помощи.
            li 
              p Средний сегмент тоже может просесть за&nbsp;счет перехода части посетителей в&nbsp;лоукост или в&nbsp;бесплатную медицину, но&nbsp;в&nbsp;меньшей степени. Чтобы удержать пациентов, важно максимально четко доносить до&nbsp;них ваше УТП, объяснять, в&nbsp;чем ценность именно ваших услуг. Даже&nbsp;те, кто по-прежнему готов оплачивать услуги стоматолога, теперь более тщательно подходят к&nbsp;выбору врача.
              +figure({
                image: {
                  name: 'marketing-3',
                  path: '/images/blog/marketing-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Врачи и их квалификация являются самым значимым фактором при выборе стоматологии',
                }, 
              })
            li Премиум-сегмент в&nbsp;стоматологии остается самым устойчивым. Здесь клиенты готовы оплачивать не&nbsp;только экстренную помощь, но&nbsp;также регулярную профилактику и&nbsp;плановое лечение. При этом они остаются требовательными к&nbsp;уровню сервиса: важно поддерживать его на&nbsp;прежнем уровне, даже если стоимость услуг из-за этого несколько возрастет.
          p От&nbsp;целевой аудитории зависит и&nbsp;выбор приоритетных методов маркетинга для продвижения стоматологии. Например, для стоматологической клиники, которая специализируется на&nbsp;недорогой экстренной помощи, актуальным будет маркетинг в&nbsp;локальных сообществах в&nbsp;социальных сетях, в&nbsp;рекомендательных сервисах и&nbsp;на&nbsp;Яндекс.Картах.

          h3.no-content Новые тенденции маркетинга в&nbsp;стоматологии
          p Кроме того, маркетинг стоматологической клиники, как и&nbsp;другие направления маркетинга, меняется в&nbsp;результате развития технологий и&nbsp;их&nbsp;влияния на&nbsp;то, как компании взаимодействуют с&nbsp;клиентами. Самыми актуальными по&nbsp;итогам 2023 года можно назвать следующие тренды:
          ul.list-marked 
            li Ориентация на&nbsp;пациента: персонализация, создание позитивного пользовательского опыта и&nbsp;контента, адресованного клиенту.
            li Использование digital-инструментов и&nbsp;масштабируемых веб-платформ.
            li 
              p Развитие инструментов искусственного интеллекта и&nbsp;в&nbsp;аналитике, и&nbsp;во&nbsp;взаимодействии с&nbsp;клиентом.
              +figure({
                image: {
                  name: 'marketing-4',
                  path: '/images/blog/marketing-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Креатив, созданный искусственным интеллектом',  
                }, 
              })

            li Разработка маркетинговых стратегий, которые позволяют действовать в&nbsp;условиях неопределенности.
          p Чтобы продвижение клиники стоматологии было эффективным, необходимо совмещать одновременно несколько направлений маркетинга. Изучите описанные варианты и&nbsp;выберите те&nbsp;из&nbsp;них, которые кажутся вам наиболее перспективными в&nbsp;вашей ситуации. Сразу&nbsp;же определите целевые показатели, исходя из&nbsp;которых вы&nbsp;будете оценивать эффективность стратегии, чтобы скорректировать ее&nbsp;при необходимости.

          h2 Стратегии цифрового маркетинга
          p В&nbsp;современном мире&nbsp;то, как компания представлена в&nbsp;сети, становится одним из&nbsp;важнейших факторов, влияющих на&nbsp;ее&nbsp;продвижение, и&nbsp;стоматологические клиники не&nbsp;являются исключением. Если сайт стоматологии сделан с&nbsp;использованием устаревших технологий, неудобен в&nbsp;использовании или содержит неполную информацию, это будет отталкивать клиентов и&nbsp;тормозить рост.

          h3.no-content Важность масштабируемых веб-платформ
          p Современной клинике стоматологии нужен веб-сайт, который будет отвечать ее&nbsp;потребностям. Важно, чтобы его можно было масштабировать по&nbsp;мере развития бизнеса, иначе в&nbsp;какой-то момент он&nbsp;перестанет справляться с&nbsp;поставленными задачами. Наличие сайта с&nbsp;продуманной структурой и&nbsp;удобным для пользователя интерфейсом в&nbsp;особенности значимо, если вы&nbsp;развиваете сеть клиник. В&nbsp;этом случае вам нужен единый информационный ресурс, на&nbsp;котором клиент сможет выбрать интересующее его учреждение.
          p Но&nbsp;даже если у&nbsp;вас только один филиал, без гибкого и&nbsp;масштабируемого сайта в&nbsp;продвижении клиники не&nbsp;обойтись, ведь вам понадобится постоянно обновлять представленную на&nbsp;нем информацию и&nbsp;добавлять новую. Создавая сайт для маркетинга стоматологических услуг, ориентируйтесь на&nbsp;следующие принципы:
          ul.list-marked 
            li Используйте современную CMS с&nbsp;модульной структурой, которая позволит добавлять на&nbsp;сайт новое содержимое с&nbsp;минимумом технических сложностей.
            li Закажите дизайн, который будет отличать ваш сайт от&nbsp;конкурентов.
            li Продумайте структуру веб-страниц, чтобы пользователям было легко найти нужные услуги.

          h3.no-content Роль контента, ориентированного на&nbsp;пациента
          p Информация о&nbsp;врачах и&nbsp;услугах&nbsp;&mdash; не&nbsp;единственный контент, который вам нужно разместить на&nbsp;сайте. Не&nbsp;менее важно публиковать статьи, интересные пользователям. Это связано с&nbsp;недавним обновлением в&nbsp;поисковом движке Google. Теперь поисковик отдает предпочтение качественному оригинальному контенту, который интересен людям. Для эффективного маркетинга стоматологической клиники уже недостаточно просто публиковать SEO-оптимизированные статьи&nbsp;&mdash; нужно привлекать к&nbsp;работе над ними экспертов и&nbsp;учитывать потребности пользователей.
          ul.list-marked 
            li Проанализируйте запросы аудитории и&nbsp;составьте список вопросов, которые будут актуальны всегда (например, рекомендации по&nbsp;уходу за&nbsp;зубами или разборы популярных заблуждений в&nbsp;сфере стоматологии).
            li Добавьте к&nbsp;ним темы, непосредственно связанные с&nbsp;вашими услугами. Это особенно важно, если речь идет о&nbsp;сложных процедурах из&nbsp;области стоматологии, таких как установка имплантов или брекетов.
            li Публикуйте контент, который удобно читать и&nbsp;с&nbsp;персонального компьютера, и&nbsp;с&nbsp;мобильных устройств.
            li Размещайте статьи, которые содержат конкретную информацию и&nbsp;практические советы, а&nbsp;не&nbsp;общие фразы.
          +figure({
            image: {
              name: 'marketing-5',
              path: '/images/blog/marketing-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Блог нашего клиента стоматологии Вайт Дент в Санкт-Петербурге',  
            }, 
          })

          h3.no-content Пользовательский опыт и&nbsp;его влияние на&nbsp;привлечение клиентов
          p Наконец, имеет значение и&nbsp;то, как выглядит и&nbsp;воспринимается интерфейс сайта. Если посетитель не&nbsp;сможет за&nbsp;несколько минут на&nbsp;сайте найти нужную услугу или понять, как записаться к&nbsp;врачу, он, скорее всего, уйдет искать другую клинику. Поэтому интерфейс сайта стоматологии должен отвечать следующим критериям:
          ul.list-marked 
            li Четкая информационная структура, которая позволяет быстро найти нужные данные.
            li Взаимосвязи между разделами. Не&nbsp;забывайте о&nbsp;перелинковке. Добавляйте в&nbsp;информационные статьи ссылки на&nbsp;конкретные процедуры и&nbsp;предлагайте дополнительные услуги.
            li Легкая доступность главных функций. Возможность записаться на&nbsp;прием, задать вопрос, узнать стоимость процедуры должна быть доступна с&nbsp;любой страницы в&nbsp;один-два клика.
          p Постарайтесь сделать сайт узнаваемым. Он&nbsp;должен отличаться от&nbsp;конкурентов и&nbsp;визуально, и&nbsp;по&nbsp;оформлению текстов, и&nbsp;по&nbsp;содержимому. Это повышает вероятность того, вашу клинику запомнят и&nbsp;в&nbsp;дальнейшем снова обратятся к&nbsp;ее&nbsp;услугам.

          h2 Персонализация и&nbsp;клиентоориентированность в&nbsp;стоматологии
          p Как и&nbsp;в&nbsp;других направлениях коммерческой медицины, индивидуальный подход и&nbsp;учет интересов клиента имеют первостепенное значение. Это касается и&nbsp;того, как информация представлена на&nbsp;сайте. Современные технологии позволяют оптимизировать ее&nbsp;с&nbsp;учетом предпочтений клиента. Используйте данные о&nbsp;местоположении пользователя, чтобы сразу показывать ему актуальные для него сведения. Можно учитывать и&nbsp;то, с&nbsp;какого запроса он&nbsp;перешел на&nbsp;сайт, отображая страницы на&nbsp;связанные темы. 
          +figure({
            image: {
              name: 'marketing-6',
              path: '/images/blog/marketing-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Важность персонального подхода',  
            }, 
          })

          h3.no-content Индивидуальный подход к&nbsp;каждому пациенту в&nbsp;стоматологии
          p Продумайте, как в&nbsp;вашей клинике будет реализован индивидуальный подход, и&nbsp;отразите это в&nbsp;маркетинговых материалах. Персонализация особенно важна в&nbsp;премиум-сегменте, где клиенты платят в&nbsp;том числе и&nbsp;за&nbsp;то, чтобы им&nbsp;уделяли больше внимания. Сделайте ее&nbsp;частью своего УТП. Например, вы&nbsp;можете сделать акцент на&nbsp;создании индивидуального плана лечения или предлагать услуги куратора, который будет следить за&nbsp;реализацией этого плана и&nbsp;корректировать его при необходимости. Это особенно полезно для продвижения длительных и&nbsp;сложных процедур, таких как коррекция прикуса или имплантация.
          h3.no-content Видеомаркетинг и&nbsp;его роль в&nbsp;образовании пациентов
          p Размещать на&nbsp;сайте стоматологии образовательные и&nbsp;информационные материалы можно не&nbsp;только в&nbsp;текстовом виде, но&nbsp;и&nbsp;в&nbsp;формате видео. Вы&nbsp;можете провести интервью с&nbsp;врачами, записать их&nbsp;рассказ о&nbsp;процедурах, предложить им&nbsp;рассказать о&nbsp;себе или поделиться профессиональным опытом. Такой контент повышает доверие и&nbsp;снижает страх перед стоматологическими процедурами.

          h2 Онлайн-репутация клиники и&nbsp;социальные медиа
          p Помните, что первое впечатление о&nbsp;клинике стоматологии формируется у&nbsp;пациента еще до&nbsp;того, как он&nbsp;впервые в&nbsp;нее придет. На&nbsp;него влияет&nbsp;то, как она представлена в&nbsp;интернете, а&nbsp;значит, над репутацией в&nbsp;сети нужно работать целенаправленно.
          ul.list-marked 
            li Активно ведите сообщества в&nbsp;социальных сетях. Чередуйте рекламные сообщения с&nbsp;информационными. Проводите интерактивы, чтобы повысить доверие и&nbsp;создать у&nbsp;пользователей позитивный опыт.
            li Работайте с&nbsp;разными сетями и&nbsp;разными форматами. Кроме Вконтакте, актуальными могут оказаться Telegram и&nbsp;YouTube. Проанализируйте, какие соцсети предпочитает ваша целевая аудитория, и&nbsp;сделайте акцент на&nbsp;них.
            li Отслеживайте публикацию отзывов в&nbsp;сети и&nbsp;своевременно реагируйте на&nbsp;них. Не&nbsp;ограничивайтесь шаблонными ответами&nbsp;&mdash; отвечайте по&nbsp;существу и&nbsp;относитесь к&nbsp;негативной обратной связи как к&nbsp;указанию на&nbsp;то, что нужно улучшить.

          h2 Инновации и&nbsp;технологии в&nbsp;маркетинге стоматологии
          p Внедрение цифровых технологий&nbsp;&mdash; одна из&nbsp;важнейших инноваций для медучреждений, работающих в&nbsp;стоматологии. По&nbsp;данным на&nbsp;2023&nbsp;год, более трети стоматологий не&nbsp;использовали никакие программные решения для управления взаимодействием с&nbsp;пациентами. Следовательно, клиники, которые смогут освоить и&nbsp;внедрить эту технологию первыми, будут получать значимое преимущество. Автоматизация в&nbsp;этой сфере позволяет высвободить ресурсы и&nbsp;сделать привлечение и&nbsp;удержание клиентов максимально эффективным.
          +figure({
            image: {
              name: 'marketing-7',
              path: '/images/blog/marketing-dlya-stomatologii/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Современные технологии предоставляют детальную визуализацию для клиента',  
            }, 
          })

          ul.list-marked 
            li Один из&nbsp;самых простых видов автоматизации&nbsp;&mdash; размещение на&nbsp;сайте формы для записи на&nbsp;прием. Запись по&nbsp;телефону для многих является неудобным, поэтому удобная страница для записи, не&nbsp;требующая взаимодействия с&nbsp;сотрудником клиники, может повысить конверсию. Кроме того, digital-технологии могут использоваться и&nbsp;для аналитики&nbsp;&mdash; например, для отслеживания поведения пользователей на&nbsp;сайте клиники и&nbsp;сравнения эффективности различных рекламных каналов.
            li 
              p Следующий этап автоматизации&nbsp;&mdash; внедрение медицинской CRM, которая поможет более глубоко автоматизировать рабочие процессы. Такие системы помогают централизованно хранить информацию о&nbsp;пациентах, работать с&nbsp;различными каналами общения (мессенджеры, социальные сети, почта), а&nbsp;также предоставляют широкие возможности анализа.
              +figure({
                image: {
                  name: 'marketing-8',
                  path: '/images/blog/marketing-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Задачи, которые берет на тебя CRM',  
                }, 
              })

            li 
              p Наконец, еще одно направление, которое стало актуальным в&nbsp;2023 году&nbsp;&mdash; это применение искусственного интеллекта. Например, вы&nbsp;можете создать чат-бота, который будет обучен на&nbsp;основании базы знаний на&nbsp;вашем сайте и&nbsp;сможет отвечать на&nbsp;вопросы пациентов. Разумеется, он&nbsp;не&nbsp;сможет заменить консультацию со&nbsp;специалистом во&nbsp;всех случаях, но&nbsp;разгрузит сотрудников, взяв на&nbsp;себя типовые вопросы. Кроме того, сам факт использования передовой технологии, если она внедрена удачно, будет работать на&nbsp;репутацию клиники.
              +figure({
                image: {
                  name: 'marketing-9',
                  path: '/images/blog/marketing-dlya-stomatologii/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  alt: 'Пример чат-бота на сайте',  
                }, 
              })

          p Также ИИ&nbsp;находит применение и&nbsp;во&nbsp;внутренних процессах. Например, его используют для анализа отзывов и&nbsp;оценки их&nbsp;эмоциональной окраски. Для генерации ответов применять такие инструменты следует с&nbsp;осторожностью, поскольку во&nbsp;многих случаях созданный&nbsp;ИИ текст легко распознается пользователями интернета и&nbsp;вызывает негативную реакцию.

          h2 Оценка эффективности маркетинга клиники
          p Чтобы оценить эффективность маркетинга клиники стоматологии, можно использовать различные показатели. Один из&nbsp;них&nbsp;&mdash; средний срок жизни клиента, то&nbsp;есть соотношение затрат на&nbsp;его привлечение и&nbsp;доходов, которые он&nbsp;приносит медучреждению за&nbsp;всё время, пока пользуется его услугами. Если маркетинговая стратегия работает, как было задумано, у&nbsp;клиники будет много регулярных пациентов. В&nbsp;результате расходы на&nbsp;привлечение новых можно будет сократить, направив эти средства на&nbsp;развитие бизнеса.
          p Чтобы разработать стратегию продвижения с&nbsp;учетом особенностей конкретного бизнеса, нужно поручить эту задачу маркетинговому агентству, которое уже имеет опыт работы с&nbsp;медицинскими клиниками и&nbsp;понимает специфику рынка стоматологии. Заранее определите приоритеты и&nbsp;поставьте измеримые цели, чтобы понимать, какие методы продвижения более плодотворны.

          h2 Популярные вопросы и&nbsp;ответы
          - 
            const faq = [
              {
                title: 'Какие методы повышения онлайн-репутации наиболее эффективны в&nbsp;стоматологии?',
                text: [
                  { tag:'p', content: 'Реагируйте и&nbsp;на&nbsp;положительные, и&nbsp;на&nbsp;отрицательные отзывы. Собирайте подборки положительных отзывов, чтобы затем использовать их&nbsp;в&nbsp;промо-материалах клиники. Адекватно реагируйте на&nbsp;негатив и&nbsp;досконально изучайте причины отрицательных отзывов.' },
                ],
              },
              {
                title: 'Какие социальные медиа платформы наиболее эффективны для привлечения новых пациентов?',
                text: [
                  { tag:'p', content: 'Чаще всего для привлечения новых пациентов через соцсети используют Вконтакте и&nbsp;Instagram, но&nbsp;не&nbsp;стоит забывать и&nbsp;о&nbsp;других каналах. Если клиника предлагает экстренные услуги, уделите особое внимание ее&nbsp;представлению на&nbsp;геосервисах.' },
                ],
              },
              {
                title: 'Какие факторы влияют на&nbsp;успешное позиционирование стоматологической клиники в интернете?',
                text: [
                  { tag:'p', content: 'Для успешного позиционирования клиники стоматологии в&nbsp;интернете нужно проанализировать целевую аудиторию и&nbsp;найти УТП, которое позволит отстроиться от&nbsp;конкурентов.' },
                ],
              },
              {
                title: 'Какие стратегии видеомаркетинга наиболее эффективны для образования пациентов?',
                text: [
                  { tag:'p', content: 'Для маркетинга стоматологической клиники с&nbsp;помощью образовательного видеоконтента подойдут различные форматы&nbsp;&mdash; вебинары, информационные видео, ответы на&nbsp;вопросы, видео с&nbsp;практическими советами.' },
                ],
              },
              {
                title: 'Какие преимущества предоставляет персонализированный подход в&nbsp;маркетинге стоматологических услуг?',
                text: [
                  { tag:'p', content: 'Персонализированный подход позволяет выстроить доверительные отношения клиники с&nbsp;пациентом, преодолеть негативные предубеждения, связанные со&nbsp;стоматологическим лечением, и&nbsp;увеличивает продолжительность взаимодействия.' },
                ],
              },
              {
                title: 'Какие стратегии цифрового маркетинга наиболее эффективны для увеличения клиентской базы стоматологической клиники? ',
                text: [
                  { tag:'p', content: 'Предлагайте реферальные программы и&nbsp;семейные абонементы. Поощряйте пациентов рекомендовать клинику другим и&nbsp;оставлять отзывы. Поскольку стоматологию часто выбирают, опираясь на&nbsp;личные рекомендации, поддерживайте механизмы &laquo;сарафанного радио&raquo;, например, с&nbsp;помощью бонусов за&nbsp;рекомендации. Напоминайте о&nbsp;профилактических визитах с&nbsp;помощью рассылок в&nbsp;почте и&nbsp;публикаций в&nbsp;сообществах.' },
                ],
              },
            ]
          .home-process.home-process--faq
            ul.home-process__list
              each item in faq
                li.home-process__item
                  +textMarked({ 'size--xm': true }).home-process__title !{item.title}
                    svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                        animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                        animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
                  .home-process__body
                    +createElement(item.text)
          +bannerForm
