extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины
      p Телемедицина: законодательство&nbsp;РФ для внедрения.
      p Закон о&nbsp;телемедицине 2018&nbsp;&mdash; это вступивший в&nbsp;силу &#8470;&nbsp;242-ФЗ &laquo;О&nbsp;внесении изменений в&nbsp;отдельные законодательные акты Российской Федерации по&nbsp;вопросам применения информационных технологий в&nbsp;сфере здравоохранения&raquo;, принятый 29.07.2017. 
      h2 Ключевые моменты
      ul.list-marked
        li Разрешено проводить дистанционные консилиумы в&nbsp;случае острой необходимости. Отличие от&nbsp;прежней практики в&nbsp;том, что ответ специалиста оформляется официально, прилагается к&nbsp;медицинской документации.
        li Доступна возможность выписывать рецепты в&nbsp;электронном виде, подписывать электронной подписью.
        li Определены цели дистанционного консультирования: для принятия решения о&nbsp;необходимости очного приема, анализа эффективности диагностики, лечения пациента. 
        li В&nbsp;ходе консультации, с&nbsp;помощью телемедицинских технологий, врачу разрешается корректировать назначенное лечение, если оно было назначено очно с&nbsp;тогда&nbsp;же поставленным диагнозом.
        li Взаимодействие врача и&nbsp;пациента проходит после идентификации и&nbsp;аутентификации, для этого используется единая система. 
        li Доступ к&nbsp;дистанционной медицинской помощи возможен через единую государственную информационную систему. 
        li Должна обеспечиваться конфиденциальность персональных данных пациентов.
      h3 Федеральный закон (ФЗ) о&nbsp;телемедицине 2019
      p В&nbsp;2018 году в&nbsp;силу вступила только первая часть поправок к&nbsp;Закону, в&nbsp;котором прояснили порядок оказания услуг телемедицины. А&nbsp;с&nbsp;2019 года врачам дали право ставить первичный диагноз, выписывать электронные рецепты, в&nbsp;том числе на&nbsp;психотропные, наркотические вещества. Но&nbsp;разрешение на&nbsp;выписку рецептов в&nbsp;электронном виде федеральный закон (ФЗ) 242&nbsp;о телемедицине дает только после очной консультации больного. 
      h2 Второй закон 
      p ФЗ&nbsp;323&nbsp;о телемедицине, в&nbsp;который внесли правки 1&nbsp;января 2018&nbsp;года, дал четкое определение медпомощи с&nbsp;применением телемедицинских технологий и&nbsp;порядок ее&nbsp;оказания.
      h3 Информированное согласие
      p Прежде чем оказать услуги с&nbsp;помощью телемедицины, от&nbsp;пациента нужно получить информационное согласие на&nbsp;получение медпомощи в&nbsp;электронном виде. Этот момент важен, потому что дистанционная консультация исключает физическую возможность подписания документа.
      h3 Изменения в&nbsp;статье &#8470;&nbsp;22&nbsp;сделали телемедицину возможной
      p Разрешено отправлять запрос и&nbsp;получать медицинскую документацию в&nbsp;электронном виде. Пациент в&nbsp;электронном виде дает согласие на&nbsp;обработку персональных данных, заполняет договор, получает полноценную медпомощь с&nbsp;заключением. 
      h3 Определен спектр возможностей
      p Поправки в&nbsp;закон о&nbsp;телемедицине &#8470;&nbsp;323 определили 2&nbsp;варианта использования ее&nbsp;возможностей: взаимодействие врачей между собой и&nbsp;в&nbsp;формате &laquo;врач-пациент&raquo;. Второй вариант стал впервые возможен именно после закрепления на&nbsp;уровне законодательства. 
      p Закон позволил осуществлять следующие варианты взаимодействия в&nbsp;формате &laquo;врач-пациент&raquo;:
      ul.list-marked.list-marked--w-prev-par
        li Первичную консультацию: допускается профилактический прием и&nbsp;другие варианты, когда диагноз не&nbsp;ставят и&nbsp;не&nbsp;делают медицинские назначения. По&nbsp;результатам выдаются рекомендации.
        li Второе мнение: когда больной наблюдается у&nbsp;определенного специалиста или живет в&nbsp;удаленном регионе, но&nbsp;сомневается в&nbsp;диагнозе или назначениях. В&nbsp;таком случае он&nbsp;предоставляет результаты диагностики, документы по&nbsp;лечению, после чего доктор дает свои рекомендации. 
        li Запись на&nbsp;очный прием: обычно вариант выбирают, когда пациент не&nbsp;понимает, к&nbsp;какому именно специалисту записаться при возникших симптомах.
        li Повторная консультация: открывает широкие возможности для врача (выписка рецептов, корректирование лечения), если он&nbsp;уже принимал пациент очно. 
        li Динамическое наблюдение: предполагает подключение приборов к&nbsp;системе, возможность организовать стационар на&nbsp;дому (лечение больного проходит в&nbsp;домашних условиях, а&nbsp;доктор ведет дистанционный контроль&nbsp;&mdash; аналог классического обхода, что проводят в&nbsp;стационарах). 
      h3 Закон регулирует инструменты оказания телемедицинской помощи
      p Удаленно консультировать можно в&nbsp;аудиоформате (используют телефон или электронный вариант аудиосвязи), в&nbsp;текстовом виде (используют возможности чата: онлайн или текстовая переписка), по&nbsp;видеосвязи. Допускаются отсроченные консультации: больной задает вопрос, а&nbsp;врач отвечает в&nbsp;специально оговоренное время. 
      h3 Обязательна идентификация
      p Доктор должен быть занесен в&nbsp;Федеральный регистр медицинских работников, использовать электронную подпись. Медицинское учреждение тоже заносят в&nbsp;Федеральный реестр медицинских организаций. Пациент может идентифицироваться через систему Госуслуг. 
      h2 Законопроект о&nbsp;телемедицине 2020
      p 19&nbsp;февраля 2020 года депутаты внесли поправки в&nbsp;закон о&nbsp;телемедицине. Законопроект направлен в&nbsp;Министерство здравоохранения для ознакомления, внесения корректировок, определения порядка диагностики без очной консультации. 
      p Если законопроект будет принят, врачи смогут проводить осмотр, ставить предварительный диагноз и&nbsp;назначать лечение в&nbsp;дистанционном формате. 
      p Также закон сможет предоставить больше вариантов идентификации больному: возможность получать медицинскую помощь анонимно, без идентификации, при трудностях с&nbsp;прохождением этой процедуры, в&nbsp;неотложных случаях. Есть вероятность, что поправки в&nbsp;закон смогут сделать идентификацию необязательной.
      p Принятый законопроект позволит корректировать назначения не&nbsp;только лечащему врачу, а&nbsp;любому доктору: из&nbsp;одного медицинского учреждения и&nbsp;за&nbsp;его пределами. 
      p По&nbsp;сообщениям экспертов, консультации с&nbsp;Минздравом скоро завершатся, потому законопроект тут&nbsp;же попадет на&nbsp;рассмотрение Государственной Думы. Ожидается, что его принятие устранит сложности и&nbsp;ограничения, сделает медицинскую помощь с&nbsp;применением телемедицинских технологий удобной, доступной и&nbsp;полноценной.
