extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      p Приказ Минздрава о&nbsp;телемедицине разъясняет процесс организации, последовательность, условия, формы медицинской помощи в&nbsp;дистанционном формате, освещает тонкости взаимодействия докторов и&nbsp;пациентов.
      h2 Важные положения 
      h3 Телемедицинские услуги после лицензирования 
      p Медучреждение может проводить телемедицинские консультации только по&nbsp;тем направлениям, которые перечислены в&nbsp;лицензии на&nbsp;медицинскую деятельность. 
      h3 Создание условий
      p Приказ 965н по&nbsp;телемедицине от&nbsp;30&nbsp;ноября 2017 года предписывает оказывать удаленную медицинскую помощь в&nbsp;специально оснащенном помещении, с&nbsp;необходимым оборудованием и&nbsp;средствами связи. Если&nbsp;же дистанционная связь проходит в&nbsp;мобильных условиях, медучреждение закупает мобильные средства связи и&nbsp;необходимое оборудование. 
      h3 Анонимность не&nbsp;допускается
      p Взаимодействие врача и&nbsp;пациента проходит после идентификации и&nbsp;аутентификации, для чего используют вход в&nbsp;единую систему. 
      h3 Только через ЕГИС
      p Внедрять телемедицину Минздрав разрешает через Единую государственную информационную систему. Для этого клинику вносят в&nbsp;Федеральный реестр медицинских организаций, а&nbsp;докторов, работающих в&nbsp;медучреждении по&nbsp;телемедицинскому направлению, добавляют в&nbsp;Федеральный регистр медицинских работников. 
      h2 Особенности 
      h3 Виды, условия оказания телемедицинских услуг
      p Возможны такие виды дистанционной медицинской помощи: паллиативная, скорая (специализированная), специализированная (высокотехнологичная), первая медико-санитарная. 
      p Для оказания предусмотрены любые условия: стационарно, вне медучреждения, на&nbsp;дневном стационаре, амбулаторно. При проведении телемедицинского приема учитывается фактическое местоположение пациента. 
      h3 Выбор медучреждения
      p Свободный, за&nbsp;исключением получения дистанционной медпомощи по&nbsp;программе государственных гарантий. В&nbsp;таком случае выбор делают в&nbsp;порядке, предусмотренном законодательством РФ.
      h3 Предоставление сведений пациенту
      p Медицинское учреждение предоставляет пациенту информацию&nbsp;о: своем месте нахождения, наименовании, контактной информации, лицензии на&nbsp;соответствующую услугу, профилях медпомощи по&nbsp;телемедицине, консультирующем враче, его образовании, занимаемой должности, стаже работы, квалификации, ученой степени (если есть), месте хранения медицинских документов и&nbsp;другой документации, полученной в&nbsp;ходе телемедицины, знакомит с&nbsp;условиями договора на&nbsp;оказание медпомощи. 
      h3 Информирование о&nbsp;порядке удаленного консультирования
      p Пациенту нужно сообщить об&nbsp;условиях и&nbsp;нюансах проведения консультации дистанционно, оформлении согласия на&nbsp;обработку персональных данных. Рассказать о&nbsp;технических требованиях к&nbsp;электронным документам, которые предоставляет пациент, порядке получения заключения. 
      h3 Возможности врача в&nbsp;рамках телемедицины 
      p Доктор может корректировать ранее назначенное лечение, создавать рецепты в&nbsp;электронном виде, но&nbsp;при условии постановки диагноза очно. Если пациент обратился без постановки диагноза и&nbsp;назначенного лечения во&nbsp;время очного визита, врач может выдать заключение с&nbsp;рекомендациями об&nbsp;исследованиях, но&nbsp;при условии записи на&nbsp;очную консультацию. 
      h3 Документирование и&nbsp;хранение информации
      p Данные в&nbsp;медицинские документы вносят с&nbsp;использованием электронной подписи. Хранение определяется сроками, предусмотренными для первичных медицинских документов. Сопутствующие материалы хранят 1&nbsp;год.
