extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/why-we/why-we
include /blocks/icon-block/icon-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 16 рабочих способов привлечь пациента в стоматологическую клинику
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')
      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Реклама в&nbsp;стоматологии также необходима, как и&nbsp;в&nbsp;любом другом бизнесе. Чтобы достигнуть коммерческого успеха, клинику нужно продвигать. Хорошего оборудования и&nbsp;опытных специалистов недостаточно для того, чтобы обеспечить стабильный приток пациентов, особенно в&nbsp;условиях высокой конкуренции. Чтобы старые пациенты возвращались и&nbsp;приходили новые, людей нужно убедить в&nbsp;том, что именно в&nbsp;данном медицинском учреждении они получат&nbsp;то, что им&nbsp;нужно. Рассмотрим, каким образом, и&nbsp;с&nbsp;помощью каких инструментов можно решить поставленную задачу.
          -
            const banner1 = {
              header: 'Есть реклама, но мало пациентов?<br>​Хотите увеличить эффективность рекламы и сайта?',
              text: [
                {tag: 'p', content: 'Выполним комплексный аудит интернет-маркетинга клиники или аудит продающих качество сайта.'},
                {tag: 'p', content: 'Выявим слабые точки, дадим конкретные рекомендации.'},
              ],
              button: 'Отправить заявку',
            } 
          +banner(banner1)

          h2 Основные этапы работ по&nbsp;продвижению
          p Успех маркетинговых мероприятий по&nbsp;продвижению стоматологической клиники на&nbsp;рынок всегда является результатом профессиональной командной системной работы. Рекламные инструменты дают эффект, только если являются частью комплексной стратегии. Ее&nbsp;цель выстроить для потенциальных клиентов путь, который приведет их&nbsp;в&nbsp;клинику: заинтересовать, вызвать желание узнать больше, попробовать&nbsp;и, наконец, записаться на&nbsp;прием.
          p Последовательная реализация этой маркетинговой работы требует:
          +grid({ paddingy: true }).page-subsection
            +grid__item: +iconBlock({ analytics: true }).block-marked Настроить веб-аналитику: Яндекс Метрику и&nbsp;Google Analytics. С&nbsp;ее&nbsp;помощью можно собрать данные для построения маркетинговой стратегии и&nbsp;получить информацию об&nbsp;эффективности отдельных рекламных каналов. Подключить Calltracking для детализации информации по&nbsp;звонкам.
            +grid__item: +iconBlock({ strategy: true }).block-marked Разработать стратегию продвижения. Для чего требуется сегментировать аудиторию, провести анализ конкурентов, определить цели маркетинговой кампании в&nbsp;цифрах, подготовить позиционирование на&nbsp;основе анализа сильных и&nbsp;слабых сторон клиники, разработать УТП (уникальное торговое предложение), подобрать каналы продвижения и&nbsp;KPI, провести работу с&nbsp;репутацией в&nbsp;интернете. Перечень задач может быть расширен, многое зависит от&nbsp;масштаба деятельности клиники и&nbsp;состояния дел на&nbsp;момент подготовки стратегии.
            +grid__item: +iconBlock({ update: true }).block-marked Разработать план работ на&nbsp;6&nbsp;&mdash; 12&nbsp;месяцев. Для достижения поставленных целей нужно последовательно прилагать усилия на&nbsp;протяжении длительного времени. Первые результаты от&nbsp;реализации новой стратегии обычно можно увидеть через полгода, но&nbsp;для достижения максимально возможного уровня показателей работа должна вестись систематически.
          +pageSubsection
            p Реклама стоматологической клиники&nbsp;&mdash; это инструмент реализации описанных в&nbsp;стратегии целей. Стратегия в&nbsp;свою очередь базируется на&nbsp;исследованиях рынка, а&nbsp;ее&nbsp;реализация требует регулярного измерения показателей, а&nbsp;также корректировки целей и&nbsp;методов при необходимости.
          +grid.page-subsection
            +grid__item
              +img({
                name: 'popular',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Популярные методы исследования рынка' title='Популярные методы исследования рынка').image-shadow
              p.text-marked--size--s Популярные методы исследования рынка

          h2 Подготовка к&nbsp;продвижению
          p Необходимой базой для привлечения первых клиентов или реализации амбициозных планов по&nbsp;расширению доли на&nbsp;рынке является сайт стоматологии, аккаунты в&nbsp;социальных сетях, профили клиники на&nbsp;агрегаторах или порталах с&nbsp;отзывами.
          h3.no-content Задачи, которые необходимо решить на&nbsp;этапе подготовки к&nbsp;продвижению
          h4.no-content Сайт стоматологии
          ul.list-marked 
            li Сформировать информационную площадку для посетителей, которые приходят на&nbsp;рекламу стоматологии
            li Обеспечить базу (создать необходимую структуру сайта) для последующего поискового продвижения услуг
            li Обеспечить корректное отображение информации на различных устройствах
            li Подробно описать услуги стоматологии
            li Разработать страницу, побуждающую к действию (записаться на прием, обратиться за консультацией, оставить контакты, подписаться на рассылку)
            li Разработать дифференцированную ценовую политику и разместить на сайте блок с ценами и специальными условиями получения услуги
          h4.no-content Страницы и&nbsp;группы в&nbsp;социальных сетях
          ul.list-marked 
            li Создать странички и группы в сетях, где присутствует аудитория. Основным направлением является ВК
            li Разместить основной контент: время работы, фото здания и помещений, перечень основных услуг
            li Разработать контент-план и начать общаться с аудиторией. Желательно, если часть материалов будет носить развлекательный характер, так как пользователи используют социальные сети чтобы отвлечься и отдохнуть.
            li Сформировать систему показателей для оценки эффективности каждого канала
          h4.no-content Порталы с&nbsp;отзывами
          ul.list-marked 
            li Сформировать список ресурсов, на которых пациенты могут оставлять отзывы о работе стоматологической клиники
            li Отобрать площадки для основной работы
            li Создать аккаунты, с которых будет вестись работа от лица клиники. 
            li Активное участие врачей, создание профилей и ответы на вопросы пациентов, приветствуется
            li Разработать правила (политику) работы с отзывами и возражениями. В основе этой работы всегда два основных правила:
              ul(style="margin-bottom: 0;").list-marked 
                li клиент, который посчитал, что с ним обошлись несправедливо, должен быть услышан, с его проблемой нужно работать;
                li команда должна сделать достаточно,  для того, чтобы пациент почувствовал заботу о себе.
            li Нельзя сделать каждого клиента довольным, но к этому нужно стремиться. 

          p Маркетинг в&nbsp;стоматологии в&nbsp;2023 году&nbsp;&mdash; это не&nbsp;набор формализованных приемов и&nbsp;методов по&nbsp;повышению эффективности продвижения услуг компании на&nbsp;рынок, а&nbsp;комплекс мероприятий, призванный создать благоприятные условия для развития бизнеса в&nbsp;долгосрочной перспективе. Для чего необходимо добиться расположения клиента (пациента), заслужить доверие, сделать его адвокатом бренда.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'plan',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Маркетинговый план' title='Маркетинговый план').image-shadow
              p.text-marked--size--s Маркетинговый план

          p На&nbsp;этапе подготовки требуется создать максимально дружелюбный по&nbsp;отношению к&nbsp;пользователю сайт:
          ul.list-marked 
            li Подробно и&nbsp;правдиво описать каждую услугу, рассказать о&nbsp;том, чего можно ожидать на&nbsp;приеме.
            li 
              p На&nbsp;странице врачей разместить их&nbsp;фото, квалификацию, опыт и&nbsp;направления работы. Отзывы клиентов и&nbsp;видео со&nbsp;специалистами за&nbsp;работой также станут большим плюсом.
              +grid
                +grid__item
                  +img({
                    name: 'whitedent',
                    path: '/images/blog/reklama-stomatologii/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] },
                    ]
                  })(alt= 'Пример размещения информации о врачах клиники Вайт Дент' title='Пример размещения информации о врачах клиники Вайт Дент').image-shadow
                  p.text-marked--size--s Пример размещения информации о врачах клиники Вайт Дент
            li Предложить понятную систему ценообразования. Заглянув в&nbsp;прайс-лист, потенциальный клиент должен иметь возможность сориентироваться, во&nbsp;сколько обойдется визит. 
            li 
              p Разместить фото, видео и&nbsp;текстовое описание интерьера. Данная составляющая особенно важна для стоматологии премиум класса.
              +grid
                +grid__item
                  +img({
                    name: 'axis',
                    path: '/images/blog/reklama-stomatologii/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] },
                    ]
                  })(alt= 'Интерьер клиники Axis' title='Интерьер клиники Axis').image-shadow
                  p.text-marked--size--s Интерьер клиники Axis 
            li Создать раздел со&nbsp;статьями, которые помогают пациентам разобраться в&nbsp;причинах заболеваний и&nbsp;методах их&nbsp;лечения. 
            li Подготовить ответы на&nbsp;часто задаваемые пациентами вопросы.
            li Создать и&nbsp;разместить бесплатный прямой номер и&nbsp;организовать возможность онлайн-записи, а&nbsp;также отмены без привлечения помощи специалиста + модуль обратного звонка.
            li Разработать раздел с&nbsp;описанием возможностей оборудования. Здесь уместны хорошие ролики, демонстрирующие возможности медицинского учреждения. 
            li Разместить реквизиты юридического лица с&nbsp;контактными данными в&nbsp;разделе &laquo;О&nbsp;нас&raquo;.

          h2 Основные каналы для привлечения клиентов
          p Реклама стоматологии может быть реализована через различные каналы. Одни желательны для комплексного использования для раскрутки как новичками, так и&nbsp;лидерами рынка, другие нашли наибольшее применение в&nbsp;определенных сегментах.
          p Подобрать оптимальные инструменты для рекламы стоматолога, исходя из&nbsp;бюджета, сегмента, локации и&nbsp;других персональных критериев, поможет маркетолог. 

          h3.no-content SEO
          p Инструмент, с&nbsp;помощью которого страница с&nbsp;описанием услуг или методов лечения могут оказаться на&nbsp;первой странице в&nbsp;органической выдаче по&nbsp;запросу потенциального клиента. Потенциал страниц сайта может быть намного больше, чем просто возможность попасть в&nbsp;топ выдачи. С&nbsp;помощью продающих текстов, на&nbsp;волнующие пациентов темы, можно убедить потенциальных клиентов выбрать именно конкретную клинику.

          h3.no-content Контекстная реклама
          p Контекстная реклама делится на&nbsp;два основных вида:
          ul.list-marked 
            li Основное направление&nbsp;&mdash; это реклама, которую видят пользователи в&nbsp;поисковой выдаче Яндекса, в&nbsp;специальных блоках сайтов (РСЯ&nbsp;&mdash; рекламной сети яндекса) и&nbsp;выдаче Google (доступно для клиентов, которые находятся за&nbsp;рубежом). Продвижение стоматологической клиники с&nbsp;помощью такой рекламы обычно возможно с&nbsp;помощью тех&nbsp;же фраз, которые были подобраны для SЕО: лечение зубов, лечение зубов в&nbsp;СПб, стоматология в&nbsp;СПб, детская стоматология, реклама зубной клиники и&nbsp;т.п. Отличие от&nbsp;поисковой оптимизации в&nbsp;том, что поисковик показывает рекламные объявления, за&nbsp;переходы по&nbsp;которым с&nbsp;аккаунта рекламодателя в&nbsp;личном кабинете рекламной системы списываются деньги и&nbsp;есть возможность быстрого привлечения потенциальных клиентов на&nbsp;свой сайт.
            li Ретаргетинг&nbsp;&mdash; реклама клиники, которую РСЯ показывает пользователю, который уже взаимодействовал с&nbsp;сайтом клиники или как-то иначе соприкасался с&nbsp;бизнесом, в&nbsp;качестве напоминания, обычно она демонстрируется в&nbsp;специальных блоках на&nbsp;посещаемых сайтах. К&nbsp;примеру, после визита на&nbsp;сайт стоматологии потенциальный клиент будет видеть баннер стоматологической клиники в&nbsp;рекламном блоке Дзена.
          +grid
            +grid__item
              +img({
                name: 'context',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Контекстная реклама' title='Контекстная реклама').image-shadow
              p.text-marked--size--s Контекстная реклама
          p Контекстная реклама направлена на&nbsp;заинтересованных в&nbsp;покупке пользователей, как правило&nbsp;&mdash; это более горячая аудитория. Это оптимальный канал для продвижения услуг при сформированном спросе, например: срочное удаление зуба. Основное направление отличается от&nbsp;ретаргетинга степенью &laquo;прогретости&raquo; аудитории, с&nbsp;которой происходит взаимодействие. 

          h3.no-content Таргетированная реклама
          p Если контекстная реклама показывается тем пользователям, которые уже имеют конкретный запрос и&nbsp;находятся в&nbsp;поиске, то&nbsp;таргетированная реклама в&nbsp;социальных сетях скорее пытается заинтересовать, привлечь внимание. Это работа с&nbsp;более &laquo;холодной&raquo; аудиторией. Список доступных для настройки критериев подбора аудитории зависит от&nbsp;соцсети. Социальные сети владеют информацией по&nbsp;полу, возрасту, области интересов, семейному положению пользователей. По&nbsp;этим сегментам можно выбрать кому и&nbsp;когда будет показываться реклама. К&nbsp;примеру, реклама детской стоматологии будет показываться только тем пользователям, у&nbsp;которых есть дети. Таргетированная реклама является хорошим инструментом для формирования спроса на&nbsp;новый продукт.
          +grid
            +grid__item
              +img({
                name: 'targeting',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Рекламный кабинет Вконтакте' title='Рекламный кабинет Вконтакте').image-shadow
              p.text-marked--size--s Рекламный кабинет Вконтакте

          h3.no-content Маркетинг в&nbsp;социальных сетях
          p Социальные сети снова в&nbsp;тренде, как один из&nbsp;инструментов community-маркетинга. При раскрутке социальных сетях для стоматологической клиники важно продемонстрировать знания и&nbsp;опыт врачей, показать экспертность, создавать полезный контент. Если пациент подпишется на&nbsp;группу клиники в&nbsp;социальной сети, друзья и&nbsp;коллеги могут увидеть группу тоже и&nbsp;заинтересоваться.

          h3.no-content Видеореклама
          p Видеоформат используется не&nbsp;только для продвижения на&nbsp;ТВ или ютуб-канале, но&nbsp;также на&nbsp;сайте, страницах в&nbsp;социальной сети, в&nbsp;блогах. Он&nbsp;незаменим при демонстрации созданного для посетителей стоматологии комфорта или нового оборудования. А&nbsp;многие пользователи, особенно среди молодого поколения, вообще не&nbsp;читают объемные тексты без крайней необходимости и&nbsp;предпочитают видео. Инструмент не&nbsp;столь широко используется, как фото и&nbsp;текстовый контент, потому что снять хорошее видео обычно сложнее и&nbsp;дороже, чем написать текст.

          h3.no-content Аудиореклама
          p Аудиоформат, если он&nbsp;не&nbsp;является продолжением видео, предназначен в&nbsp;основном для радио. Такую рекламу чаще всего слышат&nbsp;те, кто много времени проводит за&nbsp;рулем, в&nbsp;автомобиле. Это довольно обширный пласт аудитории, которым не&nbsp;нужно пренебрегать.
          p Основная проблема на&nbsp;пути использования инструмента&nbsp;&mdash; сложность создания качественной записи и&nbsp;дороговизна формата. Без помощи профессионалов клиника стоматологии создать аудио продукт вряд&nbsp;ли не&nbsp;сможет.

          h3.no-content Контент-маркетинг
          p Продвижение с&nbsp;помощью экспертного контента является трендом последних нескольких лет. Направление растет вместе с&nbsp;развитием рекламных технологий и&nbsp;поисковых систем. Прямая реклама путем многократного повторения простого, короткого сообщения в&nbsp;условиях высокой конкуренции работает все хуже, большая ее&nbsp;часть остается незамеченной. Поэтому рекламодатель (маркетолог или владелец клиники) вынужден обращать более пристальное внимание на&nbsp;нужды и&nbsp;потребности пациентов. Полезный для клиентов контент можно публиковать не&nbsp;только на&nbsp;сайте, но&nbsp;в&nbsp;блогах врачей, в&nbsp;городской группе интересующихся здоровьем, на&nbsp;страницах медицинских агрегаторов.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'content',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Значимость контент-маркетинга' title='Значимость контент-маркетинга').image-shadow
              p.text-marked--size--s Значимость контент-маркетинга

          h3.no-content E-mail маркетинг
          p E-mail рассылки теряют свою эффективность, во&nbsp;многом из-за большого объема информации, который ежедневно получает каждый из&nbsp;нас. Большинству привычнее поддерживать коммуникацию через телефон или мессенджер. Однако, если компания может поделиться интересной и&nbsp;полезной информацией, она знает свою аудиторию и&nbsp;есть ресурсы развивать это направление, рассылки могут увеличить повторные продажи, укрепить образ бренда, а&nbsp;также дать возможность узнать что-то большее о&nbsp;своих клиентах.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'email',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Основные этапы email-маркетинга' title='Основные этапы email-маркетинга').image-shadow
              p.text-marked--size--s Основные этапы email-маркетинга
          p Рассылать письма по&nbsp;сотням и&nbsp;тысячам незнакомых адресов не&nbsp;только малоэффективно, но&nbsp;и&nbsp;ведет к&nbsp;вероятной блокировке от&nbsp;почтовых сервисов. Сообщения на&nbsp;почту должны направляться исключительно тем, кто подписался на&nbsp;рассылку, а&nbsp;клиенты с&nbsp;удовольствием это делают, если им&nbsp;интересен контент от&nbsp;компании.
          p Уместно:
          ul.list-marked 
            li оповещать о&nbsp;спецпредложениях и&nbsp;акциях в&nbsp;стоматологии для привлечения клиентов;
            li напоминать о&nbsp;плановых процедурах (строго индивидуально);
            li информировать о&nbsp;появлении новых товаров и&nbsp;т.п.
          p Спам недопустим, кроме того, всегда нужно оставлять возможность отписки без каких-либо особых условий и&nbsp;трудностей. Системных подход в&nbsp;email-маркетинге, а&nbsp;именно регулярность рассылки позволит достичь лучших результатов по&nbsp;этому направлению.

          h3.no-content Крауд-маркетинг
          p Крауд-маркетинг&nbsp;&mdash; это вид нативной рекламы, который позволяет ненавязчиво рекомендовать услугу, к&nbsp;примеру, через сервис вопросов. Обычно задание по&nbsp;продвижению на&nbsp;сервисах, в&nbsp;блогах, на&nbsp;форумах дается компетентным в&nbsp;теме и&nbsp;хорошо знающим целевую аудиторию людям, которые естественным образом проводят много времени на&nbsp;соответствующих площадках.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'crowd',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Что дает крауд-маркетинг' title='Что дает крауд-маркетинг').image-shadow
              p.text-marked--size--s Что дает крауд-маркетинг

          h3.no-content Кросс-маркетинг
          p Метод совместного продвижения услуг с&nbsp;другими компаниями, с&nbsp;которыми целевая аудитория частично совпадает. К&nbsp;примеру, стоматологию могут рекомендовать в&nbsp;кабинете акушера-гинеколога, фотосалоне или фитнес-клубе в&nbsp;ответ на&nbsp;аналогичную услугу.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'cross',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Виды кросс-маркетинга' title='Виды кросс-маркетинга').image-shadow
              p.text-marked--size--s Виды кросс-маркетинга

          h3.no-content Мессенджеры
          p Направление, которое считается наиболее перспективным, так как мессенджеры пользуются большой популярностью в&nbsp;среде потенциальных клиентов (пациентов). Среди наиболее высоко востребованных Телеграмм, Ватсап, Вайбер. Как минимум данный канал можно использовать для информирования.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'messengers',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Самые популярные мессенджеры в мире (активные пользователи в месяц, февраль 2023 г.)' title='Самые популярные мессенджеры в мире (активные пользователи в месяц, февраль 2023 г.)').image-shadow
              p.text-marked--size--s Самые популярные мессенджеры в мире (активные пользователи в месяц, февраль 2023 г.)

          h3.no-content Работа над репутацией
          p Пользователи, получившие негативный опыт, торопятся сообщить о&nbsp;неудаче, а&nbsp;те, кто остался доволен, реже тратят время на&nbsp;отзывы. Но&nbsp;если изучить тему глубже, становится понятно, что о&nbsp;своей боли чаще всего кричат не&nbsp;все, неудовлетворенные услугой, а&nbsp;только те&nbsp;пациенты, которые посчитали, что с&nbsp;ними поступили несправедливо. И&nbsp;именно поэтому с&nbsp;отзывами нужно работать, разбирать причины проблем, устранять обстоятельства, создавшие конфликт.
          p Работа с&nbsp;отзывами&nbsp;&mdash; это также и&nbsp;работа с&nbsp;блогерами, которые могут стать клиентами и&nbsp;рекомендовать услуги стоматологической клиники.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'reputation',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Из чего складывается репутация в интернете' title='Из чего складывается репутация в интернете').image-shadow
              p.text-marked--size--s Из чего складывается репутация в интернете

          h3.no-content Внутренняя реклама
          p Нельзя недооценивать роль рекламной информации, которая размещается внутри клиники. Видео ролик, показывающийся на&nbsp;мониторах в&nbsp;холле, буклеты и&nbsp;журналы, а&nbsp;также стенды должны убеждать заказать услугу. К&nbsp;примеру, если пациент пришел к&nbsp;терапевту, уместно ознакомить его с&nbsp;профилактическими услугами: чисткой зубов или реминерализацией, рассказать о&nbsp;новых, используемых в&nbsp;клинике, материалах и&nbsp;технологиях.

          h3.no-content Наружная реклама
          p Наружная реклама стоматологии&nbsp;&mdash; это в&nbsp;первую очередь фасад здания, окна клиники. Он&nbsp;не&nbsp;должен быть вызывающе ярким, но&nbsp;должен быть хорошо заметным, запоминающимся, а&nbsp;также опрятным, как вся прилегающая территория. Опытные маркетологи говорят: &laquo;Лицо клиники лежит у&nbsp;ее&nbsp;порога, если там грязь, репутация будет испорчена&raquo;.

          h3.no-content Внешняя реклама
          p Функционал рекламы в&nbsp;интернете более широк и&nbsp;в&nbsp;части инструментов показа, и&nbsp;в&nbsp;части аналитики проведенных кампаний. Но&nbsp;вывески, растяжки, реклама на&nbsp;автобусах и&nbsp;подобное также могут привлечь часть аудитории и&nbsp;без использования интернета. Поэтому преждевременно нельзя ее&nbsp;исключать, а&nbsp;стоит попробовать оценить эффективность офлайн и&nbsp;онлайн рекламы и&nbsp;выбрать оптимальное распределение бюджета.

          h3.no-content Печатная продукция
          p Донести информацию до&nbsp;пациентов, живущих в&nbsp;мире офлайн, также можно с&nbsp;помощью флаеров, буклетов, визиток, информационных листовок, и&nbsp;даже рекламы в&nbsp;журналах. При подготовке материалов важно помнить, что эти форматы не&nbsp;являются дополнением сайтов в&nbsp;сети, а&nbsp;чаще всего выступают самодостаточным источником информации для тех, кто не&nbsp;посещает онлайн-площадок. Поэтому в&nbsp;небольшом поле листовки нужно уместить все необходимое для клиента.
          +grid
            +grid__item({ m:10 })
              +img({
                name: 'print',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Форматы печатной продукции' title='Форматы печатной продукции').image-shadow
              p.text-marked--size--s Форматы печатной продукции

          h2 Реклама, которая не&nbsp;работает для стоматологии
          p Не&nbsp;существует плохих инструментов и&nbsp;методов, но&nbsp;есть&nbsp;те, которые неуместно или неоправданно использованы в&nbsp;контексте обстоятельств, и&nbsp;те, которые плохо работают по&nbsp;причине слабой реализации. К&nbsp;примеру, начинающим стоматологическим клиникам, у&nbsp;которых еще нет репутации и&nbsp;множества клиентов, не&nbsp;стоит спешить на&nbsp;обложки глянцевых журналов, так как это дорогой инструмент, который не&nbsp;принесет большое количество клиентов сразу.

          h2 Аналитика и&nbsp;отчетность
          p Маркетинговую стратегию, т.е. планы, нужно постоянно корректировать с&nbsp;учетом поступающих о&nbsp;ходе реализации данных. Если меняется конъюнктура, какие-то инструменты не&nbsp;приносят желаемой отдачи, необходимо вносить изменения.
          p Собирать данные нужно по&nbsp;каждому каналу продвижения. К&nbsp;основным показателям отчетности можно отнести: стоимость лида, звонка; число сделок с&nbsp;каждого канала. Анализ проводится при сравнении абсолютных показателей между собой, а&nbsp;также плановых данных с&nbsp;фактическими.
          +grid 
            +grid__item
              +img({
                name: 'client',
                path: '/images/blog/reklama-stomatologii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Путь клиента и метрики для отслеживания' title='Путь клиента и метрики для отслеживания').image-shadow
              p.text-marked--size--s Путь клиента и метрики для отслеживания

          h2 Как сэкономить бюджет при рекламе стоматологической клиники?
          p Расходовать меньше без потерь можно только при эффективной организации процесса. То&nbsp;есть использовать нужно те&nbsp;инструменты, которые приносят максимальную отдачу, и&nbsp;отказываться от&nbsp;тех, которые дорого стоят и&nbsp;несут мало пользы. К&nbsp;малоэффективным обычно относится щитовая реклама при размещении в&nbsp;спальных районах, большие билборды на&nbsp;этапе раскрутки.
          p Однако отказываться от&nbsp;каких-то инструментов полностью с&nbsp;целью экономии нужно очень осторожно. Так как не&nbsp;существует чудо-средства (панацеи), которое могло&nbsp;бы обеспечить долгосрочный вау-эффект при отдельном использовании. Хороший результат дает только комплексный подход.

          -
            const banner2 = {
              header: 'У вас есть проект? Давайте обсудим!<br>Комплексный медицинский маркетинг',
              text: {tag: 'div', className: 'grid', content:[
                
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'SEO'},
                    {tag: 'li', content: 'Контекстная реклама'},
                    {tag: 'li', content: 'SMM'},
                  ],
                }},
                {tag: 'div', className: 'grid__cell grid__cell--m-6 grid__cell--12', content: {
                  tag: 'ul', className: 'list-numbered', content: [
                    {tag: 'li', content: 'Аудиты'},
                    {tag: 'li', content: 'Личная консультация'},
                  ],
                }},
              ]},
              button: 'Отправить заявку',
            }
          +banner(banner2)
        +grid__item({m:3,xs:12})
          +blogAuthor({name: 'Виталий Заря', photo: '/images/staff-vitaliy.jpg'})
      h2 Вам также будет интересно
      -
        const bi = [
          {name: 'Запись вебинара "Маркетинг клиники в условиях пандемии"', image: 'https://medreclama.ru/images/blog/zapis-vebinara-marketing-kliniki-v-usloviyakh-pandemii/2020-05-22_16-34-34.png', views: 4},
          {name: 'Нужна ли лицензия на телемедицину: правовое регулирование', image: 'https://medreclama.ru/images/blog/nuzhna-li-litsenziya-na-telemeditsinu-pravovoe-regulirovanie/cover.jpg', views: 5},
          {name: 'Приказ 965н минздрава о порядке применения телемедицины', image: 'https://medreclama.ru/images/blog/prikaz-965n-minzdrava-o-poryadke-primeneniya-telemeditsiny/cover.jpg', views: 6},
          {name: 'Защита врачебной тайны в телемедицине, конфиденциальность и достоверность', image: 'https://medreclama.ru/images/blog/zashchita-vrachebnoj-tajny-v-telemeditsine-konfidentsialnost-i-dostovernost/cover.jpeg', views: 7},
        ]
      +blogInteresting(bi)
