extends /blocks/layout/layout

include /blocks/banner/banner
include /blocks/blog-author/blog-author
include /blocks/blog-interesting/blog-interesting
include /blocks/why-we/why-we
include /blocks/icon-block/icon-block
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white.blog-page
      .page-header
        h1 Новые требования к сайту медицинской организации в 2023 году
      include /blocks/blog-header/blog-header
      //- .item-image: img(src='/images/blog/obzor-rejting-servisov-programm-i-prilozhenij-dlya-sistemy-telemeditsiny/cover.jpg' alt='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины' title='Обзор&nbsp;&mdash; рейтинг сервисов, программ и&nbsp;приложений для системы телемедицины')

      +grid({paddingy: true})
        +grid__item({m:9,xs:12}).blog-article
          p Создавая и&nbsp;обновляя сайт медучреждения, важно не&nbsp;только придерживаться общепринятых принципов, которые касаются адаптивной верстки, комфортной структуры, привлекательного дизайна, скорости работы веб-ресурса, но&nbsp;и&nbsp;#[a(href='https://base.garant.ru/406870186/' target='_blank' rel='nofollow') выполнять требования] к&nbsp;медицинскому сайту, которые регулируются законодательством (приказом Минздрава и&nbsp;прочими документами).
          +figure({
            image: {
              name: 'trebovaniya-1',
              path: '/images/blog/trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            }, 
          })

          h2 Основная законодательная база
          p Требования к&nbsp;сайту медицинской организации предполагают что, разрабатывая и&nbsp;наполняя его, нужно ориентироваться на&nbsp;информацию, приведенную в&nbsp;следующих документах:
          ul.list-marked 
            li Приказ Минздрава Российской Федерации &#8470;&nbsp;956н и &#8470;&nbsp;201н.
            li ФЗ&nbsp;РФ &#8470;&nbsp;323, 326 и&nbsp;392.
            li Приказ ФФОМС &#8470;&nbsp;36. 
          p Изучив требования к&nbsp;содержанию информацию на&nbsp;веб-ресурсе, руководители медучреждений получат исчерпывающий список всего того, что нужно разместить на&nbsp;веб-ресурсе, смогут распределить информацию по&nbsp;соответствующим разделам. 
          p Требования к&nbsp;официальному сайту медицинской организации необходимо выполнять уже сейчас, поскольку они вступили в&nbsp;силу 1&nbsp;сентября 2023&nbsp;года. Если этого не&nbsp;сделать, что ответчик понесет административное наказание в&nbsp;виде штрафа (от&nbsp;10&nbsp;тыс.&nbsp;до&nbsp;500&nbsp;тыс. руб.).

          h3.no-content Взгляд юристов
          p Некоторые юристы, изучив приказ с&nbsp;требованиями к&nbsp;сайту медицинской организации, уже прокомментировали нововведения, и&nbsp;считают, что по&nbsp;некоторым новым положениям пока нет понятной практики внедрения. Потому рекомендуют выполнить хотя&nbsp;бы тот минимум, который перечислен в&nbsp;статье.
          p Например, все нижеперечисленное медорганизация обязана разместить на&nbsp;сайте в&nbsp;наглядной и&nbsp;доступной форме. Что подразумевается под этими фразами непонятно, потому рекомендуем хотя&nbsp;бы избегать мелкого шрифта и&nbsp;текста, который сливается с&nbsp;фоном.

          +figure({
            image: {
              name: 'trebovaniya-2',
              path: '/images/blog/trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            }, 
          })

          h2 Какие требования к&nbsp;медицинским сайтам нужно выполнить?
          p Далее перечислим, что именно медицинское учреждение обязано разместить на&nbsp;сайте.

          h3.no-content Страница с&nbsp;правовой информацией
          p Эксперты рекомендуют собрать в&nbsp;отдельном разделе правовые документы, реквизиты, предоставить контактные данные и&nbsp;необходимые ссылки.
          p Медицинское учреждение, как юридическое лицо, должно разместить на&nbsp;веб-ресурсе:
          ul.list-marked 
            li идентификационный номер налогоплательщика;
            li ОГРН;
            li фактический адрес;
            li веб-адрес;
            li предупреждение о&nbsp;рисках, ожидаемых результатах после оказанных услуг.
          p Сделать это можно в&nbsp;виде гиперссылок на&nbsp;соответствующие файлы или&nbsp;же добавить бланки, внутренние нормативные документы в&nbsp;отсканированном виде.
          p Также в&nbsp;новых правилах сказано, что клиника должна предоставлять, по&nbsp;требованию пациента, выписку из&nbsp;ЕГРЮЛ. Но&nbsp;лучше сразу загрузить ее&nbsp;на&nbsp;сайт в&nbsp;соответствующий раздел.


          h4.no-content Мнение юристов
          p Пункт, который пока остается без официальных разъяснений, касается рисков, последствий и&nbsp;ожидаемых результатов от&nbsp;оказанной медпомощи. Потому юристы рекомендуют, опираясь на&nbsp;требования к&nbsp;сайтам медицинских услуг, разместить на&nbsp;веб-ресурсе добровольное информированное согласие, учитывая, что такие сведения перечислены только там. Сопровождать этим документом надо каждую услугу: добавить его в&nbsp;прайс, раздел с&nbsp;шаблонами документов, и&nbsp;на&nbsp;страницу, где выложены ссылки на&nbsp;стандарты.

          h3.no-content Сведения о&nbsp;лицензии
          p На&nbsp;сайте обязательно нужно прикрепить отсканированную лицензию, чтобы было видно ее&nbsp;номер, кто ее&nbsp;выдал, срок действия, наименование видов медицинской деятельности.
          p Если лицензия временно приостанавлена, эту информацию обязательно дублируют на&nbsp;сайте, включая срок приостановки действия и&nbsp;дату.
          p Прежде чем опубликовать номер лицензионного документа, обязательно сверьте его #[a(href='https://roszdravnadzor.gov.ru/services/licenses' target='_blank' rel='nofollow') на&nbsp;сайте Ведомства], чтобы эта информация совпадала. Периодически контролируйте, чтобы корректный номер заносился в&nbsp;справку на&nbsp;налоговые вычеты и&nbsp;в&nbsp;договор. 

          h2 Другая информация, которую нужно разместить
          h3.no-content Перечень платных услуг и&nbsp;их&nbsp;стоимость
          p Названия публикуют, сверяясь #[a(href='https://base.garant.ru/71805302/#block_1000' target='_blank' rel='nofollow') с&nbsp;номенклатурой Министерства здравоохранения] и&nbsp;точным наименованием видов деятельности, указанных в&nbsp;лицензии. Данные из&nbsp;номенклатуры, как предполагают требования к&nbsp;сайту медорганизации, следует переносить в&nbsp;план лечения, прайс-лист, акты и&nbsp;чеки. Нужно разместить информацию и&nbsp;о&nbsp;том, что возможно получение дополнительных платных услуг, которые не&nbsp;предусмотрены в&nbsp;изначальном соглашении. Учитывая, что для каждой услуги найти подходящий код и&nbsp;привлекательное наименование (с&nbsp;точки зрения маркетинга) в&nbsp;номенклатуре не&nbsp;удастся, специалисты рекомендуют разместить в&nbsp;прейскуранте ссылку на&nbsp;утвержденный перечень услуг. 

          h3.no-content Время ожидания медпомощи
          p Если компания&nbsp;&mdash; участница программы ОМС, тогда нужно описать порядок получения бесплатной медицинской помощи и&nbsp;сроках ее&nbsp;ожидания. Приложите также ссылки на&nbsp;программы государственных гарантий, а&nbsp;сроки продублируйте в&nbsp;нормативном акте внутренней документации. Так требования к&nbsp;сайту клиники выполнятся более полно.

          h3.no-content Время ожидания платных медуслуг
          p В&nbsp;этом случае следует учитывать загрузку специалистов клиники. Например, если запись к&nbsp;определенным врачам ведется на&nbsp;2&nbsp;месяца вперед, то&nbsp;рекомендуют указать больший промежуток (для приведенного примера это может быть срок 3&nbsp;месяца). Сроки дублируют в&nbsp;тексте договора. Если&nbsp;же точный срок указывать нежелательно или нет возможности, тогда формулировку строят следующим образом: &laquo;срок зависит от&nbsp;состояния здоровья пациента, длительности изготовления медизделия, графика работы доктора, и&nbsp;указан в&nbsp;предварительном плане лечения&raquo;.

          h3.no-content Клинические рекомендации и&nbsp;стандарты медпомощи
          p В&nbsp;перечень нужно включить абсолютно все, которые клиника использует в&nbsp;работе. Для этого лучше на&nbsp;сайте прикрепить соответствующие ссылки, которые ведут на&nbsp;официальные документы. Важно: на&nbsp;официальном веб-ресурсе Министерства здравоохранения клинические рекомендации по&nbsp;стоматологии пока не&nbsp;опубликованы, потому из&nbsp;других источников их&nbsp;брать не&nbsp;стоит.

          h3.no-content Сведения о&nbsp;сотрудниках
          p Ее&nbsp;прикрепляют в&nbsp;виде файлов или&nbsp;же создают карточки для каждого специалиста, в&nbsp;которых указывают ФИО, образование, наименование должности, график приема, который нужно постоянно актуализировать, порядок записи к&nbsp;нему, прикрепляют отсканированные сертификаты и&nbsp;дипломы. Если регулярно обновлять график приема не&nbsp;получится, тогда прикрепите ссылку на&nbsp;информацию, поданную в&nbsp;виде таблицы.

          h3.no-content Образцы договоров
          p Шаблон нужно разместить в&nbsp;соответствующем разделе, прикрепить все варианты бланков. Смысл в&nbsp;том, чтобы пациенты могли заполнять документы онлайн, а&nbsp;администратор распечатывал их&nbsp;перед приемом.

          h3.no-content Список льгот и&nbsp;льготных категорий граждан (если предусмотрено)
          p Например, частная клиника вправе не&nbsp;давать льготы. В&nbsp;других случаях нужно, кроме перечня, описать порядок получения услуг на&nbsp;льготных условиях.

          h3.no-content Информация о&nbsp;медицинской организации
          p На&nbsp;веб-ресурсе нужно разместить: полное наименование; информацию об&nbsp;учредителях; полные контактные данные, включая юридический, фактический адрес, в&nbsp;том числе филиалов, контактные номера телефонов; график работы основного учреждения и&nbsp;филиалов; данные надзорных органов, куда можно обращаться с&nbsp;жалобами, вопросами по&nbsp;защите прав потребителей. 

          h4.no-content Особенности приема жалоб
          p На&nbsp;веб-ресурсе нужно разместить электронный или почтовый адрес, на&nbsp;который медицинское учреждение принимает жалобы. Следует перечислить способы подачи жалобы, желательно составить фиксированную форму приема заявлений, чтобы пациент не&nbsp;писал их&nbsp;на&nbsp;публичных площадках, что ухудшит рейтинг клиники.
          p Например, на&nbsp;сайте можно обозначить, что жалобы вы&nbsp;собираете только через форму обратной связи, а&nbsp;потому на&nbsp;обращения, полученные другим способом, можете не&nbsp;реагировать. Но, согласно #[a(href='https://base.garant.ru/10106035/' target='_blank' rel='nofollow') Закону &laquo;О&nbsp;защите прав потребителей&raquo;], обязаны рассмотреть и&nbsp;отреагировать на&nbsp;обращения в&nbsp;течение 10&nbsp;дней.

          h4.no-content Особенности заключения договора онлайн
          p Юристы подчеркивают, что такая возможность&nbsp;&mdash; не&nbsp;обязанность, а&nbsp;право клиники. Свое согласие (акцепт) пациент, которого приравнивают к&nbsp;потребителю, дает через сайт, во&nbsp;время заключения договора. 
          ul.list-marked 
            li Но, прежде чем заключить контракт, нужно ознакомить пациента с&nbsp;обязательной информацией, перечисленной в&nbsp;вышеприведенных подзаголовках. Такие сведения публикуют на&nbsp;главной странице веб-ресурса. Можно попробовать подать информацию в&nbsp;виде ссылки, но&nbsp;эксперты считают, что подобный способ изложения информации будет нарушением.
            li Договор считается уже заключенным, как только пациент каким-либо образом начал выполнять условия соглашения. Например, для этого будет достаточно внесения оплаты. Для акцепта подойдет даже графа для проставления галочки или&nbsp;же кнопка на&nbsp;сайте. 
            li Подписание договора и&nbsp;направление согласия реализуется с&nbsp;помощью электронной подписи. В&nbsp;качестве такой подойдет SMS для авторизации, необходимые для входа в&nbsp;личный кабинет логин и&nbsp;пароль. 
            li Если пациент заключал договор онлайн, то&nbsp;клиника обязана отправить подтверждение этого действия. Сообщает клиенту способ идентификации, открывающий доступ к&nbsp;информации, изложенной в&nbsp;документе. Для отправки подтверждения используют e-mail, SMS, мессенджер. Облегчить процесс позволяет CRM. 
            li Клиника сопровождает электронной подписью заключенный документ, направляет его пациенту по&nbsp;запросу.
            li Вероятно возникновение сложностей при использовании электронной подписи. Регулятор сообщает, что обе стороны обязаны использовать единую информационную систему, подписывая документы. Один из&nbsp;вариантов решения ситуации&nbsp;&mdash; использование одноименного инструмента, который предлагает Битрикс24. 
            li Клиенту доступен отказ от&nbsp;договора, заключенного онлайн: сделать это он&nbsp;может аналогичным способом. Эксперты говорят, что способ практической реализации этой возможности пока не&nbsp;понятен. Рекомендуют разместить на&nbsp;сайте кнопку, позволяющую сделать отписку, как это реализуется на&nbsp;примере рассылок.

          p Получается, что для упрощения взаимодействия с&nbsp;клиентом, а&nbsp;именно создания для него условий для ознакомления с&nbsp;документами, их&nbsp;подписания, расторжения, а&nbsp;также оплаты услуг нужно реализовать функцию личного кабинета. Но&nbsp;в&nbsp;правилах пока отсутствуют требования для заключения договора в&nbsp;онлайн-режиме.
          p Также существуют отдельные требования к&nbsp;структуре сайта, на&nbsp;котором должна быть версия для слабовидящих, карта, улучшающая навигацию и&nbsp;все те&nbsp;инструменты, которые облегчают процесс пользования веб-ресурсом. Обязательно публикуют отзывы клиентов и&nbsp;актуальные вакансии. 
          p Подавать информацию нужно в&nbsp;доступной и&nbsp;понятной форме, а&nbsp;интерфейс разрабатывать, учитывая интересы пользователей.

          h2 Новые правила: взгляд юристов
          h3.no-content Как быть участникам программы госгарантий?
          p Юристы рекомендуют обратить внимание на&nbsp;восьмой пункт в&nbsp;правилах, где приводят конкретные случаи, когда услуги разрешено сделать платными.
          p Если выделить характерные различия с&nbsp;предыдущей версией правил, то&nbsp;можно заметить, что теперь срочную медицинскую помощь оказывают на&nbsp;платной основе.
          p Но, если раньше индивидуальное медицинское наблюдение в&nbsp;стационаре предоставляли исключительно платно, не&nbsp;ориентируясь на&nbsp;показания, то, согласно новым правилам, взимать плату за&nbsp;эту услугу невозможно, если ее&nbsp;оказывают по&nbsp;медицинским показаниям.
          p Платным разрешено сделать лечебное питание и&nbsp;медицинские изделия, если они поставляются не&nbsp;по&nbsp;программе государственных гарантий, а&nbsp;также закупаются не&nbsp;за&nbsp;счет бюджетных средств. 
          p Платные услуги на&nbsp;других условиях разрешены, когда пациенту назначен препарат, который не&nbsp;входит в&nbsp;перечень жизненно необходимых, а&nbsp;его закупка происходит не&nbsp;за&nbsp;бюджетные отчисления.

          h3.no-content Комментарии юристов относительно важности доведения определенной информации до&nbsp;пациента
          ul.list-marked 
            li Нововведением стало требование, которое предполагает не&nbsp;только доступность такой информации, но&nbsp;и&nbsp;подачу ее&nbsp;в&nbsp;наглядной форме, хотя конкретику регулятор по&nbsp;этому вопросу не&nbsp;привел. Юристы считают, что исполнителю понадобится добавлять изображения в&nbsp;виде логотипов, значков, инфографики и&nbsp;тому подобного.
            li Странным специалисты считают требование о&nbsp;доведении информации относительно рисков и&nbsp;методов оказания медицинской помощи, ожидаемых эффектах, последствиях, вариантах медицинских вмешательств. Оказывается, что это лишнее, поскольку уже регулируется другим документом (в&nbsp;ст.&nbsp;20&nbsp;Закона), и&nbsp;дополнительно пациент, ставя подпись в&nbsp;информированном добровольном согласии, получает вышеупомянутую информацию там.
            li В&nbsp;качестве пояснения юристы говорят о&nbsp;том, что требования к&nbsp;публикации стандартов медицинской помощи и&nbsp;клинических рекомендаций касаются только той документации, которую клиника использует в&nbsp;своей деятельности.
            li Отдельного внимания заслуживает информация, которую учитывают суды: например, качество оказания услуги этот орган сопоставляет не&nbsp;только со&nbsp;степенью достигнутого эффекта, но&nbsp;и&nbsp;полнотой информирования пациента о&nbsp;ней. Потому так важно выполнить все пункты требований, которые касаются доведения информации до&nbsp;пациентов. Например, не&nbsp;стоит пренебрегать обязанностью по&nbsp;обозначению временных границ ожидания платной услуги. Причем эту информацию обязательно дублируют и&nbsp;в&nbsp;договоре.
            li Образцы&nbsp;же договоров обязательно добавляют на&nbsp;сайт или информационный стенд. Дополнительно приводят условия о&nbsp;получении медицинских услуг на&nbsp;льготных условиях.
            li Стоматологическим клиникам тоже будет, на&nbsp;что обратить внимание: после имплантации они обязаны выдать пациенту информацию для идентификации установленного медицинского изделия. Раньше такой практики не&nbsp;было, этикетки отслеживаемости вклеивали только в&nbsp;медицинские карты.

          h3.no-content Комментарии относительно нового подхода к&nbsp;оформлению договора
          p Теперь в&nbsp;документ обязательно вносят паспортные данные заказчика, если он&nbsp;выступает в&nbsp;качестве физического лица, а&nbsp;также пациента. Требование достаточно проблематично выполнить, поскольку последние часто отказываются сообщать&nbsp;их.
          p Клиника обязуется разместить на&nbsp;сайте и&nbsp;информационном стенде правила поведения в&nbsp;медучреждении, а&nbsp;в&nbsp;договор добавить обязательства их&nbsp;соблюдения, как и&nbsp;назначенного режима лечения.
          p В&nbsp;договоре приводят весь перечень оказанных услуг, а&nbsp;если их&nbsp;количество превышает стандарт, об&nbsp;этом пишут дополнительно, приводя информацию о&nbsp;согласии пациента.
          p Если оказывали услуги, не&nbsp;обозначенные в&nbsp;договоре, с&nbsp;пациентом заключают дополнительное соглашение, которое прилагают к&nbsp;основному документу. Второй вариант решения возникшей ситуации&nbsp;&mdash; заключение нового договора, куда входит полный перечень медуслуг и&nbsp;их&nbsp;стоимости. 
          p Но&nbsp;правила удастся обойти, если правильно сформулировать определенные положения, которые касаются условий согласования дополнительных услуг с&nbsp;пациентом. Например, формулировка может звучать так, что пациент уже был уведомлен о&nbsp;возможности дополнительных услуг, обязательстве их&nbsp;согласования с&nbsp;ним.

          h2 Сравнительная таблица старых и&nbsp;новых правил 
          +table({ colored: true })
            +tr.table__row
              +th Условия 
              +th &#8470;&nbsp;1006
              +th &#8470;&nbsp;736
            +tr.table__row
              +td Оказание платных услуг на&nbsp;основании лицензии
              +td +
              +td +
            +tr.table__row
              +td Информирование о&nbsp;бесплатном оказании услуги по&nbsp;программе ОМС 
              +td +
              +td +
            +tr.table__row
              +td Условия, по&nbsp;которым клиника, участвующая в&nbsp;программе ОМС, может оказывать платные медуслуги 
              +td +
              +td +
            +tr.table__row
              +td Условия привлечения медиков и&nbsp;использования материально-технической базы для оказания медуслуг на&nbsp;платной основе
              +td -
              +td +
            +tr.table__row
              +td Порядок ценообразования на&nbsp;платные услуги
              +td +
              +td +
            +tr.table__row
              +td Соответствие перечня медуслуг номенклатуре медицинских услуг, утвержденных на&nbsp;законодательном уровне
              +td -
              +td +
            +tr.table__row
              +td Информирование об&nbsp;адресе сайта
              +td -
              +td +
            +tr.table__row
              +td Указание ОГРН, ИНН, адреса клиники
              +td +
              +td +
            +tr.table__row
              +td Полное наименование медицинского учреждения
              +td +
              +td +
            +tr.table__row
              +td Методы помощи, виды вмешательств, вероятные риски, последствия и&nbsp;ожидаемый эффект
              +td +
              +td +
            +tr.table__row
              +td Сроки ожидания оказания услуг на&nbsp;платной основе
              +td -
              +td +
            +tr.table__row
              +td Полные сведения о&nbsp;лицензии
              +td +
              +td +
            +tr.table__row
              +td Полный перечень медуслуг на&nbsp;платной основе, с&nbsp;обязательным указанием стоимости
              +td +
              +td +
            +tr.table__row
              +td Образцы договоров на&nbsp;платные медуслуги
              +td -
              +td +
            +tr.table__row
              +td Перечень льгот, категорий пациентов, имеющих на&nbsp;них право
              +td -
              +td +
            +tr.table__row
              +td Предоставление по&nbsp;требованию выписки из&nbsp;ЕГРЮЛ
              +td -
              +td +
            +tr.table__row
              +td Варианты, форма подачи жалоб, обращений, с&nbsp;указанием электронного либо почтового адреса
              +td -
              +td +
            +tr.table__row
              +td Информирование пациента, что несоблюдение рекомендаций, назначений медика, который оказал платную услугу, снизит ее&nbsp;качество или негативно скажется на&nbsp;состоянии здоровья
              +td +
              +td +
            +tr.table__row
              +td В&nbsp;договоре прописаны полные сведения об&nbsp;исполнителе, потребителе
              +td +
              +td +
            +tr.table__row
              +td Внесены цены медуслуг, приведен порядок и&nbsp;сроки их&nbsp;оказания
              +td +
              +td +
            +tr.table__row
              +td Полностью перечислены все медуслуги, которые оказывают на&nbsp;платной основе
              +td +
              +td +
            +tr.table__row
              +td Потребителя информируют о&nbsp;длительности ожидания услуг и&nbsp;условиях их&nbsp;оказания
              +td +
              +td +
            +tr.table__row
              +td А&nbsp;если от&nbsp;имени исполнителя договор заключает другое лицо, публикуют информацию и&nbsp;о&nbsp;нем
              +td +
              +td +
            +tr.table__row
              +td Свои подписи ставят потребитель, исполнитель, а&nbsp;в&nbsp;случае с&nbsp;юридическим лицом&nbsp;&mdash; представитель от&nbsp;имени заказчика, который заключает договор
              +td -
              +td +
            +tr.table__row
              +td Описывают ответственность сторон за&nbsp;несоблюдение условий, прописанных в&nbsp;документе
              +td +
              +td +
            +tr.table__row
              +td Публикуют основания, на&nbsp;которых договор расторгают или меняют его условия
              +td +
              +td +
            +tr.table__row
              +td Публикуют информацию об&nbsp;обязательном соблюдении режима лечения, который распространяется на&nbsp;стадию временной нетрудоспособности, правила поведения в&nbsp;клинике
              +td -
              +td +
            +tr.table__row
              +td Сообщают, какой порядок и&nbsp;на&nbsp;каких условиях потребитель либо его законный представитель могут получить медицинские документы, в&nbsp;которых отражена информация об&nbsp;изменении состояния здоровья по&nbsp;итогам получения платных услуг, его диагноз, результаты проведенной диагностики, использованных терапевтических методов, назначенных препаратов, медицинских изделий
              +td -
              +td +
            +tr.table__row
              +td Другие условия, прописанные в&nbsp;договоре, которые стороны предварительно согласовали
              +td +
              +td +
            +tr.table__row
              +td Медицинское учреждение обязуют выдавать документы по&nbsp;первому обращению потребителя, в&nbsp;которых отражены расходы на&nbsp;оказанные услуги, покупку медицинских препаратов, назначенных во&nbsp;время лечения
              +td -
              +td +
            +tr.table__row
              +td Перед получением платных услуг потребитель подписывает информированное добровольное согласие (требования распространяются и&nbsp;на&nbsp;его законного представителя)
              +td +
              +td +
            +tr.table__row
              +td Потребитель запрашивает, а&nbsp;исполнитель по&nbsp;первому требованию, а&nbsp;также в&nbsp;доступной форме передает информацию о&nbsp;состоянии здоровья, способах лечения, последствиях медицинского вмешательства, необходимых медицинских изделиях и&nbsp;лекарственных препаратах для оказания медицинской помощи
              +td +
              +td +
            +tr.table__row
              +td Есть медицинские услуги на&nbsp;платный основе оказывают иностранным гражданам, тогда информацию о&nbsp;медицинской деятельности в&nbsp;отношении нерезидентов передают, следуя указаниям ЦБ&nbsp;РФ
              +td -
              +td +
            +tr.table__row
              +td Обязательство возвращать внесенную сумму за&nbsp;ненадлежащее качество услуг или при отказе клиники от&nbsp;исполнения условий договора
              +td -
              +td +
            +tr.table__row
              +td Прописывают правила подписания договора на&nbsp;платные медуслуги в&nbsp;онлайн-режиме, а&nbsp;также особенности исполнения условий, перечисленных в&nbsp;этом документе
              +td -
              +td +
