extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h2 Оказание медицинских услуг
      p: img(src='/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/cover.jpg' alt='Юридические аспекты работы клиники в условиях пандемии' title='Юридические аспекты работы клиники в условиях пандемии')
      h3 Чем руководствоваться?
      p: a(href='http://www.consultant.ru/document/cons_doc_LAW_348101/2ff7a8c72de3994f30496a0ccbb1ddafdaddf518/') Приказ Министерства здравоохранения&nbsp;РФ от&nbsp;19&nbsp;марта 2020&nbsp;г. &#8470;&nbsp;198н &laquo;О&nbsp;временном порядке организации работы медицинских организаций в&nbsp;целях реализации мер по&nbsp;профилактике и&nbsp;снижению рисков распространения новой коронавирусной инфекции COVID-19&raquo;
      p 1. Руководители органов исполнительной власти субъектов Российской Федерации в&nbsp;сфере охраны здоровья и&nbsp;руководители медицинских организаций и&nbsp;их&nbsp;структурных подразделений, оказывающих медицинскую помощь в&nbsp;амбулаторных условиях и&nbsp;условиях дневного стационара, (далее&nbsp;&mdash; медицинские организации):
      p 1.10. Приостанавливают проведение профилактических медицинских осмотров и&nbsp;диспансеризации.
      p 1.11. Рассматривают возможность переноса сроков оказания медицинской помощи в&nbsp;плановой форме, в&nbsp;том числе, в&nbsp;условиях дневного стационара.
      h3 В&nbsp;Санкт-Петербурге
      p: a(href='http://78.rospotrebnadzor.ru/c/document_library/get_file?uuid=d9b11ca5-a3aa-4f65-a6ab-bf76549f5586&groupId=935484') Постановление Главного государственного санитарного врача по&nbsp;городу Санкт-Петербургу &#8470;&nbsp;5&nbsp;от&nbsp;05.04.2020 &laquo;О&nbsp;внесении изменений в&nbsp;Постановление Главного государственного санитарного врача по&nbsp;городу Санкт-Петербургу от&nbsp;23.03.2020 &#8470;&nbsp;3&raquo;
      p: img(src='/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/scan-1.jpg' alt='Фрагмент документа' style='max-width: 750px;')
      p &laquo;с&nbsp;заболеваниями и&nbsp;состояниями, при которых отсрочка оказания медпомощи на&nbsp;определенное время может повлечь ухудшение их&nbsp;состояния, угрозу жизни и&nbsp;здоровью&raquo;, к&nbsp;ним&nbsp;же отнесены и&nbsp;
        strong пациенты с&nbsp;острыми заболеваниями, травмами, обострениями (декомпенсацией) хронических заболеваний
        | .
      p Про пациентов городских и&nbsp;частных стоматологий в&nbsp;постановлениях главного санитарного врача ничего не&nbsp;сказано. Как пояснил главный стоматолог города 
        strong Андрей Яременко
        | , новый документ не&nbsp;вводит полного запрета на&nbsp;оказание плановой стоматологической помощи.
      h3 В&nbsp;Москве 
      p: a(href='https://www.mos.ru/upload/documents/docs/39-YM(4).pdf') Указ Мэра Москвы от&nbsp;5&nbsp;марта 2020&nbsp;г. &#8470;&nbsp;12-УМ с&nbsp;изменениями от&nbsp;04&nbsp;апреля 2020&nbsp;г.
      p: img(src='/images/blog/yuridicheskie-aspekty-raboty-kliniki-v-usloviyakh-pandemii/scan-2.jpg' alt='Фрагмент документа' style='max-width: 750px;')
      p: a(href='https://www.mos.ru/upload/documents/docs/28-YM.pdf') Указ Мэра города Москвы от&nbsp;25.03.2020 &#8470;&nbsp;28-УМ
      p Временно (без указания конкретного срока) приостанавливает 
        strong оказание стоматологических услуг за&nbsp;исключением заболеваний и&nbsp;состояний, требующих оказания стоматологической помощи в&nbsp;экстренной или неотложной форме
        | .
      p Таким образом, медицинская помощь пациенту с&nbsp;острой зубной болью, острым пульпитом (или даже обострением хронического пульпита) относится к&nbsp;неотложной медицинской помощи. Соответственно, прием и&nbsp;лечение таких пациентов не&nbsp;будут являться нарушением Указа Мэра города Москвы от&nbsp;25.03.2020 &#8470;&nbsp;28-УМ.
      p Стоматологической Ассоциацией России разработаны и&nbsp;утверждены 
        a(href='https://vk.com/wall-86134177_175') временные рекомендации
        | : &laquo;Об&nbsp;оказании экстренной и&nbsp;неотложной стоматологической помощи в&nbsp;условиях эпидемии коронавирусной инфекции&raquo;.
      p По&nbsp;мнению юристов данная рекомендация имеет юридическую силу.
      h3 Экстренная и&nbsp;неотложная помощь

      p Согласно статье 32&nbsp;Федерального закона от&nbsp;21.11.2011 &#8470;&nbsp;323-ФЗ &laquo;Об&nbsp;основах охраны здоровья граждан в&nbsp;РФ&raquo;:
      ul.list-marked.list-marked--w-prev-par
        li к&nbsp;экстренной медицинской помощи относится медицинская помощь, оказываемая при внезапных острых заболеваниях, состояниях, обострении хронических заболеваний, представляющих угрозу жизни пациента;
        li к&nbsp;неотложной медицинской помощи относится медицинская помощь, оказываемая при внезапных острых заболеваниях, состояниях, обострении хронических заболеваний без явных признаков угрозы жизни пациента.
      h3 Взаимоотношение с&nbsp;контрагентами
      p В&nbsp;соответствии с&nbsp;мнением Постановления пленума Верховного Суда&nbsp;&mdash; отсутствие денежных средств форс-мажором не&nbsp;является. А&nbsp;вот коронавирус&nbsp;&mdash; является форс-мажором.
      p 19&nbsp;марта 2020 Министерство финансов и&nbsp;Федеральная антимонопольная служба признали пандемию COVID-19 форс-мажором: 
      ul.list-marked.list-marked--w-prev-par
        li По&nbsp;мнению Минфина России, распространение новой коронавирусной инфекции, вызванной 2019-NCOV, носит чрезвычайный и&nbsp;непредотвратимый характер, в&nbsp;связи с&nbsp;чем является обстоятельством непреодолимой силы.
        li Пресс-служба ФАС отметила: сложившиеся обстоятельства нужно учитывать при рассмотрении административных дел, жалоб на&nbsp;закупки и&nbsp;обращений о&nbsp;включении в&nbsp;реестр недобросовестных поставщиков.

      p Согласно 44-ФЗ, отказаться от&nbsp;выполнения обязательств по&nbsp;контракту нельзя. Можно только получить отсрочку до&nbsp;тех пор, пока непреодолимые обстоятельства существуют. В&nbsp;сложившейся ситуации отсрочка действует до&nbsp;окончания пандемии.
      h4 Действия договоров с&nbsp;поставщиками
      p Действительно по&nbsp;всем договорам можно либо отложить поставки, либо приостановить их&nbsp;исполнение.
      p Расторжение&nbsp;же договора возможно без возмещения убытков, если кредитор утратил интерес к&nbsp;исполнению договора в&nbsp;силу просрочки.

      h4 Взаимодействие с&nbsp;арендодателями
      p Необходимо отправить арендатору письмо (заявление), со&nbsp;ссылкой на&nbsp;ч.1&nbsp;ст.&nbsp;19&nbsp;закона N&nbsp;98&nbsp;от&nbsp;01.04.2020 и&nbsp;просьбой применить отсрочку или снизить арендную плату. В&nbsp;течении 30&nbsp;дней собственник должен заключить с&nbsp;арендатором дополнительное соглашение на&nbsp;новых условиях. По&nbsp;мнению юристов в&nbsp;соответствии с&nbsp;данной статьей арендодатель обязан предоставить отсрочку.
      p Условия отсрочки установлены Постановлением Правительства &#8470;&nbsp;439 от&nbsp;03.04.2020. 
      p Срок предоставления отсрочки&nbsp;&mdash; с&nbsp;момента введения режима&nbsp;ПГ (повышенной готовности) или&nbsp;ЧС и&nbsp;до&nbsp;1&nbsp;октября 2020&nbsp;года.

      h2 Выполнение требований Роспотребнадзора
      ol.list-numbered
        li Соблюдение требований Роспотребнадзора
        li Разработка внутренних документов на&nbsp;поддержание санитарно-эпидемиологических требований
        ol.list-numbered
          li Приказы
          li Инструкции
          li Учет СИЗ
        li Доведение требований до&nbsp;работников под подпись
        li Отслеживание контактов потенциально инфицированных на&nbsp;приеме в&nbsp;медицинской организации
        li Подпись пациента под эпиданамнезом

      p В&nbsp;идеале:
      ol.list-numbered.list-numbered--w-prev-par
        li На&nbsp;входе в&nbsp;клинику&nbsp;&mdash; измерение температуры, запрос эпиданамнеза устно
        li Фиксация эпиданамнеза письменно

      h2 Выполнение требований Росздравнадзора
      ul.list-marked
        li Контроль выполнения Приказа Министерства здравоохранения&nbsp;РФ от&nbsp;19&nbsp;марта 2020&nbsp;г. &#8470;&nbsp;198н
        li Контроль соблюдения временных методических рекомендаций МЗ&nbsp;РФ

      h2 Особенности рекламы
      ul.list-marked
        li Стоит избегать формулировок, которые говорят о&nbsp;том, что клиника работает планово.
        li Опасаться формулировок вокруг слова &laquo;коронавирус&raquo;

      h2 Взаимодействие с&nbsp;сотрудниками
      ul.list-marked
        li Нерабочие дни не&nbsp;сотрудников клиник не&nbsp;распространяются, так как продолжают работу сотрудники
        li &laquo;Настоящий указ не&nbsp;распространяется на&nbsp;работников: непрерывно действующих организаций; медицинских и&nbsp;аптечных организаций;&raquo;
        li Возможно направление медицинских работников на&nbsp;удаленную работу
        li Карантин/самоизоляция без контакта с&nbsp;инфицированным, без посещения перечня стран, т.е.&nbsp;те&nbsp;же самые критерии, как и&nbsp;для пациента, и&nbsp;без признаков ОРВИ для медицинских работников также не&nbsp;возможен.
        li По&nbsp;желанию работника он&nbsp;может взять отпуск за&nbsp;свой счет, очередной отпуск.

      p Все действия в&nbsp;отношении работников необходимо оформлять приказом/договором с&nbsp;ознакомлением под роспись сотрудников.

      h3 Условия труда
      p В&nbsp;случае перевода сотрудника на&nbsp;дистанционную работу обязательно нужно выпустить приказ, подписать дополнительное соглашение с&nbsp;указанием функционала, рабочего времени, способа коммуникации, критериев эффективности.

      p Перевод на&nbsp;неполный рабочий день, изменение графика работы возможно, особенно в&nbsp;контексте форс-мажорных обстоятельств. Но&nbsp;здесь важно уведомить сотрудников под роспись.

      p Нельзя отправлять сотрудников в&nbsp;отпуск за&nbsp;свой счет распоряжением руководителя. Это чревато обращением сотрудника в&nbsp;трудовую инспекцию. Только по&nbsp;собственному желанию.
      h3 Оплата
      p Если премия обязательна&nbsp;&mdash; ее&nbsp;надо платить, если она по&nbsp;распоряжению руководителя, то&nbsp;тогда ее&nbsp;платить не&nbsp;обязательно.

      h3 Увольнение
      p Увольнять и&nbsp;принуждать к&nbsp;увольнению&nbsp;&mdash; с&nbsp;формальной точки зрения запрещено.

      h2 Закрытие клиники
      p Если сотрудники не&nbsp;увольняются приказом, то&nbsp;возникает трудовой спор. В&nbsp;этом случае работодатель должен им&nbsp;оплачивать 2/3 заработной платы за&nbsp;счет временного простоя.
