extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      p Изменения, внесенные в&nbsp;Федеральный закон &#8470;&nbsp;323, коснулись телемедицины и&nbsp;конфиденциальности: оказывать дистанционную медицинскую помощь с&nbsp;применением телемедицинских технологий необходимо с&nbsp;соблюдением требований в&nbsp;области обработки и&nbsp;защиты персональных данных.
      h2 Как реализуется защита медицинской информации в&nbsp;телемедицине? 
      p Передача персональных данных регулируется Роскомнадзором. Идентификация проходит через единую систему (или&nbsp;же портал &laquo;Госуслуг&raquo;). Пациент, обратившийся за&nbsp;медпомощью, на&nbsp;этапе идентификации подписывает оферту, в&nbsp;которой дает согласие на&nbsp;телемедицину: на&nbsp;удаленное медицинское вмешательство, а&nbsp;также на&nbsp;обработку личных данных. 
      p Клиника, прежде чем начать оказывать медицинские услуги с&nbsp;применением телемедицинских технологий, должна грамотно составить документы, прописывающие порядок и&nbsp;принципы защиты персональных данных, особенно процесс их&nbsp;передачи в&nbsp;интернет-пространстве. В&nbsp;документации обязательно приводится список медиков, которым открыт доступ к&nbsp;телемедицинскому сервису. Описывают средства защиты информации, с&nbsp;помощью которых данные в&nbsp;сети передаются безопасно, а&nbsp;доктор получает санкционированный доступ к&nbsp;данным, собранным в&nbsp;личном кабинете пациента.
      p Защиту персональных данных врачей регулирует Приказ Министерства здравоохранении России &#8470;&nbsp;965н. Медицинское учреждение, в&nbsp;котором реализовано оказание медицинской помощи с&nbsp;применением телемедицинских технологий, гарантирует достоверность информации в&nbsp;телемедицине, обязано сообщить пациенту сведения о&nbsp;консультирующем докторе: фамилию, имя, отчество, образование, график приема, рабочий стаж, должность, квалификацию, предыдущие места работы. Но&nbsp;предоставление этих данных возможно только после получения от&nbsp;медиков согласия на&nbsp;обработку их&nbsp;персональных данных, необходимую исключительно для реализации услуг телемедицины. 
      h2 Реализация безопасности передачи данных 
      p Вначале обеспечивают защиту личного кабинета пациента, получающего телемедицинские услуги. За&nbsp;ее&nbsp;организацию отвечает клиника, оказывающая телемедицинскую помощь. 
      p Затем обеспечивают защиту от&nbsp;уязвимостей на&nbsp;сайте либо ресурсе, на&nbsp;который поступают обращения пациентов, и&nbsp;с&nbsp;помощью которого реализуется работоспособность сервиса. Это условие выполняют в&nbsp;соответствии с&nbsp;требованиями Министерства здравоохранения. Оказывать медпомощь с&nbsp;помощью телемедицинских технологий разрешено в&nbsp;лицензированных помещениях, в&nbsp;которых установлено оборудование, средства связи, соответствующие требованиям по&nbsp;защите информации. 
      p Помимо обеспечения информационной безопасности, необходимо соблюдать Федеральный закон &#8470;&nbsp;187 &laquo;О&nbsp;безопасности критической информационной инфраструктуры Российской Федерации&raquo;, поскольку телемедицинские технологии влияют на&nbsp;здоровье и&nbsp;жизнь граждан. Если телемедицинская система даст сбой в&nbsp;работе хотя&nbsp;бы раз, в&nbsp;процессе обращения одного больного, этот случай подпадет под третью категорию &laquo;Перечня показателей критериев значимости объектов критической информационной инфраструктуры Российской Федерации и&nbsp;их&nbsp;значения&raquo;.
      p В&nbsp;итоге вся ответственность за&nbsp;обеспечение защиты информации по&nbsp;телемедицине лежит на&nbsp;исполнителе этих услуг, предполагает организационные и&nbsp;финансовые затраты. Если&nbsp;же не&nbsp;выполнять требования по&nbsp;безопасности передачи данных, это приведет к&nbsp;административной или уголовной ответственности.
      h2 Осуществление защиты медицинских данных на&nbsp;практике
      p В&nbsp;телемедицине врачебная тайна распространяется на&nbsp;все данные, собранные с&nbsp;пациентов. Поэтому полученную информацию обрабатывают в&nbsp;соответствии с&nbsp;требованиями законодательства о&nbsp;персональных данных. Передавать такие данные разрешено исключительно по&nbsp;защищенным каналам. Требование распространяется на&nbsp;приборы, датчики по&nbsp;сбору информации: у&nbsp;них должен быть сертификат безопасности.
      p Комплекс защитных мер определяют, ориентируясь на&nbsp;структуру телемедицинской системы и&nbsp;технологии, что в&nbsp;ней используются. Поскольку медицинская информация входит в&nbsp;понятие персональных данных, то&nbsp;для подбора мер защиты опираются на&nbsp;нормативные документы, разработанные в&nbsp;этом направлении. К&nbsp;стандартным мерам относятся: средства разграничения доступа, антивирусное программное обеспечение, средства сетевой безопасности, средства, анализирующие защищенность информационной системы. 
      p Для защиты прикладного программного обеспечения используют Database Firewall, Web Application Firewall. Для быстрого обнаружения и&nbsp;реагирования на&nbsp;угрозы информационной безопасности подойдет SIEM. Поскольку прикладное программное обеспечение регулярно дорабатывают и&nbsp;совершенствуют, рекомендуют периодически отслеживать и&nbsp;устранять уязвимости в&nbsp;программном коде. 
      h2 Сложно&nbsp;ли обеспечить информационную безопасность в&nbsp;телемедицине?
      p По&nbsp;сообщениям экспертов, механизм реализации простой. Важно изучить и&nbsp;выполнять требования, прописанные на&nbsp;законодательном уровне, постоянно контролировать безопасность информационных систем, сетевого пространства.
      p Исключить взлом злоумышленниками можно регулярными проверками информационной безопасности, использованием надежных систем защиты.
      p От&nbsp;недобросовестных действий конкурентов, жалоб защищаются полным и&nbsp;точным выполнением требований государственных регуляторов.
      p Защитить от&nbsp;поломок и&nbsp;сбоев в&nbsp;работе аппаратной части поможет резервное копирование, использование дополнительных источников питания. 
      p Полноценно&nbsp;же внедрить и&nbsp;эффективно использовать сервис телемедицины поможет подбор информационно подкованных в&nbsp;этом направлении специалистов или&nbsp;же привлечение консультантов в&nbsp;сфере информационной защиты.
