extends /blocks/layout/layout

include /blocks/portfolio-works-item/portfolio-works-item
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `В результате доработки сайта нейрохирургического центра конверсия в запись на прием с сайта увеличилась на <strong>2%</strong>`,
          text: 'Нейрохирургический центр основанный 25 лет назад на базе научно-клинического центра Л.Г. Соколова ФМБА России выполняет операции любой сложности.',
          url: 'neuros.ru',
          img: imgPath+'detail/neuros-detail.webp',
          logo: imgPath+'logo/logo-neuros.svg',
          logoWidth: '75',
          logoHeight: '75',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Улучшить конверсию сайта, сделать его более современным и удобным;
          li Увеличить количество пациентов, приходящих из интернет по каналу SEO.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Провели анализ конкурентов, собрали преимущества и сформулировали УТП;
          li Провели аудит, выработали ряд предложений по усовершенствованию сайта;
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Доработали сайт:
            ul.list-marked
              li Обновили дизайн сайта: сделали его более современным;
              li Исправили ошибки usability, усовершенствовали версию для мобильных телефонов;
              li Улучшили продающие качества сайта: подготовили качественный контент.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Рост конверсий сайта в отправку формы записи на прием на #[strong 2%];
          li Увеличение заинтересованности пользователей более чем на #[strong 25%];
          li Увеличение посетителей из поисковых систем в #[strong 3 раза]: с 750 до 2250 в месяц.

        -
          let results1 = [
            {title: '2%', desc: 'рост конверсий сайта <br> в отправку формы записи'},
            {title: '25%', desc: 'увеличение <br> заинтересованности пользователей'},
            {title: '×3', desc: 'увеличение посетителей <br> из поисковых систем'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился директор по&nbsp;развитию нейрохирургического центра с&nbsp;задачей по&nbsp;увеличению количества обращений пациентов. В&nbsp;нашей практике уже были успешные проекты по&nbsp;продвижению пластической хирургии и&nbsp;неврологии. Но&nbsp;с&nbsp;нейрохирургией мы&nbsp;еще не&nbsp;сталкивались.
        p Основная сфера деятельности центра&nbsp;&mdash; это различные нейрохирургические операции. Также проводятся консультации таких специалистов как невролог, ортопед-травматолог, хирург-онколог, реабилитолог, а&nbsp;также диагностика: электронейромиография, УЗИ нервов и&nbsp;др.
        p После проведения аудита продающих качеств сайта мы&nbsp;выявили ряд проблем, которые необходимо было исправить. Проблемы касались как интерфейса сайта в&nbsp;целом, так и&nbsp;содержания страниц и&nbsp;разделов.
      
      +caseSection('Выполненные работы').text-align-left
        h3.text-align-center Шапка сайта и&nbsp;общий каркас
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            p: strong До
            p
              +img({
                name: 'neuros-1',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Шапка сайта и общий каркас - до').image-shadow
          +grid__item({ xs:12 })
            p: strong После
            p
              +img({
                name: 'neuros-2',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Шапка сайта и общий каркас - после').image-shadow

        ul.list-marked
          li Увеличили ширину сайта в&nbsp;соответствии с&nbsp;современными разрешениями мониторов. Места стало больше, изучать информацию проще.
          li Устранили &laquo;перегрузку&raquo; информации в&nbsp;шапке, привели в&nbsp;порядок и&nbsp;выровняли элементы.
          li Добавили привлекающую внимания кнопку с&nbsp;призывом к&nbsp;действию &laquo;Записаться на&nbsp;прием&raquo;.
          li Добавили функцию поиска, если пользователь не&nbsp;смог через меню быстро найти нужную ему информацию.
          li Расширили меню, добавили новые пункты для удобства навигации. Убрали верхний регистр для удобства чтения.

        h4.text-align-center Адаптивная версия
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:4, xs:12 })
            p: strong До
            p
              +img({
                name: 'neuros-3',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Адаптивная версия - до').image-shadow
          +grid__item({ m:4, xs:12 })
            p: strong После
            p
              +img({
                name: 'neuros-4',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Адаптивная версия - после').image-shadow

        ul.list-marked
          li Добавили кнопки мессенджеров;
          li Увеличили размер телефонов;
          li Привлекли внимание к&nbsp;кнопки меню.

        h3.text-align-center Главная страница
        ul.list-marked
          li Увеличили размер шрифта&nbsp;&mdash; читать текст особенно пожилым людям стало легче.
          li Добавили четкое УТП на&nbsp;первый экран, разместили информацию о&nbsp;преимуществах и&nbsp;статистику центра&nbsp;&mdash; пациенту сразу понятно, чем характеризуется центр и&nbsp;почему он&nbsp;должен его выбрать.
          li Добавили фотографии интерьеров центра чтобы показать пациенту центр лицом.
          li Обновили фотографии врачей: организовали профессиональную фотосессию&nbsp;&mdash; тем самым увеличив доверие пациентов. Указали стоимость приема для каждого врача&nbsp;&mdash; упростили пациенту процесс принятия решения.
          li Разместили информацию о&nbsp;диагностике, как об&nbsp;одной из&nbsp;сильных сторон центра.
          li Расписала по&nbsp;шагам общую схему обращения в&nbsp;клинику и&nbsp;получения услуги&nbsp;&mdash; сделали тем самым все действия понятными для пациента.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/neuros/neuros-5.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-5',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Главная страница - до' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/neuros/neuros-6.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-6',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Главная страница - после' width='1000' height='600').image-shadow.object-fit-cover

        h3.text-align-center Страница заболевания
        ul.list-marked
          li Добавили на&nbsp;сайт раздел &laquo;Операции&raquo;, где собрали все виды операций в&nbsp;данной сфере. Этим мы&nbsp;предоставили пациентам подробную информацию о&nbsp;всех особенностях и&nbsp;не&nbsp;искать ее&nbsp;на&nbsp;других сайтах.
          li Проработали страницы о&nbsp;заболеваниях&nbsp;&mdash; увеличили объем текстов, сделали их&nbsp;более информативными и&nbsp;исчерпывающими (диагностика, методы лечения, профилактика), дополнили иллюстрациями, указали преимущества лечения данного заболевания в&nbsp;центре.
          li Дополнили информацию о&nbsp;врачах чтобы показать персонал клиники с&nbsp;лучшей стороны и&nbsp;помочь сделать выбор.
          li Добавили ряд другой важной для пациента информации: оборудование центра, частые вопросы, лечение по&nbsp;ДМС, информация для иногородних, рассрочка и&nbsp;кредит, меры противодействия covid.
          li Переработали раздел заочной консультации, разбили вопросы по&nbsp;категориями, присвоили информативные заголовки&nbsp;&mdash; сделали раздел удобным и&nbsp;функциональным.
          li Оптимизировали размер файлов и&nbsp;скорость загрузки сайта&nbsp;&mdash; тем самым улучшили быстродействие&nbsp;и, соответственно, комфорт от&nbsp;работы с&nbsp;сайтом.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/neuros/neuros-7.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-7',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница заболевания - до' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/neuros/neuros-8.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-8',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница заболевания - после' width='1000' height='600').image-shadow.object-fit-cover

        h3.text-align-center Раздел &laquo;Консультация&raquo;
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/neuros/neuros-9.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-9',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Раздел Консультация - до' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/neuros/neuros-10.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'neuros-10',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Раздел Консультация - после' width='1000' height='600').image-shadow.object-fit-cover
        ul.list-marked
          li Придумали категории для вопросов. Распределили все вопросы-ответы по&nbsp;категориям. Так мы&nbsp;реализовали для пользователей удобный способ навигации по&nbsp;консультации.
          li Разместили блок, который стимулирует пациента задать вопрос
          li Сформулировали для каждого вопроса&nbsp;&mdash; заголовок. Так мы&nbsp;упростили для пользователя поиск интересующего его вопроса.

        h3.text-align-center Детальная статистика
        p Показатели заинтересованности посетителей:
        +grid({ tag: 'ul', paddingy: true })
          +grid__item({ tag: 'li', m:6, xs:12 })(class = classes('grid', { nopadding:true, 'align-content': 'space-between' }))
            +grid__item({ xs:12 })
              p Глубина просмотра сайта увеличилась на&nbsp;#[strong 27%]
            +grid__item({ xs:12 })
              p
                +img({
                  name: 'neuros-11',
                  path: '/images/razrabotka-saytov/neuros/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Глубина просмотра сайта').image-shadow
          +grid__item({ tag: 'li', m:6, xs:12 })(class = classes('grid', { nopadding:true, 'align-content': 'space-between' }))
            +grid__item({ xs:12 })
              p Время, которое пользователь проводит на&nbsp;сайте увеличилось на&nbsp;#[strong 32%]
            +grid__item({ xs:12 })
              p
                +img({
                  name: 'neuros-12',
                  path: '/images/razrabotka-saytov/neuros/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Время, которое пользователь проводит на сайте').image-shadow
        
        p Показатели конверсий:
        p Рост на&nbsp;#[strong 2%] конверсии при отправке форм записи на&nbsp;прием на&nbsp;сайте.
        +grid({ paddingy: true })
          +grid__item({ xs:12 })
            p
              +img({
                name: 'neuros-13',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Рост конверсии при отправке форм записи').image-shadow
          +grid__item({ xs:12 })
            p
              +img({
                name: 'neuros-14',
                path: '/images/razrabotka-saytov/neuros/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Рост конверсии при отправке форм записи').image-shadow

      .page-section.page-section--portfolio
        +grid.page-section
          +grid__item({ m:9 })
            +textMarked({ tag: 'h2', 'size--m': true, 'font-weight--600': true, color: 'black' }) Наша задача
            +textMarked({ tag: 'p', 'size--s': true }) Противоположная точка зрения подразумевает, что многие известные личности объединены в целые кластеры себе подобных. Но убеждённость некоторых оппонентов позволяет оценить значение первоочередных требований. В своём стремлении повысить качество жизни, они забывают, что понимание сути ресурсосберегающих технологий способствует повышению качества модели развития.
            +textMarked({ tag: 'h2', 'size--m': true, 'font-weight--600': true, color: 'black' }) Решение
            +textMarked({ tag: 'p', 'size--s': true }) Для рекламы клиники использовали контекстную рекламу Яндекс.Директ. Ввиду ограниченного бюджета на продвижение (максимальный месячный бюджет на контекстную рекламу составлял 6000 руб.) и большой конкуренции по топовым услугам стоматологии, таким как «имплантация», «протезирование», «компьютерная томография» агентство очень тонко подошло к настройкам рекламной кампании и выбору ключевых слов.
      .page-section.page-section--portfolio
        include /blocks/portfolio-detail-like/portfolio-detail-like 
      
      .page-section.page-section--portfolio
        +textMarked({ tag: 'h2', 'size--m': true, 'font-weight--600': true, color: 'black' }) Остальные проекты
      .page-section.portfolio-list
        -
          const works = [
            { 
              mod: 'medall',
              title: 'Cтоматологическая клиника «Medall»',
              category: 'Медицина и здоровье',
              img: 'medall.webp', 
            },
            { 
              mod: 'stomadeus',
              title: 'Сеть стоматологических клиник «Стомадеус»',
              category: 'Медицина и здоровье',
              img: 'stomadeus1.webp',
            },
            { 
              mod: 'mir-krasoty',
              title: 'Медицинский косметологический центр «Мир красоты»',
              category: 'Медицина и здоровье',
              img: 'mir-krasoty1.webp',
            },
            { 
              mod: 'primed',
              title: 'Медицинский холдинг «Праймед»',
              category: 'Медицина и здоровье',
              img: 'primed.webp',
            },
          ]
        +portfolioWorksItem(works).portfolio-list__works
