.page-development
  &__image
    img
      width 100%
  &__header
    font-size font-xl
    line-height line-xl
    margin-bottom font-m
  &__link
    @extends p
    a
      border 1px dashed #E60013
      padding-x (basePadding/3)
    span
      @extends a
      border 1px dashed #E60013
      padding-x (basePadding/3)
      text-decoration underline
