mixin pageDevelopment(item)
  +grid.page-development
    +grid__item({m:7,s:6,xs:12}).page-development__image
      img(src= item.image alt= item.title title= item.title)
    +grid__item({m:5,s:6,xs:12}).page-development__info
      h1.page-development__header !{item.title}
      .page-development__link
        if item.link.href
          a(href= item.link.href target='_blank' rel='nofollow noopener noreferrer') !{item.link.text}
        else
          span !{item.link.text}
      .page-development__info
        +createElement(item.info)
