.list-analyze
  &__item
    position relative
    padding-x (basePadding*2)
    margin-bottom (basePadding*2)
    display flex
    flex-direction column
    @media(min-width point-m)
      max-width 20rem
      & + &
        &::after
          content ''
          position absolute
          top basePadding
          left -0.5rem
          width 1rem
          height 1rem
          mask-image var(--double-arrow)
          mask-repeat no-repeat
          mask-size contain 
          background-color #cccccc
  &__title
    line-height 1.125
    font-weight bold
    text-align center
    padding basePadding
    color #ffffff
    background-color #8b3051
    border-radius (basePadding/2) (basePadding/2) 0 0
  &__body
    padding basePadding
    background-color #fdfdfd
    border 1px solid #ced2d5
    border-top none
    border-radius 0 0 (basePadding/2) 0
    flex-grow 1
    .list-marked
      font-size font-s
      line-height line-s
      margin-bottom 0
