
ul.header-menu
  include ../../../data/menu-items
  each item in list
    li.header-menu__item
      a(href= item.url) !{item.name}
      if item.sub
        ul.header-menu__sublist
          each i in item.sub
            li.header-menu__item
              a(href= i.url) !{i.name}
