mixin tariffItem(tariff)
  div(class=`tariff-item tariff-item--${tariff.mod}`)&attributes(attributes)
    .tariff-item__header
      p.tariff-item__tariff Тариф 
      p.tariff-item__title !{tariff.title}
      p.tariff-item__price !{tariff.price}
      p.tariff-item__clarification !{tariff.clarification}
    .tariff-item__body
      +createElement(tariff.body)
      a(href='#offer_form').btn.btn--primary.modal.tariff-item__btn.text-align-center Заказать
