.tariff-item
  --border-radius 15px
  display flex
  flex-direction column
  &--start
    --header-color #aab2bd
    --header-bottom-color #6c727b
  &--standart
    --header-color #846387
    --header-bottom-color #624a64
  &--premium
    --header-color #8f3254
    --header-bottom-color #6d2942
  &__header
    color white
    min-height 310px
    padding 1.25rem
    text-align center
    background-color var(--header-color)
    border-top-left-radius var(--border-radius)
    border-top-right-radius var(--border-radius)
    @media(max-width point-l - 1)
      min-height 250px
    @media(max-width point-m - 1)
      min-height 200px
    @media(max-width point-s - 1)
      min-height min-content
  &__body
    flex-grow 1
    display flex
    flex-direction column
    padding 1.25rem
    background-color #f4f4f4
    border-bottom-left-radius var(--border-radius)
    border-bottom-right-radius var(--border-radius)
  &__tariff
    margin-bottom 0.5rem
  &__title
    margin-bottom 0
    font-size font-xxxl
    line-height line-xxxl
    font-weight 700
  &__price
    padding-bottom 0.5rem
    font-size font-l
    line-height line-l
    font-weight 700
    border-bottom 1px solid var(--header-bottom-color)
  &__clarification
    margin-bottom 0
    font-size font-s
    line-height line-s
  &__subtitle
    margin-bottom 0.25rem
    font-weight 700
    text-align center
  &__text
    font-size font-s
    line-height line-s
  &__list
    padding-left 1rem
    font-size font-s
    line-height line-s
  &__btn
    margin-top auto
