extends /blocks/layout/layout

include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-case-item/portfolio-case-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Консультация

      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [ 
            { 
              mod: ['svetofor', 'consultation'], 
              href: '/konsultatsiya/svetofor/',
              title: `Увеличение конверсии сайта и количества первичных обращений`,
              name: 'Детская стоматологическая клиника &laquo;Светофор&raquo;',
              category: 'Медицина и здоровье',
            },
          ] 
        +portfolioCaseItem(works).portfolio-list__col-s-6
