.case-cup-separator
  padding-y (basePadding*4)
  position relative
  display flex
  justify-content center
  width 6rem
  margin-x auto
  background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 29.99'><defs><style>.cls-1{fill:%238c3052;}</style></defs><title>cup</title><path id='_3-1' data-name=' 3-1' class='cls-1' d='M22,15a9,9,0,0,1-3.18.92c-1.17,1.91-3.16,4.48-5.75,5.27L13,21.2v4.63h0.08A12.23,12.23,0,0,1,20,30H2.86a12.89,12.89,0,0,1,6.9-4.13l0.23,0V21.21l-0.23-.06c-2.54-.84-4.13-3.4-5-5.29A8.26,8.26,0,0,1,2,15a8.5,8.5,0,0,1-2-2V4H4V0H20V4h4v9A8.5,8.5,0,0,1,22,15ZM4,13.71V6H2v6a3.28,3.28,0,0,0,1,2,4.53,4.53,0,0,0,1.27.63C4.07,14.07,4,13.71,4,13.71ZM13.35,8L12,4.06,10.59,8l-4.13.11,3.28,2.51-1.17,4L12,12.19l3.4,2.34-1.17-4,3.28-2.51ZM22,6H20v7.71s-0.17.39-.48,1A4.81,4.81,0,0,0,21,14a3.28,3.28,0,0,0,1-2V6Z'/></svg>")
  background-position center
  background-repeat no-repeat
  background-size 2rem
  &::before
  &::after
    content ''
    width 30vw
    height 0.125rem
    position absolute
  &::before
    right 6rem
    background linear-gradient(to left, #8c3052, transparent 90%)
  &::after
    left 6rem
    background linear-gradient(to right, #8c3052, transparent 90%)
