mixin caseCtr(item)
  .case-ctr
    .case-ctr__title CTR
      strong !{item.title}
    .case-ctr__info
      .case-ctr__result CTR !{item.result}
      .case-ctr__forecast Прогнозируемый CTR !{item.forecast}
