.case-ctr
  display flex
  flex-direction column
  align-items flex-end
  padding-right 6.5rem
  padding-bottom 5.5rem
  background-image url("data:image/svg+xml;utf8, <svg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 195 228' style='enable-background:new 0 0 195 228;' xml:space='preserve'><polygon class='st0' fill='%238C3052' points='149.2,0 87,14.1 87,167.4 133,204 195,187.1 195,28.1 '/><polygon class='st1' fill='%23963B5D' points='133,44.2 195,28.1 149.2,0 87,14.1 '/><polygon class='st2' fill='%23712742' points='133,204 87,167.4 87,14.1 133,44.2 '/><polygon class='st3' fill='%23C7C7C7' points='62.2,132.9 0.1,147.1 0,147 0,191.4 46,228 46,227.9 108,210.9 108,160.9 '/><polygon class='st4' fill='%23DCDADA' points='46,177.1 108,160.9 62.2,132.9 0,147.1 '/><polygon class='st5' fill='%23ABA7A7' points='46,228 0,191.4 0,147 46,177.1 '/></svg>")
  background-position right bottom
  background-repeat no-repeat
  background-size contain
  &__title
    font-weight bold
    strong
      display block
      color #8c3052
      font-size font-xl
  &__info
    margin-top (basePadding*2)
    text-align right
  &__result
    color #8c3052
    font-weight bold
  &__forecast
    font-size font-xs
    color color-text-light
    text-transform uppercase
