.header-mobile
  padding basePadding (basePadding*2)
  background-color #ffffff
  border-bottom 0.5px solid color-text-light
  height 5rem
  display flex
  &__info
    display flex
    flex-direction column
    align-items center
    flex-grow 1
    align-self center
  &__name
    margin-bottom (basePadding/3)
    font-weight bold
  &__phone
    color #6c6c6c
    // font-size font-xs
  &__menu
  &__logo
    width 2.5rem
    display flex
    align-items center
    justify-content flex-end
  
