.header-contents
  .header-contents__item.header-contents__item--logo
    include ../header-logo/header-logo
  .header-contents__item.header-contents__item--info
    include ../header-info/header-info
  .header-contents__item.header-contents__item--links
    include ../header-links/header-links
  .header-contents__item.header-contents__item--contacts
    include ../header-contacts/header-contacts
