mixin listClients(list)
  +grid({tag:'ul', paddingy:true}).list-clients
    each item in list
      +grid__item({tag:'li',m:2,xs:6}).list-clients__item
        .list-clients__image
          img(src= item.image alt= item.title title= item.title)
        .list-clients__title !{item.title}
