.list-clients
  &__item
    display flex
    flex-direction column
    align-items center
    text-align center
  &__title
    font-size font-xs
    color color-text-secondary
  &__image
    max-width 175px
