extends /blocks/layout/layout

include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-case-item/portfolio-case-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Аудит сайта

      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [ 
            { 
              mod: ['stomadeus', 'targeting'], 
              href: '/targetirovannaya-reklama/keys-po-targetirovannoy-reklame-stomadeus/',
              title: `Увеличение потока пациентов`,
              name: 'Сеть стоматологических клиник «Стомадеус»',
              category: 'Медицина и здоровье',
            },
          ] 
        +portfolioCaseItem(works).portfolio-list__col-s-6
