//- mixin caseOffer(settings = {title:'Запустить эффективную<br>рекламную кампанию', desc: 'с небольшим бюджетом'})
//-   .case-offer
//-     .case-offer__title !{settings.title}
//-     .case-offer__description !{settings.desc}
//-     a(href='#offer_form').case-offer__button.btn.modal Отправить заявку
//-     .case-offer__modal#case-offer__modal
//-       form.form.case-offer__form#case-offer-form
//-         .form__header Прогноз бюджета
//-         .form__row Мы бесплатно проанализируем Ваш сайт и вышлем Вам развернутое предложение:
//-         .form__row
//-             input(type='text' name='form[site]' id='site' required placeholder='Ваш сайт').form-input.rsform-input-box.rsform-error
//-         .form__row
//-             input(type='text' name='form[fio]' id='fio' required placeholder='Ваше имя').form-input.rsform-input-box.rsform-error
//-         .form__row
//-             input(type='tel' name='form[phone]' id='phone' required placeholder='+7 ( ) - - ').form-input.rsform-input-box.rsform-error
//-         .form__row
//-             input(type='email' name='form[email]' id='email' required placeholder='Электронная почта').form-input.rsform-input-box.rsform-error
//-         .form__row
//-             textarea(name='form[message]' id='message' required placeholder='Вид услуг, ваши пожелания').form-input.rsform-input-box
//-         .form__submit
//-           button(type='submit').btn Заказать расчёт
mixin caseOffer
  .case-offer
    .case-offer__title Хотите также?
    +grid({ tag: 'form', paddingy:true, justify:'center' })(method="post" action="/index.php?option=com_rsform&view=rsform&formId=31").form.form--case-offer.validated-form.submitJS
      input(type='text' name='req_name' value)
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__name') Ваше имя?
        input(type='text' name="form[name]" placeholder='Имя' data-regex="[а-яё]").form-input.validated.required.regex#form__name
        .validation-msg.validation-msg-required Обязательное поле
        .validation-msg.validation-msg-regex Должны быть русские буквы
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__site') Сайт клиники
        input(type='text' name='form[site]' placeholder='Сайт').form-input.rsform_phone.validated.required#form__site
        .validation-msg.validation-msg-required Обязательное поле
      +grid__item({ m:4, s:4, xs:12 })
        label.form__label--required.form__label(for='form__tel') Ваш телефон
        input(type='tel' name='form[tel]' placeholder='Телефон').form-input.rsform_phone.validated.required#form__tel
        .validation-msg.validation-msg-required Обязательное поле
      +grid__item({ m:4, s:6, xs:12 }).form__submit
        button(type='submit').btn.btn--primary Обсудить проект
      <script>document.write('<input type="hidden" name="form[formId]" value="31"/>')</script>
      +grid__item({ xs:12 })
        +textMarked({ tag:'p', 'size--xs': true }).form__policy Нажимая на&nbsp;кнопку &laquo;Обсудить проект&raquo;, вы&nbsp;даете согласие на&nbsp;#[a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh') обработку персональных данных] и&nbsp;соглашаетесь c&nbsp;политикой конфиденциальности.
