mixin homeFeedback(list, settings = {})
  .home-feedback
    +grid({justify: 'center'})
      +grid__item({m:10,s:12}).home-feedback__slides
        ul.slides
          each item in list
            li
              +feedbackItem(item)
    if (!settings.noLink)
      .home-feedback__link
        a(href='/reports') все рекомендации
