.home-feedback
  --arrow-position -10px
  position relative
  margin-top (basePadding*1.5)
  margin-bottom (basePadding*4)
  @media screen and (max-width point-s)
    margin-x basePadding
  &__link
    padding-top (basePadding)
  &__slides
    background-color #f0f0f0
    border-radius (basePadding*4) 0 (basePadding*4) 0
    @media screen and (max-width point-s)
      margin-x (-(basePadding))
      padding-x 0
  .flex-nav-prev
  .flex-nav-next
    position absolute
    top 50%
    transform translateY(-50%)
    a
      --before-background-color color-link
      --before-transition-duration .3s
      display flex
      align-items center
      justify-content center
      width (basePadding*3)
      height (basePadding*6)
      &:hover
        --before-background-color color-link-hover
        --before-transition-duration .1s
      &::before
        content ''
        background-color var(--before-background-color)
        transition background-color var(--before-transition-duration)
        width (basePadding*3)
        height (basePadding*3)
        mask-image var(--arrow)
        rotate var(--a-before-rotate)
  .flex-nav-prev
    --a-before-rotate 90deg
    left var(--arrow-position)
  .flex-nav-next
    --a-before-rotate -90deg
    right var(--arrow-position)
