mixin portfolioDetailHeader(settings)
  .portfolio-detail
    div(class= `portfolio-detail__promo portfolio-detail__promo--${settings.mod}`)&attributes(attributes)
      .portfolio-detail__img
        img(src= settings.img alt= settings.title)
      +grid.portfolio-detail__promo-inner
        if settings.logo
          +grid__item({ s:9, xs:12 })
            h1.portfolio-detail__header !{settings.title}
            if settings.text
              .portfolio-detail__text !{settings.text}
            else 
              block
            if settings.url
              a(href= `https://${settings.url}/` target='_blank').portfolio-detail__link !{settings.url}
        else 
          +grid__item({ l:9, xs:12 })
            h1.portfolio-detail__header !{settings.title}
            if settings.text
              .portfolio-detail__text !{settings.text}
            else 
              block
            if settings.url
              a(href= `https://${settings.url}/` target='_blank').portfolio-detail__link !{settings.url}

        if settings.logo
          +grid__item({ s:3, xs:4 }).text-align-right.portfolio-detail__logo-container
            - let classList = ''
            if settings.logoMod
              - classList += `portfolio-detail__logo--`+settings.logoMod
            .portfolio-detail__logo(class= classList)
              img(src= settings.logo alt= settings.title width= settings.logoWidth height= settings.logoHeight)
