.portfolio-detail
  overflow hidden
  @media (max-width point-m - 1)
    margin-x (-(basePadding))
    margin-top (-(basePadding*2))
    margin-bottom (-(basePadding)*2.5)
  @media (min-width point-m)
    margin-x (-(basePadding*2))
    margin-top (-(basePadding*2))
    margin-bottom (-(basePadding)*2.5)
  @media (min-width point-l)
    margin-x (-(basePadding*3))
    margin-top (-(basePadding*3))
  &__promo
    display grid
    height auto
    @media (max-width point-m - 1)
      padding basePadding
    @media (min-width point-m)
      padding (basePadding*2)
    @media (min-width point-l)
      padding (basePadding*3)
    &--no-padding
      &--bottom
        @media (max-width point-m - 1)
          padding-bottom 0
        @media (min-width point-m)
          padding-bottom 0
        @media (min-width point-l)
          padding-bottom 0
  &__promo-inner
    grid-area 1/-1
    z-index 1
    padding-bottom 2.25rem
    @media(max-width point-s - 1)
      padding-bottom 1.5rem
  &__img
    position relative
    grid-area 1/-1
    margin-top (basePadding*(-3)) 
    @media (min-width point-m)
      margin-x (basePadding*(-2))
    @media (max-width point-m)
      margin-x (basePadding*(-1))
    @media (min-width point-l)
      margin-x (basePadding*(-3))
    &::after
      position absolute
      width 100%
      height 100%
      display: block
      top 0
      content ''
      background radial-gradient(84.96% 803.34% at 15.04% 25.75%, rgba(247, 247, 247, 0.6192) 0%, rgba(217, 216, 216, 0.72) 100%)
    & img
      width 100%
      height 100%
      object-fit cover
  &__header
    margin-bottom 1rem
    font-size 2.4rem
    line-height 1.2
    @media(max-width point-m - 1)
      font-size 2rem
    @media(max-width point-s - 1)
      font-size 1.8rem
  &__logo-container
    align-self flex-end
    margin-left auto
  &__logo
    position relative
    display inline-block
    width 125px
    height 125px
    background-color white
    border-radius 50%
    z-index -1
    clip-path circle(50%)
    @media(max-width point-l - 1)
      width 100px
      height 100px
    @media(max-width point-m - 1)
      width 90px
      height 90px
    @media(max-width point-s - 1)
      margin-top -3rem
    & img
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      object-fit contain
      @media(max-width point-l - 1)
        width 4.8rem
    &--width-auto
      & img
        @media(max-width point-l - 1)
          width auto
  &__link
    display inline-block
    margin-top 1rem
    font-weight 600
    line-height 1
    text-decoration none
    border-bottom 1px solid transparent
    transition timing-s border-color
    @media(max-width point-s)
      margin-top 2.5rem
    &:hover
      color #090C17
      border-color #090C17
  &__text
    margin-bottom 0
    font-size 0.85rem
    line-height 1.6
    & + &
      margin-top 1rem
    @media(max-width point-l - 1)
      font-size 1rem
