.case-info-list
  display flex
  margin -(basePadding)
  flex-wrap wrap
  justify-content center
  padding-y basePadding
  &__item
    margin (basePadding)
    text-align left
    display flex
    flex-direction column
    justify-content center
    text-transform uppercase
    padding-y (basePadding/2)
    position relative
    &::before
      content ''
      position absolute
      top 50%
      left 0
      background-repeat no-repeat
      transform translateY(-50%)
    &--conversion
      padding-left calc(84px+0.75rem)
      &::before
        background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85 85'><defs><style>.cls-1{fill:%238c3052;}</style></defs><title>conversion</title><path class='cls-1' d='M462.94,10.54a7,7,0,0,0,2.13,13.83,7,7,0,0,0,.68-13.92A5.42,5.42,0,0,0,462.94,10.54ZM465.6,14a3.57,3.57,0,1,1-3.79,5.72,3.52,3.52,0,0,1,1.1-5.44A3.21,3.21,0,0,1,465.6,14Z' transform='translate(-457.5 -10.31)'/><path class='cls-1' d='M491.54,10.48a7.42,7.42,0,0,0-5,4,4.75,4.75,0,0,0-.56,2.78,6.25,6.25,0,0,0,1.33,4.31,6.86,6.86,0,0,0,5.08,2.79,7,7,0,0,0,2-13.83A5.77,5.77,0,0,0,491.54,10.48Zm3.17,3.86a3.55,3.55,0,1,1-5.37,3A3.56,3.56,0,0,1,494.71,14.33Z' transform='translate(-457.5 -10.31)'/><path class='cls-1' d='M505.77,21.17a5.26,5.26,0,0,0-2.89,8.28,5.41,5.41,0,0,0,2.89,1.9c0.63,0.17-1.28.22-10.63,0.22l-11.4,0,0.15-.85a7.16,7.16,0,0,0-4.14-7.35,4.59,4.59,0,0,0-2.79-.52,6.12,6.12,0,0,0-2.58.37,7.14,7.14,0,0,0-4,4,6.24,6.24,0,0,0-.37,2.61l0,1.7-5,.05-5,0-0.78.47a3.46,3.46,0,0,0-.93,5.17,3.51,3.51,0,0,0,2.24,1.26c0.38,0,2.13,1.66,10.9,10.42,5.75,5.75,11,11.09,11.73,11.89a16,16,0,0,1,3,5c0.17,0.5.58,2.29,0.91,4s0.65,3.17.68,3.34,0.17,0.23.83-.23a14.24,14.24,0,0,1,12.19-1.7,18.37,18.37,0,0,1,3.62,1.81c0.38,0.3.55,0.37,0.61,0.2s0.33-1.6.66-3.29c0.95-4.77,1.79-6.72,3.9-9l1-1.13,13.32,0,13.32,0,1.13-.55A7.24,7.24,0,0,0,542.34,54a26.27,26.27,0,0,0,0-5.93,7,7,0,0,0-5.4-5.64,28.4,28.4,0,0,0-4.88-.25H528.3l1.81-1.81c1.56-1.56,1.89-1.81,2.46-1.9a3.27,3.27,0,0,0,2.39-1.9,2.58,2.58,0,0,0,.35-1.83,3.41,3.41,0,0,0-1.78-2.71l-0.75-.42-12.63-.08c-6.94,0-12.33-.13-12-0.2a5.2,5.2,0,0,0,3.51-2.68,3.77,3.77,0,0,0,.48-2.44,4.09,4.09,0,0,0-.37-2.26,5.1,5.1,0,0,0-3.49-2.81A3.85,3.85,0,0,0,505.77,21.17Zm2.16,3.51a2.45,2.45,0,0,1,1,1.58,2.36,2.36,0,0,1-1.06,1.58,1.78,1.78,0,0,1-2.24-2.64A1.72,1.72,0,0,1,507.93,24.67Zm-29.46,1.89a3.55,3.55,0,0,1,1.74,4.54l-0.18.47h-6.16L473.63,31a3.53,3.53,0,0,1,.73-3.64A3.77,3.77,0,0,1,478.48,26.57ZM537,46.17a3.16,3.16,0,0,1,1.4,1.28c0.48,0.78.5,0.86,0.55,3.24a16.37,16.37,0,0,1-.13,3.18,4,4,0,0,1-2.54,2.44c-0.86.23-22,.3-22,0.08s2.38-2.51,5.27-5.4l5.28-5.29h11.35Z' transform='translate(-457.5 -10.31)'/><path class='cls-1' d='M494.89,74.28a11.4,11.4,0,0,0-6.38,3.47,11.69,11.69,0,0,0-2.41,4.77,10.54,10.54,0,0,0,10.22,12.78,9.4,9.4,0,0,0,4.8-1.1,8.34,8.34,0,0,0,2.76-2,10.48,10.48,0,0,0,0-14.83,8.12,8.12,0,0,0-2.74-2A15,15,0,0,0,499,74.5,13.75,13.75,0,0,0,494.89,74.28Zm1.73,2.94c0.32,0.1.37,0.22,0.37,1V79l0.81,0.3a3.53,3.53,0,0,1,2.39,3.16l0,0.7h-2.48l-0.15-.7a1.43,1.43,0,0,0-2.39-1,1.2,1.2,0,0,0-.46,1.06,1.75,1.75,0,0,0,.25.95,9.59,9.59,0,0,0,1.94,1.1,9.41,9.41,0,0,1,2.33,1.43,3.44,3.44,0,0,1-1.53,5.79l-0.91.27v1.65h-1.5V92.09l-0.75-.18a3.91,3.91,0,0,1-2.91-3.44V87.91l1.28,0L494.23,88l0.12,0.58a1.66,1.66,0,0,0,1.74,1.33,1.38,1.38,0,0,0,1.56-1.38c0-.85-0.4-1.21-2.49-2.24-2.39-1.18-2.86-1.75-3-3.49a2.84,2.84,0,0,1,.33-1.86,3.53,3.53,0,0,1,2.26-1.71l0.7-.18V78.21a2.41,2.41,0,0,1,.12-1A1.16,1.16,0,0,1,496.62,77.22Z' transform='translate(-457.5 -10.31)'/></svg>")
        width 84px
        height 85px
    &--roi
      padding-left calc(93px+0.75rem)
      &::before
        width 93px
        height 61px
        background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94 62'><defs><style>.cls-1{fill:%238c3052;}</style></defs><title>roi</title><polygon class='cls-1' points='14.99 50 25 41 34.58 49.08 49.94 34.02 58.08 40 80.33 20.33 86 25.92 92.75 1.17 67.92 7.92 72.92 13.08 57 26 48.5 20.08 33.58 34 23.92 27 12 37.01 12 0 0 0 0 50 0 62 12 62 94 62 94 50 14.99 50'/></svg>")
    &--income
      padding-left calc(74px+0.75rem)
      &::before
        width 74px
        height 74px
        background-image url("data:image/svg+xml;utf8, <svg id='svg3249' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 441.22 441.22'><defs><style>.cls-1{fill:none;stroke:%238c3052;stroke-width:50.72px;}.cls-2{fill:%238c3052;}</style></defs><title>income</title><path id='path3263' class='cls-1' d='M220.61,415.87c-107.83,0-195.25-87.42-195.25-195.25S112.78,25.36,220.61,25.36s195.26,87.42,195.26,195.26S328.45,415.87,220.61,415.87Z' transform='translate(0 0)'/><path id='path3267' class='cls-2' d='M194.66,69.38v32.5c-13.15,0-72.31,16.75-72.31,70.47,0,47.79,42.69,60.79,72.28,65.06l0,54c-21.6-6.17-25.53-22.79-28.53-36.53H118.69c2.94,53.74,50.14,78.74,76,82.53v33.06h45.09V337.91c35.7-1.9,78-32.72,78-75,0-48.39-42.11-62.12-78-65.81v-49.5c14.11,1,25.12,15,26.31,29.25h47c0-48-43.67-73.25-73.75-75V69.38H194.66Zm0.25,78.72v41C163.12,188.63,162.5,153.79,194.91,148.09Zm45.38,97c39.34,1,43.69,40.25-.06,46.53Z' transform='translate(0 0)'/></svg>")
  &__title
    font-weight bold
    font-size font-xl
    margin-bottom 0.125rem
    line-height 1
    color #8c3052
  &__info
    font-weight bold
    line-height 1
