.result-slider
  position relative
  border-radius (basePadding) (basePadding) 0 0
  overflow hidden
  z-index 2
  @media screen and (max-width point-s)
    margin-x (-(basePadding*2))
  .flex-viewport
    border 2px solid #e6e9ee
  .flex-nav-prev
  .flex-nav-next
    position absolute
    top 2.375rem
    // transform translateY(-50%)
    a
      display flex
      width (basePadding*3)
      height (basePadding*3)
      align-items center
      justify-content center
      &::before
        color #000000
        content ''
        width (basePadding)
        height (basePadding)
        display block
      &:hover
        &::before
          opacity 0.5
    @media screen and (max-width point-s)
      display none
  .flex-nav-prev
    left 0.25rem
    @media screen and (max-width point-s)
      left (-(basePadding*2))
    a
      &::before
        transform rotate(225deg)
        border-right 0.25rem solid
        border-top 0.25rem solid
  .flex-nav-next
    right 0.25rem
    @media screen and (max-width point-s)
      right (-(basePadding*2))
    a
      &::before
        transform rotate(225deg)
        border-left 0.25rem solid
        border-bottom 0.25rem solid
  .flex-control-paging
    display flex
    justify-content center
    list-style none
    padding-top basePadding
    margin-x (-(basePadding/3))
    & > li
      margin-x (basePadding/3)
      @media screen and (max-width point-s)
        margin-x (basePadding)
      a
        display block
        width (basePadding)
        height (basePadding)
        background-color #888888
        // border (basePadding/3) solid #cccccc
        text-indent -9999px
        border-radius 50%
        transition background-color timing-s
        &.flex-active
          transition none
          background-color #f0f0f0
        @media screen and (max-width point-s)
          width (basePadding*2)
          height (basePadding*2)
