extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологических клиник «Стомадеус»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/stomadeus.jpg',
  //-         title: 'Сеть стоматологических клиник «Стомадеус»',
  //-         link: {
  //-           text: 'http://www.stomadeus.ru/',
  //-           href: 'http://www.stomadeus.ru/'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Стоматологические клиники «Стомадеус» оказывает спектр услуг по терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и эстетической стоматологии.'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка новой версии сайта сети стоматологических клиник привела к росту конверсии записи на прием с сайта на <strong>2%</strong>`,
          text: 'Стоматологические клиники &laquo;Стомадеус&raquo; оказывает спектр услуг по&nbsp;терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и&nbsp;эстетической стоматологии.',
          url: 'stomadeus.ru',
          img: imgPath+'detail/stomadeus-detail.webp',
          logo: imgPath+'logo/logo-stomadeus.webp',
          logoWidth: '105',
          logoHeight: '33',
        }
      
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Улучшить конверсию сайта, сделать его более современным и удобным;
          li Обновить оформление сайта.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Обновили дизайн сайта: сделали его более современным;
          li Исправили ошибки usability, создали версию для мобильных телефонов;
          li Улучшили продающие качества сайта: подготовили качественный контент.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Рост конверсий сайта в отправку формы записи на прием на #[strong 2%];
          li Увеличение заинтересованности пользователей более чем на #[strong 25%];
          li Увеличение посетителей из поисковых систем в #[strong 3 раза]: с 750 до 2250 в месяц.

        -
          let results1 = [
            {title: '2%', desc: 'рост конверсий сайта <br> в отправку формы записи'},
            {title: '25%', desc: 'увеличение <br> заинтересованности пользователей'},
            {title: '×3', desc: 'увеличение посетителей <br> из поисковых систем'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p По&nbsp;рекомендации одного из&nbsp;клиентов к&nbsp;нам обратился управляющий сети стоматологических клиник с&nbsp;задачей по&nbsp;привлечению первичных пациентов. Изучив сайт мы&nbsp;пришли к&nbsp;однозначному выводу, что для эффективного решения поставленной задачи его нужно основательно переделать. Мелкие доработки не&nbsp;могли&nbsp;бы обеспечить существенных результатов.
        p Мы&nbsp;предложили обновить дизайн и&nbsp;интерфейс, внедрить современную систему управления и&nbsp;добавить новые функции.
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        h3.text-align-center Новый дизайн
        ul.list-marked
          li Увеличили ширину макета, адаптировав его для современных мониторов. Появилось больше свободного пространства, сайт стал удобнее для просмотра.
          li Вынесли телефоны и&nbsp;адреса в&nbsp;шапку. Пациентам проще связаться с&nbsp;клиникой и&nbsp;сориентироваться с&nbsp;местоположением.
          li Разместили информацию об&nbsp;акциях. Тем самым создали дополнительный стимул для привлечения внимание к&nbsp;услугам клиники.
          li Добавили имиджевое фото с&nbsp;администратором. Этим показали клинику лицом и&nbsp;создали персонализированную коммуникацию.
          li Разместили ссылки на&nbsp;интерактивные функции в&nbsp;заметное место. Так увеличили вероятность конверсии.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/stomadeus/stomadeus-1.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'stomadeus-1',
                path: '/images/razrabotka-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Новый дизайн - до').image-shadow
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/stomadeus/stomadeus-2.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'stomadeus-2',
                path: '/images/razrabotka-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Новый дизайн - после').image-shadow

        h3.text-align-center Современная система управления
        p Сайт нам поступил без системы управления контентом. Это очень усложняет процесс добавления и&nbsp;редактирования информации, увеличивает сроки реализации сложных функций, а&nbsp;также создает сложности при поисковой оптимизации.
        p Наша команда перенесла сайт на&nbsp;современную систему управления, которая поддерживает следующие важные функции:
        ul.list-marked
          li Наличие мобильной версии сайта
          li Встроенные механизмы оптимизации страниц
          li Интеграция с&nbsp;социальными сетями

        h3.text-align-center Добавлены новые возможности на&nbsp;сайт
        h4.text-align-center Удобная форма записи на&nbsp;прием и&nbsp;заявки на&nbsp;обратный звонок
        p Предложили внедрить скидку&nbsp;5% при записи с&nbsp;сайта. Это позволило увеличить конверсию в&nbsp;запись. Пациенты чаще принимают решение в&nbsp;момент нахождения на&nbsp;сайте, меньше нагружают колл центр и&nbsp;администраторов. Сокращается доля потерянных звонков.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p
              +img({
                name: 'stomadeus-3',
                path: '/images/razrabotka-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Удобная форма записи на прием').image-shadow
          +grid__item({ m:6, xs:12 })
            p
              +img({
                name: 'stomadeus-4',
                path: '/images/razrabotka-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Удобная форма заявки на обратный звонок').image-shadow
        p Получили дополнительные заявки. Данная функция очень удобна для тех пациентов, которые в&nbsp;момент изучения сайта не&nbsp;решались сами позвонить, не&nbsp;могли дозвониться или планировали звонок позже.

        h4.text-align-center Система онлайн-консультации (вопрос-ответ)
        p Обработали вопросы и&nbsp;ответы, придумали категории, распределили вопросы по&nbsp;категориям. Таким образом получили информативный раздел, который позволяет пациентам оперативно найти интересующую их&nbsp;информацию.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p
              +img({
                name: 'stomadeus-5',
                path: '/images/razrabotka-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Система онлайн-консультации (вопрос-ответ)').image-shadow
        h3.text-align-center Наполнение сайта информацией
        ul.list-marked
          li Добавлены описания услуг, изображения к&nbsp;текстам: #[br] Сделали контент более привлекательным и&nbsp;интересным. Таким образом увеличили вовлеченность пациентов.
          li Отзывы о&nbsp;клинике: #[br] Предоставили пациентам социальное доказательство качества оказываемых услуг и&nbsp;востребованности у&nbsp;пациентов.
          li Новости клиники: #[br] Создали инструмент для донесения имиджевой информации о&nbsp;клинике до&nbsp;пациентов.
          li Справочная информация (статьи, термины): #[br] Увеличили информативность сайта и&nbsp;предоставили пациентам дополнительный источник для изучения.
