mixin howItWorks(list)
  +grid({paddingy: true, justify: 'center'}).how-it-works
    each item in list
      +grid__item({m:3,xs:12}).how-it-works__item
        .how-it-works__image
          img(src= item.image.src alt= item.image.alt)
        .how-it-works__caption !{item.text}
