mixin whyWe(list, settings= {})
  .why-we&attributes(attributes)
    +grid({ paddingy: true, tag: 'ul' }).why-we__list
      each item in list
        if list.length === 5
          +grid__item({ tag: 'li', m:4, s:6 }).why-we__item
            //- .why-we__img
            //-   img(src= item.img.src alt= item.img.alt)
            //- div(style='width: 4rem; height: 4rem; background-color: #cccccc; margin: 0 auto 0.75rem')
            .why-we__title !{item.title}
            .why-we__info !{item.info}
        if list.length === 4
          +grid__item({ tag: 'li', m:3, s:6 }).why-we__item
            .why-we__title !{item.title}
            .why-we__info !{item.info}
        else 
          +grid__item(settings).why-we__item
            if settings.blockMarked
              .block-marked
                .why-we__title !{item.title}
                .why-we__info !{item.info}
            else 
              .why-we__title !{item.title}
              .why-we__info !{item.info}
