.why-we
  padding-top (basePadding*2)
  .page-section__title + &
    padding-top 0
  & .block-marked
    height 100%
  &__list
    display flex
    flex-wrap wrap
    margin -(basePadding)
  &__item
    padding basePadding
    color color-text
    text-decoration none
  &__title
    display inline-block
    padding-bottom 0.5rem
    margin-bottom (basePadding/3*2)
    font-size font-l
    font-weight bold
    color color-text
    border-bottom 3px solid #712880
  &__info
    margin-bottom (basePadding/3)
    font-size 16px
  &__link
    font-size font-xs
    text-decoration underline
    @extend a
