@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Regular.woff2')
  font-style normal
  font-weight normal
  font-display swap
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Italic.woff2')
  font-style italic
  font-weight normal
  font-display swap
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Bold.woff2')
  font-style normal
  font-weight bold
  font-display swap
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-BoldItalic.woff2')
  font-style italic
  font-weight bold
  font-display swap
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-Semibold.woff2')
  font-style normal
  font-weight 600
  font-display swap
@font-face
  font-family 'Open Sans'
  src url('../fonts/OpenSans-SemiboldItalic.woff2')
  font-style italic
  font-weight 600
  font-display swap
