.form-input
  border 1px solid #b7b7b7
  color #797677
  font-size 0.875rem
  line-height 1.5
  padding (basePadding/3) (basePadding/3*2)
  width 100%
  display block
  textarea&
    resize none
    height calc(6.75rem + 2px)
