include works-list-item/works-list-item

mixin worksList(list, settings = {})
  +grid({paddingy:true}).works-list
    each item in list
      if settings.size!=='small'
        +grid__item({m:6,s:6,xs:12}).works-list__item
          +worksListItem(item)
      else
        +grid__item({m:2,s:4,xs:6}).works-list__item
          +worksListItem(item,{size: 'small'})
        
