.list-comparison
  padding-left (basePadding*2)
  @media screen and (max-width point-s)
    padding-left 1rem
  &__header
    display flex
    flex-wrap wrap
    & ^[-1]__block
      padding basePadding
      font-size font-xl
      font-weight bold
      text-align center
      background-color #dad9da
      border-radius 0 basePadding 0 0
      color #393637
      &:first-of-type
        background-color #8c3052
        color #ffffff
        border-radius basePadding 0 0 0
  &__list
    counter-reset listComparisonCounter
  &__item
    display flex
    flex-wrap wrap
    position relative
    counter-increment listComparisonCounter
    & ^[-1]__block
      &:first-of-type
        border-left 3px solid #cccccc
        @media screen and (max-width point-s)
          border 3px solid #cccccc
          border-bottom none
      &:last-of-type
        background-image linear-gradient(to right, #dfdfdf, #f3f1f3 (basePadding*2))
        @media screen and (max-width point-s)
          border 3px solid #cccccc
          margin-bottom (basePadding*2)
          border-top none
    &:last-child
      & ^[-2]__block
        &:first-of-type
          border-bottom 3px solid #cccccc
          border-radius 0 0 0 basePadding
          @media screen and (max-width point-s)
            border-bottom none
            border-radius 0
    &::before
      position absolute
      content counter(listComparisonCounter)
      background-color #ffffff
      border 3px solid #cccccc
      line-height line-xl
      width (basePadding*3)
      height (basePadding*3)
      font-size font-xl
      text-align center
      border-radius 50%
      transform translateX(calc(-50%+1.5px))
      top (basePadding+0.25rem)
      color #8c3052
      font-weight bold
      @media screen and (max-width point-s)
        top 0.375rem
  &__block
    flex-basis 250px
    flex-grow 1
    line-height 1.5rem
    padding basePadding basePadding (basePadding*2) (basePadding*3)
    @media screen and (max-width point-s)
      padding-top 0
      &::before
        content attr(data-title)
        display block
        padding basePadding
        text-align center
        font-weight bold
        color #393637
        background-color #dad9da
        margin-left -(basePadding*3)
        margin-right -(basePadding)
        padding-x (basePadding*4)
        margin-bottom basePadding
      &:first-of-type
        &::before
          color #ffffff
          background-color #8c3052
  &__title
    font-weight bold
    margin-bottom (font-m/2)
        
      
