mixin listComparison(comparison)
  .list-comparison
    .hidden-xs.list-comparison__header
      each item in comparison.header
        .list-comparison__block !{item}
    ul.list-comparison__list
      each item in comparison.list
        li.list-comparison__item
          each block, i in item
            .list-comparison__block(data-title= comparison.header[i])
              .list-comparison__title !{block.title}
              if block.clarification
                .list-comparison__clarification !{block.clarification}
        
