.blog-header
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  margin-top -(basePadding)
  margin-bottom 1.5rem
  &__item
    padding (basePadding/2) basePadding
    padding-left (basePadding+(font-xs*2)+.25)
    font-size font-xs
    background-repeat no-repeat
    background-position basePadding center
    background-size (font-xs*2)
    &--date
      background-image var(--blog-date)
    &--author
      background-image var(--blog-author)
    &--views
      padding-left (basePadding+2rem+.25)
      background-image var(--blog-views)
      background-size 2rem
