.results-table
  width 100%
  @extends p
  tr
    & :last-child
      padding-left basePadding
  th
    font-weight normal
    border-bottom 1px solid #000000
    padding-y (basePadding/3)
  td
    padding-y (basePadding/3)
  &__th
    &--ya
      // color #EA3223
      // text-align left
      // font-size font-l
      &::before
        content ''
        display inline-block
        width 0.75rem
        height 1.25rem
        background-image url('../images/ya.png')
        background-size contain
        background-repeat no-repeat
  &__td
    &--marked
      font-weight bold
      text-align center
  .page-advertisment__info > &
    max-width 20rem
