mixin bannerCounter(settings={})
  .banner-counter
    .banner-counter__block.banner-counter__block--title
      | Стоимость !{settings.priceTitle}:
      br
      | !{settings.price} до !{settings.date}
    .banner-counter__block.banner-counter__block--counter
      .banner-counter__counter-title Осталось:
      +countdown(settings.counter)
    .banner-counter__block.banner-counter__block--button
      a(href='').btn Заказать !{settings.buttonTitle}
