.banner-counter
  display flex
  flex-wrap wrap
  padding basePadding
  align-items center
  background #6f277f linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.95))
  color color-text-secondary
  &__block
    padding basePadding
    &--counter
      margin-x auto
    &--title
      font-weight bold
      line-height line-m
  &__counter-title
    text-align center
    margin-bottom (font-m/2)
