extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Стоматологический центр DHC'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/prodvizhenie-saytov/' 
        const header = {
          title: 'Привлечение 43 конверсий из контекстной рекламы для сети стоматологических клиник в низкий сезон',
          text: '33-й зуб – сеть, включающая 8 стоматологических клиник в разных районах Санкт-Петербурге в которой работают около 200 высококвалифицированных специалистов.',
          url: 'www.33zub.ru',
          img: '/images/portfolio/razrabotka-saytov/detail/33zub-detail.webp',
          logo: imgPath+'logo-33zub-1.png',
          logoWidth: '101',
          logoHeight: '33',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Быстрое привлечения новых пациентов для одной из клиник в низкий сезон.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Запустили кампании контекстной рекламы;
          li Подготовили посадочные страницы.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Привлекли #[strong 43 конверсии] по цене 775 руб.

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился клиент, сеть стоматологических клиник с&nbsp;задачей загрузить врачей для одного филиала в&nbsp;летний период низкого спроса.
        p Клиенту важно было начать привлечение пациентов #[strong в&nbsp;кратчайшие сроки], поэтому мы&nbsp;сразу предложили оперативно запустить кампанию контекстной рекламы.
        p На&nbsp;первой встрече мы&nbsp;внимательно выслушали клиента и&nbsp;высказали свои предположения, какие акции и&nbsp;по&nbsp;каким услугам лучше задействовать с&nbsp;учетом сезона, преимуществ, ценовой политики и&nbsp;возможностей клиники. В&nbsp;результате обсуждения было принято решение рассмотреть для запуска следующие услуги: терапии, удаления, имплантации зубов и&nbsp;более тщательно проанализировать существующие предложения от&nbsp;конкурентов.
      
      +caseSection('Анализ',{type:'solutions'}).text-align-left
        +grid({ paddingy: true }).page-subsection
          +grid__item
            +img({
              name: 'analysis',
              path: '/images/prodvizhenie-saytov/33zub/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Анализ ближайших конкурентов').image-shadow
        +pageSubsection 
          p Перед началом работ мы&nbsp;провели #[strong анализ ближайших конкурентов] и&nbsp;оценили бюджет. Мы&nbsp;всегда стараемся брать на&nbsp;себя часть работы отдела маркетинга, так как понимаем, что не&nbsp;все клиники могут содержать в&nbsp;штате профессиональных маркетологов.
          p Клиент согласился выделить стартовый бюджет для проверки гипотез и&nbsp;оценки стоимости целевого действия.
          p Также мы&nbsp;запросили важную информацию по&nbsp;финальному списку услуг и&nbsp;деталям их&nbsp;оказания (гарантии, этапы и&nbsp;т.д.), ценам и&nbsp;скидкам, доступ к&nbsp;рекламному кабинету.
          p До&nbsp;нас клиент запускал продвижение на&nbsp;картах через Яндекс.Бизнес с&nbsp;минимальным бюджетом для двух клиник.
      
      +caseSection('Разработка посадочных страниц',{type:'solutions'}).text-align-left
        p Ранее была создана посадочная страница под имплантацию на&nbsp;сервисе #[strong taplink]. Она была реализована не&nbsp;очень хорошо, а&nbsp;сам сервис имел #[strong ряд ограничений] по&nbsp;редактированию контента. Поэтому мы&nbsp;предложили реализовать посадочные как обычные html страницы.
        p Было принято решение продвигать 3&nbsp;услуги: лечение кариеса, удаление зуба и&nbsp;имплантация.
        p Под каждую услугу предполагалось создать посадочную страницу. Времени на&nbsp;запуск было выделено очень мало, поэтому мы&nbsp;просто доработали посадочную по&nbsp;имплантации, которая уже была разработана предыдущими подрядчиками #[a(href='https://33zub.taplink.ws/') https://33zub.taplink.ws/].
        p Разработанные посадочные включали в&nbsp;себя:
        ul.list-marked 
          li УТП
          li акцент на&nbsp;акцию
          li таймер
          li этапы услуги
          li блок врачей с&nbsp;указанием специализации и&nbsp;стажа
          li показания к&nbsp;услуге
          li фото до/после
          li отзывы пациентов
          li контакты
          li форма обратной связи.

        h3.text-align-center Прототип
        +pageSubsection
          p Через #[strong 2&nbsp;дня] после начала работ мы&nbsp;уже представили первый прототип посадочной страницы. Далее был ряд уточнения по&nbsp;контенту. Дело в&nbsp;том, что мы&nbsp;очень внимательно относимся к&nbsp;формулированию текста и&nbsp;стараемся все доводу в&nbsp;пользу клиники и&nbsp;ее&nbsp;врачей тщательно аргументировать. К&nbsp;сожалению, важность этого не&nbsp;всегда просто объяснить клиенту, но&nbsp;мы&nbsp;делаем все, что в&nbsp;наших силах.
          p Еще через один день после согласования и&nbsp;внесения правок мы&nbsp;подготовили дизайн макет. А&nbsp;еще через день сверстанные макеты уже были готовы.
          ul.list-marked 
            li #[a(href='https://www.33zub.ru/services/udalenue_zuba/') https://www.33zub.ru/services/udalenue_zuba/]
            li #[a(href='https://www.33zub.ru/services/lechenie_cariesa/') https://www.33zub.ru/services/lechenie_cariesa/]
        +grid({ paddingy: true }).page-subsection
          +grid__item({ s:6 })
            p: strong Прототип
            p: a(href='/images/prodvizhenie-saytov/33zub/prototype.jpg' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'prototype',
                path: '/images/prodvizhenie-saytov/33zub/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототип' width="1000" height='700').image-shadow.object-fit-cover
          +grid__item({ s:6 })
            p: strong Дизайн
            p: a(href='/images/prodvizhenie-saytov/33zub/design.jpg' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'design',
                path: '/images/prodvizhenie-saytov/33zub/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Дизайн' width="1000" height='700').image-shadow.object-fit-cover

      +caseSection('Стратегия',{type:'solutions'}).text-align-left
        p Поскольку стоматология является высококонкурентной нишей и&nbsp;обычно пациенты ищут клинику в&nbsp;своем районе, на&nbsp;старте использовали #[strong геолокационный таргетинг], с&nbsp;радиусом 4&nbsp;км от&nbsp;клиники. Однако, охваты были небольшие и&nbsp;пришлось снять ограничения для привлечения бОльшего количества пользователей.
        p Рекламные кампании были разделены на&nbsp;поиск и&nbsp;сети, а&nbsp;также по&nbsp;ключевым словам&nbsp;на:
        ul.list-marked 
          li брендовые запросы
          li локационные (с&nbsp;названиями улиц)
          li по&nbsp;услугам на&nbsp;клиентов из&nbsp;CRM-системы
          li на&nbsp;посетителей сайта (ретаргетинговые).

      +caseSection('Подготовка рекламных кампаний',{type:'solutions'}).text-align-left
        +pageSubsection
          p Подготовили продающие офферы и&nbsp;на&nbsp;основе их&nbsp;создали высококонверсионные рекламные объявления.
        +grid({ paddingy: true, cols:10 }).page-subsection
          - 
            const ads = [2, 5]
          - for (let i =0; i<=ads.length-1; i++ )
            +grid__item({ m:8 })
              +img({
                name: `campaign-${ads[i]}`,
                path: '/images/prodvizhenie-saytov/33zub/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Высококонверсионные объявления').image-shadow
          +grid__item({ m:4, xs:5 })
            +img({
              name: 'campaign-11',
              path: '/images/prodvizhenie-saytov/33zub/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Высококонверсионные объявления').image-shadow
          +grid__item({ m:4, xs:5 })
            +img({
              name: 'campaign-7',
              path: '/images/prodvizhenie-saytov/33zub/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Высококонверсионные объявления').image-shadow

      +caseSection('Результаты').text-align-left
        p Рекламное продвижение через Яндекс.Директ было запущено с&nbsp;9.06 по&nbsp;6.07
        p Ключевыми конверсионными действиями было принято считать клик по&nbsp;телефону и&nbsp;переход в&nbsp;мессенджер (whatsapp). Можно сделать вывод, что по&nbsp;данным услугам клиенты больше предпочитают звонить, чем переписываться. Вероятнее всего чтобы иметь возможность сразу голосом обсудить возможный день приема.
        p Цена клика, благодаря показам в&nbsp;РСЯ вышла существенно дешевле прогнозируемой. Всего было совершено #[strong 43&nbsp;конверсии] по&nbsp;цене #[strong 775&nbsp;руб.] (без НДС).
        +grid.page-subsection
          +grid__item({ m:7 })
            +table
              +tr.table__row
                +th Общая статистика
                +th Итого
              +tr.table__row
                +td Показы
                +td 123 782
              +tr.table__row
                +td Клики
                +td 968
              +tr.table__row
                +td Расход (руб.) без НДС
                +td 33 333
              +tr.table__row
                +td Ср. цена клика (руб.)
                +td 34
              +tr.table__row
                +td Ср. позиция показов
                +td 4
              +tr.table__row
                +td Клики по номеру телефона
                +td 29
              +tr.table__row
                +td Переходы в мессенджер
                +td 14
              +tr.table__row
                +td Цена цели
                +td 775
        +pageSubsection
          p Трафик с&nbsp;поиска показал лучшие результаты по&nbsp;CPA, но&nbsp;возможно на&nbsp;эту стоимость также повлияли показы в&nbsp;РСЯ.
          +table
            +tr.table__row
              +th Тип площадки
              +th Показы
              +th Клики
              +th CTR (%)
              +th Расход (руб.)
              +th Ср. цена клика (руб.)
              +th Конверсии
              +th СРА
            +tr.table__row
              +td поиск
              +td 2&nbsp;832
              +td 221
              +td 7,8
              +td 18&nbsp;384
              +td 100	
              +td 41
              +td.table__cell--green 448
            +tr.table__row
              +td сети
              +td 120&nbsp;950	
              +td 747
              +td 0,6
              +td 14&nbsp;950
              +td 24
              +td 2
              +td 7&nbsp;475

        h3.text-align-center Тип устройств
        p 87% трафика пришло с&nbsp;мобильных устройств, в&nbsp;дальнейшем можно рекомендовать сделать повышающую корректировку для этих пользователей. 
        +table
          +tr.table__row
            +th Тип площадки
            +th Показы
            +th Клики
            +th CTR (%)
            +th Расход (руб.)
            +th Ср. цена клика (руб.)
            +th Конверсии
            +th СРА
          +tr.table__row
            +td десктоп
            +td 21 048
            +td 117
            +td 0,6
            +td 7 042
            +td 72
            +td 8
            +td 880
          +tr.table__row
            +td мобильные
            +td 101 224
            +td 840
            +td 0,8
            +td 26 036
            +td 37
            +td 35
            +td.table__cell--green 744
          +tr.table__row
            +td планшеты
            +td 1 510
            +td 11
            +td 0,7
            +td 256
            +td 28
            +td 
            +td 

        h3.text-align-center Возраст
        p Почти половина всего трафика составила аудитория старше 55&nbsp;лет, но&nbsp;она оказалась и&nbsp;наименее конверсионной. Здесь можно рекомендовать клиенту сделать особое предложение для пенсионеров, либо исключить эту аудиторию из&nbsp;показов.
        +table
          +tr.table__row
            +th Возраст
            +th Показы
            +th Клики
            +th CTR(%)
            +th Расход (руб.)
            +th Ср. цена клика (руб.)
            +th Конверсии
            +th СРА
          +tr.table__row
            +td не определен
            +td 5 393
            +td 28
            +td 0,5
            +td 1 146
            +td 49
            +td 
            +td 
          +tr.table__row
            +td 18-24
            +td 4 204
            +td 43
            +td 1,0
            +td 2 683
            +td 75
            +td 5	
            +td 537
          +tr.table__row
            +td 25-34
            +td 15 170
            +td 117
            +td 0,8
            +td 6 649
            +td 68
            +td 13
            +td 511
          +tr.table__row
            +td 35-44
            +td 21 609
            +td 175
            +td 0,8
            +td 6 291
            +td 43
            +td 16
            +td.table__cell--green 393
          +tr.table__row
            +td 45-54
            +td 22 519
            +td 159
            +td 0,7
            +td 5 893
            +td 44
            +td 
            +td 
          +tr.table__row
            +td старше 55
            +td 54 887
            +td 446
            +td 0,8	
            +td 10 671
            +td 29
            +td 5
            +td 2 134

        h3.text-align-center Пол
        p Касательно пола потенциальных клиентов, можно сделать вывод, что женщины чаще ищут подобные услуги, но&nbsp;CPA при этом практически равен CPA для мужской аудитории.
        +table
          +tr.table__row
            +th Пол
            +th Показы
            +th Клики
            +th CTR(%)
            +th Расход (руб.)
            +th Ср. цена клика (руб.)
            +th Конверсии
            +th СРА
          +tr.table__row
            +td не определен
            +td 3 267
            +td 24
            +td 0,7
            +td 714
            +td 36
            +td 
            +td 
          +tr.table__row
            +td мужской
            +td 46 767
            +td 305
            +td 0,7
            +td 10 692
            +td 42
            +td 14
            +td 764
          +tr.table__row
            +td женский
            +td 73 748
            +td 639
            +td 0,9
            +td 21 927
            +td 41
            +td 29
            +td.table__cell--green 756

        h3.text-align-center Рекламные кампании
        p Если рассматривать рекламные кампании по&nbsp;направлениям&nbsp;&mdash; брендовый трафик привлек наиболее &laquo;теплую&raquo; аудиторию. Имплантация ожидаемо оказалась дороже всего по&nbsp;стоимости клика. Кариес как услугу продвигать более выгодно, чем удаление зуба.
        +table
          +tr.table__row
            +th РК
            +th Показы
            +th Клики
            +th Расход (руб.)
            +th Ср. цена клика (руб.)
            +th Конверсии
            +th СРА
          +tr.table__row
            +td Бренд
            +td 58 602
            +td 530
            +td 16 398
            +td 31
            +td 38
            +td.table__cell--green 432
          +tr.table__row
            +td Имплантация
            +td 2 414
            +td 25
            +td 3 190
            +td 128
            +td 0
            +td 
          +tr.table__row
            +td Кариес
            +td 736
            +td 21
            +td 2 346
            +td 112
            +td 3
            +td 782
          +tr.table__row
            +td Удаление
            +td 13 466
            +td 111
            +td 5 217
            +td 47
            +td 1
            +td 5 217
          +tr.table__row
            +td Локационные
            +td 14 901
            +td 120
            +td 2 477
            +td 21
            +td 0
            +td 
          +tr.table__row
            +td Ретаргетинг
            +td 33 663
            +td 161
            +td 3 706
            +td 23
            +td 1
            +td 3 706

        h3.text-align-center Сезонность
        +pageSubsection
          p Запущенные кампании в&nbsp;контексте позволили избежать просадки в&nbsp;июне (очень хорошо видно в&nbsp;сравнении с&nbsp;прошлым 2022&nbsp;годом) и&nbsp;в&nbsp;летний сезон привести пациентов больше, чем в&nbsp;любой другой месяц первого полугодия. 
        +pageSubsection
          +grid({ paddingy: true })
            -
              const visitors = [
                {
                  name: 'visitors-2023',
                  alt: 'Статистика посещаемости в 2023 году',
                },
                {
                  name: 'visitors-2022',
                  alt: 'Статистика посещаемости в 2022 году',
                },
              ]
            each item in visitors
              +grid__item
                +img({
                  name: item.name,
                  path: '/images/prodvizhenie-saytov/33zub/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] },
                  ]
                })(alt= item.alt title= item.alt).image-shadow
                +textMarked({ tag:'p', 'size--s': true })= item.alt
      +caseOffer
