+grid({justify: 'center'})#bookPresentThankYou.book-sent
  +grid__item({s:4,xs:4}).book-sent__book
    img(src='/images/book-sent.png' alt='Ваша книга отправлена')
  +grid__item({s:6,xs:12}).book-sent__info
    .book-sent__title Спасибо
    p ВАША КНИГА УЖЕ ОТПРАВЛЕНА<br>НА УКАЗАННУЮ ЭЛЕКТРОННУЮ ПОЧТУ!
    p.book-sent__note *На всякий случай проверьте папку «Спам»
