.case-header
  margin -(basePadding*2)
  margin-bottom 0
  padding-left (basePadding*2+5rem)
  padding-top (basePadding*2+5rem)
  padding-right (basePadding*2+10rem)
  padding-bottom (basePadding*4)
  background-color #f0f0f0
  background-size cover
  background-repeat no-repeat
  @media screen and (max-width point-s)
    padding (basePadding*2)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  @media screen and (min-width point-m+1)
    margin-x (-(basePadding*2))
  @media screen and (min-width point-l)
    margin-x (-(basePadding*3))
  &__title
    font-size 2rem
    line-height 2.25rem
    font-weight bold
    margin-bottom 2.25rem
  &__description
    @extends p
    margin-bottom 2.25rem
  &__price
    font-size font-xl
  &--whitedent
    background-image url('../images/cases/header-whitedent.jpg')
  &--stomcenter
    background-image url('../images/cases/header-stomcenter.jpg')
  &--stomadeus
    background-image url('../images/cases/header-stomadeus.jpg')
  &--shankara
    background-image url('../images/cases/header-shankara.jpg')
  &--medcenter
    background-image url('../images/cases/header-medcenter.jpg')
