extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Интернет-магазин волос для наращивания «Волосы24»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/razrabotka-saytov/v24.jpg',
          title: 'Интернет-магазин волос для наращивания «Волосы24»',
          link: {
            text: 'http://www.volosy24.ru/',
            href: 'http://www.volosy24.ru/'
          },
          info: [
            {tag: 'p', content: 'Компания «Волосы24» является крупнейшим производителем и поставщиком волос для наращивания в Санкт-Петербурге.'}
          ]
        }
      +pageDevelopment(page)
