import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
//@import '../../node_modules/@fancyapps/fancybox/src/css/core.css'

html
  font-family 'Open Sans', sans-serif
  font-size 14px
  scroll-behavior smooth
  @media screen and (min-width 768px)
    font-size calc(14px + 6 * (100vw - 768px) / 632)
  @media screen and (min-width 1400px)
    font-size 20px

body
  background radial-gradient(circle closest-side, rgba(255,255,255,0.675) 50%, transparent)
  background-position -150px -300px
  background-size 1200px 1200px
  background-repeat no-repeat
  background-color #d4d5d1

p
.p
  font-size 1rem
  line-height 1.65rem
  margin-bottom 1rem
  &.small
    font-size font-s
    line-height line-s
    margin-bottom font-s
  &.xsmall
    font-size font-xs
    line-height line-xs
    margin-bottom font-xs
h1
  font-size 2.5rem
  line-height 3rem
  margin-bottom 1.25rem
  * + &
    margin-top 3rem
  .breadcrumbs + &
    margin-top basePadding
  &::after
    // content 'test test test'
    // display block
    // position absolute
    // opacity 0.5
    // color red
h2
  font-weight bold
  font-size 1.75rem
  line-height 2.25rem
  margin-bottom 0.5625rem
  color #712880
  // &::after
  //   content 'test qqqq test'
  //   display block
  //   position absolute
  //   opacity 0.5
  //   color red
  * + &
  &.margin-top
    margin-top 2.25rem
  h1 + &
    margin-top -0.625rem
h3
  font-weight bold
  font-size 1.375rem
  line-height 1.875rem
  margin-bottom 0.25rem
  // &::after
  //   content 'test test test'
  //   display block
  //   position absolute
  //   opacity 0.5
  //   color red
  * + &
    margin-top 1.375rem
  h2 + & 
    margin-top -0.25rem

h4
  font-weight bold
  line-height 1.625rem
  font-size 1.125rem
  margin-bottom 0.1875rem
  // &::after
  //   content 'test test test'
  //   display block
  //   position absolute
  //   opacity 0.5
  //   color red
  * + &
    margin-top 1rem
  h2 + &
    margin-top 0.375rem
  h3 + &
    margin-top -0.0625rem
  & + *
  & + div
    margin-top 0.5rem
h5
  font-weight bold
  // @extends h4
  font-size font-m
  line-height line-m
  // &::after
  //   content 'test test test'
  //   display block
  //   position absolute
  //   opacity 0.5
  //   color red
  * + &
    margin-top line-m
  h2 + &
    margin-top 0
  h3 + &
    margin-top 0
  h4 + &
    margin-top 0
.list-marked
  font-size 1rem
  line-height 1.65rem
  margin-bottom 1rem
  list-style disc
  padding-left 2rem
  &--small
    font-size font-s
    line-height line-s
    margin-bottom font-s
  &--xsmall
    font-size font-xs
    line-height line-xs
    margin-bottom font-xs
  &--primary
    padding-left 0
    list-style none
    li
      padding-left 2rem
      position relative
      margin-bottom 0.25rem
      &::before
        position absolute
        left 0
        content ''
        width (basePadding*2)
        height (basePadding*2)
        border-left (basePadding/1.6) solid #712742
        border-top (basePadding/1.6) solid #712742
        border-bottom (basePadding/1.6) solid #8f3254
        border-right (basePadding/1.6) solid #8f3254
        border-radius 50%
  &--grid
    & .grid__cell
      padding-right 2rem
  li
    margin-bottom (font-m/4)
.list-numbered
  font-size 1rem
  line-height 1.65rem
  margin-bottom 1rem
  list-style decimal
  padding-left 2rem
  &--small
    font-size font-s
    line-height line-s
    margin-bottom font-s
  &--xsmall
    font-size font-xs
    line-height line-xs
    margin-bottom font-xs
  li
    margin-bottom (font-m/4)
a
  color color-text
  transition timing-s color
  &:hover
    color rgba(color-text, .5)
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none

.btn
  font-size font-s
  line-height line-s
  padding (line-s/2) (basePadding*2)
  background-color color-link
  transition timing-s background-color
  color #ffffff
  text-decoration none
  display inline-block
  border none
  border-radius (basePadding/3)
  &[href^='#']
    text-decoration none
    border-bottom none
  &:hover
    color #ffffff 
    background-color color-link-hover
    transition none
  &--primary
    background-color #8c3052
    &:hover
      background-color #B34A71
  &--small-padding
    padding 0.75rem 1rem
    border-radius 0.5rem
  &--secondary
    color #606367
    background-color #FBFBFC
  &--tertiary
    background-color #533156
    &:hover
      background-color #333333
  &--active
    color #ffffff
    background-color color-link
    &:hover
      background-color color-link
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width 61.5rem  
  width 100%
  @media screen and (max-width point-m)
    padding (basePadding*2) basePadding
  @media screen and (min-width point-m)
    padding (basePadding*2) (basePadding*2)
  @media screen and (min-width point-l)
    padding (basePadding*2) (basePadding*3) (basePadding*3)
  & > *:last-child
    margin-bottom 0
  &--white
    background #ffffff
    margin-bottom (basePadding*2)
    border-radius 0 0 (basePadding*2) (basePadding*2)
    .no-menu &
      @media screen and (min-width point-l)
        padding (basePadding*3)
        border-radius (basePadding*2)
strong
  &.strong-large
    color #000000
    font-size font-xxxl
    line-height line-xxxl
import('../blocks/**/*')

.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none

.object-fit-cover
  object-fit cover
  object-position top
  
.image-shadow
  box-shadow 0 5px 20px 0 rgba(0,0,0,0.2)

.image-zoom
  position relative
  display inline-block
  &::after
    content ''
    position absolute
    bottom 1rem
    left calc(100% - 2.5rem)
    display block
    width 1.75rem
    height 1.75rem
    mask-image url(../images/svg-sprites/common.svg#magnifier)
    mask-repeat no-repeat
    background-color #888888

.image-border
  border 2px solid #FBFBFC

.image-border-radius
  border-radius 5px
  