extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Интернет-магазин волос для наращивания «Волосы24»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let page = {
          image: '/images/prodvizhenie-saytov/hairdesign.png',
          title: 'Интернет-магазин волос для наращивания «Волосы24»',
          link: {
            text: 'http://www.volosy24.ru/',
            href: 'http://www.volosy24.ru/'
          }
        }
      +pageAdvertisment(page)
        p Компания «Волосы24» является крупнейшим производителем и поставщиком волос для наращивания в Санкт-Петербурге.
        p
          strong Задача:
          |  увеличение продаж магазина.
        p
          strong Решение:
        ol.list-numbered
          li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
          li Проведены работы по увеличению количества тематических ссылок на сайт;
          li Регулярно ведутся работы по добавлению тематического контента;
          li На постоянной основе обновляются группы в социальных сетях;
          li Ежемесячно проводится тестирование гипотез по увеличению конверсии сайта.

        p
          strong Результат:
        ol.list-numbered
          li Увеличение целевой посещаемости сайта в 
            strong 27 раз
            | с 229 до 6198 посетителей в месяц.
          li Увеличение прибыли интернет-магазина в 
            strong 3,5 раза
            | .
          li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.


        p Позиции по ключевым словам:
        -
          let table1 = [
            [{type:'header',content:''},{type:'header-ya',content:''}],
            ['волосы для наращивания',{content:'5',type:'marked'}],
            ['продажа волос',{content:'1',type:'marked'}],
            ['купить волосы',{content:'1',type:'marked'}],
            ['магазин волос',{content:'3',type:'marked'}],
            
          ]
        +resultsTable(table1)
