.staff-item
  &__info
    order 2
  &__name
    font-weight bold
  &__occupation
    margin-top .5rem
  &__description
    margin-top 0.2rem
    font-size 0.7rem
    line-height 1.3
  &__image
    order 1
    img
      display block
      border-radius 100vmax
