mixin staffItem(item)
  +grid.staff-item
    +grid__item({ xs: 7 }).staff-item__info
      .staff-item__name !{item.name}
      .staff-item__occupation !{item.occupation}
      .staff-item__description !{item.description}
    +grid__item({ xs: 5 }).staff-item__image: +img({
      name: item.image,
      path: '',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
    })(alt= `${item.name}, ${item.occupation}`)
