mixin pageAdvertisment(item)
  +grid.page-advertisment
    +grid__item({m:4,s:5,xs:12}).page-advertisment__image
      img(src= item.image alt= item.title title= item.title)
    +grid__item({m:8,s:7,xs:12}).page-advertisment__info
      h1.page-advertisment__header !{item.title}
      .page-advertisment__link
        if item.link.href
          a(href= item.link.href target='_blank' rel='nofollow noopener noreferrer') !{item.link.text}
        else
          span !{item.link.text}
      .page-advertisment__info
        block
