extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Стоматологический центр DHC'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/prodvizhenie-saytov/' 
        const header = {
          title: 'Разработка механики и проведение конкурса для клиники эстетической медицины, которая позволила значительно увеличить узнаваемость бренда',
          text: '&laquo;Medall&raquo;&nbsp;&mdash; клиника эстетической медицины и&nbsp;цифровой стоматологии.',
          url: 'medall.clinic',
          img: '/images/portfolio/razrabotka-saytov/detail/medall-detail-2.webp',
          logo: imgPath+'logo-medall-2.png',
          logoWidth: '100',
          logoHeight: '100',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Провести рекламную кампанию с&nbsp;целью привлечь внимание целевой аудитории и&nbsp;стимулировать продажу услуг клиники.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Предложили реализовать конкурс среди клиентов с&nbsp;денежным призом;
          li Разработали механику и&nbsp;техническую часть конкурса;
          li Спроектировали прототипы основных страниц;
          li Создали дизайн страницы конкурса.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li 95&nbsp;новых клиентов;
          li +133 новых подписчиков в&nbsp;группу во&nbsp;ВКонтакте и&nbsp;+284 подписчика Инсты;
          li Увеличение интереса к&nbsp;бренду клиники;
          li Затраты на&nbsp;проведения конкурса #[strong полностью окупились].
        -
          let results1 = [
            {title: '95', desc: 'новых клиентов'},
            {title: '+133', desc: 'новых подписчиков во ВКонтакте'},
            {title: '+284', desc: 'новых подписчиков в Инстаграмм'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p Клиент обратился к&nbsp;нам с&nbsp;задачей по&nbsp;запуску рекламной активности для того чтобы увеличить продажи услуг и&nbsp;увеличить узнаваемость бренда.
        p Мы&nbsp;провели мозговой штурм, изучили позиционирование клиники, проанализировали рекламную активность конкурентов.
        p Предложили провести конкурс среди пациентов с&nbsp;призовым фондом и&nbsp;&laquo;вирусной&raquo; механикой.
        p Конкурс проходит среди клиентов, которые приобрели определенные услуги или оплатили сертификат.
        p Общий призовой фонд&nbsp;&mdash; #[strong 800&nbsp;000&nbsp;руб.] Денежные призы можно потратить услуги клиники. Призы разыгрываются жребием среди всех участников. Шансы на&nbsp;победу можно увеличить сделав репост или оставив отзывы в&nbsp;социальных сетях. За&nbsp;счет чего обеспечивается широкий охват аудитории.

      +caseSection('Проектирование',{type:'solutions'}).text-align-left
        +pageSubsection
          h3.text-align-center Схема работы конкурса
          p Мы&nbsp;провели анализ, разработали схему работы конкурса и&nbsp;согласовали все этапы с&nbsp;клиентом.
          ul.list-marked 
            li Структура страниц;
            li Порядок переходов между страницами по сценарию;
            li Работа сторонних сервисов (оплата Робокассой и СМС сервис);
            li Отправка писем: #[br] Триггерная рассылка после определенных действия. Подготовили шаблоны писем.
            li Занесение данных в базу данных: #[br] Описали формат хранения данных.
            li Необходимые отчеты о покупках и зарегистрированных пользователях.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/prodvizhenie-saytov/medall-reklama/contest.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'contest',
                path: '/images/prodvizhenie-saytov/medall-reklama/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Схема работы конкурса' width=1200 height=500).image-shadow.object-fit-cover
        +pageSubsection
          h3.text-align-center Основная страница
          p Спроектировали основную страницу конкурса. Это первая версия механики. Впоследствии клиент отказался от&nbsp;совместного проведения конкурса с&nbsp;#[strong тв&nbsp;шоу &laquo;Ок&nbsp;Апгрейд&raquo;] на&nbsp;канале #[strong Санкт-Петербург]. Поэтому условия были серьезно изменены.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/prodvizhenie-saytov/medall-reklama/prototype-index.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'prototype-index',
                path: '/images/prodvizhenie-saytov/medall-reklama/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Основная страница' width=1200 height=500).image-shadow.object-fit-cover
        +pageSubsection
          p Также мы спроектировали:
          ul.list-marked 
            li 
              p Формы авторизации и регистрации
              +grid({ paddingy: true }).page-subsection
                +grid__item
                  p: a(href='/images/prodvizhenie-saytov/medall-reklama/form.webp' target='_blank' data-fancybox).image-zoom 
                    +img({
                      name: 'form',
                      path: '/images/prodvizhenie-saytov/medall-reklama/',
                      formats: [
                        { ext: 'jpg', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                    })(alt= 'Форма авторизации и регистрации' width=1200 height=500).image-shadow.object-fit-cover
            li 
              p Шаблоны писем для клиента
              +grid({ paddingy: true }).page-subsection
                +grid__item
                  p: a(href='/images/prodvizhenie-saytov/medall-reklama/letter.webp' target='_blank' data-fancybox).image-zoom 
                    +img({
                      name: 'letter',
                      path: '/images/prodvizhenie-saytov/medall-reklama/',
                      formats: [
                        { ext: 'jpg', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                    })(alt= 'Шаблоны писем для клиента' width=1200 height=500).image-shadow.object-fit-cover
        +pageSubsection
          h3.text-align-center Система администрирования
          p Спроектировали систему учета для администраторов, где доступна информация о клиентах.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: +img({
              name: 'prorotype-admin',
              path: '/images/prodvizhenie-saytov/medall-reklama/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Система администрирования').image-shadow

      +caseSection('Дизайн',{type:'solutions'}).text-align-left
        +pageSubsection
          p Разработали оригинальный дизайн основной страницы конкурса для сайта клиники.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/prodvizhenie-saytov/medall-reklama/design.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'design',
                path: '/images/prodvizhenie-saytov/medall-reklama/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Дизайн основной страницы конкурса' width=1200 height=500).image-shadow.object-fit-cover
      
      +caseSection('Рекомендации по реализации',{type:'solutions'}).text-align-left
        p Мы&nbsp;подготовили несколько идей, которые могут сделать конкурс более успешным:
        ul.list-marked 
          li Как повысить покупаемость клубных карт через почту, контекстную рекламу и&nbsp;социальные сети;
          li Как повысить участие в&nbsp;конкурсе для тех, кто уже его видел;
          li Как отслеживать посещаемость для перераспределения рекламных бюджетов.
      
      +caseSection('Реклама',{type:'solutions'}).text-align-left
        +pageSubsection
          h3.text-align-center Баннерная реклама на портале
          p Для привлечения аудитории использовали платное размещение баннера на портале http://www.vseoplastike.ru
        +grid({ paddingy: true }).page-subsection
          +grid__item
            +img({
              name: 'banner',
              path: '/images/prodvizhenie-saytov/medall-reklama/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Баннерная реклама на портале').image-shadow
        +pageSubsection
          p За&nbsp;месяц размещения в&nbsp;центральном верхнем разделе сайта баннер получил 137&nbsp;230 показов по&nbsp;стоимости 66&nbsp;000&nbsp;руб. (480,7&nbsp;руб.&nbsp;за&nbsp;1000 уникальных показов). Мы&nbsp;получили #[strong 4&nbsp;431 переход на&nbsp;сайт] (цена клика 14,9&nbsp;руб) и&nbsp;#[strong конверсией] в&nbsp;целевое действие на&nbsp;сайте #[strong 3,5%]. Данное размещение позволило получить необходимый охват и&nbsp;привлечь новых клиентов в&nbsp;клинику.

          h3.text-align-center Реклама на&nbsp;форуме
          p Также мы&nbsp;разместили информацию о&nbsp;конкурсе на&nbsp;известном форуме #[strong Littleone]. Этот ресурс очень популярен среди женщин.
          p Стоимость размещения конкурса&nbsp;&mdash; 24&nbsp;000&nbsp;руб.
          p Охват аудитории Санкт-Петербурга&nbsp;&mdash; 765&nbsp;973&nbsp;человек.

          h3.text-align-center СМС рассылки
          p Мы&nbsp;предложили клиенту выполнить смс рассылку по&nbsp;базе клиентов. Список аудитории рассылки был проработан с&nbsp;учетом тематики конкурса. Было отправлено около #[strong 1900 смс сообщений]. Стоимость 1&nbsp;смс 3,5&nbsp;руб. В&nbsp;итоге рассылка обошлась в&nbsp;6650&nbsp;руб.

      +caseSection('Unit экономика конкурса').text-align-left 
        h3.text-align-center Доходы
        ul.list-marked 
          li Всего в&nbsp;конкурсе приняли участие 139 человек;
          li Куплено 157 услуг со&nbsp;скидкой со&nbsp;средним чеком 4&nbsp;630&nbsp;руб.
          li Выручка, которую получила клиника в&nbsp;период проведения конкурса ~ 706&nbsp;000&nbsp;руб.
          li Выручка от&nbsp;новых клиентов, которую получила клиника в&nbsp;течение полугода после проведения конкурса ~ 230&nbsp;000&nbsp;руб.
        p Итого доход: #[strong 936&nbsp;000&nbsp;руб.]

        h3.text-align-center Расходы
        ul.list-marked 
          li Призовой фонд: 800&nbsp;000&nbsp;руб.
          li Реклама: 66&nbsp;000 + 24&nbsp;000 + 6650 = 96&nbsp;650
        p Итого: #[strong 896&nbsp;650&nbsp;руб.]
        p Привлечение одного пациента обошлось в&nbsp;6450&nbsp;руб. (896&nbsp;650&nbsp;/ 139).

        h3.text-align-center Выводы
        p Данная механика позволила не&nbsp;только сразу #[strong привлечь пациентов], а&nbsp;также охватить потенциальных клиентов в&nbsp;социальных сетях, но&nbsp;и&nbsp;#[strong окупить затраты]. Конкурс вызвал интерес аудитории и&nbsp;позволил 13&nbsp;победителям получить качественное медицинское обслуживание с&nbsp;внушительной скидкой.
        p Для клиники за&nbsp;счет ажиотажа была получена #[strong целевая прибыль], лояльность к&nbsp;бренду укрепилась, количество довольных клиентов увеличилось. Из&nbsp;139 участников #[strong 95&nbsp;воспользовались услугами центра] впервые.

      +caseOffer
