extends /blocks/layout/layout

include /blocks/figure/figure
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/' 
        const header = {
          title: `Формирование положительного имиджа стоматологической клиники`,
          text: 'Стоматологическая клиника &laquo;Стоматология Вуги&raquo; предоставляет современные высококачественные медицинские услуги, на&nbsp;мировом уровне, за&nbsp;счет применения передовых методик лечения стоматологических проблем.',
          url: 'vugistomat.com',
          img: imgPath+'vugi-main.webp',
          logo: imgPath+'vugi-logo.webp',
          logoWidth: '110',
          logoHeight: '36',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Сформировать положительный имидж медицинского центра в сети Интернет.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Выполнены работы по управлению репутацией клиники в сети Интернет.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение узнаваемости бренда;
          li Увеличение эффективности вложений в другие виде рекламы.

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился генеральный директор стоматологической клиники &laquo;Стоматология Вуги&raquo; с&nbsp;задачей по&nbsp;#[strong созданию положительного имиджа клиники] с&nbsp;целью привлечения интереса к&nbsp;клинике, врачам, технологиям и&nbsp;месту расположения.
        p Стоматология является лидером в&nbsp;г. Люберцы и&nbsp;оказывает современные стоматологические услуги, используя возможности цифровой стоматологии.
        p Первым шагом мы&nbsp;выполнили бесплатный #[strong экспресс-аудит репутации клиники], подготовили отчет и&nbsp;предложили клиенту стратегию по&nbsp;управлению репутацией.
      
      +caseSection('Управление репутацией').text-align-left
        p В&nbsp;ходе первоначального экспресс-аудита репутации клиники было выявлено, что:
        ul.list-marked
          li существует ряд сайтов с&nbsp;негативными отзывами;
          li на&nbsp;подавляющем большинстве трастовых площадок отсутствует информация о&nbsp;клинике

        h3.text-align-center Цель
        p Цель клиента&nbsp;&mdash; создать положительный имидж клиники в&nbsp;сети Интернет с&nbsp;целью увеличения первичных записей.
        p Вспомогательные цели:
        ul.list-marked
          li повышение информированности пациентов об&nbsp;услугах клиники в&nbsp;сети Интернет;
          li обеспечение интереса аудитории к&nbsp;клинике;
          li нивелирование отрицательных отзывов.

        h3.text-align-center Решение
        ul.list-marked
          li Работа с&nbsp;отрицательными отзывами #[br] Разбавление отрицательных отзывов положительными, противодействие негативу
          li Работа с&nbsp;положительными отзывами #[br] Размещение положительных отзывов, вытеснение из&nbsp;результатов поиска по&nbsp;&laquo;репутационным&raquo; запросам негативных отзывов
          li Работа с&nbsp;упоминаниями #[br] Размещение PR-диалогов скрытой рекламы на&nbsp;различных тематических ресурсах

        h4.text-align-center Тестовые работы
        p Мы&nbsp;попросили клиента заполнить бриф&nbsp;&mdash; документ, содержащий список вопросов, необходимый для уточнения важных направлений, особенностей и&nbsp;#[strong грамотного построения кампании скрытой рекламы].
        p На&nbsp;основе полученной информации мы&nbsp;подготовили #[strong 2&nbsp;пробных отзыва], согласовывали их&nbsp;с&nbsp;клиентом, получили пожелания, внесли корректировки и&nbsp;продолжили работу.

        h4.text-align-center Основная работа
        p Проработали сайта из&nbsp;топ 10&nbsp;по&nbsp;запросу &laquo;стоматология на&nbsp;ВУГАХ отзывы&raquo;. Далее создали профили клиники в&nbsp;несколько новых сайтах &laquo;отзовиках&raquo; и&nbsp;каталогов компаний.
        p Провели работы на&nbsp;общетематических форумах, а&nbsp;также форумах&nbsp;г. Люберцы.
        p Также задействовали московские городские, женские форумы, и&nbsp;форумы для &laquo;мам&raquo;. Работали в&nbsp;темах по&nbsp;стоматологии. На&nbsp;городских форумах отдельно создали ветки по&nbsp;стоматологии в&nbsp;Люберцах, чтобы максимально актуализировать площадку.

        h3.text-align-center Результаты
        ul.list-marked.page-subsection
          li наполнены отзывами все страницы из&nbsp;репутационной выдачи;
          li подобраны трастовые площадки и&nbsp;созданы профили клиники;
          li отсутствуют свежие негативные отзывы, прошлые закрыты свежими положительными.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            figure.figure
              a(href='/images/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/vugi-1.webp' target='_blank' data-fancybox).image-zoom   
                +img({
                  name: 'vugi-1',
                  path: '/images/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Отзыв с сервиса Яндекс.Карты' title='Отзыв с сервиса Яндекс.Карты').image-shadow
              figcaption.figure__caption Отзыв с сервиса Яндекс.Карты
          +grid__item({ m:6, xs:12 })
            figure.figure
              a(href='/images/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/vugi-2.webp' target='_blank' data-fancybox).image-zoom   
                +img({
                  name: 'vugi-2',
                  path: '/images/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/',
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Отзыв с сайта https://www.baby.ru/' title='Отзыв с сайта https://www.baby.ru/').image-shadow
              figcaption.figure__caption Отзыв с сайта https://www.baby.ru/
      
      +caseOffer
