.figure
  &__caption
    margin-bottom 1rem
    font-size 0.875rem
    line-height 1.3125rem
  p + &
  & + p
  .list-marked + &
  & + .list-marked
  & + .table-wrap
  h2 + &
    margin-top 1.5rem
    