mixin figure(figure, settings = {})
  figure(class= classes('figure', settings))&attributes(attributes)
    +img(figure.image).figure__image.image-shadow
    - const imageAlt = figure.image || ''
      if imageAlt.alt
        figcaption.figure__caption !{imageAlt.alt}
