.steps-scroll
  display flex
  gap 1.5rem
  @media(max-width point-m - 1)
    flex-direction column
  &__sticky-wrapper
    flex-basis 33%
  &__content
    flex-basis 66%
    display flex
    flex-direction column
    row-gap 2rem
  &__nav  
    position sticky
    top 15px
  &__nav-list
    position relative
    &::after
      content ''
      position absolute
      inset 4px 0 0 0.38rem
      display block
      background-color #f3f1f3
      height calc(100% - 10px)
      width 0.25rem
  &__nav-item
    --circle-color #f3f1f3
    --color--hover-link #712880
    position relative
    padding-left 1.75rem 
    &:not(:last-child)
      padding-bottom 1rem
    &--active
      --circle-color #712880
      --color-link #712880
  &__circle
    position absolute
    inset 4px 0 0 0
    display block
    width 1rem
    height 1rem
    background-color var(--circle-color)
    border-radius 50%
    z-index 20
  &__avancement
    background-color var(--circle-color)
    position absolute
    inset 4px 0 0 0.38rem
    display block
    height 0
    width 0.25rem
    z-index 10
  &__subtitle
    display flex
    align-items center
    margin-bottom 1rem
    padding-bottom 1.5rem
    border-bottom 1px solid #f3f1f3
  &__subtitle-text
    margin 0
  &__subtitle-number
    display flex
    align-items center
    justify-content center
    margin-right 1rem
    width 3rem
    font-size 1.375rem
    line-height 1.875rem
    font-weight bold
    color #ffffff
    background-color #8c3052
    border-radius 50%
    aspect-ratio 1/1
  &__link
    a[href^='#']&
      &:hover
        color var(--color--hover-link)
    color var(--color-link)
