mixin stepsScroll(content)
  .steps-scroll&attributes(attributes)
    .steps-scroll__sticky-wrapper
      .steps-scroll__nav
        h2.page-section__title Этапы разработки сайта
        .steps-scroll__nav-list 
          - for(let i = 0; i < content.length; i++ )
            .steps-scroll__nav-item(data-step-number= i+1)
              span.steps-scroll__avancement(data-avancement-number= i+1)
              span.steps-scroll__circle
              a(href= `#${i+1}`).steps-scroll__link !{[i+1]}. !{content[i].step}

    .steps-scroll__content
      each item in content
        .steps-scroll__step(id= item.id)
          .steps-scroll__subtitle
            span.steps-scroll__subtitle-number !{item.id}
            h3.steps-scroll__subtitle-text !{item.title}
          +createElement(item.body)
          if item.img
            each image in item.img
              if image.zoom
                a(href= image.zoom target='_blank' data-fancybox).image-zoom   
                  +img({
                    name: image.name,
                    path: image.path,
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= item.title width=1000 height=560).image-shadow.object-fit-cover
              else 
                +img({
                  name: image.name,
                  path: image.path,
                  formats: [
                    { ext: 'png', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= item.title).image-shadow
