mixin caseCtrRound(item = {count: 0, id: ''})
  .case-ctr-round
    .case-ctr-round__diagram(data-count= item.value id= item.id)
    .case-ctr-round__info
      .case-ctr-round__title Снизилась цена клика
      .case-ctr-round__old c 
        strong !{item.old}
        |  руб.
      .case-ctr-round__new по 
        strong !{item.new} руб.
