extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Стоматологический центр DHC'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/prodvizhenie-saytov/' 
        const header = {
          title: 'Увеличение продаж изделий из волос в 6 раз для магазина париков',
          text: 'Интернет магазин париков, шиньонов и накладок является одним из направлений деятельности Центра Дизайна Волос.',
          url: 'vsepariki.com',
          img: '/images/portfolio/razrabotka-saytov/detail/hairdesign-detail.webp',
          logo: imgPath+'logo-vsepariki.svg',
          logoWidth: '70',
          logoHeight: '60',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить объем продаж париков и других постижерных изделий через Интернет.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Создан удобный, информативный и&nbsp;продающий сайт интернет-магазина;
          li Запустили поисковую оптимизация сайта;
          li Подготовили кампанию контекстной рекламы в&nbsp;Яндекс.Директ.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение продаж изделий из волос в #[strong 6 раз];
          li Онлайн продажи изделий через Интернет в месяц составляют более #[strong 350 000 руб.];
          li Более #[strong 8000 уникальных посетителей] из поисковых систем в месяц;
          li Сайт на первой странице по более #[strong 160 поисковых запросов].
        -
          let results1 = [
            {title: '×6', desc: 'увеличение продаж'},
            {title: '>350 000 руб.', desc: 'онлайн продажи в месяц'},
            {title: '>8 000', desc: 'уникальных посетителей в месяц'},
          ]
        +caseResultsList(results1).text-align-center


      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p Компания работает с&nbsp;2002&nbsp;года. Основное направление деятельности&nbsp;&mdash; это замещение волос и&nbsp;продажа систем волос. Сейчас в&nbsp;магазине представлен разнообразный ассортимент париков. Цели на&nbsp;ближайшее будущее&nbsp;&mdash; расширить ассортимент продукции.
        p Цели рекламы, которые перед нами поставил клиент:
        ul.list-marked 
          li Привлечение новых клиентов в&nbsp;салон для подбора парика;
          li Увеличение продаж париков через сайт, не&nbsp;посещая салон.
      
      +caseSection('Анализ',{type:'solutions'}).text-align-left
        p Перед началом работы с&nbsp;рекламной стратегией мы&nbsp;провели глубокий анализ:
        ul.list-marked 
          li 
            p #[strong Получили заполненный бриф от&nbsp;клиента]
            p Из&nbsp;брифа мы&nbsp;получили общую информацию о&nbsp;компании, цели, конкурентные преимущества, ассортименте товаров и&nbsp;уровне цен, акциях и&nbsp;спецпредложения, бизнес процессах, конкурентах. Также мы&nbsp;узнали о&nbsp;требованиях к&nbsp;сайту, особенностях оплаты, учета и&nbsp;доставки товара. 
          li
            p #[strong Собрали и&nbsp;изучили конкурентов]
            p Мы&nbsp;внимательно просмотрели топовые сайты конкурентов, как в&nbsp;России, так и&nbsp;за&nbsp;рубежом. Постарались выяснить, какие каналы рекламы они используют. Собрали идеи и&nbsp;интересные решения.
            +grid({ paddingy: true }).page-subsection
              +grid__item
                p: +img({
                    name: 'competitors',
                    path: '/images/prodvizhenie-saytov/vsepariki/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] },
                    ]
                  })(alt= 'Анализ конкурентов').image-shadow
          li
            p #[strong Проанализировали целевую аудиторию]
            p Что ожидают от товара. Какие есть альтернативы. Повод для приобретения товара, искомые выгода, отношение к товару. Что беспокоит при выборе товара, какие вопросы возникают, критерии выбора товара.
        
        h3.text-align-center CPO
        p Мы&nbsp;запросили у&nbsp;клиента информацию о&nbsp;среднем чеке и&nbsp;среднем доходе с&nbsp;одного заказа при продажах париков. На&nbsp;основе этих данных вычислили #[strong CPO (cost per order)] для того чтобы определить, какая стоимость заказа будет рентабельна для клиента и&nbsp;ограничить показатели для рекламной кампании.
      
      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        +pageSubsection
          h3.text-align-center Создание полного семантического ядра
          p Поисковые запросы в&nbsp;нашем процессе являются фундаментом для дальнейшего проектирования структуры сайта. Мы&nbsp;всегда создаем сайты так, чтобы они максимально отвечали на&nbsp;поисковый спрос, соответствовали требованиям поисковых систем&nbsp;и, следовательно, были полностью готовы к&nbsp;дальнейшему продвижению.
          p Скажу больше, обычно разработанные нами сайты выходят в&nbsp;топ поисковых систем по&nbsp;определенной части запросов без каких-либо дополнительных усилий.
          p Мы&nbsp;собрали все возможные варианты запросов, обработали&nbsp;их, отобрали&nbsp;те, которые часто используют, а&nbsp;также эффективные запросы, сгруппировали в&nbsp;соответствии с&nbsp;логикой. Также мы&nbsp;разбили запросы на&nbsp;коммерческие и&nbsp;информационные. Для информационных запросов&nbsp;&mdash; подготовили технические задания на&nbsp;копирайтинг статей.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: +img({
                name: 'semantic',
                path: '/images/prodvizhenie-saytov/vsepariki/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Семантическое ядро').image-shadow
        
        +pageSubsection
          h3.text-align-center Проектирование структуры сайта
          p На&nbsp;следующем этапе&nbsp;&mdash; обработали коммерческие группы запросов. Проанализировали и&nbsp;оставили только те&nbsp;группы, для которых в&nbsp;нашем ассортименте есть товары с&nbsp;соответствующими характеристиками. 
          p В&nbsp;результаты получили готовую структуру фильтров для проектирования интернет-магазина. 
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: +img({
                name: 'mindmap',
                path: '/images/prodvizhenie-saytov/vsepariki/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Проектирование структуры сайта').image-shadow
        
        +pageSubsection
          h3.text-align-center Подготовка контента и&nbsp;оптимизация страниц
          p Далее перебрали весь ассортимент товаров (парики, шиньоны, накладки и&nbsp;головные уборы), каждому товару присвоили свое значение характеристики, полученной на&nbsp;предыдущем этапе. Также сформировали для каждого товара уникальное оптимизированное название и&nbsp;описание.
          p Для каждого фильтра мы&nbsp;получили отдельную страницу со&nbsp;своим списком товаров, обладающих данной характеристикой. Подготовили оптимизированные мета теги и&nbsp;описания для этих страниц.

          h3.text-align-center Получение естественных ссылок
          p После подготовки контента мы&nbsp;приступили к&nbsp;работам по&nbsp;получению ссылок, которые важны для продвижения страниц в&nbsp;поисковых системах.
          ul.list-marked 
            li 
              p #[strong Ссылки со&nbsp;справочников]
              p Провели анализ, с&nbsp;каких сайтов проставлены ссылки на&nbsp;конкурентов. Собрали эти сайты, проанализировали и&nbsp;вручную зарегистрировались на&nbsp;них&nbsp;&mdash; около 40&nbsp;ресурсов. В&nbsp;результате бесплатно получили ссылки с&nbsp;около 20&nbsp;сайтов.
            li 
              p #[strong Ссылки в&nbsp;статьях]
              p Также мы&nbsp;написали и&nbsp;опубликовали на&nbsp;популярных и&nbsp;качественных тематических сайтах ряд пресс-релизов и&nbsp;статей со&nbsp;ссылками на&nbsp;сайт клиента. Это дало существенный прирост позиций в&nbsp;поисковых системах.
          h3.text-align-center Показатели
        
        +grid({ paddingy: true }).page-subsection
          +grid__item
            +img({
              name: 'visitors',
              path: '/images/prodvizhenie-saytov/vsepariki/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'График посещаемости сайта из поисковых систем' title='График посещаемости сайта из поисковых систем').image-shadow
            +textMarked({ tag: 'p', 'size--s': true, color: 'grey' }) График посещаемости сайта из&nbsp;поисковых систем
        
        +pageSubsection
          h4.text-align-center Позиции по&nbsp;запросам
          p Сайт занимает высокие позиции по&nbsp;запросам в&nbsp;поисковых системах Яндекс и&nbsp;Google.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ s:4, xs:7 })
              +img({
                name: 'visibility',
                path: '/images/prodvizhenie-saytov/vsepariki/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Позиции по запросам').image-shadow
        +pageSubsection
          p Видимость сайта&nbsp;&mdash; это %&nbsp;пользователей, которые увидят сайт по&nbsp;поисковым запросам
          p Данные по&nbsp;количеству запросов в&nbsp;результатах поиска:
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'top',
                path: '/images/prodvizhenie-saytov/vsepariki/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Данные по количеству запросов в результатах поиска').image-shadow
        +pageSubsection
          p Запросы в&nbsp;топ 10&nbsp;результатов поиска: (всего в&nbsp;первой 10-ке результатов поиска находятся 164&nbsp;запроса)
          ul.list-marked
            li магазин париков
            li парики спб
            li парики в&nbsp;спб купить
            li купить парик
            li салон париков
            li парик цена
            li искусственные парики
            li мужские парики
            li женские парики
            li парики короткие
            li парики длинные
            li парики летние
            li парики на&nbsp;ленте
            li парики на&nbsp;сетке купить
            li парики прямые
            li парики ручной работы
            li парики эконом класса
            li парики элен вилле
            li седой парик
            li черный парик
            li парик детский
      
      +caseSection('Контекстная реклама').text-align-left
        +pageSubsection
          p Контекстная реклама в&nbsp;Яндекс.Директ составляла небольшую долю трафика (всего около 8%). В&nbsp;2020&nbsp;г были запущены только ретаргетинговые рекламные кампании в&nbsp;РСЯ.
          p Аудитория была сегментирована по&nbsp;возрасту, полу, просмотренным категориям париков и&nbsp;интересам. Под каждый сегмент были составлены релевантные продающие объявления с&nbsp;акцентом на&nbsp;преимущества товара.
          p Для увеличения охвата и&nbsp;повышения продаж были также впоследствии добавлены кампании по&nbsp;накладкам на&nbsp;поиске. 
          p Рекламные кампании на&nbsp;поиске дали очень высокий CTR&nbsp;&mdash; #[strong 28%] при относительно недорогой цене клика, сопоставимой с&nbsp;ценой клика в&nbsp;сетях&nbsp;&mdash; #[strong 15&nbsp;руб.]
          +table
            +tr.table__row
              +th Тип площадки
              +th Показы
              +th Клики
              +th CTR (%)
              +th CPC 
              +th Расход (руб.)
            +tr.table__row
              +td поиск
              +td 5 227
              +td 1 475
              +td 28%
              +td 15
              +td 22 724
            +tr.table__row
              +td сети
              +td 109 816
              +td 1 518
              +td 1%
              +td 9
              +td 13 932
            +tr.table__row
              +td Общий итог
              +td 115 043
              +td 2 993
              +td 3%
              +td 12
              +td 36 656
        +pageSubsection
          p Кампании на поиске дали хорошие результаты также по позиции показа ~ 2 и объему выкупаемого трафика – 80 при цене 16 руб. за клик.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            +img({
              name: 'search',
              path: '/images/prodvizhenie-saytov/vsepariki/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Кампании на поиске').image-shadow
        +pageSubsection
          h3.text-align-center Примеры рекламных объявлений
        
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:4, xs:6 })
            +img({
              name: 'campaign-1',
              path: '/images/prodvizhenie-saytov/vsepariki/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Пример рекламных объявлений').image-shadow
          +grid__item({ m:4, xs:6  })
            +img({
              name: 'campaign-2',
              path: '/images/prodvizhenie-saytov/vsepariki/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Пример рекламных объявлений').image-shadow
          +grid__item({ m:8 })
            +img({
              name: 'campaign-3',
              path: '/images/prodvizhenie-saytov/vsepariki/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Пример рекламных объявлений').image-shadow

      +caseOffer
