.footer-main
  background-color #c4c5c1
  padding-y (basePadding*2)
  .content
    background-color transparent
  &__bottom
    display flex
    flex-direction column
    gap 0.5rem
  &__agreements
    font-size 0.625rem
