extends /blocks/layout/layout
include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-promotion-item/portfolio-promotion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/portfolio/prodvizhenie-saytov-list
  .container
    .content.content--white
      h1 Продвижение сайтов
      p Предлагаем вашему вниманию наше портфолио по продвижению сайтов. Здесь представлены компании, которые существенно расширили базу постоянных клиентов и увеличили число продаж за счёт применения технологий, разработанных специалистами агентства Медреклама.
      p Портфолио включает в себя полное описание задач, проведённых работ по каждому из проектов, а также отражает достигнутые результаты и динамику посещаемости сайта.
      p Хотим отметить, что представленные здесь проекты - это только часть из того, над чем мы работали за годы нашей деятельности.
      //- .page-section
      //-   h2.page-section__title Сайты клиник и медицинских центров
      //-   +worksList(portfolioProdvizhenieSaytovList1)
      //- .page-section
      //-   h2.page-section__title Индустрия красоты
      //-   +worksList(portfolioProdvizhenieSaytovList2)
      .page-section 
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [
            { 
              mod: 'neuros',
              href: 'neyrohirurgicheskii-centr-novie-tekhnologii',
              title: 'Увеличение количества обращений пациентов за год в 2 раза',
              name: 'Нейрохирургический центр им. профессора Г.С. Тиглиева «Новые технологии»',
              category: 'Медицина и здоровье',
              logo: 'logo-neuros.svg',
              chart: 'chart-neuros', 
            },
            { 
              mod: 'medall',
              href: 'mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
              title: 'Увеличение количества обращений пациентов из Интернет в 2,2 раза',
              name: 'Клиника «Медицинский Центр Города»',
              category: 'Медицина и здоровье',
              logo: 'logo-medcenter.webp',
              chart: 'chart-medall', 
            },
            {
              mod: 'stomatology-center',
              href: 'set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
              title: 'Увеличение посещаемости сайта в 6 раз',
              name: 'Сеть клиник «Стоматологический центр города»',
              category: 'Медицина и здоровье',
              logo: 'logo-stomatology-center.svg',
              chart: 'chart-stomatology-center', 
            },
            {
              mod: 'medall-hair',
              href: 'klinika-po-peresadke-volos',
              title: 'Увеличение посещаемости сайта в 4,5 раза',
              name: 'Клиника пересадки волос «MEDALL»',
              category: 'Медицина и здоровье',
              logo: 'logo-medall-hair.svg',
              chart: 'chart-medall-hair', 
            },
            {
              mod: 'stomadeus',
              href: 'set-stomatologicheskiy-klinik-stomadeus',
              title: 'Увеличение посещаемости сайта в 3 раза',
              name: 'Сеть стоматологических клиник «Стомадеус»',
              category: 'Медицина и здоровье',
              logo: 'logo-stomadeus.svg',
              chart: 'chart-stomadeus', 
            },
            {
              mod: 'whitedent',
              href: 'klinika-esteticheskoy-stomatologii-vaytdent',
              title: 'Увеличение посещаемости сайта в 4 раза',
              name: 'Стоматологическая клиника «ВайтДент»',
              category: 'Медицина и здоровье',
              logo: 'logo-whitedent.webp',
              chart: 'chart-whitedent', 
            },
            {
              mod: 'doctor-dent',
              href: 'stomatologicheskaya-klinika-doktor-dent',
              title: 'Увеличение посещаемости сайта в 2 раза',
              name: 'Cтоматологическая клиника «Доктор Дент»',
              category: 'Медицина и здоровье',
              logo: 'logo-doctor-dent.webp',
              chart: 'chart-doctor-dent', 
            },
            {
              mod: 'hairdesign',
              href: 'salon-krasoti-tsentr-dizayna-volos',
              title: 'Увеличение посещаемости сайта',
              name: 'Салон красоты «Центр Дизайна Волос»',
              category: 'Индустрия красоты',
              logo: 'logo-hairdesign.svg',
              chart: 'chart-hairdesign', 
            },
            {
              mod: 'volosy24',
              href: 'internet-magazin-volos-dlya-naraschivaniya-volosi24',
              title: 'Увеличение посещаемости сайта',
              name: `Интернет-магазин волос для наращивания <br> «Волосы24»`,
              category: 'Индустрия красоты',
              logo: 'logo-volosy24.svg',
              chart: 'chart-volosy24', 
            },
            {
              mod: 'ignatovskogo',
              href: 'klinika-ignatovskogo',
              title: 'Увеличении количество звонков первичных пациентов на 24% по каналу SEO',
              name: 'Клиника Дерматологии и Репродуктивного <br> здоровья доктора Игнатовского',
              category: 'Медицина и здоровье',
              logo: 'logo-ignatovskogo.webp',
              chart: 'chart-ignatovskogo', 
              left: true,
            },
            {
              mod: 'dhcentre',
              href: 'dhcentre',
              title: 'Реализация эффективной рекламной стратегии в короткие сроки',
              name: 'Стоматологический центр DHC',
              category: 'Медицина и здоровье',
              logo: 'logo-dhc.webp',
              chart: 'chart-medall-hair', 
            },
            {
              mod: '33zub',
              href: 'stomatologicheskaya-klininka-33zub',
              title: 'Привлечение 43 конверсий для сети стоматологических клиник в низкий сезон',
              name: 'Стоматологические клиники 33zub',
              category: 'Медицина и здоровье',
              logo: 'logo-33zub.png',
              chart: 'chart-stomadeus', 
            },
            {
              mod: 'medall-contest',
              href: 'klininka-medall',
              title: 'Разработка механики и проведение конкурса для клиники эстетической медицины',
              name: 'Клиника «MEDALL»',
              category: 'Медицина и здоровье',
              logo: 'logo-medall-2.png',
              chart: 'chart-medall-hair', 
            },
            {
              mod: 'vsepariki',
              href: 'magazin-parikov-vsepariki',
              title: 'Увеличение продаж изделий из волос в 6 раз',
              name: 'Интернет-магазин париков',
              category: 'Индустрия красоты',
              logo: 'logo-vsepariki.svg',
              chart: 'chart-hairdesign', 
            },
          ]
        each item in works
          +portfolioPromotionItem(item).portfolio-list__col-m-6

