.figure-diagram
  display flex
  margin (-(basePadding/2)) (-(basePadding))
  flex-wrap wrap
  align-items center
  &__circle
    padding (basePadding/2) (basePadding)
    display flex
    justify-content center
    flex-grow 1
  &__caption
    padding (basePadding/2) (basePadding)
    flex-basis calc(100% - 190px)
    @media screen and (max-width point-s)
      flex-basis 100%
      text-align center
  .grid__cell--m-4 &
    flex-direction column
    text-align center
      
