extends /blocks/layout/layout

include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-case-item/portfolio-case-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Аудит сайта

      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [ 
            { 
              mod: ['whitedent', 'audit'], 
              href: '/audit-saita/pervaya-semeinaya-klininka/',
              title: `Увеличение первичных обращений пациентов на 14%`,
              name: 'Медицинский холдинг «Первая семейная клиника»',
              category: 'Медицина и здоровье',
            },
            { 
              mod: ['medall', 'audit'],
              href: '/audit-saita/medicinskiy-centr-demos/',
              title: `Увеличение вовлеченности пользователей`,
              name: 'Медицинский центр &laquo;Демос&raquo;',
              category: 'Медицина и здоровье',
            },
          ] 
        +portfolioCaseItem(works).portfolio-list__col-s-6
