mixin resultsCarousel(list)
  .results-carousel
    +grid({nopadding:true})
      +grid__item({m:8,xs:12})
        .results-carousel__content#results-carousel__content
          ul.slides
            each item in list
              li
                .results-carousel__tab
                  .results-carousel__header !{item.title}
                  .results-carousel__problems
                    .results-carousel__subheader.results-carousel__subheader--problems Проблемы
                    p !{item.problem}
                    .results-carousel__block-title Задачи
                    ul.list-marked
                      each i in item.tasks
                        li !{i}
                    .results-carousel__block-title Результаты работ в течении !{item.months} месяцев:
                    ul.list-marked
                      each i in item.results
                        li !{i}
                  .results-carousel__achievments
                    .results-carousel__subheader.results-carousel__subheader--achievments Достижения
                    ul.list-marked
                      each i in item.achievments
                        li !{i}
      +grid__item({m:4,xs:12}).hidden-s.hidden-xs
        .results-carousel__tabs#results-carousel__tabs
          ul.slides
            each item in list
              li.results-carousel__tab-label !{item.title}
