.results-carousel
  @media screen and (max-width 60rem)
    margin-x (-(basePadding*2))
  &__content
    border 2px solid #CED2D5
    padding (basePadding*2)
    z-index 1
    position relative
  &__header
    font-weight bold
    color #712880
    margin-bottom 0.75em
    font-size 1.375rem
    line-height (1.375rem+0.25rem)
    margin-bottom 1.5rem
  &__subheader
    @extends h5
    --results-carousel-subheader-background #aaaaaa
    max-width 10rem
    background-color var(--results-carousel-subheader-background)
    text-align center
    padding-left (basePadding/3*4)
    padding-y (basePadding/3)
    line-height 1.5rem
    color #ffffff
    position relative
    background-repeat no-repeat
    background-position 0.5rem center
    margin-bottom 0.25rem
    &::after
      content ''
      position absolute
      right -(basePadding/3*8)
      top 0
      border (basePadding/3*4) solid transparent
      border-left (basePadding/3*4) solid var(--results-carousel-subheader-background)
    &--problems
      --results-carousel-subheader-background #8c3053
      background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'><defs><style>.cls-1{fill:#fff;}</style></defs><title>alert</title><path class='cls-1' d='M-28.46-89l-7.41-11.54a1.68,1.68,0,0,0-2.24,0L-45.54-89-45.6-89a1.34,1.34,0,0,0,.06,2h17.07l0.06-.06A1.34,1.34,0,0,0-28.46-89Zm-8.4-.13a0.83,0.83,0,0,1-.82-0.8,0.85,0.85,0,0,1,.88-0.81h0a0.83,0.83,0,0,1,.82.84A0.84,0.84,0,0,1-36.87-89.17Zm1-3.5a0.87,0.87,0,0,1-.92.81,0.87,0.87,0,0,1-.86-0.81v-3.77a0.85,0.85,0,0,1,.89-0.81h0a0.85,0.85,0,0,1,.89.81h0v3.77Z' transform='translate(46 101.01)'/></svg>")
      background-size 1.25rem
    &--achievments
      --results-carousel-subheader-background #734d76
      background-image url("data:image/svg+xml;utf8,<svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 18'><defs><style>.cls-1,.cls-2{fill:#fff;}.cls-2{fill-opacity:0.5;}</style></defs><title>progress</title><path class='cls-1' d='M4-78H-2v-1h1v-6H1v6H2v-8H4v8H5V-92H7v13H8v1H4Z' transform='translate(4 96)'/><path id='undo' class='cls-2' d='M2.65-96H2.35L-1-93H1c0.47,1.86.48,3.17-.62,4.75C-0.64-86.92-2.73-87-4-87a5.8,5.8,0,0,0,5,0c2.1-1.23,2.69-3.39,3-6H6Z' transform='translate(4 96)'/></svg>")
      background-size 1rem
  &__block-title
    @extends h5
  &__tabs
    height 100%
    position relative
    left -2px
    z-index 2
    .flex-viewport
      height 100% !important
  &__tab-label
    padding (basePadding*2)
    z-index 2
    position relative
    background-color #f2f6f9
    border-radius 0 (basePadding/3*2) (basePadding/3*2) 0
    color #797677
    border-bottom 1px solid #CED2D5
    border-right 1px solid #CED2D5
    border-left 2px solid #CED2D5
    cursor pointer
    &:first-child
      
      border-top 2px solid #CED2D5
    &--active
      border-left none
      border-right #8c3052 solid (basePadding/3*2)
      background-color #ffffff
      color #000000
      // border-top 2px solid #CED2D5
      border-bottom 2px solid #CED2D5
  .flex-control-paging
    display flex
    justify-content center
    list-style none
    padding-top basePadding
    margin-x (-(basePadding/3))
    @media screen and (min-width point-m)
      display none
    & > li
      margin-x (basePadding/3)
      @media screen and (max-width point-s)
        margin-x (basePadding)
      a
        display block
        width (basePadding)
        height (basePadding)
        background-color #888888
        // border (basePadding/3) solid #cccccc
        text-indent -9999px
        border-radius 50%
        transition background-color timing-s
        &.flex-active
          transition none
          background-color #f0f0f0
        @media screen and (max-width point-s)
          width (basePadding*2)
          height (basePadding*2)
      
