extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let header = {
          className: 'whitedent',
          title: 'Кейс по контекстной рекламе клиники эстетической стоматологии «Вайт&nbsp;Дент»',
          desc: 'Стоматологическая клиника «Вайт Дент» является перспективным лечебным учреждением, которое занимает достойное место среди ведущих клиник данного направления в Санкт-Петербурге.',
          price: '6 000 руб.',
        }
      +caseHeader(header)
      +caseSection('Задача',{type:'task'})
        p Увеличение осведомленности о клинике жителей близлежащих районов.
          br
          | Загрузка врачей и увеличение спроса на услугу компьютерной томографии.
      +caseSection('Поиск решения',{type:'solutions'})
        p Для рекламы клиники использовали контекстную рекламу Яндекс.Директ. Ввиду ограниченного бюджета на продвижение (максимальный месячный бюджет на контекстную рекламу составлял 
          strong 6000
          | &nbsp;руб.) и большой конкуренции по топовым услугам стоматологии, таким как 
          em «имплантация»
          | , 
          em «протезирование»
          | , 
          em «компьютерная томография»
          |  агентство очень тонко подошло к настройкам рекламной кампании и выбору ключевых слов.
      +caseSection('Тонкие настройки',{type:'settings'})
        h3 Продвигали по ключевым запросам:
        ul.list-marked
          li название близлежащих улиц, районов, метро в связке со «стоматологией» и синонимами;
          li название близлежащих улиц, районов, метро в связке с наиболее приоритетными услугами клиники;
          li наиболее конверсионные запросы по направлению «компьютерная томография».
        h3 Рекламные объявления:
        p В целях экономии бюджета и отсекания не конверсионных кликов рекламные объявления составлены с учетом следующих критериев:
        ul.list-marked
          li Включали в объявление название улицы/района/метро;
          li В объявлениях по конкретным услугам указывали ее стоимость;
          li В объявлениях обыгрывали преимущества клиники и выгоды для пациента.
      +caseSection('Результаты')
        p В результате проведенной кампании контекстной рекламы количество пациентов, которые воспользовались услугой компьютерной томографии выросло в 2 раза. Общая 
          strong загрузка врачей клиники увеличилась на 15%.
        -
          let results = [
            {title: '100 %', desc: 'рост количества пациентов<br>на услугу компьютерной томографии'},
            {title: '15 %', desc: 'увеличение общей<br>загруженности врачей'},
          ]
        +caseResultsList(results)
        +caseCupSeparator
        +caseInfographics
          +caseInfographicsItem
            -
              let ctr = {
                title: '+215%',
                result: '10.9%',
                forecast: '5%'
              }
            +caseCtr(ctr)
          +caseInfographicsItem
            +caseInfoMultiplier({mult:4, info:'Привели на сайт<br>в 4 раза больше<br>пользователей'})
            +casePriceComparison({old:40, new:7})
      +caseOffer
      +caseSection('Дополнительные бонусы')
        -
          let bonuses = [
            {
              text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
              className: 'experience'
            },
            {
              text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
              className: 'volume'
            }
          ]
        +caseBonuses(bonuses)
