.partners
  display flex
  margin -(basePadding)
  flex-wrap wrap
  justify-content center
  margin-top (basePadding*1.5)
  &__item
    width 8.25rem
    margin basePadding
  &__image
    position relative
    margin-bottom (basePadding / 1.5)
    padding-bottom 56.25%
    border 1px solid #eaeaea
    img
      position absolute
      top 50%
      left 50%
      margin-x auto
      max-width 100%
      max-height 100%
      transform translate(-50%, -50%)
  &__desc
    font-size font-xs
    text-align center
