.partners
  .partners__item
    .partners__image
      img(src='/images/partners-docdoc.jpg')
    .partners__desc Сервис по привлечению пациентов
  .partners__item
    .partners__image
      img(src='/images/partners-stomfirms.jpg')
    .partners__desc Стоматологический портал
  .partners__item
    .partners__image
      img(src='/images/partners-zoon.jpg')
    .partners__desc Информационный портал о компаниях
  .partners__item
    .partners__image
      img(src='/images/partners-jivolive.jpg')
    .partners__desc Сервисы увеличения конверсии сайта
  .partners__item
    .partners__image
      img(src='/images/partners-fabricloyal.jpg')
    .partners__desc Разработчик мобильного приложения для клиник
  .partners__item
    .partners__image
      img(src='/images/partners-ondoc.jpg')
    .partners__desc Платформа для врачей и пациентов
