extends /blocks/layout/layout

include /blocks/figure/figure
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/konsultatsiya/svetofor/' 
        const header = {
          title: `Увеличение конверсии сайта после внедрения рекомендаций, выработанных в рамках комплексного аудита и консультации.`,
          text: '&laquo;Светофор&raquo;&nbsp;&mdash; специализированная клиника, работающая в&nbsp;двух основных направлениях: детская стоматология и&nbsp;ортодонтия.',
          url: 'svetofor-stoma.ru',
          img: imgPath+'svetofor-main.webp',
          logo: imgPath+'svetofor-logo.svg',
          logoWidth: '100',
          logoHeight: '48',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличение конверсии сайта;
          li Увеличение количества первичных обращений пациентов;
          li Увеличение лояльности пациентов.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Выполнили комплексный аудит интернет-маркетинга;
          li Провели консультацию по стратегии и тактике привлечения пациентов с учетом профиля клиники и позиционирования.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Клиент отметил увеличение конверсии сайта и количества первичных обращений после внедрения части рекомендаций.

      +caseSection('О проекте').text-align-left
        p К&nbsp;нам обратился руководитель детской стоматологической клиники &laquo;Светофор&raquo; с&nbsp;запросом на&nbsp;#[strong консультацию по&nbsp;привлечению пациентов]. 
        p Клиника планировала к&nbsp;запуску новую версию сайта. Поэтому руководитель хотел решить одновременно две задачи: получить информацию по&nbsp;#[strong стратегии и&nbsp;тактике привлечения пациентов в&nbsp;интернет], а&nbsp;также проверить продающие качества нового сайта.
        p Мы&nbsp;бесплатно выполнили краткий аудит интернет-маркетинга клиники, в&nbsp;который входил аудит продающих качеств сайта и&nbsp;аудит рекламных кампаний.
        p В&nbsp;рамках аудита продающих качеств сайта мы&nbsp;обратили внимание клиента на&nbsp;разделы сайта, которые важно улучшить:
        ul.list-marked 
          li Тексты услуг;
          li Контакты;
          li Информация о&nbsp;врачах клиники;
          li Отзывы;
          li Оборудование, ДМС;
          li Фото работ до&nbsp;и&nbsp;после;
          li Акции;
          li Новости клиники;
          li Достижения, гарантии.

        p В&nbsp;рамках аудита рекламных кампаний мы&nbsp;обратили внимание на&nbsp;некоторые #[strong проблемы], вот важнейшие из&nbsp;них:
        ul.list-marked 
          li Не&nbsp;задействована контекстная реклама;
          li Недостаточная оптимизация текстов;
          li Не&nbsp;ведется инстаграм.
        p: iframe(src="https://drive.google.com/file/d/1Pe9z63hZlwFxkWzuuRjlVPqehUkoej1_/preview" width="100%" height="560" allow="autoplay")

        p В&nbsp;рамках консультации мы&nbsp;рассказали о&nbsp;выявленных проблемах в&nbsp;маркетинге клиники, поделились практическими рекомендациями по&nbsp;маркетингу и&nbsp;идеями по&nbsp;развитию клиники.
        ul.list-marked 
          li Как увеличить эффективность сайта клиники;
          li Какие каналы рекламы в&nbsp;интернет более эффективны для клиники;
          li Как привлечь пациентов в&nbsp;интернете.
      +caseOffer
