extends /blocks/layout/layout

include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-case-item/portfolio-case-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Управление репутацией

      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [ 
            { 
              mod: ['medall', 'reputation'], 
              href: '/upravlenie-reputatsiey/medicinskiy-centr-traditsii/',
              title: `Увеличение обращений в клинику на <strong>22%</strong>`,
              name: 'Медицинский центр &laquo;Традиции&raquo;',
              category: 'Медицина и здоровье',
            },
            { 
              mod: ['vugi', 'reputation'], 
              href: '/upravlenie-reputatsiey/stomatologicheskaya-klinika-stomatologiya-vugi/',
              title: `Увеличение узнаваемости бренда стоматологии`,
              name: 'Стоматологическая клиника <br>&laquo;Стоматология Вуги&raquo;',
              category: 'Медицина и здоровье',
            },
          ] 
        +portfolioCaseItem(works).portfolio-list__col-s-6
