extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологических клиник «Стоматологический Центр Города»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/stomcenter.png',
      //-     title: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
      //-     link: {
      //-       text: 'http://www.stomcenter.ru/',
      //-       href: 'http://www.stomcenter.ru/'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Сеть клиник «Стоматологический Центр Города» входит в число крупнейших сетей клиник оказывает широкий спектр услуг в сфере стоматологии, придерживаясь самых высоких стандартов качества.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Регулярно ведутся работы по добавлению тематического контента;
      //-     li На постоянной основе обновляются группы в социальных сетях;
      //-     li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
      //-     li Проводятся мероприятия по управлению репутацией в социальных медиа.
      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 6 раз
      //-       |  с 3587 до 22115 посетителей в месяц.
      //-     li Увеличение количества звонков клиентов из интернета в 
      //-       strong 3 раза
      //-       |  с 300 до более 1000 в месяц.
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['имплантация зубов',{content:'2',type:'marked'}],
      //-       ['отбеливание зубов',{content:'2',type:'marked'}],
      //-       ['протезирование зубов',{content:'2',type:'marked'}],
      //-       ['зубные протезы',{content:'1',type:'marked'}],
      //-       ['брекеты стоимость',{content:'2',type:'marked'}],
      //-       ['реставрация зубов',{content:'2',type:'marked'}],
      //-       ['стоматология спб',{content:'3',type:'marked'}],

      //-     ]
      //-   +resultsTable(table1)
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Привлечение около 600 обращений пациентов из Интернет в месяц для сети стоматологических клиник',
          text: 'Сеть клиник «Стоматологический Центр Города» входит в число крупнейших сетей клиник оказывает широкий спектр услуг в сфере стоматологии, придерживаясь самых высоких стандартов качества.',
          url: 'stomcenter.ru',
          img: imgPath+'detail/stomatology-center-detail.webp',
          logo: imgPath+'logo/logo-stomatology-center.webp',
          logoWidth: '105',
          logoHeight: '31',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет;
          li Увеличение прибыли клиник;
          li Увеличение узнаваемости бренда.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Запустили поисковую оптимизация сайта;
          li Создали эффективные рекламные кампании в системе Яндекс.Директ и Google.Adwords;
          li Проведен юзабилити аудит и внедрены улучшения в интерфейс;
          li Проводятся мероприятия по управлению репутацией в социальных медиа;
          li Ведем группы в социальных сетях.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение целевой посещаемости сайта в #[strong 6 раз] с 3587 до 22115 посетителей в месяц.
          li 
            span Увеличение количества звонков клиентов из интернета в #[strong 1,71 раза] с 340 до более 580 в месяц.
            +textMarked({ tag:'div', 'size--s': true }) * данные взяты из #[a(href='/images/prodvizhenie-saytov/stomcenter/report.png' target='_blank') отчета по рекламе] программы Инфоклиника
          li Увеличение конверсии сайта в лид до #[strong 8,3%].
        -
          let results1 = [
            {title: '×6', desc: 'увеличение <br> целевой посещаемости'},
            {title: '×1,71', desc: 'увеличение <br> количества звонков'},
            {title: '8,3%', desc: 'конверсия <br> сайта в лид'},
          ]
        +caseResultsList(results1).text-align-center
      
      +caseSection('Детальная статистика',{type:'solutions'}).text-align-left
        +pageSubsection
          p В&nbsp;месяц в&nbsp;среднем сайт приносил 580 лидов по&nbsp;каналу &laquo;Поисковый трафик&raquo;:
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: +img({
              name: 'conversion',
              path: '/images/prodvizhenie-saytov/stomcenter/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Увеличение конверсии').image-shadow
        +pageSubsection
          ul.list-marked
            li #[strong 530 звонков] (из&nbsp;них около 150 первичных обращений);
            li #[strong 36&nbsp;записей] на&nbsp;прием с&nbsp;сайта;
            li #[strong 13&nbsp;заявок] на&nbsp;обратный звонок.
          p Интернет&nbsp;&mdash; лидер среди каналов привлечения пациентов.
      
      +caseSection('О&nbsp;проекте',{type:'solutions'}).text-align-left
        p Это был первый проект в&nbsp;сфере стоматологии в&nbsp;нашем портфолио. С&nbsp;данным клиентом мы&nbsp;проработали #[strong более 7&nbsp;лет]. И&nbsp;за&nbsp;это время выполнили огромный объем работ, протестировали различные гипотезы и&nbsp;успешно задействовали большинство из&nbsp;возможных каналов интернет-рекламы. В&nbsp;целом мы&nbsp;получили огромный опыт и&nbsp;компетенции в&nbsp;работе над этим проектом.
        .block-marked
          span Во&nbsp;время нашего сотрудничества сеть филиалов выросла с&nbsp;#[strong 2&nbsp;до&nbsp;5&nbsp;клиник] и&nbsp;вошла в&nbsp;#[strong топ 5&nbsp;лучших] частных клиник Санкт-Петербурга.

      +caseSection('Увеличение количества дозвонившихся пациентов',{type:'solutions'}).text-align-left
        p При анализе статистики мы&nbsp;часто обращаемся к&nbsp;системе отслеживания звонков. Просматривая поступившие звонки, мы&nbsp;обратили внимание на&nbsp;длительное среднее #[strong время ожидания на&nbsp;линии (более 2&nbsp;минут)] и&nbsp;большое количество потерянных звонков #[strong (около 8%)]. Мы&nbsp;обратили на&nbsp;это внимание руководство, так как это напрямую связано с&nbsp;бизнесом клиники.
        p В&nbsp;результате оказалось, что с&nbsp;телефонией действительно были проблемы. После некоторых настроек клиенту удалось снизить %&nbsp;потерянных звонков в&nbsp;#[strong 3&nbsp;раза].

      +caseSection('Эффективность сайта',{type:'solutions'}).text-align-left
        +pageSubsection
          h3.text-align-center Система управления
          p На&nbsp;старте работ мы&nbsp;получили сайт на&nbsp;устаревшей системе управления, с&nbsp;проблемами в&nbsp;безопасности и&nbsp;различными техническими ошибками. Наша команда провела технический аудит сайта, обновила систему управления и&nbsp;настроила систему защиты.
          h3.text-align-center Интерфейс сайта
          p Мы&nbsp;серьезно переработали интерфейс и&nbsp;дизайн сайта для того, чтобы сделать его более удобным, привлекательным и&nbsp;продающим. Разработали адаптивную версию сайта для всех устройств.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6 })
            p: strong До
            p: +img({
              name: 'before',
              path: '/images/prodvizhenie-saytov/stomcenter/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Сайт до изменения интерфейса').image-shadow
          +grid__item({ m:6 })
            p: strong После
            p: +img({
              name: 'after',
              path: '/images/prodvizhenie-saytov/stomcenter/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Сайт после изменения интерфейса').image-shadow
        +pageSubsection
          p Показатель конверсии (CR) сайта в&nbsp;обращение с&nbsp;канала SEO за&nbsp;май 2015&nbsp;&mdash; #[strong 7,13%], в&nbsp;августе&nbsp;&mdash; #[strong 8,3%].
          h3.text-align-center Консультация
          p Мы&nbsp;спроектировали и&nbsp;разработали систему онлайн консультации, с&nbsp;помощью которой любой пользователь мог задать свой вопрос и&nbsp;получить ответ, который публиковался на&nbsp;сайте.
          p Всего было опубликовано более #[strong 900&nbsp;вопросов], страницы которых привлекли около&nbsp;#[strong 12% всего входящего трафика] сайта.
      
      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        +pageSubsection
          h3.text-align-center Общие кампании
          ul.list-marked
            li Запустили рекламную кампанию по&nbsp;приоритетным для клиента направлениям;
            li Подобрали эффективные запросы и&nbsp;подготовили продающие объявления.
          h4.text-align-center Примеры объявлений
          +grid({ paddingy: true }).page-subsection
            - 
              const ads = ['ad-1', 'ad-2', 'ad-3', 'ad-4']
            - for (let i = 0; i < ads.length; i++)
              +grid__item({ m:3, xs:6 })
                p: +img({
                  name: `${ads[i]}`,
                  path: '/images/prodvizhenie-saytov/stomcenter/',
                  formats: [
                    { ext: 'png', orig: true },
                  ],
                })(alt= 'Пример объявления').image-shadow
        
        +pageSubsection
          p После запуска кампании мы&nbsp;ежемесячно поддерживали ее&nbsp;работу:
          ul.list-marked
            li Расширяли кампанию за&nbsp;счет новых запросов, не&nbsp;задействованных в&nbsp;продвижении.
            li На&nbsp;постоянной основе анализировали конверсии объявлений, по&nbsp;запросам, которые задействованы в&nbsp;продвижении, и&nbsp;настраивать показы так, чтобы добиться максимальной эффективности.
            li За&nbsp;счет подбора эффективных объявлений снизили стоимость клика, а&nbsp;за&nbsp;счет анализа конверсий достигли наибольшей эффективности.

          h3.text-align-center Результаты
          p В&nbsp;месяц в&nbsp;среднем по&nbsp;данному каналу приходило около #[strong 50&nbsp;звонков]. #[br] #[+textMarked({ tag:'span', 'size--s': true }) * данные взять из&nbsp;сервиса телефонии #[a(href='/images/prodvizhenie-saytov/stomcenter/asterisk.png' target='_blank') Asterisk]]
          p В&nbsp;январе 2014 за&nbsp;счет оптимизации нам удалось сократить #[strong стоимость лида до&nbsp;260&nbsp;руб.]
          p В&nbsp;период проведения рекламных кампаний количество входящих звонков в&nbsp;клинику выросло в&nbsp;#[strong 4,25 раза].
          +grid({ paddingy: true })
            +grid__item({ m:5, s:7 })
              +table
                +tr.table__row
                  +th Месяц
                  +th Входящие звонки
                +tr.table__row
                  +td Декабрь 2013
                  +td 4
                +tr.table__row
                  +td Январь 2014
                  +td 6
                +tr.table__row
                  +td Февраль 2014
                  +td 10
                +tr.table__row
                  +td Март 2014
                  +td 17
          
          h3.text-align-center Локальные рекламные кампании
          p Мы&nbsp;предложили запустить локальные (&laquo;гео&raquo;) кампании контекстной рекламы для каждой стоматологии сети. В&nbsp;такие кампании по&nbsp;каждой клинике входят запросы общего направления (стоматология, стоматологическая клиника и&nbsp;т.д.) + обязательная &laquo;гео&raquo; привязка к&nbsp;клинике (название района, метро, близлежащих крупных улиц). 
          p Таким, образом данная реклама показывалась только тем пользователям, которые ищут стоматологическую клинику около своего дома или в&nbsp;другом удобном им&nbsp;месте. 
          h4.text-align-center Результаты
          +table
            +tr.table__row
              +th Кампания
              +th Показов
              +th Кликов
              +th Бюджет
              +th Цена клика
              +th Конверсия
              +th Цена цели (руб.)
            +tr.table__row
              +td Невский
              +td 588
              +td 51
              +td 3561
              +td 70
              +td 10
              +td 349
            +tr.table__row
              +td Куйбышева
              +td 546
              +td 58
              +td 4890
              +td 84
              +td 12
              +td 422
            +tr.table__row
              +td Оптиков
              +td 1125
              +td 77
              +td 5546
              +td 72
              +td 15
              +td 360
            +tr.table__row
              +td Космонавтов
              +td 881
              +td 59
              +td 4158
              +td 70
              +td 12
              +td 352
            +tr.table__row
              +td.table__cell--green Итого
              +td.table__cell--green 3140
              +td.table__cell--green 245
              +td.table__cell--green 18155
              +td.table__cell--green 74
              +td.table__cell--green 49
              +td.table__cell--green 371

          +textMarked({ tag:'p', 'size--s': true }) * За&nbsp;конверсию были приняты следующие цели: запись на&nbsp;прием с&nbsp;сайта, запрос обратного звонка, просмотр полного прайса, просмотр страницы контактов (как добраться).

          h3.text-align-center Контекстно-медийный баннер Яндекса
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              p В&nbsp;классической контекстной рекламе на&nbsp;поиске существует серьезная конкуренция и&nbsp;большая стоимость клика. Но&nbsp;есть инструмент, который не&nbsp;все знают, и&nbsp;поэтому не&nbsp;часто используют. 
              p Для продвижения высокомаржинальных услуг мы&nbsp;предложили клиенту запустить БАЯН&nbsp;&mdash; контекстно-медийный баннер. Он&nbsp;показывается в&nbsp;правой колонке в&nbsp;ответ на&nbsp;целевые запросы в&nbsp;поиске.
              ul.list-marked
                li Провели анализ услуг: конкурентов, уровня цен, позиционирования;
                li Подобрали эффективные и&nbsp;целевые запросы;
                li Подготовили яркий баннер: включили в&nbsp;него уникальное торговое предложение;
                li Подготовили высоконверсионную посадочную страницу.
            +grid__item({ m:3 })
              p.text-align-center: +img({
                name: 'yandex',
                path: '/images/prodvizhenie-saytov/stomcenter/',
                formats: [
                  { ext: 'gif', orig: true },
                ],
              })(alt= 'Контекстно-медийный баннер Яндекса').image-shadow

        +pageSubsection 
          h3.text-align-center Результаты
          +table
            +tr.table__row
              +th Затраты
              +th Показы
              +th Переходов
              +th CTR
              +th Стоимость перехода на сайт (руб.)
              +th Обращений пациентов
              +th Стоимость обращения (руб.)
            +tr.table__row
              +td 12&nbsp;000&nbsp;руб.
              +td 20&nbsp;000
              +td 118
              +td 0.6%
              +td 104
              +td 14
              +td 1428

      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        +pageSubsection 
          p С&nbsp;начала работ по&nbsp;продвижению сайта мы&nbsp;в&nbsp;течении #[strong 7&nbsp;лет] держали его на&nbsp;лидирующих позициях как по&nbsp;конкурентным запросам, так и&nbsp;по&nbsp;посещаемости среди крупнейших игроков рынка.
          p Это было очень непросто и&nbsp;вот почему:
          ul.list-marked
            li Мы&nbsp;боролись с&nbsp;алгоритмами Яндекса (с&nbsp;2008 года Яндексом было запущено около #[strong 17&nbsp;серьезных изменений] в&nbsp;#[a(href='https://pixelplus.ru/samostoyatelno/stati/prodvizhenie-saytov/algoritmy-ranzhirovaniya-yandex.html#anchor-2-1' target='_blank') алгоритмах]). Причем каждый раз приходилось тратить много времени и&nbsp;ресурсов на&nbsp;адаптацию стратегии.
            li Мы&nbsp;боролись за&nbsp;позиции в&nbsp;поиске с&nbsp;конкурентами. Их&nbsp;количество росло с&nbsp;каждым годом и&nbsp;они также вкладывали усилия в&nbsp;свои сайты.
          p Но&nbsp;мы&nbsp;приложили все наши знания и&nbsp;усилия.
          p Результаты анализа позиций сайтов по&nbsp;наиболее популярным и&nbsp;конкурентным ключевым словам:
          +table
            +tr.table__row
              +th Сайт
              +th % запросов в топ 10
              +th Ссылка на отчет независимого сервиса allposition.ru
            +tr.table__row
              +td #[span.text-marked.text-marked--color-purple #[strong http://www.stomcenter.ru/]]
              +td #[span.text-marked.text-marked--color-purple #[strong 39%]]
              +td #[a(href='https://allpositions.ru/reports/guest/index/367623/b48379b682ac11a60c816de2ff7ce5a0' target='_blank') отчет]
            +tr.table__row
              +td http://www.ctoma.ru/
              +td 0%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367601/0662ac2752cf70809fc128b012699d58' target='_blank') отчет]
            +tr.table__row
              +td http://www.veronica.ru/
              +td 0%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367605/9936ef22cd49d8fb2794cfbc38c4c0f3' target='_blank') отчет]
            +tr.table__row
              +td http://medi.spb.ru/
              +td 18%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367606/6cd991c56926d2fe230746f3e2a3f789' target='_blank') отчет]
            +tr.table__row
              +td http://www.raden.ru/
              +td 0%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367604/e80ccddced8d0ea825537704f8f5fb21' target='_blank') отчет]
            +tr.table__row
              +td http://intan.ru/
              +td 17%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367602/680a1e16fa1b2e15e82ad3aed6b21c6f' target='_blank') отчет]
            +tr.table__row
              +td http://www.pandent.ru/
              +td 0%
              +td #[a(href='https://allpositions.ru/reports/guest/index/367599/ba70fc6e83fb1fbec7f895ca761f94ef' target='_blank') отчет]

          p Диаграмма показателя видимости сайтов клиник по списку наиболее конкурентных ключевых слов.

        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9 })
            p: +img({
              name: 'visibility',
              path: '/images/prodvizhenie-saytov/stomcenter/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Диаграмма показателя видимости сайтов клиник').image-shadow
        
        +pageSubsection
          h3.text-align-center Топ 2&nbsp;в каталоге Яндекса
          p По&nbsp;результатам нашей работы удалось достичь серьезного прогресса в&nbsp;таком параметре сайта как Тиц (тематический индекса цитирования).
          p Тематический индекс цитирования (тИЦ)&nbsp;&mdash; технология поисковой машины &laquo;Яндекс&raquo;, заключающаяся в&nbsp;определении #[strong авторитетности интернет-ресурсов] с&nbsp;учётом качественной характеристики&nbsp;&mdash; ссылок на&nbsp;них с&nbsp;других сайтов.
          p За&nbsp;счет этого сайт stomcenter.ru по&nbsp;итогу занял #[strong 2-е место в&nbsp;каталоге Яндекса] в&nbsp;рубрике Стоматология (в&nbsp;Санкт-Петербурге), обогнав клиники Грандмед, Вероника, Райден, Стома, Астра, Меди.

        +grid({ paddingy: true }).page-subsection
          +grid__item
            a(href='/images/prodvizhenie-saytov/stomcenter/catalog-yandex.png' target='_blank').image-zoom
              +img({
                name: 'catalog-yandex',
                path: '/images/prodvizhenie-saytov/stomcenter/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= '2-е место в каталоге Яндекса' width='1000' height='550').image-shadow.object-fit-cover

      +caseSection('Управление репутацией').text-align-left
        p По&nbsp;данным статистики&nbsp;#[strong 65% пациентов] перед принятием решения о&nbsp;выборе клиники ищут отзывы в&nbsp;интернете.
        p Мы&nbsp;провели аудит репутации клиники и&nbsp;обнаружили несколько негативных отзывов. Предложили клиенту выполнить цикл работ по&nbsp;управлению репутацией.
        ul.list-marked
          li Провели мониторинг выдачи поисковых систем по&nbsp;&laquo;репутационным&raquo;* запросам, анализ результатов выдачи, разработка плана мероприятий.
          li Провели работу с&nbsp;отрицательными отзывами.
          li Обжалование недостоверных отзывов, реагирование на&nbsp;отзывы: ответы, обработка негатива, вытеснение из&nbsp;выдачи поисковых систем по&nbsp;&laquo;репутационным&raquo; запросам негативных отзывов.
          li Провели работу с&nbsp;положительными отзывами.
          li Стимулирование пациентов к&nbsp;распространению отзывов, размещение настоящих положительных отзывов на&nbsp;различных площадках, разбавление отрицательных отзывов положительными.
        +textMarked({ tag:'p', 'size--s': true }) * &laquo;репутационные&raquo; запросы&nbsp;&mdash; это запросы, которые обычно используются для поиска информации о&nbsp;компании и&nbsp;отзывах о&nbsp;ней. Например, различные варианты названия компании или варианты названия компании + &laquo;отзывы&raquo;.
        h3.text-align-center Результаты
        p В&nbsp;результате работы мы&nbsp;уменьшили действие негативных отзывов и&nbsp;комментариев, создали положительный образ клиники, увеличили эффективность вложений в&nbsp;другие виды рекламы.

      +caseOffer
