extends /blocks/layout/layout

include /blocks/figure/figure
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/upravlenie-reputatsiey/medicinskiy-centr-traditsii/' 
        const header = {
          title: `Работы по управлению репутацией многопрофильного центра привело к <strong>увеличению обращений на 22%</strong>`,
          text: 'Медицинский центр &laquo;Традиции&raquo; оказывает услуги, включающие в&nbsp;себя возможность вызова на&nbsp;дом опытных и&nbsp;компетентных врачей, проведение УЗИ на&nbsp;дому, взятие всех видов анализов на&nbsp;дому.',
          url: 'tradicii-spb.ru',
          img: imgPath+'traditsii-main.webp',
          logo: imgPath+'traditsii-logo.webp',
          logoWidth: '130',
          logoHeight: '36',
          logoMod: 'width-auto',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Сформировать положительный имидж медицинского центра в сети Интернет.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Выполнены работы по управлению репутацией клиники в сети Интернет.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение обращений в клинику на #[strong 22%]; 
          li Увеличение эффективности вложений в другие виде рекламы.

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился руководитель медицинского центра &laquo;Традиции&raquo; с&nbsp;задачей по&nbsp;#[strong созданию положительного имиджа клиники] с&nbsp;целью повышения рейтинга и&nbsp;мотивирования пациентов записаться к&nbsp;специалистам.
        p На&nbsp;момент обращения приоритетным направлением являлась #[strong работа на&nbsp;вызовах], включающая в&nbsp;себя возможность вызова на&nbsp;дом опытных и&nbsp;компетентных врачей, проведение УЗИ на&nbsp;дому, взятие всех видов анализов на&nbsp;дому.
        p Первым шагом мы&nbsp;выполнили бесплатный экспресс-аудит репутации клиники, подготовили отчет и&nbsp;предложили клиенту стратегию по&nbsp;управлению репутацией.
      +caseSection('Управление репутацией').text-align-left
        p В&nbsp;ходе первоначального экспресс-аудита репутации клиники было выявлено, что:
        ul.list-marked 
          li существует ряд сайтов с&nbsp;негативными отзывами;
          li на&nbsp;подавляющем большинстве трастовых площадок отсутствует информация о&nbsp;клинике.
        iframe(src="https://drive.google.com/file/d/13lp5glH2wzzujzS-szC3xmoAw9ffhMM6/preview" width="100%" height="560" allow="autoplay")

        h3.text-align-center Цель
        p Цель клиента&nbsp;&mdash; сформировать устойчивый положительный имидж клиники в&nbsp;сети Интернет.
        p Вспомогательные цели:
        ul.list-marked 
          li повышение узнаваемости клиники и&nbsp;врачей;
          li устранение негативных отзывов и&nbsp;комментариев;
          li увеличение отдачи от&nbsp;других видов рекламы.

        h3.text-align-center Решение
        p Стратегия работы&nbsp;&mdash; добавление положительных отзывов на&nbsp;существующие площадки в&nbsp;репутационной выдаче.
        ul.list-marked 
          li Подбор трастовых площадок для размещения информации о&nbsp;клинике (добавление отзывов на&nbsp;эти площадки после индексации страниц профилей и&nbsp;выхода в&nbsp;топ 30).
          li Поиск площадок с&nbsp;отзывами по&nbsp;ключевым словам (наиболее важным для клиента)
          li Работа с&nbsp;форумами (медицинские, про красоту, женские, мамские и&nbsp;т.д.)
          li Мониторинг поисковой выдачи по&nbsp;репутационным запросам.

        h3.text-align-center Результаты
        +pageSubsection
          ul.list-marked 
            li наполнены отзывами все страницы из&nbsp;репутационной выдачи;
            li подобраны трастовые площадки и&nbsp;созданы профили клиники;
            li отсутствуют свежие негативные отзывы, прошлые закрыты свежими положительными.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ xs:12 })
            figure.figure
              +img({
                name: 'traditsii-1',
                path: '/images/upravlenie-reputatsiey/medicinskiy-centr-traditsii/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Отзыв с портала zoon.ru' title='Отзыв с портала zoon.ru').image-shadow
            figcaption.figure__caption Отзыв с портала zoon.ru

      +caseOffer
