extends /blocks/layout/layout

include /blocks/staff-item/staff-item
include /blocks/why-we/why-we

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const team = [
      {
        name: 'Наталья',
        occupation: 'Маркетолог',
        description: 'Сбор и анализ информации, подготовка эффективных рекламных кампаний для клиник',
        image: '/images/staff-natalia',
      },
      {
        name: 'Дмитрий',
        occupation: 'SEO-специалист',
        description: 'Успешное продвижение сайтов в поисковых системах Yandex и Google',
        image: '/images/staff-dmitry-l',
      },
      {
        name: 'Сослан',
        occupation: 'Разработчик',
        description: 'Программирование, интеграция надеждной системы управления сайтом',
        image: '/images/staff-soslan',
      },
      {
        name: 'Анастасия',
        occupation: 'Верстальщик, контент-менеджер',
        description: 'Верстка макетов дизайна, управление контентом',
        image: '/images/staff-anastasia',
      },
      {
        name: 'Дмитрий',
        occupation: 'UX/UI-дизайнер',
        description: 'Разработка удобных интерфейсов и дизайна сайтов',
        image: '/images/staff-dmitry-b',
      },
      {
        name: 'Виктория',
        occupation: 'Дизайнер',
        description: 'Разработка уникального дизайна сайтов и полиграфии',
        image: '/images/staff-viktoria',
      },
      {
        name: 'Анна',
        occupation: 'Контент-маркетолог',
        description: 'Подготовка качественного контента для сайтов',
        image: '/images/staff-anna',
      },
      {
        name: 'Елена',
        occupation: 'Копирайтер',
        description: 'Написание продающих медицинских текстов',
        image: '/images/staff-elena',
      },
      {
        name: 'Дмитрий',
        occupation: 'Фронтенд-разработчик',
        description: 'Разработка и программирование шаблонов сайтов',
        image: '/images/staff-dmitry-m',
      },
    ]
  .container
    .content.content--white
      h1 О&nbsp;нас
      -
        const results = [
          {
            title: '14 лет',
            info: 'Опыт работы по продвижению клиник',
          },
          {
            title: '> 10',
            info: 'Направлений медицины, в которых мы работали',
          },
          {
            title: '> 500 000',
            info: 'Привлеченных пациентов',
          },
        ]

      .results.results--about
        ul.results__list
          each item in results
            .results__item.results__item--no-icon
              .results__title !{item.title}
              .results__info !{item.info}
      .about-me
        .about-me__photo
          img(src='/images/about-me-photo.jpg')
        .about-me__info
          p
            strong Здравствуйте.
            |  Меня зовут Заря Виталий — я маркетолог, эксперт по продвижению клиник.
          h2 Начало
          p Приобрел отличный <strong>опыт</strong> в качестве менеджера проектов в <strong>крупнейшем агентстве интернет-маркетинга</strong>, входящем в топ 10.
          p Самостоятельно занимался комплексным интернет-маркетингом для двух <strong>клиник</strong>. Далее по «сарафанному радио» ко мне стали обращаться владельцы других клиник. Таким образом <strong>медицинский маркетинг</strong> стал основным направлением.
          p Фокусировка на медицинском бизнесе дала возможность собрать базу знаний, опробовать на практике ряд подходов и стратегий. Эти компетенции я в дальшейшем использовал при обучении сотрудников.
      h2 Развитие
      p Когда сам я стал не справляться с объемом работ я собрал <strong>команду</strong>.
      p Под моим началом сосредоточена <strong>группа специалистов</strong>: интернет-маркетолог, проектировщик, разработчики, дизайнеры, SEO-специалист, специалисты по контекстной и таргетированной рекламе, копирайтеры, контент-менеджер и пр.
      h2 Почему мы?
      .page-section 
        - 
          const whyWe = [
            {
              title: 'Стабильность результата',
              info: '95% клиентов работают с нами уже много лет',
            },
            {
              title: 'Компетенции в сфере медицинского маркетинга',
              info: 'Опыт работы по продвижению клиник с 2002 года',
            },
            {
              title: 'Ответственность',
              info: 'За результаты по вашему проекту лично отвечает руководитель агентства',
            },
            {
              title: 'Сертифицированные специалисты',
              info: 'Сотрудники имеют сертификаты по всем направлениям интернет рекламы',
            },
          ]
        +whyWe(whyWe)    

      p Мы не просто сторонний подрядчик. Наша команда станет вашим #[strong внешним отделом маркетинга]. Так как мы глубоко погружаемся в ваш бизнес:
      ul.list-marked 
        li Проводим глубокий анализ конкурентов
        li Помогаем скорректировать позиционирование
        li Выполняем сбор преимуществ
        li Помогаем сформулировать уникальное торговое предложение
      .block-icon
        .block-icon__icon
        .block-marked
          p(style='font-size: 1.25rem; font-weight: bold; margin-bottom: 0; line-height: 1.5') Некоторые из наших клиентов выросли в сеть клиник, входящих в топ 5 лучших частных клиник Санкт-Петербурга.
      h2 Наша команда
      .staff-list 
        +grid({ paddingy: true, 'justify': 'center' })
          +grid__item({ l:4, s: 6, xs: 12 })
            +grid.staff-item
              +grid__item({ xs: 7 }).staff-item__info
                .staff-item__name Виталий Заря
                .staff-item__occupation Руководитель
                .staff-item__description Выработка маркетинговой стратегии для клиник, взаимодействие с клиентами
              +grid__item({ xs: 5 }).staff-item__image: +img({
                name: 'staff-vitaliy',
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Виталий Заря, Руководитель')
        +grid({ paddingy: true }).page-section
          each item in team
            +grid__item({ l: 4, s: 6, xs: 12 }): +staffItem(item)
      h2 Обращайтесь к нам, если
      ul.list-marked
        li Не знаете, какая реклама даст для вас большую отдачу
        li Вас беспокоит падение прибыли клиники, вы волнуетесь о ее будущем
        li Несмотря на все усилия и смену подрядчиков, реклама не приносит пациентов
        li Несколько раз переделывали сайт, но результатов нет
        li Вы не понимаете как систематизировать рекламу и продажи в клинике
        li Вы вынуждены сокращать рекламные бюджети и увольнять персонал
        li Администраторы теряют звонки, плохо общаются с пациентами
      h2 Заявка на услугу
      include ../blocks/home-form/home-form
