extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +breadcrumbs({'parents':['Главная', 'Услуги'],'current':'Поисковая оптимизация'})
      h1 Аудит воронки продаж клиники
      .page-section
        p Вы столк­ну­лись с про­бле­мой при­вле­че­ния па­ци­ен­тов в кли­ни­ку? Чтобы вы ни де­ла­ли - а па­ци­ен­ты не идут? Кли­ни­ка ис­пы­ты­ва­ет нехват­ку де­нег?
        p Ско­рее все­го, в ва­шей во­рон­ке про­даж есть су­ще­ствен­ные изъ­я­ны. Вся слож­ность за­клю­ча­ет­ся в том, что вы на­хо­ди­тесь внут­ри сво­е­го биз­не­са, взгляд за­мы­ли­ва­ет­ся, объ­ек­тив­ность те­ря­ет­ся. По­это­му необ­хо­ди­мо при­гла­шать про­фес­сио­наль­ных кон­суль­тан­тов со сто­ро­ны - чтобы по­лу­чить све­жий взгляд, но­вые идеи для раз­ви­тия кли­ни­ки.
        +note В ходе аудита будут найдены тонкие места и точки роста в вашем медицинском бизнесе
        h2 В результате аудита вы получите:
        ul.list-marked
          li Видение слабых мест в воронке продаж клиники
          li Практические рекомендации по повышению продаж
          li При условии внедрения рекомендаций клиника увеличит продажи минимум на 15-20%
        
      .page-section
        -
          let banner = {
            counter:{year:2020, month:5, day:0},
            priceTitle: 'аудита',
            price: '15000 руб.',
            date: '31 августа',
            buttonTitle: 'аудит'
          }
        +bannerCounter(banner)
      .page-section
        h2 Аудит включает:
        ul.list-marked
          li Оцен­ка ис­поль­зу­е­мых ре­клам­ных ка­на­лов (охват ре­кла­мы)
          li Оцен­ка те­ку­щих СРС, CPL, СРО, DRR, ко­ли­че­ства по­лу­ча­е­мых кли­ков по каж­до­му ка­на­лу
          li Кон­вер­сия сай­та
          li Кон­вер­сия адми­ни­стра­то­ров
          li Со­от­но­ше­ние по­втор­ных ви­зи­тов к пер­вич­ным
          li Сред­ний чек
          li Стоимость привлечения первичного пациента
          li LTV первичного пациента
          li За­клю­че­ние – вы­во­ды, ре­ко­мен­да­ции
      .page-section
        +note Аудит 
          strong сэкономит
          |  вам огромное количество средств, вкладываемых в привлечение и удержание пациентов.
      .page-section
        h2 Как проходит аудит?
        p Вам нужно будет ответить на несколько вопросов и предоставить данные по вашей воронке продаж.
        p Срок выполнения - 7 рабочих дней.
      .page-section
        h2 Кто выполняет аудит?
        p Виталий Заря - эксперт по интернет-маркетингу в сфере медицины и индустрии красоты, консультант, практикующий маркетолог.
      .page-section
        h2.page-section__title Откуда у меня опыт?
        +grid({justify: 'center',align:'center'})
          +grid__item({m:3, s: 6, xs:8})
            img(src='/images/about-me-photo.jpg' alt='Заря Виталий' title='Заря Виталий')
          +grid__item({m:9, s: 12, xs:12})
            p Заря Виталий&nbsp;&mdash; эксперт по&nbsp;продвижению клиник, бизнес консультант, практикующий маркетолог.
            ul.list-marked
              li Владелец агентства медицинского маркетинга 
                a(href='/') &laquo;Medreclama&raquo;
              li Руковожу отделом маркетинга &laquo;Центра замещения волос&raquo;
              li Занимаюсь продвижением клиник уже 12&nbsp;лет
              li Выполнил аудит маркетинга около 50&nbsp;клиник
              li Автор низкобюджетных стратегий для продвижения клиник
              li Работал в&nbsp;крупнейшем агентстве интернет-маркетинга
              li Сертифицирован по&nbsp;маркетингу международным образовательным центром Эдукор
            +grid({justify: 'center'})
              a(href='/form/23-audit-prodayushchih-kachestv_popup?tmpl=component').btn.btn--center Заказать аудит
