extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Книга отправлена'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      include ../blocks/book-sent/book-sent
      //- include ../blocks/book-error/book-error
