extends /blocks/layout/layout

include ../blocks/results/results
include ../blocks/why-we/why-we
include ../blocks/home-feedback/home-feedback
include ../blocks/staff-item/staff-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const language = 'en'
    const noMenu = true
    const noFooter = true
    const noMobileMenu = true
block content 
  - 
    const results = [
      {
        title: '300 procedures per month',
        info: 'Aesthetic Medicine Clinic',
        link: {
          href: 'http://www.medcentergoroda.ru/',
          text: 'medcentergoroda.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '100 new patients per month',
        info: 'Dental clinic',
        link: {
          href: 'http://stomadeus.ru/',
          text: 'stomadeus.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '120 operations per year',
        info: 'Hair Transplant Clinic',
        link: {
          href: 'http://www.netvolos.ru/',
          text: 'netvolos.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '750 calls per month',
        info: 'Network of dental clinics',
        link: {
          href: 'http://www.stomcenter.ru/',
          text: 'stomcenter.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '270 visits per month',
        info: 'Hair replacement center',
        link: {
          href: 'http://www.hairdesign.ru/',
          text: 'hairdesign.ru/'
        },
        img: {
          src: '',
          alt: ''
        }
      },
    ]
    const whyWe = [
      {
        title: 'Specialization',
        info: 'Our experience and knowledge is&nbsp;focused on&nbsp;<strong>medical projects</strong>'
      },
      {
        title: 'Responsibility',
        info: 'The <strong>head of&nbsp;the agency</strong> is&nbsp;personally responsible for the results of&nbsp;your project'
      },
      {
        title: 'Stability',
        info: '95% of&nbsp;our clients have been with&nbsp;us for <strong>many years</strong>'
      },
      {
        title: '15 years',
        info: 'Experience in&nbsp;promoting clinics <strong>since 2008</strong>'
      },
    ]
    const team = [
      {
        name: 'Natalia',
        occupation: 'Marketer',
        description: 'Collection and analysis of information, preparation of effective advertising campaigns for clinics',
        image: '/images/staff-natalia',
      },
      {
        name: 'Dmitry',
        occupation: 'SEO-specialist',
        description: 'Successful website promotion in Yandex and Google search engines',
        image: '/images/staff-dmitry-l',
      },
      {
        name: 'Roman',
        occupation: 'Lead web-developer',
        description: 'Planning, implementation of complex projects',
        image: '/images/staff-roman',
      },
      {
        name: 'Soslan',
        occupation: 'Web-developer',
        description: 'Programming, integration of a reliable content management system',
        image: '/images/staff-soslan',
      },
      {
        name: 'Anastasia',
        occupation: 'HTML coder, content manager',
        description: 'Creation HTML pages from a design layout, content management',
        image: '/images/staff-anastasia',
      },
      {
        name: 'Dmitrii',
        occupation: 'UX/UI designer',
        description: 'Development of user-friendly interfaces and website design',
        image: '/images/staff-dmitry-b',
      },
      {
        name: 'Viktoriya',
        occupation: 'Designer',
        description: 'Development of a unique website design and printing',
        image: '/images/staff-viktoria',
      },
      {
        name: 'Anna',
        occupation: 'Content Marketer',
        description: 'Preparation of high-quality content for websites',
        image: '/images/staff-anna',
      },
      {
        name: 'Elena',
        occupation: 'Copywriter',
        description: 'Writing selling medical texts',
        image: '/images/staff-elena',
      },
      {
        name: 'Dmitry',
        occupation: 'Frontend developer',
        description: 'Development and programming of site templates',
        image: '/images/staff-dmitry-m',
      },
    ]

    const feedback = [
      {
        text: 'Despite the small volume of tasks assigned to the agency, its staff have been able to establish themselves as a competent and effective agency, delving into the intricacies of client business as their own.',
        name: 'Traiger A.Z.',
        occupation: 'Chief Executive Officer',
        organization: 'Multidisciplinary clinic "First Family Clinic of St. Petersburg',
        photo: 'treiger',
      },
      {
        text: 'Website traffic as a result of the agency\'s work has been constantly growing and has increased by more than 3 times in a year. The number of calls has also increased significantly. We hope for further fruitful cooperation.',
        name: 'Skvortsova T.V.',
        occupation: 'Manager',
        organization: 'Dental clinic chain "Stomadeus".',
        photo: 'skvortsova',
      },
      {
        text: 'It\'s a pleasure to work with the guys. They work actively, professionally, solve the problems without delay. The results of the work became visible after almost a month of our cooperation. Increased recognition of the company. After expert website optimization the number of visits increased by 2.5 times. The number of calls to the clinic increased by 2 times and, in fact, 80% of those who called, became our customers.',
        name: 'Andrey Moiseychikov',
        occupation: 'CEO',
        organization: 'White Dent Dental Clinic',
        photo: 'moiseychikov',
      },
      {
        text: 'Vitaly Zarya and the team of Medreklama Agency supplied us with a lot of patients from the Internet during all the time. I would like to express my gratitude to Vitaly Zarya for his consulting work and work on promoting our website on the Internet.',
        name: 'Boyarskaya Svetlana Valerievna',
        occupation: 'Head of the Department of Hair Transplantation',
        organization: 'MEDALL Hair Transplant Clinic',
        photo: 'boyarskaya',
      },
      {
        text: `<p>As a result of this work, the status of our company has significantly strengthened, and the recognition of our services has increased.</p>
        <p>I would like to express my gratitude to Zarya Vitaly for his responsibility, efficiency, attentiveness, as well as the timely response to our requests.</p>`,
        name: 'Iraida Rosliakova',
        occupation: 'Manager',
        organization: 'Ayurvedic Medical Center Shankara',
        photo: 'roslyakova',
      },
      {
        text: `<p>On behalf of the clinic "City Medical Center" we would like to express our sincere gratitude to Vitaly Zarya for fruitful cooperation.</p>
        <p>We would like to note the efficiency and sensitivity of the agency's employees in solving issues and the clarity of the recommendations given.</p>`,
        name: 'Dmitriy Metelev',
        occupation: 'CEO',
        organization: 'Multidisciplinary clinic "Medical Center of the city',
        photo: 'metelev',
      },
    ]
  .container
    .content.content--white
      h1 We work for results
      section.home-section: +results(results)

      section.home-section
        h2 Contact us if
        +grid({tag: 'ul'}).list-marked.list-marked--grid
          +grid__item({ tag:'li', m:6 }) You are worried about the drop in&nbsp;the clinic&rsquo;s profits, you are worried about its future
          +grid__item({ tag:'li', m:6 }) Despite all the efforts and the change of contractors, advertising does not bring patients
          +grid__item({ tag:'li', m:6 }) You are not sure which ads will give you the most bang for your bucks
          +grid__item({ tag:'li', m:6 }) You do not understand how to systematize advertising and sales in the clinic
          +grid__item({ tag:'li', m:6 }) The site was redesigned several times, but there are no results
          +grid__item({ tag:'li', m:6 }) You are forced to cut advertising budgets

      section.home-section
        h2 Why us?
        +whyWe(whyWe)

      section.home-section
        h2 Areas we have successfully worked with
        -
          const directions = ['Dentistry', 'Plastic surgery', 'Cosmetology and dermatology', 'Urology and gynecology', 'Hair transplantation', 'Neurosurgery', 'Phlebology', 'Ayurvedic medicine', 'Osteopathy', 'Weight loss', 'Trichology', 'Diagnostics']
        ul.home-directions
          - for(let i=0; i<directions.length; i++)
            li.home-directions__item !{directions[i]}

      section.home-section
        h2 How do we do it?
        .home-process
          ul.home-process__list
            li.home-process__item
              h3.home-process__title Analyze the entire sales funnel of the clinic
                svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                    animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                    animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')

              .home-process__body
                +grid.list-analyze
                  +grid__item({ m:4 }).list-analyze__item
                    .list-analyze__title Advertisement
                    .list-analyze__body
                      ul.list-marked
                        li Coverage and target audience
                        li Advertising channels
                        li Click-through rates
                        li Traffic quality
                        li The cost of click
                  +grid__item({ m:4 }).list-analyze__item
                    .list-analyze__title Web-site
                    .list-analyze__body
                      ul.list-marked
                        li Number of requests
                        li Site conversion
                        li The lead cost
                  +grid__item({ m:4 }).list-analyze__item
                    .list-analyze__title New patients
                    .list-analyze__body
                      ul.list-marked
                        li Number of new patients
                        li Conversion of administrators
            
            li.home-process__item
              h3.home-process__title Setting up reporting
                svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                    animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                    animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
              .home-process__body
                +grid({align:'center'})
                  +grid__item({m:7,s:12,xs:12})
                    h4.home-process__subtitle We organize the registration of applications from patients
                    ul.list-marked.home-process__list-marked
                      li Setting up calltracking (number spoofing) and goals in web analytics
                    h4.home-process__subtitle We evaluate advertising efficiency
                    ul.list-marked.home-process__list-marked
                      li We analyze the efficiency of various online advertising channels
                      li We calculate the cost of the lead (CPL), patient engagement (CPO), DRR
                      li We make a decision on the redistribution of budgets into effective channels
                  +grid__item({m:5,s:12,xs:12})
                    img(src='/images/establish-accountability.jpg' alt='Налаживаем отчетность')
            
            li.home-process__item
              h3.home-process__title We create effective clinic websites
                svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                    animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                    animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
              .home-process__body
                .home-process__item-section
                  +grid
                    +grid__item({m:3,s:4,xs:12})
                      img(src='/images/main-page-monitor.png' alt='Технологичные сайты' style='display: block; margin-bottom: 1.5rem; margin-left: auto; margin-right: auto;')
                    +grid__item({m:9,s:8,xs:12})
                      h4.home-process__subtitle Convenient and technological sites
                      ul.list-marked.home-process__list-marked
                        li We create adaptive websites that the patient will work with from any device.
                        li We carefully design the interface, taking into account the psychology of patients.
                      h4.home-process__subtitle Search Engine Optimization
                      ul.list-marked.home-process__list-marked
                        li We develop websites that are maximally customized for successful promotion in search engines
                .home-process__item-section
                  h4.home-process__subtitle Maximum conversion of visitors to patients
                  +grid
                    +grid__item({m:6})
                      ul.list-marked.home-process__list-marked
                        li We write "selling" texts for medical services using our own author's methodology
                        li We add materials to the site that increase the trust and awareness of patients
                        li We increase number of patient's application using user capture services #[br] #[strong.home-process__superstrong 9#[span %]] Conversion of sites into patient calls after audit implementation
                    +grid__item({m:6})
                      +img({
                        name: 'main-page-conversion',
                        path: '/images/',
                        formats: [
                          { ext: 'png', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                      })(alt= 'Maximum conversion of visitors to patients')
              //include reasons/reasons
            
            li.home-process__item
              h3.home-process__title Engaging effective advertising methods
                svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                    animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                    animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
              .home-process__body
                .home-process__item-section
                  h4.home-process__subtitle Bringing patients from search engines
                  +grid({align: 'center'})
                    +grid__item({m:6})
                      +img({
                        name: 'visitors',
                        path: '/images/',
                        formats: [
                          { ext: 'png', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                      })(alt= 'Bringing patients from search engines')
                    +grid__item({m:6})
                      h5 Search Engine Optimization
                      ul.list-marked.home-process__list-marked
                        li Increase traffic from search engines many times over
                        li Achieve high efficiency through the use of our own database of tested keywords
                      h5 Contextual advertising
                      ul.list-marked.home-process__list-marked
                        li Successful low-budget strategies for clinics
                        li Reduce the cost per click by 3-5 times
                        li Maximize the effectiveness of campaigns through bid management service
          
                .home-process__item-section
                  +grid({align: 'center', paddingy: true})
                    +grid__item({ xs:12 })
                      h4.home-process__subtitle We convey a positive image of the clinic to patients
                    +grid__item({m:6})
                      ul.list-marked.home-process__list-marked
                        li We identify sites that can cause an outflow of patients
                        li We increase the credibility of the company through a positive image
                        li Removing sites with negative reviews from search results
                    +grid__item({m:6})
                      +img({
                        name: 'image',
                        path: '/images/',
                        formats: [
                          { ext: 'png', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                      })(alt= 'Positive image of the clinic to patients')

                .home-process__item-section
                  +grid({align: 'center', paddingy: true})
                    +grid__item({ xs:12 })
                      h4.home-process__subtitle We attract patients from social networks
                    +grid__item({m:6})
                      +img({
                        name: 'socials',
                        path: '/images/',
                        formats: [
                          { ext: 'png', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                      })(alt= 'We attract patients from social networks')
                    +grid__item({m:6})
                      ul.list-marked.home-process__list-marked
                        li We launch targeted advertising campaigns in social networks
                        li We Increase the number of group members with a value proposition
                        li We return patients due to the targeted content of the groups
      
      section.home-section
        h2 Customer reviews
        +homeFeedback(feedback, { noLink: true })

      section.home-section
        h2 Our team
        .staff-list
          +grid({ paddingy: true, 'justify': 'center' })
            +grid__item({ l:4, s: 6, xs: 12 })
              +grid.staff-item
                +grid__item({ xs: 7 }).staff-item__info
                  .staff-item__name Vitalii Zaria
                  .staff-item__occupation CEO
                  .staff-item__description Development of a marketing strategy for clinics, interaction with clients
                +grid__item({ xs: 5 }).staff-item__image: +img({
                  name: 'staff-vitaliy',
                  path: '/images/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                })(alt= 'Vitalii Zaria, CEO')
          +grid({ paddingy: true }).page-section
            each item in team
              +grid__item({ l: 4, s: 6, xs: 12 }): +staffItem(item)
      section.home-section
        h2 Get a commercial offer
        .home-form
          form.home-form__form
            +grid({justify:'space-between', paddingy: true})
              +grid__item({ m:7 })
                .home-form__input
                  label.home-form__label(for='home-form__task') Brief description of the task
                  textarea.form-input#home-form__task 

                +grid
                  +grid__item({ m:6 })
                    .home-form__input
                      label.home-form__label(for='home-form__name') Name
                      input.form-input#home-form__name
                    .home-form__input
                      label.home-form__label(for='home-form__tel') Phone
                      input.form-input#home-form__tel
                  +grid__item({ m:6 })
                    .home-form__input
                      label.home-form__label(for='home-form__email') E-mail
                      input.form-input#home-form__email
                    .home-form__input
                      label.home-form__label(for='home-form__site') Web site
                      input.form-input#home-form__site
                    //- .home-form__submit
                    //-   button(type='submit').btn.btn--primary Send
              
              +grid__item({ m:4 }).home-form__info
                span #[strong Vitalii Zaria] #[+textMarked({ tag:'p', 'size--s': true}) CEO]
                a(href='mailto:sale@medreclama.ru') sale@medreclama.ru 
                +textMarked({ tag:'div', 'size--s': true}) We will respond within one business day
                .home-form__submit
                  button(type='submit').btn.btn--primary Submit a request
                +textMarked({ tag: 'p', 'size--s': true, color: 'grey' }) By leaving a request, you agree to the processing of personal data
