extends /blocks/layout/layout

include ../blocks/results/results
include ../blocks/why-we/why-we
include ../blocks/home-feedback/home-feedback
include /blocks/portfolio-promotion-item/portfolio-promotion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const results = [
      {
        title: '300 процедур в&nbsp;месяц',
        info: 'Клиника эстетической медицины',
        link: {
          href: 'http://www.medcentergoroda.ru/',
          text: 'medcentergoroda.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '100 новых пациентов в&nbsp;месяц',
        info: 'Стоматологическая клиника',
        link: {
          href: 'http://stomadeus.ru/',
          text: 'stomadeus.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '120 операций в&nbsp;год',
        info: 'Клиника по пересадке волос',
        link: {
          href: 'http://www.netvolos.ru/',
          text: 'netvolos.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '750 звонков в&nbsp;месяц',
        info: 'Сеть стоматологических клиник',
        link: {
          href: 'http://www.stomcenter.ru/',
          text: 'stomcenter.ru'
        },
        img: {
          src: '',
          alt: ''
        }
      },
      {
        title: '270 обращений в&nbsp;месяц',
        info: 'Центр замещения волос',
        link: {
          href: 'http://www.hairdesign.ru/',
          text: 'hairdesign.ru/'
        },
        img: {
          src: '',
          alt: ''
        }
      },
    ]
    const whyWe = [
      {
        title: 'Специализация',
        info: 'Наш опыт и&nbsp;знания сконцентрированы на <strong>медицинских проектах</strong>'
      },
      {
        title: 'Ответственность',
        info: 'За&nbsp;результаты по&nbsp;вашему проекту лично отвечает <strong>руководитель агентства</strong>'
      },
      {
        title: 'Стабильность',
        info: '95% клиентов работают с&nbsp;нами уже <strong>много лет</strong>'
      },
      {
        title: '15 лет',
        info: 'Опыт работы по&nbsp;продвижению клиник с&nbsp;<strong>2008 года</strong>'
      },
    ]
    const feedback = [
      {
        text: 'Благодаря работе компании "Медреклама" наш сайт уверенно продвинулся в топовые позиции по запросам в поисковых системах, даже учитывая высокую конкуренцию по нашему направлению. А также хочется отметить оперативность в решении вопросов и четкость выдаваемых рекомендаций',
        name: 'Дмитрий Метелев',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Медицинский Центр Города»',
        photo: 'metelev',
      },
      {
        text: 'Несмотря на небольшой объем поставленных перед агентством задач, его сотрудники успели зарекомендовать себя как грамотное и эффективное агентство, вникающие в тонкости бизнеса клиента, как в свои собственные.',
        name: 'Трейгер А.З.',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Первая семейная клиника Петербурга»',
        photo: 'treiger',
      },
      {
        text: 'Особо хочется отметить индивидуальный подход к каждой нашей задаче. При общении с вами начинается теряться ощущение отношений клиент-подрядчик, общение ведется как с коллегами, с которыми работа идет в рамках единой компании, настолько велика ваша вовлеченность в решении наших задач',
        name: 'Сергей Лобанов',
        occupation: 'Генеральный директор',
        organization: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
        photo: 'lobanov',
      },
      {
        text: 'В результате проведенных работ, значительно укрепился статус нашей компании, и повысилось узнаваемость наших услуг.<br>Хотелось бы выразить свою благодарность коллективу компании «Медреклама» за ответственность, оперативность, внимательность, а также своевременное реагирование на наши поручения.',
        name: 'Ираида Рослякова',
        occupation: 'Руководитель',
        organization: 'Аюрведический медицинский центр Shankara',
        photo: 'roslyakova',
      },
      {
        text: 'В настоящее время к нам постоянно поступают предложения по продвижению сайта от других компаний. Но я четко знаю, что такого персонализированного подхода я не получу больше нигде. По сути, мне помогают развивать бизнес. А не просто дублируют его развитие в Интернет-пространстве.',
        name: 'Ольга Лейтес',
        occupation: 'Генеральный директор',
        organization: 'Салон красоты «Центр Дизайна Волос»',
        photo: 'leites',
      },
      {
        text: 'Спасибо всем сотрудникам рекламного агентства «Медреклама» за профессионализм, качественную работу, индивидуальный подход и внимание, нам очень приятно и сотрудничать с Вами, и это приносит большие результаты в нашей работе.',
        name: 'Наталья Ворожбиева',
        occupation: 'Управляющий магазином',
        organization: 'Волосы24',
        photo: 'vorojbieva',
      },
    ]
    const cases = [
      {
        mod: 'neuros',
        href: 'neyrohirurgicheskii-centr-novie-tekhnologii',
        title: 'Увеличение количества обращений пациентов за год в 2 раза',
        name: 'Нейрохирургический центр им. профессора Г.С. Тиглиева «Новые технологии»',
        category: 'Медицина и здоровье',
        logo: 'logo-neuros.svg',
        chart: 'chart-neuros',
      },
      {
        mod: 'medall',
        href: 'mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
        title: 'Увеличение количества обращений пациентов из Интернет в 2,2 раза',
        name: 'Клиника «Медицинский Центр Города»',
        category: 'Медицина и здоровье',
        logo: 'logo-medcenter.webp',
        chart: 'chart-medall',
      },
      {
        mod: 'stomatology-center',
        href: 'set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
        title: 'Достижение 600 обращений пациентов из интернета в месяц',
        name: 'Сеть клиник «Стоматологический центр города»',
        category: 'Медицина и здоровье',
        logo: 'logo-stomatology-center.svg',
        chart: 'chart-stomatology-center',
      },
      {
        mod: 'medall-hair',
        href: 'klinika-po-peresadke-volos',
        title: 'Увеличение количества пациентов, привлеченных из интернета, на 58%',
        name: 'Клиника пересадки волос «MEDALL»',
        category: 'Медицина и здоровье',
        logo: 'logo-medall-hair.svg',
        chart: 'chart-medall-hair',
      },
      {
        mod: 'stomadeus',
        href: 'set-stomatologicheskiy-klinik-stomadeus',
        title: 'Увеличение количества звонков пациентов из интернета в 2,5 раза',
        name: 'Сеть стоматологических клиник «Стомадеус»',
        category: 'Медицина и здоровье',
        logo: 'logo-stomadeus.svg',
        chart: 'chart-stomadeus',
      },
      {
        mod: 'whitedent',
        href: 'klinika-esteticheskoy-stomatologii-vaytdent',
        title: 'Увеличение количества первичных записей пациентов из Интернет до 140 в месяц',
        name: 'Стоматологическая клиника «ВайтДент»',
        category: 'Медицина и здоровье',
        logo: 'logo-whitedent.webp',
        chart: 'chart-whitedent',
      },
      {
        mod: 'hairdesign',
        href: 'salon-krasoti-tsentr-dizayna-volos',
        title: 'Увеличение количества обращений клиентов в 10 раз в течении 15 лет',
        name: 'Салон красоты «Центр Дизайна Волос»',
        category: 'Индустрия красоты',
        logo: 'logo-hairdesign.svg',
        chart: 'chart-hairdesign',
      },
      {
        mod: 'ignatovskogo',
        href: 'klinika-ignatovskogo',
        title: 'Увеличении количество звонков первичных пациентов на 24% по каналу SEO',
        name: 'Клиника Дерматологии и Репродуктивного <br> здоровья доктора Игнатовского',
        category: 'Медицина и здоровье',
        logo: 'logo-ignatovskogo.webp',
        chart: 'chart-ignatovskogo',
        left: true,
      },
      {
        mod: 'dhcentre',
        href: 'stomatologicheskiy-centr-dhc',
        title: 'Реализация эффективной рекламной стратегии в короткие сроки',
        name: 'Стоматологический центр DHC',
        category: 'Медицина и здоровье',
        logo: 'logo-dhc.webp',
        chart: 'chart-medall-hair',
      },
    ]
  .container
    .content.content--white
      h1 Работаем на результат
      section.home-section: +results(results)
      section.home-section
        include ../blocks/about-me/about-me
      section.home-section
        h2 Обращайтесь к нам, если
        +grid({tag: 'ul'}).list-marked
          +grid__item({ tag:'li', m:6 }) Не&nbsp;знаете, какая реклама даст для вас большую отдачу
          +grid__item({ tag:'li', m:6 }) Вас беспокоит падение прибыли клиники, вы&nbsp;волнуетесь о&nbsp;ее&nbsp;будущем
          +grid__item({ tag:'li', m:6 }) Несмотря на&nbsp;все усилия и&nbsp;смену подрядчиков, реклама не&nbsp;приносит пациентов
          +grid__item({ tag:'li', m:6 }) Вы&nbsp;не&nbsp;понимаете как систематизировать рекламу и&nbsp;продажи в&nbsp;клинике
          +grid__item({ tag:'li', m:6 }) Администраторы теряют звонки, плохо общаются с&nbsp;пациентами
          +grid__item({ tag:'li', m:6 }) Несколько раз переделывали сайт, но&nbsp;результатов нет
          +grid__item({ tag:'li', m:6 }) Вы&nbsp;вынуждены сокращать рекламные бюджеты
      section.home-section
        h2 Почему мы?
        +whyWe(whyWe)

      section.home-section
        h2 Направления, с которыми мы успешно работали
        -
          const directions = ['Стоматология', 'Пластическая хирургия', 'Косметология и дерматология', 'Урология и гинекология', 'Пересадка волос', 'Нейрохирургия', 'Флебология', 'Аюрведическая медицина', 'Остеопатия', 'Снижение веса', 'Трихология', 'Диагностика']
        ul.home-directions
          - for(let i=0; i<directions.length; i++)
            li.home-directions__item !{directions[i]}

      section.home-section
        h2 Как мы достигаем результатов?
        include ../blocks/home-process/home-process

      section.home-section
        .page-section
          h2 Наши кейсы
        .home-cases.slider
          ul.slides
            each item in cases
              li
                +portfolioPromotionItem(item)
        .text-align-center
          a(href='http://www.medreclama.ru/form/25-zakazat-audit_popup?tmpl=component').btn.btn--primary Оценить проект

      section.home-section
        h2 Проводим аудиты маркетинга клиники
        include ../blocks/home-reasons/home-reasons
      
      .youtube-responsive
        .youtube-responsive__iframe(data-src='9JMrSPFIQNw')
          iframe(loading="lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

      //- +youtubeResponsive('9JMrSPFIQNw')
      section.home-section 
        h2 Узнайте секреты привлечения пациентов
        h3.home-subtitle Подписывайтесь на наши группы
        +grid
          +grid__item({m:4,s:6,xs:12})
            #vk_groups
            //- script(type="text/javascript" src="//vk.com/js/api/openapi.js?151")
            //- script(type="text/javascript")
            //-   | VK.Widgets.Group("vk_groups", {mode: 3, width: 304, height: 500}, 86134177);
          +grid__item({m:4,s:6,xs:12})
            .fb-page(data-href="https://www.facebook.com/medreclama/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
              blockquote( cite="https://www.facebook.com/medreclama/" class="fb-xfbml-parse-ignore")
                a( href="https://www.facebook.com/medreclama/") Маркетинг в медицине


          +grid__item({m:4,s:6,xs:12})
            include ../blocks/youtube-module/youtube-module      
      section.home-section
        h2 О нас говорят
        +homeFeedback(feedback)
        include ../blocks/home-feedback/home-feedback-gallery/home-feedback-gallery
      section.home-section#request
        h2 Получить коммерческое предложение
        include ../blocks/home-form/home-form
