extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Каким должен быть сайт клиники
      +grid({'justify':'center'})
        +grid__item({m:6, s:8, xs:12})
          include /blocks/form-webinar/form-webinar 
