extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Клиенты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Клиенты
      -
        let imgPath = '/images/klienti/'
        let list1 = [
          {title: 'Нейрохирургический центр', image:imgPath+'neuros.webp'},
          {title: 'Сеть стоматологических клиник', image:imgPath+'stomcenter.gif'},
          {title: 'Медицинский холдинг', image:imgPath+'medall.gif'},
          {title: 'Сеть многопрофильных и стоматологических клиник', image:imgPath+'1-clinic.gif'},
          {title: 'Клиника Дерматологии доктора Игнатовского', image:imgPath+'dermklinik.webp'},
          {title: 'Многопрофильная клиника', image:imgPath+'tradicii-4b.jpg'},
          {title: 'Аюрведический медицинский центр', image:imgPath+'shankara.gif'},
          {title: 'Клиника тибетской медицины', image:imgPath+'imperiyaZdorovya.gif'},
          {title: 'Сеть стоматологических клиник', image:imgPath+'stomadeus.gif'},
          {title: 'Студия "Шри Йоги"', image:imgPath+'artoflivingspb.gif'},
          {title: 'Стоматологическая клиника', image:imgPath+'clinikadoctordent.gif'},
          {title: 'Клиника эстетической медицины', image:imgPath+'whitedent.gif'},
          {title: 'Стоматологическая клиника', image:imgPath+'dhc.gif'},
          {title: 'Клиника пластической хирургии и косметологии', image:imgPath+'amoriya.gif'},
        ]
        let list2 = [
          {title: 'Дистрибьютор в области эстетической медицины и профессиональной косметологии', image:imgPath+'akademiya-nauchnoi-krasoti.gif'},
          {title: 'Дистрибьютор косметики', image:imgPath+'charmd.gif'},
          {title: 'Поставщик профессиональных косметических брендов', image:imgPath+'laimalux.gif'},
          {title: 'Учебный центр Александра Тодчука', image:imgPath+'center-todchuka.gif'},
          {title: 'Поставщик косметологического оборудования и мебели', image:imgPath+'beauty-woman.gif'},
          {title: 'Сеть магазинов  профессиональной косметики, инструментов и аксессуаров', image:imgPath+'td-parikmaher.gif'},
          {title: 'Центр коррекции облысения и салон красоты', image:imgPath+'cent-disaina-volos.gif'},
          {title: 'Производитель волос для наращивания', image:imgPath+'volosy24.gif'},
          {title: 'Интернет-магазин лечебной косметики для волос', image:imgPath+'triholog.gif'},
        ]
      .page-section
        h2.page-section__title Медицина и здоровье
        +listClients(list1)
      .page-section
        h2.page-section__title Индустрия красоты
        +listClients(list2)
