extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Комплексный аудит интернет-маркетинга клиники

      .page-section
        p Если вы занимаетесь развитием частной клиники, то сталкиваетесь со следующими 
          strong проблемами
          | :
        ul.list-marked
          li В рекламу вкладываются большие деньги, а результата нет
          li Не понятно, насколько хорошо подрядчики выполняют свою работу
          li Реклама дает результаты, но не ясно, можно ли их улучшить
          li Вложения в рекламу не окупаются
        +note
          | Аудит выявит 
          strong слабые точки
          | , усилив которые можно увеличить 
          strong эффективность рекламы
          | . 
          br
          | Поможет определить, какие каналы интернет-рекламы дают результат, а какие нужно проработать.
      .page-section
        h2.page-section__title Аудит включает:
        ul.list-marked
          li Проверка каналов и качества настройки интернет-рекламы
          li Анализ эффективности интернет-рекламы
          li Аудит продающих качеств сайта
          li Чеклист проблем продающих качеств сайта
          li Финальная консультация с обсуждением результатов (до 2х часов) + аудиозапись
      .page-section
        -
          let banner = {
            counter:{year:2018, month:8, day:0},
            priceTitle: 'аудита',
            price: '25000 руб.',
            date: '31 августа',
            buttonTitle: 'аудит'
          }
        +bannerCounter(banner)
      .page-section
        h2.page-section__title В результате аудита вы получите:
        ul.list-marked
          li Выявление проблем и слабых точек в интернет-маркетинге клиники
          li Целостная объективная картина текущего положения работы рекламы
          li Новые идеи и возможности для развития клиники
          li Рекомендации по точкам роста первичной записи
          li План развития рекламной стратегии клиники
        +note
          | Аудит 
          strong сэкономит
          |  вам огромное количество времени, усилий и сотни тысяч рублей.
      .page-section
        h2.page-section__title Как проходит аудит?
        p Вам нужно будет ответить не несколько вопросов и предоставить доступ к статистике посещения сайта.
        p Срок выполнения - 7 рабочих дней.
      .page-section
        h2.page-section__title Кто выполняет аудит?
        p
          strong Заря Виталий
          |  - эксперт по интернет-маркетингу в сфере медицины и индустрии красоты, консультант, практикующий маркетолог.
      .page-section
        h2.page-section__title Откуда у меня опыт?
        +grid({justify: 'center',align:'center'})
          +grid__item({m:3, s: 6, xs:8})
            img(src='/images/about-me-photo.jpg' alt='Заря Виталий' title='Заря Виталий')
          +grid__item({m:9, s: 12, xs:12})
            p Заря Виталий&nbsp;&mdash; эксперт по&nbsp;продвижению клиник, бизнес консультант, практикующий маркетолог.
            ul.list-marked
              li Владелец агентства медицинского маркетинга 
                a(href='/') &laquo;Medreclama&raquo;
              li Руковожу отделом маркетинга &laquo;Центра замещения волос&raquo;
              li Занимаюсь продвижением клиник уже 12&nbsp;лет
              li Выполнил аудит маркетинга около 50&nbsp;клиник
              li Автор низкобюджетных стратегий для продвижения клиник
              li Работал в&nbsp;крупнейшем агентстве интернет-маркетинга
              li Сертифицирован по&nbsp;маркетингу международным образовательным центром Эдукор
            +grid({justify: 'center'})
              a(href='/form/23-audit-prodayushchih-kachestv_popup?tmpl=component').btn.btn--center Заказать аудит
