extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +breadcrumbs({'parents':['Главная', 'Услуги'],'current':'Контекстная реклама'})
      h1 Контекстная реклама
      .page-section
        +note
          | Контекстная реклама клиник заключается в привлечении пациентов с помощью рекламных объявлений, которые размещаются на страницах поисковых систем и тематических сайтов.
      .page-section
        h2.page-section__title Почему это неоходимо
        +grid({paddingy: true})
          +grid__item({m:6,xs:12})
            +figureDiagram({count:90, text:'пациентов обращаются за медицинской информацией и поиском клиники в <strong>интернет</strong>', id:'circles-1'})
          +grid__item({m:6,xs:12})
            +figureDiagram({count:81, text:'пациентов больше доверяют клиникам с активным <strong>Интернет-присутствием</strong>', id:'circles-2'})
      .page-section
        h2.page-section__title Почему продвижение в поисковых системах эффективно для клиник?
        -
          let whyEff = [
            'приводит только заинтересованных пациентов',
            'возможность показа объявлений пациентам, живущим в указанном районе',
            'быстрое достижение результатов',
            'гибкое использование бюджета и прогнозируемый результатоплата',
            'оплата только за переход пациента на сайт клиники'
          ]
        +grid({justify: 'center', paddingy:true})
          each item in whyEff
            +grid__item({m:4, s:6, xs: 12})
              +whyEffective(item)
      .page-section
        h2.page-section__title Как это работает
        -
          let howItWorksList = [
            {
              image: {
                src: '/images/kontekstnaya-reklama/how-it-works-1.jpg',
                alt: ''
              },
              text: 'Пациентa что-то беспокоит, он&nbsp;ищет лечение или клинику'
            },
            {
              image: {
                src: '/images/kontekstnaya-reklama/how-it-works-2.jpg',
                alt: ''
              },
              text: 'Пациент видит сайт вашей клиники на&nbsp;первой&nbsp;странице'
            },
            {
              image: {
                src: '/images/kontekstnaya-reklama/how-it-works-3.jpg',
                alt: ''
              },
              text: 'Пациент заходит на&nbsp;ваш сайт и&nbsp;записывается на&nbsp;прием'
            },
          ]
        +howItWorks(howItWorksList)
      .page-section
        h2.page-section__title Размещаем контекстную рекламу в системах
        .partners(style='justify-content: flex-start')
          .partners__item
            .partners__image
              img(src='/images/kontekstnaya-reklama/context-yandex.jpg')
          .partners__item
            .partners__image
              img(src='/images/kontekstnaya-reklama/context-google.jpg')
      .page-section
        h2.page-section__title Задачи, которые решает контекстная реклама для клиник
        -
          let featuresTasksList = [
            {
              className: 'shortest-time',
              title: 'Кратчайшие сроки запуска',
              text: 'Запуск рекламных кампаний производится в течение 2-х рабочих дней после оплаты (при условии оперативного согласования с вашей стороны). Звонки пациентов начинаются сразу после запуска контекстной рекламы.'
            },
            {
              className: 'smoothing-oscillations',
              title: 'Сглаживание сезонных колебаний',
              text: 'Контекстная реклама позволяет в период сезонного спада за счёт настроек целенаправленно увеличить число переходов на ваш сайт, а следовательно увеличить и поток пациентов.'
            },
            {
              className: 'time-shares',
              title: 'Проведение временных акций',
              text: 'Вы сможете запускать рекламную кампанию по акционным предложениям в любой момент и так же просто отключать её.'
            }
          ]
        +listFeatures(featuresTasksList)
      .page-section
        h2.page-section__title Почему наше продвижение эффективнее в 2-3 раза,<br>чем в других агентствах?
        -
          let comparisonList = {
            header: ['Наше агентство','Обычное агентство'],
            list: [
              [
                {
                  title: 'Подтвержденные практикой подходы к продвижению для различных типов клиник',
                  clarification: 'Наши подходы сработали для других клиник, значит они сработают и в вашем случае.'
                },
                {
                  title: 'Общие подходы, которые не проверены практикой и не дают результатов.'
                }
              ],
              [
                {
                  title: 'Проверенные на эффективность ключевые слова',
                  clarification: 'Мы в течении нескольких лет накопили большой списк эффективных ключевых слов, которые приведут к вам клиентов.'
                },
                {
                  title: 'Общие, малоэффективные ключевые слова без погружения в медицинскую сферу'
                }
              ],
              [
                {
                  title: 'Серьезная работа с содержимым сайта',
                  clarification: 'Мы знаем, как нужно подготовить материалы и структуру медицинского сайта для того чтобы посетитель наверняка превратился в вашего пациента.'
                },
                {
                  title: 'Отсутствие работы с маркетинговым содержимым сайта. В результате посетители сайта не становятся вашими пациентами.'
                }
              ],
            ]
          }
        +listComparison(comparisonList)
      .page-section
        h2.page-section__title Почему мы?
        -
          let featuresWhyWe = [
            {
              className: 'shortest-time-2',
              title: 'Кратчайшие сроки запуска',
              text: 'Запуск рекламных кампаний производится в течение 3-х рабочих дней после оплаты (при условии оперативного согласования с вашей стороны). Звонки пациентов начинаются сразу после запуска контекстной рекламы.'
            },
            {
              className: 'any-price',
              title: 'Любой бюджет',
              text: 'Мы работаем с контекстной рекламой клиник с любым бюджетом.'
            },
            {
              className: 'technologies',
              title: 'Высокие технологии',
              text: 'Собственная интеллектуальная система управления контекстной рекламой для клиник экономит до 50% вашего бюджета.'
            },
            {
              className: 'reports',
              title: 'Отчитываемся ежемесячно',
              text: 'Готовим полные и понятные отчеты о выполненных работах, включающие основные показатели, в том числе статистику показов, кликов, CTR и расходов.'
            },
          ]
        +listFeatures(featuresWhyWe)
      .page-section
        h2.page-section__title Мы достигаем реальных результатов и поэтому нас рекомендуют
        include ../data/kontekstaya-reklama-results
        +resultSlider(resultSlider)
      .page-section
        h2.page-section__title Сколько это стоит?
        ul.list-marked.list-marked--primary
          li Стоимость контестной реклама определяется 
            strong стоимостью ведения рекламной кампании
            |  и 
            strong бюджетом на&nbsp;рекламу
            | .
          li Бюджет контекстной рекламы зависит от количества слов, конкуренции и позиции, на которой будет показываться объявление. При этом Вы можете устанавливать ограничения по расходованию средств.
          li Средняя стоимость ведения кампании контекстной рекламы в агентстве "Медреклама" - 
            strong 3 500 руб.
      .page-section
        include ../blocks/page-call/page-call
