extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Контакты
      p.text-align-center #[strong Свяжитесь с нами, мы с радостью ответим на ваши вопросы!] 
      +grid({paddingy:true})
        +grid__item({s:6,xs:12})
          .home-form.home-form--no-margin
            form(method="post" action="/index.php?option=com_rsform&view=rsform&formId=30").home-form__form.home-form__request.validated-form.submitJS
              input(type='text' name='req_name' value)
              .home-form__input
                label.home-form__label.home-form__label--required(for='form__tel') Номер телефона
                input(type='tel' name='form[tel]' placeholder='Телефон').form-input.rsform_phone.validated.required#form__tel
                .validation-msg.validation-msg-required Обязательное поле
              .home-form__input
                label.home-form__label.home-form__label--required(for='form__name') Как вас зовут?
                input(type='text' name="form[name]" placeholder='Имя' data-regex="[а-яё]").form-input.validated.required.regex#form__name
                .validation-msg.validation-msg-required Обязательное поле
                .validation-msg.validation-msg-regex Должны быть русские буквы
              .home-form__input
                label.home-form__label.home-form__label--required(for='form__email') Электронная почта
                input(type='email' name='form[email]' placeholder='Ваш e-mail').form-input.rsform_phone.validated.required#form__email
                .validation-msg.validation-msg-required Обязательное поле
              .home-form__submit
                button(type='submit').btn.btn--primary Отправить
              <script>document.write('<input type="hidden" name="form[formId]" value="30"/>')</script>
              +textMarked({ tag:'p', 'size--xs': true }).home-form__policy Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;даете согласие на&nbsp;#[a(href='#') обработку персональных данных] и&nbsp;соглашаетесь c&nbsp;политикой конфиденциальности.

        +grid__item({s:6,xs:12})
          p г. Санкт-Петербург #[br] Петергофское шоссе 74 к.4, офис 210 
          p Тел: +7 (812) 507-94-34 #[br] E-mail: reklama@medreclama.ru
        +grid__item({ xs:12})
          | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adg2ovKulOuGAZ1inxiVhNAMdPBGresnD&amp;height=366&amp;lang=ru_RU&amp;scroll=true"></script>
