extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      +breadcrumbs({'parents':['Главная', 'Услуги'],'current':'Поисковая оптимизация'})
      h1 Продвижение сайтов клиник в поисковых системах
      .page-section
        +note
          | Продвижение сайтов клиник предполагает ряд мер, направленных на улучшение позиций сайта в поисковых систем.
          br
          | В результате посещаемость сайта увеличивается, что дает значительный 
          strong приток пациентов
          | .
      .page-section
        h2.page-section__title Почему это неоходимо
        +grid({paddingy: true})
          +grid__item({m:6,xs:12})
            +figureDiagram({count:90, text:'пациентов обращаются за медицинской информацией и поиском клиники в <strong>интернет</strong>', id:'circles-1'})
          +grid__item({m:6,xs:12})
            +figureDiagram({count:81, text:'пациентов больше доверяют клиникам с активным <strong>Интернет-присутствием</strong>', id:'circles-2'})
      .page-section
        h2.page-section__title Почему продвижение в поисковых системах эффективно для клиник?
        -
          let whyEff = [
            'приводит только заинтересованных пациентов',
            'вызывает доверие у пациента',
            'низкая стоимость привлечения пациента по сравнению с другими видами рекламы'
          ]
        +grid({justify: 'center', paddingy:true})
          each item in whyEff
            +grid__item({m:4, s:6, xs: 12})
              +whyEffective(item)
      .page-section
        h2.page-section__title Как это работает
        -
          let howItWorksList = [
            {
              image: {
                src: '/images/poiskovaya-optimizatsiya/how-it-works-1.jpg',
                alt: ''
              },
              text: 'Пациентa что-то беспокоит, он&nbsp;ищет лечение или клинику'
            },
            {
              image: {
                src: '/images/poiskovaya-optimizatsiya/how-it-works-2.jpg',
                alt: ''
              },
              text: 'Пациент видит сайт вашей клиники на&nbsp;первой&nbsp;странице'
            },
            {
              image: {
                src: '/images/poiskovaya-optimizatsiya/how-it-works-3.jpg',
                alt: ''
              },
              text: 'Пациент заходит на&nbsp;ваш сайт и&nbsp;записывается на&nbsp;прием'
            },
          ]
        +howItWorks(howItWorksList)
      .page-section
        h2.page-section__title Почему наше продвижение эффективнее в 2-3 раза, чем в других агентствах?
        -
          let comparisonList = {
            header: ['Наше агентство','Обычное агентство'],
            list: [
              [
                {
                  title: 'Подтвержденные практикой подходы к продвижению для различных типов клиник',
                  clarification: 'Наши подходы сработали для других клиник, значит они сработают и в вашем случае.'
                },
                {
                  title: 'Общие подходы, которые не проверены практикой и не дают результатов.'
                }
              ],
              [
                {
                  title: 'Проверенные на эффективность ключевые слова',
                  clarification: 'Мы в течении нескольких лет накопили большой списк эффективных ключевых слов, которые приведут к вам клиентов.'
                },
                {
                  title: 'Общие, малоэффективные ключевые слова без погружения в медицинскую сферу'
                }
              ],
              [
                {
                  title: 'Серьезная работа с содержимым сайта',
                  clarification: 'Мы знаем, как нужно подготовить материалы и структуру медицинского сайта для того чтобы посетитель наверняка превратился в вашего пациента.'
                },
                {
                  title: 'Отсутствие работы с маркетинговым содержимым сайта. В результате посетители сайта не становятся вашими пациентами.'
                }
              ],
            ]
          }
        +listComparison(comparisonList)
      .page-section
        h2.page-section__title Почему мы?
        -
          let featuresWhyWe = [
            {
              className: 'guarantees',
              title: 'Мы даем гарантии',
              text: 'Мы даем письменные гарантии результатов работы. Все обязательства фиксируются в договоре. Возвращаем деньги в случае отсутствия результатов.'
            },
            {
              className: 'pay-for-result',
              title: 'Вы платите только за результат',
              text: 'Работаем с оплатой по трафику - то есть за реально привлеченных посетителей на ваш сайт. Нет результатов - вы ничего не платите.'
            },
            {
              className: 'reports',
              title: 'Отчитываемся ежемесячно',
              text: 'Готовим полные и понятные отчеты о выполненных работах, включающие основные показатели, в том числе статистику показов, кликов, CTR и расходов.'
            },
            {
              className: 'personal-manager',
              title: 'Персональный менеджер',
              text: 'Вы будете общаться по всем вопросам с одним и тем же человеком, который будет всегда доступен.'
            },
            {
              className: 'any-price',
              title: 'Любой бюджет',
              text: 'Мы работаем с контекстной рекламой клиник с любым бюджетом.'
            },
          ]
        +listFeatures(featuresWhyWe)
      .page-section
        h2.page-section__title Мы достигаем реальных результатов и поэтому нас рекомендуют
        include ../data/poiskovaya-optimizatsiya-results
        +resultSlider(resultSlider)
      .page-section
        h2.page-section__title Сколько это стоит?
        -
          let seoHowMuch = [
            {
              title: 'Продвижение профильных клиник',
              body: [
                {tag:'h4', content:'Для кого подходит'},
                {tag: 'ul', className:'list-numbered', content:[
                  {tag:'li',content:'одиночные стоматологические клиники'},
                  {tag:'li',content:'одиночные косметологические клиники и салоны'}
                ]},
                {tag: 'strong', className: 'strong-large', content: 'от 25 000 руб.'}
              ],
              color: ''
            },
            {
              title: 'Продвижение многопрофильных клиник',
              body: [
                {tag:'h4', content:'Для кого подходит'},
                {tag: 'ul', className:'list-numbered', content:[
                  {tag:'li',content:'многопрофильные клиники и центры'}
                ]},
                {tag: 'p', className: '', content: [
                  'Москва<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 50 000 руб.'},
                ]},
                {tag: 'p', className: '', content: [
                  'Санкт-Петербург<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 40 000 руб.'},
                ]},
                {tag: 'p', className: '', content: [
                  'Другие регионы<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 30 000 руб.'},
                ]},
              ],
              color: 'purple'
            },
            {
              title: 'Продвижение сетей клиник',
              body: [
                {tag:'h4', content:'Для кого подходит'},
                {tag: 'ul', className:'list-numbered', content:[
                  {tag:'li',content:'сети стоматологических клиник'},
                  {tag:'li',content:'сети многопрофильных клиник и центров'},
                  {tag:'li',content:'сети специализированных клиник и центров'}
                ]},
                {tag: 'p', className: '', content: [
                  'Москва<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 70 000 руб.'},
                ]},
                {tag: 'p', className: '', content: [
                  'Санкт-Петербург<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 45 000 руб.'},
                ]},
                {tag: 'p', className: '', content: [
                  'Другие регионы<br>',
                  {tag: 'strong', className: 'strong-large', content: 'от 30 000 руб.'},
                ]},
              ],
              color: 'red'
            },
          ]
        +grid({paddingy: true})
          each item in seoHowMuch
            +grid__item({m:4,s:6,xs:12})
              +notePanel(item)
      .page-section
        include ../blocks/page-call/page-call
