extends /blocks/layout/layout
include /blocks/steps-scroll/steps-scroll
include /blocks/why-we/why-we
include /blocks/portfolio-works-item/portfolio-works-item
include /blocks/home-feedback/home-feedback
include /blocks/tariff-item/tariff-item
include /blocks/results/results
include /blocks/list-steps/list-steps

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const content = [
      {
        id: '1',
        step: 'Проводим анализ и сбор требований',
        title: 'Проводим сбор требований и маркетинговый анализ',
        body: [
          {tag: 'p', content: 'Подробно выясняем требования к сайту и пожелания заказчика.'},
          {tag: 'p', content: 'Досконально опрашиваем клиента: особенности услуг, позиционирование компании, преимущества, как выстроен маркетинг, заполняем брифы. Проводим анализ конкурентов, изучаем целевую аудиторию клиники.'},
          {tag: 'p', content: 'Собираем и структурируем преимущества. Формулируем уникальное торговое предложение.'},
        ],
        img: [
          {
            name: 'analiz-konkurentov',
            path: '/images/prodvizhenie-saytov/neuros/',
          }
        ],
      }, 
      {
        id: '2',
        step: 'Собираем полный список поисковых запросов',
        title: 'Собираем полный список поисковых запросов',
        body: [
          {tag: 'p', content: 'Поисковые запросы в нашем процессе являются фундаментом для дальнейшего проектирования структуры сайта. Мы всегда создаем сайты так, чтобы они максимально отвечали на поисковый спрос, соответствовали требованиям поисковых систем и, следовательно, были полностью готовы к дальнейшему продвижению.'},
        ],
        img: [
          {
            name: 'semantic',
            path: '/images/prodvizhenie-saytov/netvolos/',
          }
        ],
      },
      {
        id: '3',
        step: 'Проектируем структуру сайта',
        title: 'Проектируем структуру сайта',
        body: [
          {tag: 'p', content: 'Проработали основные направления деятельности клиники. Проанализировали прайс и услуги, услуги множества конкурентов. На основе анализа конкурентов, требований к сайту и собранного семантического ядра мы подготовили mind map.'},
        ],
        img: [
          {
            name: 'site-structure',
            path: '/images/prodvizhenie-saytov/dermklinik/',
          }
        ],
      },
      {
        id: '4',
        step: 'Создаем прототип будущего сайта',
        title: 'Создаем прототип будущего сайта',
        body: [
          {tag: 'p', content: 'Каждую страницу сайта мы спроектировали таким образом чтобы она являлась посадочной: разместив максимально исчерпывающую информацию по каждому аспекту, снабдив аргументами, преимуществами. Таким образом можно с уверенностью запускать рекламу и отправлять трафик на любую страницу сайта.'},
        ],
        img: [
          {
            zoom: '/images/razrabotka-saytov/netvolos/netvolos-10.webp',
            name: 'netvolos-10',
            path: '/images/razrabotka-saytov/netvolos/',
          },
        ], 
      }, 
      {
        id: '5',
        step: 'Подготавливаем техническое задание',
        title: 'Подготавливаем техническое задание',
        body: [
          {tag: 'p', content: 'На основе структуры сайта, требований к функционалу, прототипа интерфейса пишем подробное техническое задание по всем страница сайта.'},
        ],
        img: [
          {
            name: 'specification',
            path: '/images/sozdanie-saitov/',
          }
        ],
      },
      {
        id: '6',
        step: 'Разрабатываем веб-дизайн',
        title: 'Разрабатываем веб-дизайн',
        body: [
          {tag: 'p', content: 'На основе требований заказчика к дизайну, фирменного стиля и brand book были готовим макеты дизайна основных страниц сайта.'},
        ], 
      },
      {
        id: '7',
        step: 'Верстаем и программируем',
        title: 'Верстаем и программируем',
        body: [
          {tag: 'p', content: 'После дизайна производится верстка всех страниц под различные платформы с адаптивным отображением на всех устройствах. Интегрируем быструю и удобную систему управления.'},
        ],
        img: [
          {
            name: 'layout',
            path: '/images/sozdanie-saitov/',
          }
        ],
      },
      {
        id: '8',
        step: 'Наполняем контентом',
        title: 'Наполняем контентом',
        body: [
          {tag: 'p', content: 'В плотном взаимодействии с клиентом пишем качественные тексты на основе подробных заданий от seo-специалиста и требований к продающим качествам текстов, информативности, оформлению, оптимизации.'},
        ],
        img: [
          {
            name: 'content',
            path: '/images/sozdanie-saitov/',
          }
        ],
      },
      {
        id: '9',
        step: 'Тестируем и запускаем',
        title: 'Тестируем и запускаем',
        body: [
          {tag: 'p', content: 'Проверяем функционал, контент, скорость загрузки, тестируем сайт на разных устройствах и браузерах.'},
        ],
      },
    ]
    const whyWe = [
      {
        title: 'Подтвержденные стандарты качества',
        info: 'Являемся бизнес-партнером лидера среди систем управления сайтом 1c-Битрикс. Реализовали десятки качественных сайтов на этой платформе.',
      },
      {
        title: 'Создаем технологичные сайты',
        info: 'Создаем удобные адаптивные сайты с тщательно проработанным интерфейсом, которые быстро загружаются.',
      },
      {
        title: 'Не работаем на потоке',
        info: 'Для вашего сайта мы выдялем проектную группу специалистов. Это гарантирует детальную проработку вашего сайта, внимание ко всем процессам и системный подход.',
      },
      {
        title: 'Строгое соблюдение сроков',
        info: 'Все этапы процесса разработки и их сроки указаны в календарном плане, как отдельная часть договора.',
      },
      {
        title: 'Фиксированная стоимость без доплат',
        info: 'Окончательная стоимость фиксируется в договоре. Никаких доплат и скрытых платежей.',
      },
      {
        title: 'Даем гарантию',
        info: 'Гарантийная техническая поддержка вашего сайта в течении 1 месяца после его сдачи.',
      },
      {
        title: 'Соответствие законодательству РФ',
        info: `Хорошо знаем профильное законодательство и создаем медицинские сайты по всем требованиям контролирующих органов. <br> Несоблюдение законодательных требований к медицинскому сайту может привести к <strong>штрафам от 30 000 до 100 000 рублей!</strong>`,
      },
    ]
    const comparisonList = {
      header: ['Наше агентство','Неспециализированное агентство'],
      list: [
        [
          {
            title: 'Подтвержденные практикой подходы к проектированию сайтов клиник',
            clarification: 'Наши подходы сработали для других клиник, значит они сработают и в вашем случае.'
          },
          {
            title: 'Общие подходы, которые не проверены практикой и не дают результатов.'
          }
        ],
        [
          {
            title: 'Серьезная работа с удобством сайта',
            clarification: 'Мы знаем, как подготовить интерфейс медицинского сайта и выстроить сценарий взаимодействия для того чтобы посетитель наверняка превратился в вашего пациента.'
          },
          {
            title: 'Нет компетенций и знаний психологии поведения пациентов. В результате посетителям неудобен созданный сайт.'
          }
        ],
        [
          {
            title: 'Качественный медицинский контент',
            clarification: 'Умеем формулировать преимущества клиник. Наши копирайтеры с медицинским образованием пишут «продающие» тексты медицинских услуг, увеличивающие доверие и информированность пациентов, используя собственную авторскую методику.'
          },
          {
            title: 'Отсутствие работы с маркетинговым содержимым сайта. В результате посетители сайта не становятся пациентами клиники.'
          }
        ],
        [
          {
            title: 'Подготовка к SEO и рекламе',
            clarification: 'На этапе создания подготовим сайт к SEO-продвижению и запуску рекламных кампаний.'
          },
          {
            title: 'Стандартный подход к разработке по итогам готорого сайт нужно отдельно готовить к продвижению и рекламе.'
          }
        ],
      ]
    }
    const works = [
      { 
        mod: 'neuros',
        title: 'Нейрохирургический центр им. профессора Г.С. Тиглиева «Новые технологии»',
        category: 'Медицина и здоровье',
        img: 'neuros.webp', 
        href: '/razrabotka-saytov/sayt-dlya-neyrohirurgicheskogo-centra-novye-tekhnologii',
        clarification: 'Доработка сайта нейрохирургического центра.',
        list: ['Рост конверсий сайта в отправку формы записи на прием на 2%;', 'Увеличение заинтересованности пользователей более чем на 25%;', 'Увеличение посетителей из поисковых систем в 3 раза: с 750 до 2250 в месяц.'],
      },
      { 
        mod: 'medall',
        title: 'Cтоматологическая клиника «Medall»',
        category: 'Медицина и здоровье',
        img: 'medall.webp', 
        href: '/razrabotka-saytov/sayt-stomatologicheskoy-kliniki-medall',
        clarification: 'Разработка сайта отделения стоматологии.',
        list: ['Получили более 100 посетителей из поисковых систем и новые заявки на запись уже с первого дня запуска сайта;', 'Значительно ускорили процесс поисковой оптимизации.'],
      },
      { 
        mod: 'stomadeus',
        title: 'Сеть стоматологических клиник «Стомадеус»',
        category: 'Медицина и здоровье',
        img: 'stomadeus1.webp',
        href: '/razrabotka-saytov/set-stomatologicheskich-klinik-stomadeus',
        clarification: 'Разработка новой версии сайта сети стоматологических клиник.',
        list: ['Рост конверсий сайта в отправку формы записи на прием на 2%;', 'Увеличение заинтересованности пользователей более чем на 25%;', 'Увеличение посетителей из поисковых систем в 3 раза: с 750 до 2250 в месяц.'],
      },
      { 
        mod: 'mir-krasoty',
        title: 'Медицинский косметологический центр «Мир красоты»',
        category: 'Медицина и здоровье',
        img: 'mir-krasoty1.webp',
        href: '/razrabotka-saytov/sayt-meditsinskogo-kosmetologicheskogo-tsentra-mir-krasoti',
        clarification: 'Разработка новой версии сайта косметологической клиники.',
        list: ['Рост конверсий сайта в отправку формы записи на прием на 22,5%;', 'Увеличение заинтересованности пользователей более чем на 19%.'],
      },
      { 
        mod: 'medall-hair',
        title: 'Клиника по пересадке волос «MEDALL»',
        category: 'Индустрия красоты',
        img: 'medall-hair.webp',
        href: '/razrabotka-saytov/sayt-kliniki-po-peresadke-volos-medall',
        clarification: 'Разработка новой версии сайта клиники по пересадке волос.',
        list: ['Увеличение количества заявок пациентов с сайта в 2 раза;', 'Глубина просмотра сайта увеличилась на 4%, время пользователя на сайте увеличилось на 3%;', 'Увеличение видимости сайта в поисковых системах с 80% до 90,5%.'],
      },
      { 
        mod: 'white-dent',
        title: 'Стоматологическая клиника «ВайтДент»',
        category: 'Медицина и здоровье',
        img: 'white-dent.webp',
        href: '/razrabotka-saytov/white-dent',
        clarification: 'Разработка новой версии сайта стоматологической клиники.',
        list: ['Время, которое проводит посетитель на сайте, увеличилось на 12%;', 'Количество страниц, которые просматривает посетитель, увеличилось на 9%.'],
      },
      { 
        mod: 'primed',
        title: 'Медицинский Центр Города',
        category: 'Медицина и здоровье',
        img: 'primed.webp',
        href: '/razrabotka-saytov/sayt-meditsinskogo-choldinga-praymed',
        clarification: 'Разработка новой версии сайта многопрофильной клиники.',
        list: ['Время, которое проводит посетитель на сайте, увеличилось на 28,4%;', 'Количество страниц, которые просматривает посетитель, увеличилось на 17,9%;', 'Количество посетителей, которые просмотрели всего одну страницу и ушли уменьшилось на 1,36%.'],
      },
      { 
        mod: 'hairdesign',
        title: 'Центр замещения утраченных волос',
        category: 'Индустрия красоты',
        img: 'hairdesign.webp',  
        href: '/razrabotka-saytov/salon-krasoti-tsentr-dizayna-volos',
        clarification: 'Разработка сайта для Центра замещения утраченных волос.',
      },
      { 
        mod: 'medical-center',
        title: 'Клиника  эстетической медицины «MEDALL»',
        category: 'Медицина и здоровье',
        img: 'medical-center.webp',
        href: '/razrabotka-saytov/mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
        clarification: 'Разработка нового сайта клиники эстетической медицины.',
        list: ['Увеличение конверсии сайта;', 'Улучшение поведенческих показателей;', 'Положительные отзывы от клиентов клиники.'],
      },
      { 
        mod: 'shankara',
        title: 'Аюрведический медицинский центр «Shankara»',
        category: 'Медицина и здоровье',
        img: 'shankara1.webp',
        href: '/razrabotka-saytov/aiurvedicheskiy-meditsinskiy-tsentr-shankara',
        clarification: 'Разработка сайта аюрведического медицинского центра.',
        list: ['Увеличение количества обращений пациентов в 1,5 раза.'],
      },
      { 
        mod: 'doctor-dent',
        title: 'Cтоматологическая клиника «Доктор Дент»',
        category: 'Медицина и здоровье',
        img: 'doctor-dent.webp',
        href: '/razrabotka-saytov/stomatologicheskaya-klinika-doktor-dent',
        clarification: 'Разработка сайта для стоматологической клиники.',
      },
      { 
        mod: 'hairlife',
        title: 'Портал индустрии красоты «Hairlife.ru»',
        category: 'Медицина и здоровье',
        img: 'hairlife.webp',
        href: '/razrabotka-saytov/portal-industrii-krasoti-hairlife-ru',
        clarification: 'Разработка портала индустрии красоты.',
      },
      { 
        mod: 'volosy24',
        title: 'Интернет-магазин для наращивания «Волосы24»',
        category: 'Индустрия красоты',
        img: 'volosy24.webp',
        href: '/razrabotka-saytov/internet-magazin-volos-dlya-naraschivaniya-volosi24',
        clarification: 'Разработка интернет-магазина для наращивания волос.',
      },
      { 
        mod: 'triholog',
        title: 'Интернет-магазин лечебной косметики для волос «Трихолог.орг»',
        category: 'Медицина и здоровье',
        img: 'triholog.webp',
        href: '/razrabotka-saytov/internet-magazin-lechebnoy-kosmetiki-dlya-volos-tricholog-org',
        clarification: 'Разработка интернет-магазина лечебной косметики для волос.',
      },
      { 
        mod: 'challenge-hair',
        title: 'Клиника по пересадке волос «Challenge Hair»',
        category: 'Медицина и здоровье',
        img: 'challenge-hair.webp',
        href: '/razrabotka-saytov/crm-challenge-hair',
        clarification: 'Разработка CRM системы для клиники по пересадке волос.',
        list: ['В результате внедрения CRM системы клиника «Challenge Hair» повысила уровень продаж услуг, оптимизировала маркетинг и улучшила обслуживание пациентов.'],
      },
    ]
    const feedback = [
      {
        text: 'Несмотря на небольшой объем поставленных перед агентством задач, его сотрудники успели зарекомендовать себя как грамотное и эффективное агентство, вникающие в тонкости бизнеса клиента, как в свои собственные.',
        name: 'Трейгер А.З.',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Первая семейная клиника Петербурга»',
        photo: 'treiger',
        scan: '1-clinic-big.jpg',
      },
      {
        text: 'Посещаемость сайта в результате работы агентства постоянно росла и за год увеличилась более чем в 3 раза. Значительно выросло и количество звонков. Надеемся на дальнейшее плодотворное сотрудничество.',
        name: 'Скворцова Т.В.',
        occupation: 'Управляющая',
        organization: 'Сеть стоматологических клиник «Стомадеус»',
        photo: 'skvortsova',
        scan: 'stomadeus-big.jpg',
      },
      {
        text: 'Работать с ребятами просто приятно. Работают активно, профессионально, решают поставленные задачи без промедления. Результаты работы стали видны практически через месяц нашего сотрудничества. Повысилась узнаваемость компании. После грамотной оптимизации сайта возросло количество посещений сайта в 2,5 раза. Увеличилось количество звонков в клинику в 2 раза, и, практически, 80% процентов позвонивших, стали нашими клиентами.',
        name: 'Моисейчиков Андрей Евгеньевич',
        occupation: 'Генеральный директор',
        organization: 'Стоматологическая клиника «Вайт-Дент»',
        photo: 'moiseychikov',
        scan: 'whitedent-big.jpg',
      },
      {
        text: 'В течении всего времени Виталий Заря и команда агентства «Медреклама» поставляли нам много пациентов из интернета. Хочу выразить благодарность Виталию Заря за консультативную работу и работу по пролдвижению сайта в интернете.',
        name: 'Боярская Светлана Валерьевна',
        occupation: 'Заведующая отделением трансплантации волос',
        organization: 'Клиника по пересадке волос MEDALL',
        photo: 'boyarskaya',
        scan: 'netvolos-big.webp',
      },
      {
        text: 'В результате проведенных работ, значительно укрепился статус нашей компании, и повысилось узнаваемость наших услуг.<br>Хотелось бы выразить свою благодарность коллективу компании «Медреклама» за ответственность, оперативность, внимательность, а также своевременное реагирование на наши поручения.',
        name: 'Ираида Рослякова',
        occupation: 'Руководитель',
        organization: 'Аюрведический медицинский центр Shankara',
        photo: 'roslyakova',
        scan: 'aurmed-big.jpg',
      },
      {
        text: 'В настоящее время к нам постоянно поступают предложения по продвижению сайта от других компаний. Но я четко знаю, что такого персонализированного подхода я не получу больше нигде. По сути, мне помогают развивать бизнес. А не просто дублируют его развитие в Интернет-пространстве.',
        name: 'Ольга Лейтес',
        occupation: 'Генеральный директор',
        organization: 'Салон красоты «Центр Дизайна Волос»',
        photo: 'leites',
      },
      {
        text: 'От лица клиники «Медицинский центр города» хотим выразить искреннюю благодарность Заря Виталию за плодотворное сотрудничество. Хочется отметить оперативность и чуткость работников агентства в решении вопросов и чёткость выдаваемых рекомендаций.',
        name: 'Дмитрий Метелев',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Медицинский Центр Города»',
        photo: 'metelev',
        scan: 'mcg-big.jpg',
      },
    ]
    const tariffs = [
      {
        mod: 'start',
        title: 'Старт',
        price: 'от 99 000 ₽',
        clarification: 'Подойдет для быстрого старта, частного врача, небольшой узкопрофильной или региональной клиники.',
        body: [
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'SEO'},
            { tag:'p', className:'tariff-item__text', content: 'Стандартные настройки встроенные в CMS'},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Проектирование и дизайн'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Прототипы главной и 1-й внутренней страницы.' },
              { tag:'li', content: 'Дизайн главной страницы и&nbsp;1-й внутренней страницы. Веб-гайдлайны: элементы дизайна для оформления контента на&nbsp;сайте.' },
            ]},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Контент'},
            { tag:'p', className:'tariff-item__text', content: 'Обработка и размещение текстового и фото контента от заказчика.'},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Верстка и программирование'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Стандартный набор функций.' },
              { tag:'li', content: 'Система управления сайтом 1с-Битрикс.' },
              { tag:'li', content: 'Адаптивная верстка для любых разрешений.' },
            ]},
          ],
        ],
      },
      {
        mod: 'standart',
        title: 'Стандарт',
        price: 'от 169 000 ₽',
        clarification: 'Подойдет для полноценного сайта многопрофильной клиники.',
        body: [
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'SEO'},
            { tag:'p', className:'tariff-item__text', content: 'Проектирование структуры и подготовка сайта к поисковому продвижению.'},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Проектирование и дизайн'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Анализ преимуществ, конкурентов.' },
              { tag:'li', content: 'Прототипы главной и типовых внутренних страниц разделов.' },
              { tag:'li', content: 'Дизайн главной страницы и типовых внутренних страниц разделов.' },
            ]},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Контент'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Подготовка текстового контента для основных страниц сайта.' },
              { tag:'li', content: 'Обработка изображений, создание иллюстраций.' },
            ]},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Верстка и программирование'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Расширенный набор функций.' },
              { tag:'li', content: 'Система управления сайтом 1с-Битрикс.' },
              { tag:'li', content: 'Адаптивная верстка для любых разрешений.' },
              { tag:'li', content: 'Ускорение и оптимизация работы сайта.' },
            ]},
          ],
        ],
      },
      {
        mod: 'premium',
        title: 'Премиум',
        price: 'от 239 000 ₽',
        clarification: 'Подойдет для сети клиник или полноценного сайта многопрофильной клиники.',
        body: [
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'SEO'},
            { tag:'p', className:'tariff-item__text', content: 'Cбор полного семантического ядра, проектирование структуры. Полная подготовка сайта к поисковому продвижению.'},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Проектирование и дизайн'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Анализ преимуществ, конкурентов, формулирование УТП. Создание портретов целевой аудитории.' },
              { tag:'li', content: 'Прототипы главной и типовых внутренних страниц разделов.' },
              { tag:'li', content: 'Дизайн главной страницы и типовых внутренних страниц разделов.' },
            ]},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Контент'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Подготовка текстового контента для основных страниц сайта.' },
              { tag:'li', content: 'Обработка изображений, создание иллюстраций. Фотосъемка при необходимости.' },
              { tag:'li', content: 'Бесплатный перенос контента со старого сайта.' },
            ]},
          ],
          [
            { tag:'p', className:'tariff-item__subtitle', content: 'Верстка и программирование'},
            { tag:'ul', className:['list-marked', 'tariff-item__list'], content: [
              { tag:'li', content: 'Расширенный набор функций.' },
              { tag:'li', content: 'Система управления сайтом 1с-Битрикс.' },
              { tag:'li', content: 'Адаптивная верстка для любых разрешений.' },
              { tag:'li', content: 'Ускорение и оптимизация работы сайта.' },
              { tag:'li', content: 'Версия для слабовидящих.' },
            ]},
          ],
        ],
      },
    ]
    const results = [
      {
        title: 'Удобные и технологичные сайты',
      },
      {
        title: 'Разрабатываем сайт с учетом SEO, чтобы он максимально быстро попал в ТОП-10 результатов поиска',
      },
      {
        title: '5%&nbsp;&mdash; средняя конверсия посетителей в&nbsp;пациенты на&nbsp;наших сайтах',
      },
      {
        title: 'Медицинское образование наших копирайтеров позволяет получить контент с высоким уровнем экспертности',
      },
    ]
    const howWeWork = [
      {
        title: 'Заявка или звонок',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Вы оставляете заявку на сайта или звоните нам.'},
          {tag: 'p', className: 'list-steps__text', content: 'Вы можете предварительно заполнить бриф и отправить нам.'},
        ],
      },
      {
        title: 'Консультация',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Мы проконсультируем вас по телефону или назначим встречу.'},
          {tag: 'p', className: 'list-steps__text', content: 'Зададим необходимые вопросы, поможем заполнить брифы.'},
        ],
      },
      {
        title: 'Договор',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Фиксируем все договоренности в договоре, составляем проектный бриф (основные требования к сайту) и календарный план работ.'},
        ],
      },
      {
        title: 'Проектирование',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Проводим анализ брифов, проектируем структуру, создаем прототипы и рисуем дизайн. Обязательно согласовываем результат с вами.'},
        ],
      },
      {
        title: 'Разработка',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Верстаем макеты дизайна и интегрируем систему управления сайтом. Тщательно тестируем, а затем наполняем контентом.'},
        ],
      },
      {
        title: 'Сдача проекта',
        text: [
          {tag: 'p', className: 'list-steps__text', content: 'Показываем сайт заказчику и объясняем, как пользоваться системой управления.'},
          {tag: 'p', className: 'list-steps__text', content: 'После согласования переносим проект в открытый доступ.'},
        ],
      },
    ]
    const faq = [
      {
        title: 'Зачем мне новый сайт, если он у меня уже есть?',
        text: [
          { tag:'p', content: 'Мы можем выполнить доработку вашего сайта. Но часто для того чтобы исправить все ошибки, привести сайт в соответствие требований поисковых систем, сделать удобную структуру требуется больше усилий, чем если бы сделать новый сайт. Мы всегда исходим из экономики этого вопроса.' },
        ],
      },
      {
        title: 'На какой CMS будет разработан сайт?',
        text: [
          { tag:'p', content: 'Сайт разрабатывается на популярной платформе 1С Битрикс.' },
          { tag:'p', content: 'Это профессиональная система, которая хорошо себя зарекомендовала. Главные преимуществ: удобное управление, надежность, безопасность, интеграции с множеством систем и сервисов.' },
        ],
      },
      {
        title: 'Кто будет заниматься разработкой моего сайта?',
        text: [
          { tag:'p', content: 'Над вашим проектом будут работать команда во главе с маркетологом: разработчик, верстальщик, дизайнер, копирайтер, SEO-специалист.' },
        ],
      },
      {
        title: 'От чего зависит стоимость разработки?',
        text: [
          { tag:'p', content: 'Стоимость работ по разработке начинается от 99 000 рублей в месяц. Точная сумма проекта рассчитывается индивидуально, в зависимости от сложности проекта, набора функций, состава работ.' },
        ],
      },
      {
        title: 'Почему мне можно вам доверять?',
        text: [
          { tag:'p', content: '95% клиентов работают с нами уже много лет. Вы можете изучить отзывы руководителей клиник на нашем сайте.' },
        ],
      },
      {
        title: 'Есть ли гарантия на работу сайта?',
        text: [
          { tag:'p', content: 'Да, мы предоставляем гарантийную техническую поддержку вашего сайта в течении 1 месяца после его сдачи..' },
        ],
      },
    ]
  .container
    .content.content--white
      +breadcrumbs({'parents':['Главная', 'Услуги'],'current':'Создание сайтов'})
      h1 Разрабатываем сайты, которые приводят пациентов 
      +grid.page-section
        +grid__item({ m:6, xs:12 })
          +img({
            name: 'layout',
            path: '/images/sozdanie-saitov/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Пример разработки сайта с адаптивом').image-shadow
        +grid__item({ m:6, xs:12 }).text-align-center
          +results(results).results--development
          a(href='#offer_form').btn.btn--primary.modal Оценить ваш проект
      .page-section
        h2.page-section__title Почему мы?
        +whyWe(whyWe, { tag: 'li', m:6, xs:12, blockMarked:true }) 
      
      .page-section
        h2.page-section__title Почему наши сайты эффективнее в 2-3 раза, чем в других агентствах?
        +listComparison(comparisonList)
      
      .page-section
        +pageSubsection
          h2.page-section__title Весь необходимый функционал
          p Используя наш опыт мы внедряем инструменты, позволяющие усовершенствовать медицинский сайт, выгодно подчеркнуть преимущества клиники, увеличить конверсию и вызвать доверие пациентов.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6 })
            +img({
              name: 'tools-1',
              path: '/images/sozdanie-saitov/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Раздел врачей').image-shadow
          +grid__item({ m:6 })
            h3.page-section__subtitle Раздел врачей
            p Формируем страницу с&nbsp;подробным описанием врачей клиники, их&nbsp;образования, опыта работы, профессиональных навыков и&nbsp;т.д.'
            p Выводим карточки врачей по&nbsp;направлениям на&nbsp;страницы услуг, чтобы помочь пациентам заочно познакомиться со&nbsp;специалистами клиники.

          +grid__item({ m:6 })
            h3.page-section__subtitle Удобный прайс лист
            p Чем проще пациенту будет сориентироваться в&nbsp;ценах на&nbsp;ваши услуги, тем больше доверия у&nbsp;него вызовет клиника.
            p Реализуем удобную и&nbsp;понятную структуру раздела прайса.
            p Внедряем интерфейс &laquo;умного&raquo; поиска услуг в&nbsp;прайсе с&nbsp;функцией автозаполнения.
          +grid__item({ m:6 })
            +img({
              name: 'tools-2',
              path: '/images/sozdanie-saitov/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Удобный прайс лист').image-shadow
          
          +grid__item({ m:6 })
            +img({
              name: 'tools-3',
              path: '/images/sozdanie-saitov/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Результаты работ').image-shadow
          +grid__item({ m:6 })
            h3.page-section__subtitle Результаты работ
            p Для стоматологии и&nbsp;эстетической медицины результаты работ&nbsp;&mdash; ключевой фактор привлечения пациентов.
            p Собираем, обрабатываем и&nbsp;классифицируем результаты работ, что позволяет пациенту увидеть результат максимально соответствующий его случаю.
            p Это сильно увеличивает доверие к&nbsp;клинике и&nbsp;вероятность принятия положительного решения.

          +grid__item({ m:6 })
            h3.page-section__subtitle Конверсионные элементы
            p Устанавливаем на&nbsp;сайт кнопки с&nbsp;призывом к&nbsp;действию и&nbsp;эффективные формы записи на&nbsp;прием.
            p Создаем калькуляторы расчета примерной стоимости лечения. Внедряем квизы для сбора контактной информации пациента.
            p Применяем сервис повышения конверсии для мгновенного обратного звонка, с&nbsp;функциями заявки с&nbsp;сайта, онлайн консультанта и&nbsp;захвата пользователя.
          +grid__item({ m:6 })
            +img({
              name: 'tools-4',
              path: '/images/sozdanie-saitov/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Конверсионные элементы').image-shadow

      +stepsScroll(content).page-section
      
      .page-section
        h2.page-section__title Оставить заявку на бесплатную консультацию
        .home-form.home-form--contacts
          +grid({ tag:'form', paddingy:true, align: 'flex-end' }).home-form__form.validated-form.submitJS
            //- input(type='text' name='req_name' value)
            +grid__item({ m:4, xs:12 }).home-form__input
              label.home-form__label.home-form__label--required(for='form__name') Как вас зовут?
              input(type='text' name="form[fio]" placeholder='Ваше имя' data-regex="[а-яё]").form-input.validated.required.regex#form__name
              //- .validation-msg.validation-msg-required Обязательное поле
              //- .validation-msg.validation-msg-regex Должны быть русские буквы
            +grid__item({ m:4, xs:12 }).home-form__input
              label.home-form__label.home-form__label--required(for='form__tel') Номер телефона
              input(type='tel' name='form[phone]' placeholder='Телефон').form-input.rsform_phone.validated.required#form__tel
              //- .validation-msg.validation-msg-required Обязательное поле
            +grid__item({ m:4, xs:12 })
              button(type='submit').btn.btn--primary Получить консультацию
            +grid__item({ xs:12 })
              +textMarked({ tag:'span', 'size--xs': true }) Нажимая на&nbsp;кнопку &laquo;Получить консультацию&raquo;, вы&nbsp;даете согласие на&nbsp;обработку персональных данных и&nbsp;соглашаетесь c&nbsp;политикой конфиденциальности.
      
      .page-section
        h2.page-section__title Наше портфолио
        .slider.slider--development-cases
          ul.slides  
            each item in works
              li
                +grid({ paddingy: true })
                  +grid__item({ m:6 })
                    a(class= `portfolio-works-item portfolio-works-item--${item.mod}` href= item.href)
                      img(src=`/images/portfolio/razrabotka-saytov/${item.img}` alt=item.title loading='lazy' decoding='async').portfolio-works-item__image  
                      .portfolio-works-item__inner
                        p.portfolio-works-item__title !{item.title}
                        p(data-category= item.category).portfolio-works-item__category= item.category
                        span.btn.btn--small-padding.portfolio-works-item__button Подробнее
                  +grid__item({ m:6 })
                    h3.page-section__subtitle !{item.title}
                    p !{item.clarification}
                    if (item.list)
                      p: strong Результаты
                      ul.list-marked 
                        - for(let i=0; i<item.list.length; i++)
                          li !{item.list[i]}
      
      .page-section 
        h2.page-section__title О нас говорят
        +homeFeedback(feedback)
      
      .page-section
        h2.page-section__title Цены
        +grid({ paddingy: true, justify: 'center' })
          each item in tariffs
            +tariffItem(item)(class= classes('grid__cell', { m:4, s:6, xs:12 })) 
      
      .page-section
        h2.page-section__title Как мы работаем? 
        +listSteps(howWeWork, { tag: 'li', m:4, s:6, xs:12 })

      .page-section
        h2.page-section__title Вопрос-ответ
        .home-process.home-process--faq
          ul.home-process__list
            each item in faq
              li.home-process__item
                +textMarked({ 'size--xm': true }).home-process__title !{item.title}
                  svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                      animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                      animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
                .home-process__body
                  +createElement(item.text)
      
      .page-section
        h2.page-section__title Получить коммерческое предложение 
        include ../blocks/home-form/home-form
      
      .page-section
        h2.page-section__title Полезные материалы 
        - 
          const blog = [
            {
              title: 'Новые требования к сайту медицинской организации в 2023 году',
              path: '/blog/trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu',
              img: 'trebovaniya-k-saytu-meditsinskoy-organizatsii-v-2023-godu',
            },
            {
              title: 'Подробное руководство по медицинскому маркетингу в 2023 году с примерами и разбором стратегий',
              path: '/blog/medicinskij-marketing',
              img: 'medicinskij-marketing',
            },
            {
              title: 'Эффективные способы привлечения пациентов в клинику',
              path: '/blog/kak-privlech-pacientov-v-kliniky',
              img: 'kak-privlech-pacientov-v-kliniky',
            },
          ]
        +grid({ paddingy:true })
          each item in blog
            +grid__item({ m:4, s:6, xs:12 })
              a(href= item.path): +img({
                name: item.img,
                path: '/images/blog/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= item.title)
              a(href= item.path) !{item.title}
