extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      .page-section
        h1 Вакансии
        p Мы&nbsp;&mdash; агентство медицинского маркетинга. Это более 10&nbsp;человек, которые сформировали эффективную команду. С&nbsp;2008 года делаем крутые сайты и&nbsp;эффективную рекламу для клиник.
        p Мы&nbsp;будем рады новому члену команды&nbsp;&mdash; человеку с&nbsp;горящими глазами, с&nbsp;желанием развиваться, учиться, совершенствоваться.
        p Мы&nbsp;будем счастливы, если&nbsp;вы:
        ul.list-marked 
          li Уверены в&nbsp;своих силах;
          li Стремитесь знать все в&nbsp;своей профессии, посещаете конференции, читаете статьи, отслеживаете тенденции;
          li Вы&nbsp;от&nbsp;природы испытываете желание все вокруг структурировать;
          li Вы&nbsp;умеете договариваться с&nbsp;людьми.
      .page-section
        .page-subsection
          h2 SEO-специалист
          p Опыт: от&nbsp;2&nbsp;лет
          p Условия: Нагрузка: 2-4 часа в&nbsp;день. Формат оплаты: почасовая оплата.
          a(href='#' data-mrc-sh-title='vacancy-seo') Подробнее
        .page-subsection(data-mrc-sh-body='vacancy-seo')
          h3 Обязанности:
          ul.list-marked 
            li Внутренняя оптимизация #[br] Сбор и&nbsp;обработка семантики #[br] Технический аудит сайта #[br] Текстовая оптимизация страниц #[br] Составление ТЗ&nbsp;для копирайтера

            li Внешняя оптимизация #[br] Подготовка заданий на&nbsp;создание материалов на&nbsp;внешних сайтах #[br] Закупка ссылок (отбор площадок, отправка заявок, проверка, анализ результатов, учет базы ссылок) #[br] Работа с&nbsp;биржами miralinks и&nbsp;gogetlinks #[br] Размещение сайтов на&nbsp;различных площадках (подготовка регистрационной информации, регистрация на&nbsp;площадках)

            li Зона ответственности: #[br] Рост видимости проекта по&nbsp;группе запросов #[br] Рост посещаемости проекта

          h3 Требования:
          ul.list-marked 
            li Знание и&nbsp;практические навыки применения HTML.
            li Понимание базовых алгоритмов работы поисковых систем, технической оптимизации.
            li Умение работать с&nbsp;ключевыми словами, выполнять текстовую оптимизацию, формировать текст для meta-тегов.
            li Понимание базовых принципов ссылочного продвижения, подбора доноров.
            li Опыт работы с&nbsp;биржами ссылок.
            li Опыт работы в&nbsp;CMS Bitrix на&nbsp;уровне редактора.
            li Ответственность, исполнительность.

          h3 Условия:
          ul.list-marked 
            li Работа будет проходить в&nbsp;команде с&nbsp;SEO-специалистом.
            li График работы: гибкий график. Вы&nbsp;можете уделять время работе, когда вам удобно. Обязательно быть онлайн в&nbsp;рабочие дни.
            li Время для коммуникации: пн-пт, с&nbsp;10&nbsp;до&nbsp;19&nbsp;часов по&nbsp;мск.
            li Нагрузка: 2-4 часа в&nbsp;день.
            li Формат оплаты: почасовая оплата. 
            li Доступ к&nbsp;профессиональному инструменту управления оптимизацией проекта.

          h3 Наши преимущества:
          ul.list-marked 
            li Обучение секретам SEO в&nbsp;процессе работы. Библиотека знаний закрепленная в&nbsp;виде инструкций/регламентов.
            li Отсутствие потока проектов и&nbsp;аврала. Мы&nbsp;долгосрочно сотрудничаем с&nbsp;ограниченным кругом клиентов.
            li Штатные копирайтер, программист, контент-менеджер/верстальщик.
            li Интересные проекты.
      .page-section
        .page-subsection
          h2 Контент менеджер
          p Опыт: от&nbsp;1&nbsp;года
          p Условия: Нагрузка: 3-4 часа в&nbsp;день. Формат оплаты: почасовая оплата.
          a(href='#' data-mrc-sh-title='vacancy-front') Подробнее
        .page-subsection(data-mrc-sh-body='vacancy-front')
          h3 Обязанности:
          ul.list-marked 
            li Верстка простых макетов (psd, figma);
            li Внесение изменение в&nbsp;шаблоны, правки html-кода, css, простого js-кода;
            li Настройка модулей, плагинов и&nbsp;компонентов CMS *;
            li Обработка текстовых и&nbsp;графических материалов;
            li Добавление материалов в&nbsp;CMS;
            li Взаимодействие с&nbsp;клиентами по&nbsp;поддержке сайтов (обновление): анализ входящих задач, согласование правок, распределение и&nbsp;постановка задач на&nbsp;исполнителей (разработчик, дизайнер).
          +textMarked({ tag:'p', 'size--s': true }) * работаем в&nbsp;основном с&nbsp;Bitrix

          h3 Требования:
          ul.list-marked 
            li Знание и&nbsp;практические навыки применения HTML, CSS, нативный&nbsp;JS, графического редактора;
            li Наличие опыта работы с&nbsp;CMS Bitrix;
            li Умение разбираться в&nbsp;чужом коде, быстро обучаться и&nbsp;справляться с&nbsp;незнакомыми задачами;
            li Исполнительность, пунктуальность, аккуратность;
            li #[strong Наличие в&nbsp;портфолио успешно реализованных и&nbsp;действующих проектов.]
          p Знание gulp, pug, stylus, webpack будет преимуществом.

          h3 Условия:
          ul.list-marked 
            li График работы: гибкий график. Обязательно быть онлайн в&nbsp;рабочие дни.
            li Время для коммуникации: пн-пт, с&nbsp;10&nbsp;до&nbsp;19&nbsp;часов.
            li В&nbsp;течении дня вы&nbsp;можете уделять время работе, когда вам удобно.
            li Нагрузка: 3-4 часа в&nbsp;день. 
            li Формат оплаты: почасовая оплата. 

          h3 Наши преимущества:
          ul.list-marked 
            li Отсутствие потока проектов и&nbsp;аврала. Тщательно фильтруем проекты, чтобы работать только с&nbsp;адекватными клиентами и&nbsp;достижимыми задачами;
            li Интересные проекты;
            li Дружелюбный коллектив;
            li Лояльный и&nbsp;справедливый руководитель.
