extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Запросить обратный звонок'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Запросить обратный звонок
      +grid()
        +grid__item({m:6,s:10,xs:12})

          -
            let form = {
              id: 'zaprosit-zvonok',
              rows: [
                {
                  required: 'required', 
                  label: 'Имя', 
                  type: 'text', 
                  name: 'name', 
                  placeholder: 'Имя'
                },
                {
                  required: 'required', 
                  label: 'Телефон', 
                  type: 'tel', 
                  name: 'tel',
                  placeholder: 'Телефон'
                }
              ],
              submit: 'Отправить'
            }
          +form(form)
