extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Заявка на рекламу'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      h1 Заявка на рекламу
      +grid()
        +grid__item({m:6,s:10,xs:12})

          -
            let form = {
              id: 'zayavka-na-reklamu',
              rows: [
                {
                  required: 'required',
                  label: 'Имя',
                  type: 'text',
                  name: 'name'
                },
                {
                  required: 'required', 
                  label: 'Контактный телефон', 
                  type: 'tel', 
                  name: 'tel'
                },
                {
                  label: 'Сайт Вашей компании', 
                  type: 'text', 
                  name: 'site'
                },
                {
                  label: 'E-mail', 
                  type: 'email', 
                  name: 'email'
                },
                {
                  label: 'Чем мы можем быть полезны?', 
                  type: 'textarea', 
                  name: 'message'
                }
              ],
              submit: 'Отправить'
            }
          +form(form)
