.case-price-comparison
  text-align left
  &__title
    font-weight bold
    text-transform uppercase
    margin-bottom 0.25rem
  &__info
    display flex
    align-items center
  &__old
    margin-right basePadding
    text-decoration line-through
  &__new
    font-size (font-m*2)
    font-weight bold
    color #8c3052
