mixin casePriceComparison(item)
  .case-price-comparison
    .case-price-comparison__title Снизилась цена клика
    .case-price-comparison__info
      .case-price-comparison__old !{item.old} руб.
      .case-price-comparison__new !{item.new} руб.
    
