extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сайт медицинского косметологического центра "Мир красоты"'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/mkrasoty.jpg',
  //-         title: 'Сайт медицинского косметологического центра "Мир красоты"',
  //-         link: {
  //-           text: 'http://mkrasoty.ru/',
  //-           href: 'http://mkrasoty.ru/'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Косметологический центр оказывает широкий спектр услуг. Дважды становился лауреатом городского ежегодного конкурса «Невский шарм».'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `В результате разработки новой версии сайта косметологической клиники <strong>конверсия выросла на 22,5%</strong>`,
          text: 'Косметологический центр &laquo;Мир красоты&raquo; оказывает широкий спектр услуг. Дважды становился лауреатом городского ежегодного конкурса &laquo;Невский шарм&raquo;.',
          //- url: 'netvolos.ru',
          img: imgPath+'detail/mir-krasoty-detail.webp',
          logo: imgPath+'logo/logo-mir-krasoty.webp',
          logoWidth: '82',
          logoHeight: '68',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Улучшить конверсию сайта, сделать его более современным и удобным;
          li Увеличить количество пациентов.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Обновили дизайн сайта: сделали его более современным;
          li Исправили ошибки usability, создали версию для мобильных телефонов;
          li Улучшили продающие качества сайта: подготовили качественный контент.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Рост конверсий сайта в отправку формы записи на прием на #[strong 22,5%];
          li Увеличение заинтересованности пользователей более чем на #[strong 19%].
        -
          let results1 = [
            {title: '22,5%', desc: 'рост конверсий сайта <br> в отправку формы записи'},
            {title: '> 19%', desc: 'увеличение <br> заинтересованности'},
          ]
        +caseResultsList(results1).text-align-center
      
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p К&nbsp;нам обратился косметологический центр, который работает уже много лет. Последние годы они заметили падение потока клиентов и&nbsp;уменьшение дохода. Это происходило несмотря на&nbsp;то, что обслуживание в&nbsp;клинике косметологии выполнялось на&nbsp;высшем уровне: персонал с&nbsp;высшим медицинским образованием, получивший множество наград. Сама клиника дважды становилась лауреатом городского конкурса &laquo;Невский шарм&raquo;. Разумеется это очень озадачило руководителя центра.
        p Мы&nbsp;провели аудит и&nbsp;выяснили, что сам сайт косметологической клиники сильно устарел, не&nbsp;выдерживает конкуренции и&nbsp;не&nbsp;соответствует существующему уровню требований. Поэтому мы&nbsp;предложили разработать новый сайт.
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        p При разработке сайта мы&nbsp;следуем четкой методологии, не&nbsp;пропуская ни&nbsp;одного этапа. Это является залогом получения лучшего результата.
        p Весь процесс у&nbsp;нас разделен на&nbsp;следующие этапы. Особое внимание мы&nbsp;удаляем этапам, связанным с&nbsp;проектированием, так как это фундамент будущего сайта.
        ol.list-numbered
          li Сбор и&nbsp;анализ требований к&nbsp;сайту: #[br] Функциональные требования и&nbsp;требования к&nbsp;дизайну.
          li Получение и&nbsp;анализ брифов от&nbsp;клиента: #[br] Маркетинговая информация, описание целевой аудитории, список конкурентов, формулирование УТП.
          li Создание полного семантического ядра: #[br] Сбор поисковых запросы по&nbsp;теме сайта, анализ и&nbsp;обработка, группировка по&nbsp;страницам.
          li Подготовка структуры сайта: #[br] Разработка mindmap и&nbsp;структуры меню.
          li Подготовка контента: #[br] Подготовка списка необходимого от&nbsp;клиента контента, подготовка опросников по&nbsp;страницам, структуры каждой страницы, контент плана, заданий на&nbsp;копирайтинг.
          li Создание прототипа для версии на&nbsp;среднем мониторе (под 1024px).
          li Подготовка технического задания.
          li Отрисовка дизайна страниц.

        h3.text-align-center Анализ
        p Мы&nbsp;тщательно изучили бриф, который предоставил нам клиент, чтобы понимать миссию, УТП и&nbsp;преимущества клиники, которые мы&nbsp;должны отразить на&nbsp;сайте.
        p Проанализировали описание целевой аудитории, чтобы понять для кого мы&nbsp;должны создать сайт: какие у&nbsp;пациентов потребности, что они ожидают от&nbsp;услуг, как они выбирают услуги и&nbsp;т.д.

        h4.text-align-center Описание целевой аудитории
        +pageSubsection
          p Мы&nbsp;выполнили предварительный анализ сайтов конкурентов.
          p В&nbsp;итоге предложили серьезно переделать дизайн, структуру и&nbsp;интерфейс меню, шаблоны страниц сайта, добавить новые разделы.
        +grid({ 'paddingy':true }).page-subsection
          +grid__item({ xs:12 })
            p
              +img({
                name: 'mkrasoty-1',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Описание целевой аудитории').image-shadow

        h3.text-align-center Подготовка структуры страниц
        +pageSubsection
          p Проработали основные направления деятельности клиники. Проанализировали прайс и&nbsp;услуги клиники с&nbsp;помощью авторской методики анализа, услуги множества конкурентов.
        +grid({ 'paddingy':true }).page-subsection
          +grid__item({ xs:12 })
            p
              +img({
                name: 'mkrasoty-2',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Подготовка структуры страниц').image-shadow
        +pageSubsection
          p На&nbsp;основе анализа конкурентов, требований к&nbsp;сайту и&nbsp;собранного семантического ядра мы&nbsp;подготовили структуру сайта. Это отправная точка для проектирование структуры.
        +grid({ 'paddingy':true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p
              +img({
                name: 'mkrasoty-3',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Подготовка структуры страниц').image-shadow

        h3.text-align-center Подготовка контента
        +pageSubsection
          p Мы&nbsp;спроектировали раздел &laquo;Проблемы&raquo;, в&nbsp;котором описываются различные заболевания кожи и&nbsp;указывается соответствующая процедура, направленная на&nbsp;решение данной проблемы. Данный контент направлен на&nbsp;то, чтобы правильно увеличить конверсию страниц и&nbsp;подтолкнуть пациента к&nbsp;записи на&nbsp;услугу.
          p Подготовили таблицу, в&nbsp;которой собрали возможные проблемы и&nbsp;процедуры.
        +grid({ 'paddingy':true }).page-subsection
          +grid__item({ xs:12 })
            p
              +img({
                name: 'mkrasoty-4',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Подготовка контента').image-shadow

        h3.text-align-center Создание прототипа
        p Собрав всю накопленную на&nbsp;предыдущих этапах информацию мы&nbsp;подготовили тщательные прототипы основных страниц сайта.
        p Каждую страницу процедуры и&nbsp;проблемы сайта мы&nbsp;спроектировали таким образом чтобы она являлась посадочной:
        ul.list-marked 
          li разместив максимально исчерпывающую информацию: фото до&nbsp;и&nbsp;после, отзывы, цены, врачи.
          li снабдив аргументами, преимуществами.
        p Таким образом можно с&nbsp;уверенностью запускать рекламу и&nbsp;отправлять трафик на&nbsp;любую страницу сайта.
        +grid({ paddingy: true })
          +grid__item({ m:6 })
            p: strong Главная
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-5.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-5',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Главная' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница процедуры
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-6.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-6',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница процедуры' width='1000' height='600').image-shadow.object-fit-cover

        h3.text-align-center Переделка дизайна сайта
        p Мы&nbsp;подготовили новый макет сайта:
        ul.list-marked 
          li сделали его более современным и&nbsp;привлекательным
          li создали единый стиль
          li улучшили удобство сайта (чтение информации, навигацию)
          li сделали акцент на&nbsp;важной информации
        +grid({ paddingy: true })
          +grid__item({ m:6 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-7.png' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-7',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'До' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-8.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-8',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'После' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница акций
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-9.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-9',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница акций' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница услуги
            p: a(href='/images/razrabotka-saytov/mkrasoty/mkrasoty-10.webp' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'mkrasoty-10',
                path: '/images/razrabotka-saytov/mkrasoty/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница услуги' width='1000' height='600').image-shadow.object-fit-cover

