extends /blocks/layout/layout
include /blocks/portfolio-buttons/portfolio-buttons
include /blocks/portfolio-case-item/portfolio-case-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/portfolio/keysi-po-kontekstnoy-reklame-list
  .container
    .content.content--white
      h1 Кейсы по контекстной рекламе
      //- +worksList(portfolioKeysiPoKontekstnoyReklameList)
      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [
            { 
              mod:  ['stomadeus', 'context'],
              href: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-stomadeus/',
              title: `Привлечение <span class="text-marked--size--m text-marked--font-weight--600">74</span> заявок на трёхэтапную чистку зубов`,
              name: 'Сеть стоматологических клиник «Стомадеус»',
              category: 'Медицина и здоровье',
            },
            { 
              mod:  ['medall', 'context'],
              href: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-meditsinskiy-tsentr-goroda/',
              title: `Прибыль от&nbsp;рекламы услуги увеличения груди&nbsp;&mdash;<span class="text-marked--size--m text-marked--font-weight--600"> 268&nbsp;000</span> ₽`,
              name: 'Клиника по пересадке волос «MEDALL»',
              category: 'Медицина и здоровье',
            },
            { 
              mod:  ['whitedent', 'context'],
              href: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-vayt-dent/',
              title: `Рост количества пациентов на компьютерную томографию зубов в <span class="text-marked--size--m text-marked--font-weight--600">2</span> раза`,
              name: 'Стоматологическая клиника «ВайтДент»',
              category: 'Медицина и здоровье',
            },
            { 
              mod:  ['stomatology-center', 'context'],
              href: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-stomatologicheskiy-tsentr-goroda/',
              title: `Снижение стоимости клика в <span class="text-marked--size--m text-marked--font-weight--600">2,5</span> раза`,
              name: 'Сеть стоматологических клиник «Стоматологический центр города»',
              category: 'Медицина и здоровье',
            },
            { 
              mod:  ['shankara', 'context'],
              href: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-shankara/',
              title: 'Реклама услуг аюрведического массажа',
              name: 'Клиника аюрведической медицины «Shankara»',
              category: 'Медицина и здоровье',
            },
          ] 
        +portfolioCaseItem(works).portfolio-list__col-s-6

