.page-section
  margin-top (basePadding)
  margin-bottom (basePadding*3)
  &__title
    color #712880
    margin-bottom 0.75em
    h2&
      font-size 1.375rem
      line-height (1.375rem+0.25rem)
      margin-bottom 1.5rem
  &__subtitle
    margin-bottom 0.1875rem
    font-size 1.125rem
    line-height 1.625rem
    font-weight bold
  &--portfolio
    & + &
      margin-top 4rem
