extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка CRM системы для клиники по&nbsp;пересадке волос &laquo;Challenge Hair&raquo;`,
          text: '&laquo;Challenge Hair&raquo;&nbsp;&mdash; первая в&nbsp;Санкт-Петербурге клиника по&nbsp;пересадке волос. Основана владельцем одноименной группы клиник во&nbsp;Франции.',
          url: 'www.challeng-hair.ru',
          img: imgPath+'detail/challenge-hair-detail.webp',
          logo: imgPath+'logo/logo-challenge-hair.webp',
          logoWidth: '72',
          logoHeight: '87',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Внедрить удобную систему управления пациентами для решения ряда внутренних задач клиники.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Собрали функциональные требования к системе;
          li Изучили существующие предложение на рынке;
          li Спроектировали интерфейс и подготовили документацию;
          li Реализовали работающий продукт.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li В&nbsp;результате внедрения CRM системы клиника &laquo;Challenge Hair&raquo; повысила уровень продаж услуг, оптимизировала маркетинг и&nbsp;улучшила обслуживание пациентов.
      
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p В&nbsp;2007 году к&nbsp;нам обратился исполнительный директор клиники &laquo;Challenge Hair&raquo; с&nbsp;просьбой подобрать и&nbsp;внедрить CRM систему. На&nbsp;то&nbsp;время на&nbsp;рынке было не&nbsp;так много систем управления взаимоотношениями с&nbsp;клиентами. А&nbsp;в&nbsp;медицинской сфере их&nbsp;было еще меньше.
        p Изучив продукты, которые существуют на&nbsp;рынки мы&nbsp;пришли к&nbsp;выводу, что ни&nbsp;один из&nbsp;них не&nbsp;соответствует всем требованиям, которые предъявил нам заказчик. Дело в&nbsp;том, что оказалось у&nbsp;клиники по&nbsp;пересадке волос было ряд особенностей и&nbsp;бизнес процессов. Поэтому мы&nbsp;решили предложить спроектировать и&nbsp;разработать CRM систему под индивидуальный заказ.
      
      +caseSection('Оценка проекта',{type:'solutions'}).text-align-left
        +pageSubsection
          p На&nbsp;начальном этапе мы&nbsp;разбили проект на&nbsp;стадии провели оценку трудозатрат. Это очень важно чтобы правильно подготовить календарный план, а&nbsp;также подсчитать смету.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:8, xs:12 })
            p
              +img({
                name: 'crm-1',
                path: '/images/razrabotka-saytov/challenge-hair/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Оценка проекта').image-shadow

      +caseSection('Проектирование').text-align-left
        p Мы&nbsp;получили от&nbsp;заказчика следующие общие требования к&nbsp;функциональности системы управления взаимоотношениями с&nbsp;клиентами:
        ul.list-marked 
          li Формирование общего каталога клиентов компании;
          li Предоставление удобного интерфейса для модифицирования каталога;
          li Создание инструментария для управления рекламой;
          li Генерирование отчётов;
          li Удобная настройка и&nbsp;администрирование системы;
          li Обеспечение отказоустойчивости;
          li Предоставление интерфейса для удалённого взаимодействия с&nbsp;системой.

        h3.text-align-center Техническое задание
        p После серии нескольких встреч мы&nbsp;уточнили требования и&nbsp;подготовили подробное техническое задание, в&nbsp;которое включалось описание:
        ul.list-marked 
          li Пользователей системы и&nbsp;их&nbsp;ролей;
          li Требования к&nbsp;дизайну интерфейса CRM клиники;
          li Структура системы и&nbsp;общая графическая схема;
          li Требования к&nbsp;каталогу клиентов;
          li Требования к&nbsp;блоку рекламы;
          li Требования к&nbsp;блоку отчетов;
          li Настройки системы.
        p: iframe(src="https://drive.google.com/file/d/10YLDEAL7nzVaQjMlOkibi1Y5PKbkczHc/preview" width="100%" height="500" allow="autoplay")
        
        h3.text-align-center Прототипирование
        +pageSubsection
          p После подготовки технического задания мы&nbsp;занялись непосредственно проектированием и&nbsp;подготовили несколько детализированных прототипов.
          p Подготовка их&nbsp;очень важна, так как позволяет избежать множества ошибок и&nbsp;сократить расходы, связанные с&nbsp;возможной переделкой.
        +grid({ paddingy: true }).page-subsection 
          +grid__item({ m:6, xs:12 })
            p: a(href='/images/razrabotka-saytov/challenge-hair/crm-2.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'crm-2',
                path: '/images/razrabotka-saytov/challenge-hair/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототипирование').image-shadow
          +grid__item({ m:6, xs:12 })
            p: a(href='/images/razrabotka-saytov/challenge-hair/crm-3.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'crm-3',
                path: '/images/razrabotka-saytov/challenge-hair/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Прототипирование').image-shadow

        h3.text-align-center Дизайн
        p Согласовав с&nbsp;заказчиком прототипы будущей системы мы&nbsp;перешли к&nbsp;этапу дизайна с&nbsp;учетом критериев удобства использования, эстетичности и&nbsp;соответствия корпоративному стилю.
        p Основные требования к&nbsp;дизайну:
        ul.list-marked 
          li Строгий, сдержанный корпоративный дизайн;
          li Ширина рабочей области сайта на&nbsp;весь экран для всех видов разрешений экрана;
          li Минимальное рабочее разрешение 800&times;600, максимальное 1280&times;1024;
        +grid({ paddingy: true }).page-subsection 
          +grid__item({ xs:12 })
            p: strong Страница административной информации клиента
            p: a(href='/images/razrabotka-saytov/challenge-hair/crm-4.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'crm-4',
                path: '/images/razrabotka-saytov/challenge-hair/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница административной информации клиента').image-shadow
          +grid__item({ xs:12 })
            p: strong Страница контактной информации клиента
            p: a(href='/images/razrabotka-saytov/challenge-hair/crm-5.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'crm-5',
                path: '/images/razrabotka-saytov/challenge-hair/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница контактной информации клиента').image-shadow
