.blog
  &__item
    display flex
    flex-direction column
    margin-bottom 3rem
  &__title
    font-size 1rem
    line-height 1.5
  &__image
    display flex
    overflow hidden
    align-items flex-end
    justify-content center
    height 240px
    margin-top auto
    img
      max-width none
      height 100%
  &__date
    margin-top .5rem
    font-size .75rem
