mixin blog(blog)
  +grid({paddingy: true}).blog
    each item in blog
      +grid__item({m:6,xs:12}).blog__item
        h2.blog__title: a(href != item.href) !{item.name}
        a(href != item.href).blog__image: img(src != item.image alt != item.name)
        .blog__date !{item.date}
