.home-directions
  display flex
  flex-wrap wrap
  gap 1rem
  padding-top 1.5rem
  &__item
    margin-bottom 0
    padding 0.75rem
    line-height 1
    border-radius 0.75rem
    background-color #f0f0f0
