.home-process
  ul.home-process__list
    li.home-process__item
      h3.home-process__title Анализируем всю воронку продаж клиники
        svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
            animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
            animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
      .home-process__body
        include list-analyze/list-analyze
    li.home-process__item
      h3.home-process__title Налаживаем отчетность
        svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
            animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
            animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
      .home-process__body
        +grid({align:'center'})
          +grid__item({m:7,s:12,xs:12})
            h4.home-process__subtitle Организуем учет заявок от пациентов
            ul.list-marked.home-process__list-marked
              li Настраиваем calltracking (подмену номеров) и цели в веб аналитике
            h4.home-process__subtitle Оцениваем эффективность рекламы
            ul.list-marked.home-process__list-marked
              li Анализируем эффективность различных каналов интернет рекламы
              li Рассчитываем стоимость заявки (CPL), привлечения пациента (CPO), ДРР
              li Принимаем решение о перераспределении бюджетов в эффективные каналы
          +grid__item({m:5,s:12,xs:12})
            img(src='/images/establish-accountability.jpg' alt='Налаживаем отчетность')
        //- .home-process__button
        //-   a(href='http://www.medreclama.ru/form/25-zakazat-audit_popup?tmpl=component' rel='{handler:"iframe",size:{x:280,y:520}}').btn Заказать аудит
    li.home-process__item
      h3.home-process__title Создаем эффективные сайты клиник
        svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
            animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
            animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
      .home-process__body
        .home-process__item-section
          +grid({align: 'center'})
            +grid__item({m:9,s:8,xs:12})
              h4.home-process__subtitle Удобные и технологичные сайты
              ul.list-marked.home-process__list-marked
                li Создаем #[strong адаптивные сайты], с которыми пациенту будет удобно работать с любого устройства
                li Тщательно проектируем интерфейс, учитывая психологию пациентов
              h4.home-process__subtitle Поисковая оптимизация
              ul.list-marked.home-process__list-marked
                li Разрабатываем сайты, максимально настроенные для успешного продвижения в поисковых системах
              +grid
                +grid__item({ s:2, xs:3 })
                  +img({
                    name: 'bitrix',
                    path: '/images/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Являемся бизнес-партнером 1c-bitrix')
                +grid__item({ s:10, xs:9 })
                  span Являемся бизнес-партнером лидера среди систем управления сайтом 1c-bitrix
            +grid__item({m:3,s:4,xs:12})
              img(src='/images/main-page-monitor.png' alt='Технологичные сайты' style='display: block; margin-bottom: 1.5rem; margin-left: auto; margin-right: auto;')
        
        .home-process__item-section
          +grid({align: 'center', paddingy: true})
            +grid__item
              h4.home-process__subtitle Максимальная конверсия посетителей в пациенты
              ul.list-marked.home-process__list-marked
                li Пишем #[strong &laquo;продающие&raquo; тексты] медицинских услуг, используя собственную авторскую методику
                li Добавляем на&nbsp;сайт материалы, увеличивающие #[strong доверие и&nbsp;информированность] пациентов
                li Увеличиваем обращения пациентов, использую сервисы #[strong захвата пользователей] #[br] #[strong.home-process__superstrong 9#[span %]] конверсия сайтов в звонки пациентов после внедрения аудита
            +grid__item({ m:9 })
              +img({
                name: 'main-page-conversion',
                path: '/images/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'График конверсии посетителей в пациенты')
                  
        //- .home-process__button
        //-   a(href='http://www.medreclama.ru/form/25-zakazat-audit_popup?tmpl=component' rel='{handler:"iframe",size:{x:280,y:520}}').btn Заказать аудит
    li.home-process__item
      h3.home-process__title Задействуем проверенные методы рекламы
        svg.home-process__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
            animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
            animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
      .home-process__body
        .home-process__item-section
          h4.home-process__subtitle Приводим пациентов из поисковых систем
          +grid({align: 'center'})
            +grid__item({ m:6 })
              h5 Поисковая оптимизация
              ul.list-marked.home-process__list-marked
                li Многократно увеличиваем посещаемость из поисковых систем
                li Достигаем высокой эффективности за счет использования 
                  strong собственной базы
                  |  проверенных ключевых слов
            +grid__item({ m:6 })
              h5 Контекстная реклама
              ul.list-marked.home-process__list-marked
                li Успешно используем 
                  a(href='/portfolio/keysi-po-kontekstnoy-reklame/') низкобюджетные стратегии
                  |  для клиник
                li Снижаем стоимость клика в 
                  strong 3-5 раз
                li Максимизируем эффективность кампаний с помощью сервиса управления ставками
            +grid__item({ m:9 })
              p: +img({
                name: 'visitors',
                path: '/images/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Приводим пациентов из поисковых систем')

        .home-process__item-section
          h4.home-process__subtitle Доносим положительный имидж клиники до пациентов
          +grid({align: 'center', paddingy: true})
            +grid__item
              ul.list-marked.home-process__list-marked
                li Выявляем сайты, которые могут стать #[strong причиной оттока пациентов]
                li #[strong Увеличиваем доверие] к компании за счет положительного имиджа
                li #[strong Вытесняем] сайты с негативными отзывами из результатов поиска
            +grid__item({ m:9 })
              p: +img({
                name: 'image',
                path: '/images/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Отзыв')
        
        .home-process__item-section
          h4.home-process__subtitle Привлекаем пациентов из социальных сетей
          +grid({align: 'center',  paddingy: true})
            +grid__item
              ul.list-marked.home-process__list-marked
                li Запускаем целевые рекламные кампании в социальных сетях
                li Увеличиваем количество участников группы с помощью ценностного предложения
                li Возвращаем пациентов за счет целевого контента групп
            +grid__item({ m:9 })
              +img({
                name: 'socials',
                path: '/images/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Объявления в соцсетях')
