.home-process
  --item-padding-bottom (basePadding*3)
  padding-top (basePadding*2)
  .page-section__title + &
    padding-top 0
  &__list
    counter-reset item
  &__item
    display grid
    grid-template-rows min-content 0fr
    padding-bottom 0
    counter-increment item
    transition-property grid-template-rows, padding-bottom
    transition-duration .3s
    &--active
      grid-template-rows min-content 1fr
      padding-bottom var(--item-padding-bottom)
      transition-duration .1s
      &:last-child
        padding-bottom 0
    h5
      &:first-child
        margin-top 1.25rem
  &__title
    position relative
    margin-bottom (basePadding/3*5)
    padding 0.75rem
    padding-right 2rem
    background-color color-light-grey
    border-radius 0.75rem
    &:hover
      cursor pointer
    &::before
      content '0'counter(item)
      color #702885
      margin-right basePadding
  &__arrow
    position absolute
    top 50%
    right 0.75rem
    display block
    width 1.25rem
    height 1.25rem
    translate 0 -50%
    path
      stroke color-link
  &__body
    padding-left 0.75rem
    overflow hidden
  &__subtitle
    ^[-1]__title + &
      margin-top 1.375rem
  &__button
    display flex
    justify-content center
    padding-top (basePadding*2)
  &__list-marked
    margin-top (font-m/2)
    li
      margin-bottom (font-m/2)
      &:last-child
        margin-bottom 0
  &__superstrong
    font-size (font-m)*2
    color #8c3052
    span
      font-size font-xl
  &__item-section
    padding-bottom (basePadding*3/2)
    & + &
      padding-top (basePadding*3/2)
      padding-bottom 0
      border-top 1px dotted #ced2d5
  &--faq
    --item-padding-bottom 1rem
    & ^[-1]__title
      &::before
        display none
