extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Салон красоты «Центр Дизайна Волос»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/hairdesign.png',
      //-     title: 'Салон красоты «Центр Дизайна Волос»',
      //-     link: {
      //-       text: 'http://www.hairdesign.ru/',
      //-       href: 'http://www.hairdesign.ru/'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Центр Дизайна Волос – это салон, осуществляющий деятельность в нескольких направлениях.
      //-   ul.list-marked
      //-     li Замещение утраченных волос;
      //-     li Парикмахерские услуги;
      //-     li Продажа изделий из волос и косметики для волос.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение продаж магазина.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Регулярно ведутся работы по добавлению тематического контента;
      //-     li На постоянной основе обновляются группы в социальных сетях;
      //-     li Проводятся мероприятия по управлению репутацией в социальных медиа;
      //-     li Ежемесячно проводится тестирование гипотез по увеличению конверсии сайта.

      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 18,5 раз
      //-       |  с 998 до 18434 посетителей в месяц.
      //-     li Увеличение прибыли интернет-магазина в 
      //-       strong 2 раза
      //-       | .
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google

      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['залысины',{content:'1',type:'marked'}],
      //-       ['парики из натуральных волос',{content:'1',type:'marked'}],
      //-       ['парики купить',{content:'1',type:'marked'}],
      //-       ['лечебная косметика для волос',{content:'1',type:'marked'}],
      //-       ['накладки для волос',{content:'1',type:'marked'}],
      //-       ['стоимость наращивания волос',{content:'1',type:'marked'}],
      //-     ]
      //-   +resultsTable(table1)
      
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличение количества обращений клиентов в <strong> 10 раз</strong> в течении 15 лет для центра замещения волос',
          url: 'hairdesign.ru',
          img: imgPath+'detail/hairdesign-detail.webp',
          logo: imgPath+'logo/logo-hairdesign.webp',
          logoWidth: '100',
          logoHeight: '82',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
        p.portfolio-detail__text Центр Дизайна Волос – это салон, осуществляющий деятельность в нескольких направлениях, связанных с коррекцией и маскировкой облысения.
        ul.list-marked.portfolio-detail__text 
          li Замещение утраченных волос;
          li Парикмахерские услуги;
          li Продажа изделий из волос и косметики для волос.
      
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество клиентов, приходящих из интернет.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Создан новый адаптивный сайт, соответствующий маркетинговой стратегии и&nbsp;требованиям к&nbsp;юзабилити;
          li Выполнили поисковую оптимизацию всех страниц сайта;
          li Создали эффективные рекламные кампании в&nbsp;системе Яндекс.Директ и&nbsp;Google.Adwords; 
          li Ведем группы в&nbsp;социальных сетях Вконтакте и&nbsp;Instagram;
          li Проводятся мероприятия по&nbsp;управлению репутацией в&nbsp;социальных медиа.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение целевой посещаемости сайта в&nbsp;#[strong 5,8 раз] с&nbsp;1400 до&nbsp;8200 посетителей в&nbsp;месяц;
          li Увеличение количества обращений клиентов в&nbsp;#[strong 10&nbsp;раз] в&nbsp;течении 15&nbsp;лет.
      +caseSection('Детальная статистика',{type:'solutions'}).text-align-left
        h3.text-align-center Звонки и&nbsp;записи
        ul.list-marked
          li 
            span Около #[strong 100 звонков] в&nbsp;месяц по&nbsp;каналу интернет;
            +textMarked({ tag:'p', 'size--s': true }) *данные взяты из&nbsp;системы коллтрекинга Comagic 
            +img({
              name: 'comagic',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Данные из системы Comagic').image-shadow

          li Около #[strong 65&nbsp;записей] на&nbsp;прием с&nbsp;сайта (10 через форму записи на сайта и 55 через виджет записи Yclients);
          li 
            span Около #[strong 30&nbsp;первичных консультаций] на&nbsp;услуги замещения волос в&nbsp;месяц.
            +textMarked({ tag:'p', 'size--s': true }) *данные взяты из&nbsp;CRM системы Yclients
            +img({
              name: 'yclients',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Данные из системы Yclients').image-shadow
      
      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        h3.text-align-center Выполненные работы
        p Сфера, в&nbsp;которой работает клиент, достаточно узкая. Поэтому нашей задачей было собрать максимальное количество запросов в&nbsp;этой нише.
        p Для начала мы&nbsp;опросили клиента и&nbsp;получили основные темы для запросов:
        ul.list-marked
          li #[a(href='https://yandex.ru/search/?text=%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0+%D0%B2%D0%BE%D0%BB%D0%BE%D1%81&lr=2' target='_blank') система волос];
          li #[a(href='https://yandex.ru/search/?text=%D0%B7%D0%B0%D0%BC%D0%B5%D1%89%D0%B5%D0%BD%D0%B8%D0%B5+%D0%B2%D0%BE%D0%BB%D0%BE%D1%81&lr=2' target='_blank') замещение волос];
          li #[a(href='https://yandex.ru/search/?text=%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F+%D0%B2%D0%BE%D0%BB%D0%BE%D1%81&lr=2' target='_blank') интеграция волос].
        p Далее мы&nbsp;на&nbsp;основе этих тем собрали все возможные варианты запросов, их&nbsp;получилось более 100.
        p Потом мы&nbsp;сгруппировали запросы и&nbsp;получили готовую структуру сайта. Оптимизировали существующий страницы под запросы, а&nbsp;также создали новые страницы.

        h3.text-align-center Результаты
        p За&nbsp;время нашей работы посещаемость сайта из&nbsp;поисковых систем увеличилась в&nbsp;несколько раз.
        +grid({ paddingy: true })
          +grid__item({ m:9 })
            +img({
              name: 'visitors',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График посещаемости сайта hairdesign.ru').image-shadow
        
        h4.text-align-center Позиции сайта по&nbsp;запросам
        p Запросы на&nbsp;первой странице результатов поиска:
        ul.list-marked
          li система волос;
          li замещение волос;
          li интеграция волос.

        h4.text-align-center Видимость сайта
        p Для отслеживания мы&nbsp;загрузили все целевые поисковые запросы в&nbsp;сервис мониторинга и&nbsp;получили отличные результаты. На&nbsp;данный момент видимость сайта, т.е.&nbsp;%&nbsp;пользователей, которые увидят сайт по&nbsp;поисковым запросам, составляет около&nbsp;#[strong 84%].
        +grid({ paddingy: true })
          +grid__item({ m:9 })
            +img({
              name: 'visibility',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График видимости сайта hairdesign.ru').image-shadow
      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        .page-section
          p Так как ниша очень узкая, нам необходимо собрать в&nbsp;идеале весь возможный трафик по&nbsp;целевым запросам. Для этого наша команда разработала и&nbsp;запустила рекламу в&nbsp;Яндекс.Директ.
          p Рекламные кампании в&nbsp;Яндекс.Директе были сегментированы по&nbsp;полу: разные объявления показывались мужчинам и&nbsp;женщинам для достижения наибольшей релевантности.
          p Кроме Санкт-Петербурга, реклама также показывается в&nbsp;Москве, Смоленске, Твери, Ярославле, Петрозаводске, Вологде, Великом Новгороде, Пскове, Нижнем Новгороде, Владимире, Череповце.
          p Мы&nbsp;детально проработали заголовки и&nbsp;тексты объявлений, добавили уточнения, быстрые ссылки.
          
          h3.text-align-center Примеры удачных объявлений
          p Объявления с лучшими показателями (CTR – кликабельность объявлений)
          +grid({ paddingy: true })
            +grid__item({ m:5, xs:6 })
              +img({
                name: 'ad-1',
                path: '/images/prodvizhenie-saytov/hairdesign/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Пример первого объявления с лучшими показателями (CTR)').image-shadow
            +grid__item({ m:5, xs:6  })
              +img({
                name: 'ad-2',
                path: '/images/prodvizhenie-saytov/hairdesign/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Пример второго объявления с лучшими показателями (CTR)').image-shadow
        
        .page-section
          h3.text-align-center Результаты
          p Период&nbsp;19.02.2022&nbsp;&mdash; 28.04.2023
          +table
            +tr.table__row
              +th Тип площадки
              +th Показы
              +th Клики
              +th CTR (%)
              +th Расход (руб.)
              +th Ср. цена клика (руб.)
              +th Макроконверсии
              +th CPA (стоимость целевого действия, руб.)
            +tr.table__row
              +td поиск
              +td 85 573
              +td 8&nbsp;213
              +td 10
              +td 245&nbsp;915
              +td 30
              +td 97
              +td 2&nbsp;535
            +tr.table__row
              +td сети
              +td 1&nbsp;921&nbsp;689
              +td 22&nbsp;457
              +td 1
              +td 134&nbsp;947
              +td 6
              +td 26
              +td 5&nbsp;190
            +tr.table__row
              +td.table__cell--green Итого
              +td.table__cell--green 2&nbsp;007&nbsp;262
              +td.table__cell--green 30&nbsp;670
              +td.table__cell--green 2%
              +td.table__cell--green 380&nbsp;862
              +td.table__cell--green 36
              +td.table__cell--green 123
              +td.table__cell--green 3&nbsp;096

          +textMarked({ tag:'p', 'size--s': true }) *за&nbsp;макроконверсии считаются: подтверждение формы записи, клик по&nbsp;номеру телефона, клик по&nbsp;email, отправка формы, заказ обратного звонка.

          h4.text-align-center Оптимизация кампаний
          p Мы&nbsp;постоянно работали над улучшением эффективности наших кампаний. Экспериментировали с&nbsp;текстами объявлений, отслеживали конверсии, убирали неэффективные запросы.
          p За&nbsp;период с&nbsp;февраля 2022 по&nbsp;апрель 2023 цену клика удалось снизить в&nbsp;#[strong 2&nbsp;раза]: c&nbsp;26&nbsp;до&nbsp;13&nbsp;руб.
          p 
            +img({
              name: 'direct',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График визитов сайта hairdesign.ru').image-shadow
          p При росте трафика в&nbsp;#[strong 5,7 раз] (март 2022/ апр 2023), бюджет на&nbsp;контекстную рекламу увеличился всего в&nbsp;#[strong 3,9&nbsp;раз].
          p Период&nbsp;21.06.2022&nbsp;&mdash; 21.07.2022
          +table
            +tr.table__row
              +th Кампания
              +th Показы
              +th Клики
              +th CTR (%)
              +th Расход (руб.)
              +th Ср. цена клика (руб.)
              +th Конверсии
              +th Цена целевого действия
            +tr.table__row
              +td hairdesign.ru / поиск / для женщин / спб ручное
              +td 1&nbsp;079
              +td 130
              +td 12
              +td 3&nbsp;692
              +td 28
              +td 2
              +td 1&nbsp;846
            +tr.table__row
              +td hairdesign.ru&nbsp;/ поиск&nbsp;/ для мужчин&nbsp;/ спб ручное
              +td 943
              +td 92
              +td 10
              +td 2&nbsp;539
              +td 28
              +td 1
              +td 2&nbsp;539
            +tr.table__row
              +td hairdesign.ru&nbsp;/ поиск&nbsp;/ для мужчин&nbsp;/ спб автостратегия
              +td 1&nbsp;085
              +td 120
              +td 11
              +td 4&nbsp;548
              +td 38
              +td 3
              +td 1&nbsp;516


      +caseSection('Специальные предложения',{type:'solutions'}).text-align-left
        p Предложили клиенту начать системную работу с&nbsp;акциями и&nbsp;специальными предложениями для клиентов. Сначала мы&nbsp;подготовили рекомендации по&nbsp;генерации идей для акций. Далее контролировали регулярный запуск акций.
        p Размещали информацию об&nbsp;акциях в&nbsp;виде баннеров на&nbsp;сайте, а&nbsp;также запускали ее&nbsp;в&nbsp;рассылки посредством мессенджеров.
        h3.text-align-center Примеры акций
        .case-hairdesign.slider
          ul.slides
            - for(let i = 0; i < 4; i++)
              li
                picture
                  source(srcset=`/images/prodvizhenie-saytov/hairdesign/action-${i+1}.webp` type="image/webp")
                  source(srcset=`/images/prodvizhenie-saytov/hairdesign/action-${i+1}.png`)
                  img(src=`/images/prodvizhenie-saytov/hairdesign/action-${i+1}.png` alt="Примеры акций на сайте hairdesign.ru")
        h3.text-align-center Результаты
        p На&nbsp;примере акции в&nbsp;конце года&nbsp;&mdash; продажи #[strong выросли в&nbsp;2,2 раза] по&nbsp;сравнению с&nbsp;аналогичным периодом до&nbsp;акции и&nbsp;#[strong на&nbsp;25%], если сравнивать с&nbsp;аналогичным периодом прошлого года.
        +table
          +tr.table__row
            +th Период
            +th Продажи систем, руб. (без учета скидки)
          +tr.table__row
            +td 07&nbsp;&mdash; 18.12.2022 (12&nbsp;дней до&nbsp;акции)
            +td 295&nbsp;850
          +tr.table__row
            +td 19&nbsp;&mdash; 30.12.2022 (акция)
            +td.table__cell--green 827&nbsp;700
          +tr.table__row
            +td 19&nbsp;&mdash; 30.12.2021 (прошлый год)
            +td 509&nbsp;850

      +caseSection('Внедрение сервиса Comagic',{type:'solutions'}).text-align-left
        p Мы&nbsp;активно используем различные сервисы лидогенерации, которые помогают увеличивать конверсию. Предложили клиенту установить сервис сквозной аналитики Comagic.
        p Благодаря Comagic добавились форма обратной связи на&nbsp;сайт, сервис мгновенного обратного звонка, а&nbsp;также онлайн чат&nbsp;&mdash; у&nbsp;пользователя появилось больше выбора и&nbsp;удобства в&nbsp;части коммуникации с&nbsp;центром.
        p Также коллтрекинг позволяет оценивать эффективность каналов и&nbsp;анализировать качество звонков.
        +grid({ paddingy: true })
          +grid__item
            +img({
              name: 'comagic-1',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График звонков через сервис Comagic').image-shadow
          +grid__item
            +img({
              name: 'comagic-2',
              path: '/images/prodvizhenie-saytov/hairdesign/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График заявок через сервис Comagic').image-shadow
          +grid__item
            p Через форму заявок Comagic сейчас дополнительно приходит от #[strong 1-6 заявок в месяц].
      
      +caseSection('Таргетированная реклама',{type:'solutions'}).text-align-left
        .page-section
          p Для большего охвата аудитории мы&nbsp;настроили таргетированную рекламу во&nbsp;#[strong Вконтакте] в&nbsp;разные периоды 2022&nbsp;г.
          p После анализа были выделены следующие аудитории для показа рекламы:
          ul.list-marked 
            li Таргет по&nbsp;запросам (система замещения волос, интеграция, выпадение волос, загуститель волос и&nbsp;подобное);
            li Таргет на&nbsp;своих подписчиков (вк + конвертированные из&nbsp;инстаграма);
            li Таргет на&nbsp;сообщества конкурентов (вк + конвертированные из&nbsp;инстаграма): #[br] Выбирали более мелкие, но&nbsp;живые аккаунты для получения более качественной аудитории.
            li Ретаргетинг на&nbsp;аудиторию, которая посетила сайт, за&nbsp;исключением клиентов из&nbsp;CRM;
            li Клиенты из&nbsp;CRM: #[br] Запускали отдельные рекламные кампании на&nbsp;каждую аудиторию в&nbsp;списке, в&nbsp;каждой кампании создавали отдельные объявления на&nbsp;мужчин и&nbsp;женщин.

          p Тип рекламы&nbsp;&mdash; использовали формат универсальной записи и&nbsp;записи с&nbsp;кнопкой, чтобы иметь возможность больше рассказать о&nbsp;продукте. В&nbsp;объявлениях использовалось как уникальное торговое предложение, так и&nbsp;информирование об&nbsp;акциях клиента.

          h3.text-align-center Примеры удачных объявлений
          p Больше всего отклика вызывали объявления формата &laquo;до/после&raquo;&nbsp;&mdash; до&nbsp;обновлений правил модерации использовали преимущественно&nbsp;их.
          +grid({ paddingy: true })
            +grid__item({ s:6 })
              +grid({ paddingy: true })
                +grid__item
                  +img({
                    name: 'ad-4',
                    path: '/images/prodvizhenie-saytov/hairdesign/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Пример объявления по таргетированной рекламе').image-shadow
                +grid__item
                  +img({
                    name: 'ad-5',
                    path: '/images/prodvizhenie-saytov/hairdesign/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Пример объявления по таргетированной рекламе').image-shadow
            +grid__item({ s:6 })
              +img({
                name: 'ad-3',
                path: '/images/prodvizhenie-saytov/hairdesign/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Пример объявления по таргетированной рекламе').image-shadow
          
        .page-section
          h3.text-align-center Результаты
          p По&nbsp;результатам кампании клиент получил #[strong 39&nbsp;вступлений в&nbsp;группу, 2&nbsp;звонка и&nbsp;1&nbsp;запись на&nbsp;консультацию].
          +table
            +tr.table__row
              +th Показы
              +th Клики
              +th CTR
              +th СРС
              +th Расход, руб.
              +th Конверсии
              +th Цена целевого действия
              +th.table__cell--green Запись на консультацию
              +th.table__cell--green Заказ звонка
              +th.table__cell--green Посещение стр. &laquo;Контакты&raquo;
              +th.table__cell--green Посещение страницы с&nbsp;ценами
              +th.table__cell--green Вступлений в&nbsp;группу
            +tr.table__row
              +td 58&nbsp;238
              +td 568
              +td 1%
              +td 26
              +td 15&nbsp;000
              +td 83
              +td 181
              +td 1
              +td 2
              +td 3
              +td 38
              +td 39
        
        .page-section 
          +table
            +tr.table__row
              +th Кампания
              +th Потрачено, руб.
              +th Показы
              +th Переходы
              +th CTR, %
              +th Стоимость клика, руб.
            +tr.table__row
              +td Ключевые слова
              +td 12&nbsp;838
              +td 51&nbsp;920
              +td 443
              +td 0,9
              +td 29
            +tr.table__row
              +td Ретаргетинг
              +td 988
              +td 3&nbsp;006
              +td 81
              +td 2,7
              +td 12
            +tr.table__row
              +td Конкуренты
              +td 481
              +td 1&nbsp;486
              +td 22
              +td 1,5
              +td 22
            +tr.table__row
              +td Клиенты
              +td 477
              +td 784
              +td 21
              +td 2,7
              +td 23
            +tr.table__row
              +td Базы Инста
              +td 86
              +td 439
              +td 1
              +td 0,2
              +td 86
            +tr.table__row
              +td Конкурс ЦДВ
              +td 130
              +td 603
              +td 0
              +td 0,0 
              +td 0
            +tr.table__row
              +td.table__cell--green #[strong Итого]
              +td.table__cell--green #[strong 15&nbsp;000]
              +td.table__cell--green #[strong 58&nbsp;238]
              +td.table__cell--green #[strong 568]
              +td.table__cell--green #[strong 1%]
              +td.table__cell--green #[strong 26]

        h3.text-align-center Выводы
        ul.list-marked 
          li Таргетированная реклама дала небольшой прирост подписчиков, позволила получить салону несколько макро конверсий, но&nbsp;в&nbsp;целом по&nbsp;эффективности уступила контекстной рекламе. 
          li Лучшую реакцию дали аудитории уже знакомые с&nbsp;товаром&nbsp;&mdash; клиенты и&nbsp;посетители сайта. Но&nbsp;наибольший охват дал таргетинг на&nbsp;ключевые слова.
          li В&nbsp;связи с&nbsp;тем, что продукт клиента является сложным, дорогим, специфичным, рассчитанным на&nbsp;узкую аудиторию, было принято решение использовать продвижение в&nbsp;социальной сети в&nbsp;рамках поддержки и&nbsp;повышения охвата во&nbsp;время специальных предложений клиента (акций), а&nbsp;также на&nbsp;аудиторию уже знакомую с&nbsp;системами волос (клиенты и&nbsp;посетители сайта).
      
      +caseSection('Рассылки').text-align-left
        p Рассылки позволяют поддерживать связь с&nbsp;клиентами, информировать их&nbsp;о&nbsp;новых акциях и&nbsp;специальных предложениях.
        p Сообщение с&nbsp;картинкой, описанием акции, ссылкой и&nbsp;призывом к&nbsp;действию рассылается примерно раз в&nbsp;месяц по&nbsp;базе клиента через Бьюти Бота. Это специализированный сервис рассылок и&nbsp;уведомлений по&nbsp;WhatsApp, который интегрирован с&nbsp;CRM клиента&nbsp;&mdash; yclients. Данная частота позволяет компании напомнить о&nbsp;себе лояльной аудитории и&nbsp;при этом не&nbsp;вызвать раздражение и&nbsp;&laquo;выгорание&raquo; базы.
        p В&nbsp;качестве инфоповода используем праздники или известные распродажи, привлекая скидкой как на&nbsp;товары, так и&nbsp;на&nbsp;услуги. По&nbsp;каждой рассылке фиксируем в&nbsp;таблице количество записавшихся и&nbsp;доход от&nbsp;продаж.
        +table
          +tr.table__row
            +th Текст
            +th Доставлено (количество людей)
            +th Ответили
            +th Записалось
            +th Доход
          +tr.table__row
            +td 
              p Внимание,&nbsp;вы&nbsp;получили&nbsp;секретное&nbsp;сообщение&nbsp;🤫 #[br] Бесплатная стрижка и&nbsp;фиксация системы волос &laquo;Интеграция&raquo; при покупке нового изделия! #[br] Сроки&nbsp;акции&nbsp;ограничены&nbsp;😮
            +td 128
            +td 6
            +td 3
            +td 7&nbsp;500
          +tr.table__row
            +td 
              p В&nbsp;преддверии нового года...дарим скидку&nbsp;23% на&nbsp;все системы волос! #[br] Запишись на&nbsp;консультацию&nbsp;+7 (812) 245-37-38 или закажи на&nbsp;сайте #[a(href='https://clck.ru/335kLC') https://clck.ru/335kLC]
            +td 555
            +td 19
            +td 11
            +td 81&nbsp;725


      +caseOffer
