//- mixin createBlock(block)
//-   if typeof block === 'string' || typeof block === 'number' || block === true
//-     | !{block}
//-   #{block.tag}(class= block.className)
//-     if block.children
//-       +createBlock(block.children)

mixin resultSliderItem(item)
  - let itemClassName = ''
    if item.className
      - itemClassName = item.className
  .result-slider-item(class= 'result-slider-item--'+itemClassName)
    .result-slider-item__header
      h3 !{item.header}
    .result-slider-item__body
      +createElement(item.body)
      if item.feedback
        .result-slider-item__feedback
          +feedbackItem(item.feedback)
