extends /blocks/layout/layout

include /blocks/figure/figure
include /blocks/case/case

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Рост подписчиков в группе в FB социальной сети для медицинского холдинга в 40 раз`,
          text: 'Медицинский холдинг праймед объединял ранее многопрофильную клинику Медицинский Центр Города и сеть стоматологических клиник Стоматологический Центр Города.',
          url: 'stomcenter.ru',
          img: imgPath+'detail/primed-detail.webp',
          logo: imgPath+'logo/logo-primed.webp',
          logoWidth: '91',
          logoHeight: '36',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Удержание старых клиентов, информационная поддержка и, как следствие, повторные продажи. А также привлечение новых клиентов.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Официальное представительство медицинского холдинга PRIMED в социальных сетях FB и ВКонтакте с созданием и поддержанием локальных страниц для клиник, входящих в сеть холдинга.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Рост подписчиков в группах в FB в #[strong 40 раз];
          li Увеличение числа уникальных посетителей Вконтакте в #[strong 3,2 раза];
          li Увеличение количества отметок "Нравится" страниц групп FB в #[strong 2,4 раза].
        -
          let results1 = [
            {title: '×40', desc: 'рост подписчиков <br> в группах в FB'},
            {title: '×3,2', desc: 'увеличение уникальных <br> посетителей Вконтакте'},
            {title: '×2,4', desc: 'увеличение отметок <br> "Нравится" в группах FB'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p С&nbsp;целью повышения лояльности к&nbsp;бренду медицинского холдинга и&nbsp;увеличения интереса к&nbsp;нему мы&nbsp;предложили клиенту продумать #[strong стратегию маркетинга в&nbsp;социальных сетях], а&nbsp;также проработать коммуникационную стратегию.

      +caseSection('Выполненные работы',{type:'solutions'}).text-align-left
        h3.text-align-center Направления
        ul.list-marked 
          li Организация присутствия бренда PRIMED на&nbsp;основных площадках социальных медиа в&nbsp;русскоязычном сегменте сети.
          li Организация прямой коммуникации &laquo;бренд-пользователь&raquo;, реагирование на&nbsp;отзывы и&nbsp;жалобы пользователей.
          li Информирование пользователей о&nbsp;мероприятиях и&nbsp;промо-акциях PRIMED и&nbsp;вовлечение в&nbsp;них, дополнительное распространение информации о&nbsp;деятельности и&nbsp;услугах холдинга.

        p Была разработана #[strong стратегия], которая включала в&nbsp;себя 3&nbsp;основных этапа для достижения целей:
        +grid
          +grid__item({ xs:12 })
            h4.text-align-center Этап первый 
            ul.list-marked 
              li Формирование сообществ;
              li Оформление сообществ в&nbsp;фирменном стиле бренда;
              li Создание меню для навигации и&nbsp;создание разделов;
              li Поддержание существующей группы (администрирование, чистка от&nbsp;ботов, обновление информации);
              li Создание каталога с&nbsp;описанием услуг;
              li Публикация новостей компании и&nbsp;информации о&nbsp;промо-акциях;
              li Развлекательный контент;
              li Таргетированная реклама.
          +grid__item({ m:6, xs:12 })
            h4.text-align-center Этап второй 
            ul.list-marked 
              li Работа с&nbsp;сообществом;
              li Публикация новостей компании и&nbsp;информация о&nbsp;промо-акциях;
              li Администрирование и&nbsp;модерирование группы;
              li Генерация обсуждений;
              li Технические консультации;
              li Развлекательный контент;
              li Тематические сообщества.
          +grid__item({ m:6, xs:12 })
            h4.text-align-center Этап третий 
            ul.list-marked 
              li Создание локальных страниц;
              li Администрирование и&nbsp;модерирование групп;
              li Создание и&nbsp;ведение локальных страниц;
              li Публикация новостей компании и&nbsp;информация о&nbsp;промо-акциях;
              li Работа с&nbsp;тематическими сообществами;
              li Генерация обсуждений;
              li Технические консультации;
              li Развлекательный контент;
              li Конкурсы.

        h3.text-align-center Детализация постоянных работ: 
        +pageSubsection
          ul.list-marked 
            li Наполнение групп в&nbsp;рамках 3-х публикаций в&nbsp;день;
            li Администрирование и&nbsp;модерирование группы, очистка от&nbsp;спама и&nbsp;заблокированных пользователей;
            li Рассылка приглашений в&nbsp;ручную в&nbsp;рамках 200 (по&nbsp;критерию: Россия).
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:3, xs:12 })
            p: +img({
                name: 'primed-2',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Детализация постоянных работ').image-shadow
          +grid__item({ m:3, xs:12 })
            p: +img({
                name: 'primed-3',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Детализация постоянных работ').image-shadow
          +grid__item({ m:6, xs:12 })
            p: +img({
                name: 'primed-1',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Детализация постоянных работ').image-shadow
              
      +caseSection('Показатели сообществ').text-align-left
        h3.text-align-center Участники
        +pageSubsection
          p Общее количество участников в&nbsp;3х&nbsp;группах Вконтакте увеличилось на&nbsp;#[strong 589 пользователей].
          +table
            +tr.table__row
              +th(rowspan="2") Название группы
              +th(rowspan="2") Ссылка на группу
              +th(colspan="4") Количество участников в группе			
              +th(rowspan="2") Прирост 13/14
            +tr.table__row
              +th июл.13
              +th сен.13
              +th ноя.13
              +th янв.14
            +tr.table__row
              +td «Медицинский холдинг Праймед»
              +td http://vk.com/primedru
              +td 9
              +td 24
              +td 179
              +td 255
              +td 2733%
            +tr.table__row
              +td «Стоматологический центр города»
              +td http://vk.com/clubl6870685
              +td 2 665
              +td 2 860
              +td 2 828
              +td 2 894
              +td 9%
            +tr.table__row
              +td «Медицинский Центр Города»
              +td http://vk.com/club22880677
              +td 9 302
              +td 9 296
              +td 9 388
              +td 9 416
              +td 1%
            +tr.table__row
              +td(colspan="2").table__cell--green #[strong Всего]
              +td.table__cell--green #[strong 11 976]
              +td.table__cell--green #[strong 12 180]
              +td.table__cell--green #[strong 12 395]
              +td.table__cell--green #[strong 12 565]
              +td.table__cell--green #[strong 5%]
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
                name: 'primed-4',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Общее количество участников').image-shadow

        +pageSubsection
          p Общее количество участников в&nbsp;3х&nbsp;группах Facebook увеличилось на&nbsp;#[strong 2&nbsp;392 пользователя] (в&nbsp;40&nbsp;раз).
          +table
            +tr.table__row
              +th(rowspan="2") Название группы
              +th(colspan="5") Количество участников в группе
              +th(rowspan="2") Прирост 13/14
            +tr.table__row
              +th июл.13
              +th сен.13
              +th ноя.13
              +th янв.14
              +th июл.14
            +tr.table__row
              +td «Медицинский холдинг Праймед»
              +td 35
              +td 57
              +td 398
              +td 732
              +td 864
              +td 1 416%
            +tr.table__row
              +td «Стоматологический центр города»
              +td 10
              +td 32
              +td 269
              +td 589
              +td 743
              +td 2 222%
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 17
              +td 37
              +td 359
              +td 723
              +td 847
              +td 2 189%
            +tr.table__row
              +td.table__cell--green #[strong Всего]
              +td.table__cell--green #[strong 62]
              +td.table__cell--green #[strong 126]
              +td.table__cell--green #[strong 1 026]
              +td.table__cell--green #[strong 2 044]
              +td.table__cell--green #[strong 2 454]
              +td.table__cell--green #[strong 1 848%]
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
                name: 'primed-5',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Общее количество участников').image-shadow

        +pageSubsection
          p Динамика по&nbsp;уникальным посетителям во&nbsp;Вконтакте положительная, число выросло в&nbsp;#[strong 3,2&nbsp;раза]. 
          +table
            +tr.table__row
              +th Название группы
              +th июл.13
              +th сен.13
              +th ноя.13
            +tr.table__row
              +td «Медицинский холдинг Праймед» 
              +td 17
              +td 60
              +td 184
            +tr.table__row
              +td «Стоматологический центр города» 
              +td 66
              +td 147
              +td 276
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 174
              +td 159
              +td 364
            +tr.table__row
              +td.table__cell--green #[strong Всего]
              +td.table__cell--green #[strong 257]
              +td.table__cell--green #[strong 366]
              +td.table__cell--green #[strong 824]
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
                name: 'primed-6',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Динамика по уникальным посетителям').image-shadow

        h3.text-align-center Лайки
        +pageSubsection
          p Общее количество отметок &laquo;Нравится&raquo; страниц групп Facebook выросло в&nbsp;#[strong 2,4&nbsp;раза].
          +table
            +tr.table__row
              +th Группа
              +th ноя.13
              +th янв.14
              +th июл.14
            +tr.table__row
              +td «Медицинский холдинг Праймед» 
              +td 399
              +td 732
              +td 864
            +tr.table__row
              +td «Стоматологический центр города» 
              +td 270
              +td 589
              +td 743
            +tr.table__row
              +td «Медицинский Центр Города»
              +td 360
              +td 687
              +td 847
            +tr.table__row
              +td.table__cell--green #[strong Всего]
              +td.table__cell--green #[strong 1 029]
              +td.table__cell--green #[strong 2 008]
              +td.table__cell--green #[strong 2 454]
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9, xs:12 })
            p: +img({
                name: 'primed-7',
                path: '/images/smm/medicinskiy-holding-praimed/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Лайки').image-shadow

        h3.text-align-center Охват
        p Охват публикаций и&nbsp;число вовлеченных пользователей в&nbsp;Facebook выросли в&nbsp;#[strong 2,2 и&nbsp;2,4 раза] соответственно.
        +table
          +tr.table__row
            +th(rowspan="2") Группа
            +th(colspan="2") Охват публикации
            +th(colspan="2") Вовлеченные пользователи
          +tr.table__row
            +th ноя.13	
            +th янв.14	
            +th ноя.13	
            +th янв.14
          +tr.table__row
            +td «Медицинский холдинг Праймед» 
            +td 64
            +td 67
            +td 51 
            +td 50
          +tr.table__row
            +td «Стоматологический центр города» 
            +td 48
            +td 67
            +td 33
            +td 51
          +tr.table__row
            +td «Медицинский Центр Города»
            +td 80
            +td 282
            +td 52
            +td 249
          +tr.table__row
            +td.table__cell--green #[strong Всего]
            +td.table__cell--green #[strong 192]
            +td.table__cell--green #[strong 416]
            +td.table__cell--green #[strong 136]
            +td.table__cell--green #[strong 350]

      +caseOffer
