.table-prices
  max-width 100%
  overflow auto
  &--equal-cols
    td
    & ^[-1]__header
      width 25%
  &__table
    max-width calc(100% - 1px)
  &__row
    &:nth-of-type(2n-1)
      background-color #f4f4f4
  &__header
    --bg-color #e6e9ee
    padding basePadding
    background-color var(--bg-color)
    &--basic
      --bg-color #AAB3BD
      color #ffffff
    &--standard
      --bg-color #816085
      color #ffffff
    &--top
      --bg-color #8C3053
      color #ffffff
    &:first-child
      border-radius (basePadding/3*2) 0 0 0
    &:last-child
      border-radius 0 (basePadding/3*2) 0 0
  &__item
    border 1px solid #ced2d5
    padding basePadding
    &--center
      text-align center
    &--big
      font-size font-xxxl
    &[colspan]
      text-align center
