mixin tablePrices(table)
  - let tableClassList = ''
  if table.eqCols == true
    - tableClassList += 'table-prices--equal-cols'
  .table-prices(class= tableClassList)
    table.table-prices__table
      each row in table.rows
        tr.table-prices__row
          each item in row
            if typeof(item) === 'string' || typeof(item) === 'number' || elem === true
              td.table-prices__item !{item}
            else if item.header === true
              - let headerClassList = ''
              if item.type
                - headerClassList += 'table-prices__header--'+item.type
              th.table-prices__header(class= headerClassList) !{item.content}
            else
              - let itemClassList = ''
              - let itemAttr = {}
              if item.center
                - itemClassList += 'table-prices__item--center '
              if item.big
                - itemClassList += 'table-prices__item--big'
              - itemAttr.colspan = item.colspan || undefined
              td.table-prices__item(class= itemClassList)&attributes(itemAttr) !{item.content}
