.portfolio-detail-like
  position relative
  display flex
  flex-direction column
  align-items center
  padding 3rem
  background linear-gradient(90.6deg, #734D76 0%, #663E69 100%), #734D76
  border-radius 1.5rem
  overflow hidden
  &::before
  &::after
    position absolute
    content ''
    mask-repeat no-repeat
    background-color #ffffff
  &::before
    top 3rem
    left -4rem
    width 17.5rem
    height 14.6rem
    mask-image url(../images/svg-sprites/common.svg#portfolio-arrow)
    mask-repeat no-repeat
    mask-size cover
    @media(max-width point-s)
      left -9rem
  &::after
    top -3rem
    right 0
    width 18.4rem
    height 19.5rem
    mask-image url(../images/svg-sprites/common.svg#portfolio-logo)
    @media(max-width point-s)
      right -5rem
  &__request
    font-size 1.6rem
    line-height 1.25
    font-weight 600
    color #ffffff
    text-align center
  &__btn
    padding 1.25rem 2.5rem
    