.portfolio-detail-like
  p.portfolio-detail-like__request Понравился проект? #[br] Оставьте заявку и мы с вами свяжемся
  a(href='#offer_form').btn.btn--tertiary.portfolio-detail-like__btn Оставить заявку
