.note
  padding basePadding
  border-radius (basePadding/3*2)
  background-color #f3f1f3
  @extends p
  &--big
    padding (basePadding/3*4) (basePadding*2)
    font-size font-xl
    line-height line-xl
