mixin portfolioCaseItem(list)
  each item in list
    - let classList = 'portfolio-case-item'
    - for(let i=0; i<item.mod.length; i++)
      - classList += ` portfolio-case-item--${item.mod[i]}`
    a(class= classList href=`${item.href}`)&attributes(attributes)
      p.portfolio-case-item__title !{item.title}
      p.portfolio-case-item__name !{item.name}
      p(data-category= item.category).portfolio-case-item__category= item.category
      span.btn.btn--small-padding.portfolio-case-item__button Подробнее
