.portfolio-case-item
  position relative
  display flex
  flex-direction column
  align-items flex-start
  min-height 15.5rem
  padding 1.5rem
  color #ffffff
  text-decoration none
  background var(--bg-color)
  border-radius 15px
  &::after
    content ''
    position absolute
    right 0.5rem
    bottom 0
    width 8rem
    height 8rem
    background-image var(--bg-image)
    background-repeat no-repeat
    transition all 0.3s ease-in-out
  &--audit
    &::after
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-audit)
  &--context
    &::after
      width 10rem
      height 8rem
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-context)
  &--targeting
    &::after
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-arrow)
  &--smm
    &::after
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-smm)
  &--reputation
    &::after
      bottom 0.5rem
      width 11.5rem
      height 9.5rem
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-reputation)
  &--consultation
    &::after
      width 10rem
      height 8rem
      --bg-image url(../images/svg-sprites/common.svg#portfolio-case-consultation)
  &:hover
    color #ffffff
    & ^[-1]__button
      background-color #333333
    &::after
      transform scale(1.1)
  &--stomadeus
    --bg-color linear-gradient(180deg, #FF831B 0%, rgba(255, 131, 27, 0.5) 100%)
  &--medall
    --bg-color linear-gradient(180deg, #5A8988 0%, rgba(90, 137, 136, 0.5) 102.26%)
  &--whitedent
    --bg-color linear-gradient(180deg, rgba(221, 79, 68, 0.7) 0%, rgba(221, 79, 68, 0.35) 100%)
  &--stomatology-center
    --bg-color linear-gradient(180deg, rgba(94, 106, 125, 0.85) 0%, rgba(94, 106, 125, 0.425) 188.06%)
  &--shankara
    --bg-color linear-gradient(180deg, #C17D1F 0%, rgba(193, 125, 31, 0.5) 100%)
  &--svetofor
    --bg-color linear-gradient(180deg, rgba(0,176,103,0.9) -1.61%, rgba(6,156,94,0.44) 100%)
  &--vugi
    --bg-color linear-gradient(180deg, rgba(5,59,112,0.9) -1.61%, rgba(120,141,162,0.441) 100%)
  &__title
    margin-bottom 1rem
    font-size 1.15rem
    font-weight 600
    @media(max-width point-l - 1)
      font-size 1.25rem
  &__name
    margin-bottom 0.5rem
    font-size 0.8rem
    line-height 1.375
    font-weight 700
    @media(max-width point-l - 1)
      font-size 0.9rem
  &__category
    margin-bottom 0.5rem
    font-size 0.7rem
    line-height 1.7
    font-weight 600
    opacity 0.7
    @media(max-width point-l - 1)
      font-size 0.8rem
  &__button
    margin-top auto
    font-size 0.8rem
    line-height 1.3
    color #ffffff
    background-color rgba(#ffffff, 0.3)
