.header-contacts
  .header-contacts__city !{headerInfo.city[lang]}
  .header-contacts__phone
    | +7 (812) 
    strong 385-74-64
  a(href='#request').btn.btn--primary.text-align-center.header-contacts__link Оставить заявку
