.works-list-item
  padding-right (basePadding*2)
  &__title
  &__description
    display block
    margin-bottom (basePadding/3*2)
    line-height 1.4rem
  &__result
    font-weight bold
    display block
  &--small
    text-align center
    display flex
    flex-direction column
    padding-right 0
    padding-y basePadding
    .grid__cell
      padding-y 0
    & ^[-1]__title
    & ^[-1]__description
      margin-bottom 0
      font-size font-xs
      line-height line-xs
    & ^[-1]__image
      margin-bottom basePadding
      display block
