mixin caseResultsList(list, settings = {})
  div(class = classes('case-results-list', settings))&attributes(attributes)
    each item in list
      .case-results-list__item
        .case-results-list__item-title !{item.title}
        .case-results-list__item-description !{item.desc}
