extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Клиника эстетической стоматологии «ВайтДент»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case

  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/whitedent.png',
      //-     title: 'Клиника эстетической стоматологии «ВайтДент»',
      //-     link: {
      //-       text: 'http://whitedent.spb.ru',
      //-       href: 'http://whitedent.spb.ru'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Стоматологическая клиника «ВайтДент» является перспективным лечебным учреждением, которое занимает достойное место среди ведущих клиник данного направления в Санкт-Петербурге.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Проведены мероприятия по управлению репутацией;
      //-     li Проводятся эффективные рекламные кампании в системах Яндекс.Директ, Google.Adwords;
      //-     li На постоянной основе обновляются группы в социальных сетях.
      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 4 раза
      //-       |  с 300 до 1400 посетителей в месяц.
      //-     li Увеличение количества звонков клиентов из интернета в 
      //-      strong 1,5 раза
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google
      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['вставить импланты',{content:'1',type:'marked'}],
      //-       ['установка имплантов',{content:'2',type:'marked'}],
      //-       ['3d снимок зубов',{content:'2',type:'marked'}],
      //-       ['томография зубов',{content:'4',type:'marked'}],
      //-     ]
      //-   +resultsTable(table1)
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличение количества первичных записей пациентов из&nbsp;Интернет <strong>до&nbsp;140&nbsp;в месяц</strong> для стоматологической клиники',
          text: 'Стоматологическая клиника «ВайтДент» является перспективным лечебным учреждением, которое занимает достойное место среди ведущих клиник данного направления в Санкт-Петербурге.',
          url: 'whitedent.spb.ru',
          img: imgPath+'detail/whitedent-detail.webp',
          logo: imgPath+'logo/logo-whitedent.webp',
          logoWidth: '90',
          logoHeight: '82',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      
      +caseSection('Первый период работ 2014-2016&nbsp;гг',{type:'task' }).text-align-left
        p В&nbsp;июле 2014 года к&nbsp;нам обратился заказчик с&nbsp;просьбой заняться продвижением сайта клиники в&nbsp;поисковых системах Яндекс и&nbsp;Google.
        h3.text-align-center Цели
        ul.list-marked
          li Увеличение количества пациентов, приходящих из интернет по каналу SEO;
          li Привлечение пациентов на услуги компьютерной томографии зубов;
          li Увеличение дохода клиники.

      +caseSubsection('Решение',{type:'task' })
        ul.list-marked
          li Выполнили поисковую оптимизацию сайта;
          li Проведены мероприятия по управлению репутацией;
          li Запустили эффективные рекламные кампании в системе Яндекс.Директ.
      
      +caseSubsection('Результаты',{type:'task' })
        ul.list-marked
          li Увеличение количества звонков пациентов из интернета в #[strong 1,5 раза];
          li Увеличение целевой посещаемости сайта в #[strong 4 раза].
        -
          let results1 = [
            {title: '×1,5', desc: 'увеличение <br> количества звонков'},
            {title: '×4', desc: 'увеличение <br> целевой посещаемости'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSubsection('Поисковая оптимизация',{type:'solutions' })
        +pageSubsection
          h4.text-align-center Процесс
          p Работу мы начали с выполнения бесплатного экспресс-аудита сайта. В ходе аудита мы обнаружили множество ошибок и проблем.

        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: +img({
              name: 'optimization',
              path: '/images/prodvizhenie-saytov/whitedent/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Анализ оптимизации').image-shadow

        +pageSubsection
          h5.text-align-center 1-й этап: Аудит сайта
          p Далее мы&nbsp;провели углубленный аудит сайта. Мы&nbsp;подготовили отчет подробный отчет #[strong на&nbsp;12&nbsp;страницах] по&nbsp;состоянию внутренней и&nbsp;внешней оптимизации, выводы и&nbsp;рекомендации, а&nbsp;также список работ, направленных на&nbsp;коррекцию ошибок в&nbsp;поисковой оптимизации.
          p: iframe(src="https://drive.google.com/file/d/12q5KzIbIgwmPvWXpW7iX-LCLiRbU0PaC/preview" width="100%" height="500" allow="autoplay")
        
        +pageSubsection
          p Также мы&nbsp;составили подробный календарный план работ по&nbsp;оптимизации сайта и&nbsp;согласовали его с&nbsp;заказчиком.
          p: iframe(src="https://drive.google.com/file/d/1qnLEuUpwkWCrZY9YKszIFj5Aq3drb4Lm/preview" width="100%" height="500" allow="autoplay")
        
        +pageSubsection
          h5.text-align-center 2-й этап: Оптимизация сайта
          p В&nbsp;рамках данного этапа мы&nbsp;выполнили оптимизацию структуры и&nbsp;контентного наполнения сайта.
          p После выполнения работ подготовили подробный отчет о&nbsp;них.
          p: iframe(src="https://drive.google.com/file/d/1-HiXa2VMa3mshGgCzHYrbC9sabBAk1Uc/preview" width="100%" height="500" allow="autoplay")
        
        +pageSubsection
          h5.text-align-center 3-й этап: Продвижение сайта
          p На&nbsp;этом этапе мы&nbsp;внимательно опросили клиента. Выяснили у&nbsp;него наиболее приоритетные направления услуг, которые&nbsp;бы он&nbsp;хотел продвигать. Тщательно подобрали список запросов для продвижения и&nbsp;согласовали с&nbsp;клиентом.
          p Особое внимание мы&nbsp;уделили продвижению по&nbsp;запросам, связанным с&nbsp;#[strong компьютерной томографией зубов, протезированию зубов и&nbsp;имплантации].
          p: iframe(src="https://drive.google.com/file/d/1eBPkMfKTAHXIO0aXuFxYPaIZ5o-EqT7Z/preview" width="100%" height="500" allow="autoplay")

        +pageSubsection
          p Далее мы&nbsp;приступили к&nbsp;подготовке и&nbsp;оптимизации страниц под собранные запросы. Было создано около 30&nbsp;страниц. В&nbsp;конце мы&nbsp;приступили к&nbsp;работам по&nbsp;наращиванию внешней ссылочной массы.
          
          h4.text-align-center Результаты
          p Увеличение целевой посещаемости сайта в&nbsp;#[strong 4&nbsp;раза] с&nbsp;300 до&nbsp;1400 посетителей в&nbsp;месяц.
          p График роста посещаемости из&nbsp;поисковых систем:
          +table
            +tr.table__row
              +th Июль 2014
              +th Август 2014
              +th Сентябрь 2014
              +th Октябрь 2014
            +tr.table__row
              +td 303
              +td 607
              +td 1169
              +td 1406

        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9 })
            p: +img({
              name: 'results',
              path: '/images/prodvizhenie-saytov/whitedent/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График роста посещаемости из поисковых систем').image-shadow
        
        +pageSubsection
          p Сайт на&nbsp;#[strong первой странице] результатов поиска по&nbsp;наиболее популярным ключевым словам в&nbsp;ведущих поисковых системах Яндекс и&nbsp;Google.
          ul.list-marked
            li компьютерная томография полости рта
            li дентальная компьютерная томография
            li 3d&nbsp;томография челюсти
            li конусная томография зубов
            li протезирование томография
            li томография для имплантации зубов
            li клкт в&nbsp;стоматологии
            li кт&nbsp;полости рта
            li кт&nbsp;ротовой полости
      
      +caseSubsection('Контекстная реклама',{type:'solutions' })
        +pageSubsection
          p Мы&nbsp;предложили запустить локальные (&laquo;гео&raquo;) кампании контекстной рекламы для каждой стоматологии сети. В&nbsp;такую кампанию входят запросы общего направления (стоматология, стоматологическая клиника и&nbsp;т.д.) + обязательная &laquo;гео&raquo; привязка к&nbsp;клинике (название района, метро, близлежащих крупных улиц). 
          p Таким образом, данная реклама показывалась только тем пользователям, которые ищут стоматологическую клинику около своего дома или в&nbsp;другом удобном им&nbsp;месте.
          h4.text-align-center Результаты
          +table
            +tr.table__row
              +th Показов
              +th Кликов
              +th CTR
              +th Бюджет
              +th Цена клика
              +th Конверсия
              +th Цена цели (руб.)
            +tr.table__row
              +td 756
              +td 88
              +td 11.64%
              +td 2324
              +td 26.4
              +td 4
              +td 581

        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9 })
            p: +img({
              name: 'ad-1',
              path: '/images/prodvizhenie-saytov/whitedent/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Пример объявления').image-shadow

      +caseSection('Второй период работ 2019-2022 гг',{type:'task' }).text-align-left
        p Второй раз клиент обратился к&nbsp;нам в&nbsp;2019 году с&nbsp;просьбой модернизировать сайт и&nbsp;дополнительно привлечь пациентов.
        h3.text-align-center Цели
        ul.list-marked
          li Увеличить количество пациентов, приходящих из&nbsp;интернет по&nbsp;каналу SEO;
          li Улучшить конверсию сайта и&nbsp;показатели возврата инвестиций в&nbsp;рекламу.

      +caseSubsection('Решение',{type:'task' })
        ul.list-marked
          li Перепроектировали сайт: обновили интерфейс и дизайн с учетом удобства пользователей;
          li Провели ряд работ по поисковому продвижению

      +caseSubsection('Результаты',{type:'task' })
        ul.list-marked
          li Увеличение количества звонков от пациентов на 34%;
          li Рост посещаемости из поисковых систем в 4 раза.
        -
          let results2 = [
            {title: '34%', desc: 'увеличение <br> количества звонков'},
            {title: '×4', desc: 'рост <br> посещаемости'},
          ]
        +caseResultsList(results2).text-align-center

      +caseSubsection('Статистика')
        p #[strong Звонки, записи в&nbsp;месяц (по&nbsp;данным на&nbsp;март):]
        ul.list-marked
          li Количество звонков от&nbsp;пациентов: около 500;
          li Первичных записалось: 144;
          li Приемов: 480;
          li Пациентов: 324 .
        p Кроме интернет данная клиника не&nbsp;занимаются никакой рекламой. Посетители на&nbsp;сайт приходят #[strong только через поиск] за&nbsp;счет продвижения.

        p #[strong Лиды с&nbsp;сайта в&nbsp;месяц:]
        ul.list-marked
          li 25&nbsp;записей на&nbsp;прием;
          li 7&nbsp;заявок на&nbsp;обратный звонок;
          li 9&nbsp;вопросов в&nbsp;онлайн консультацию.
        
        +pageSubsection
          h4.text-align-center Процесс
          p Мы&nbsp;выполнили предварительный анализ сайта по&nbsp;следующим направлениям:
          ul.list-marked
            li Анализ сайтов конкурентов по&nbsp;ряду параметров;
            li Оценка состояния сайта;
            li Анализ типичных технических ошибок;
            li Анализ содержания сайта и&nbsp;качества оптимизации.
          p Предложили серьезно переделать дизайн, структуру и&nbsp;интерфейс меню, шаблоны страниц сайта, добавить новые разделы.

          h5.text-align-center Сбор ключевых слов
          p Проработали 9&nbsp;основных направлений деятельности клиники. Проанализировали прайс и&nbsp;услуги клиники, услуги множества конкурентов.

          h5.text-align-center Проектирование новой структуры
          p На&nbsp;основе собранных сгруппированных ключевых слов, а&nbsp;также анализа конкурентов мы&nbsp;разработали новую структуру сайта.

          h5.text-align-center Переделка дизайна сайта
          p Мы&nbsp;подготовили новый макет сайта:
          ul.list-marked
            li сделали его более современным и&nbsp;привлекательным;
            li создали единый стиль;
            li улучшили удобство сайта (чтение информации, навигацию);
            li сделали акцент на&nbsp;важной информации.

        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6 })
            p: strong До
            p: a(href='/images/prodvizhenie-saytov/whitedent/before.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'before',
                path: '/images/prodvizhenie-saytov/whitedent/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Сайт до переделки дизайна' width='1000' height='700').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong После
            p: a(href='/images/prodvizhenie-saytov/whitedent/after.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'after',
                path: '/images/prodvizhenie-saytov/whitedent/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Посадочная страница medcentergoroda.ru' width='1000' height='700').image-shadow.object-fit-cover
        
        +pageSubsection
          h5.text-align-center Подготовка контента
          p В плотном взаимодействии с клиентом написали качественные тексты на основе четких заданий от seo-специалиста и требований к продающим качествам текстов, информативности, оформлению, оптимизации.

          h4.text-align-center Получение естественных ссылок
          p После подготовки контента мы&nbsp;приступили к&nbsp;работам по&nbsp;получению ссылок, которые важны для продвижения страниц в&nbsp;поисковых системах.
          ol.list-numbered
            li 
              span #[strong Ссылки со&nbsp;справочников]
              p Провели анализ, с&nbsp;каких сайтов проставлены ссылки на&nbsp;конкурентов. Собрали эти сайты, проанализировали и&nbsp;вручную зарегистрировались на&nbsp;них&nbsp;&mdash; около 60&nbsp;ресурсов. В&nbsp;результате бесплатно получили ссылки с&nbsp;около 30&nbsp;сайтов.
            li 
              span #[strong Ссылки в&nbsp;статьях]
              p Также мы&nbsp;написали и&nbsp;опубликовали на&nbsp;популярных и&nbsp;качественных тематических сайтах ряд пресс-релизов и&nbsp;статей со&nbsp;ссылками на&nbsp;сайт клиента. Это дало существенный прирост позиций в&nbsp;поисковых системах.

          h4.text-align-center Результаты
          p Рост посещаемости из поисковых систем в #[strong 4 раза].
        
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:9 })
            p: +img({
              name: 'visitors',
              path: '/images/prodvizhenie-saytov/whitedent/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'График посещаемости').image-shadow

        +pageSubsection
          p Сайт на&nbsp;#[strong первой странице] результатов поиска по&nbsp;наиболее популярным ключевым словам в&nbsp;ведущих поисковых системах Яндекс и&nbsp;Google.
          ul.list-marked
            li коронка на&nbsp;зуб
            li зубные протезы
            li съемные зубные протезы
            li имплант зуба цена
            li протез бабочка
            li мостовидный протез
            li вставная челюсть
            li зубной мост
            li иммедиат протез
            li несъемные протезы
            li сколько стоит имплант зуба

      +caseOffer
