mixin listSteps(list, settings = {})
  +grid({ tag: 'ol', paddingy:true }).list-steps&attributes(attributes)
    each item in list 
      +grid__item(settings).list-steps__item
        .block-marked 
          p.list-steps__title !{item.title}
          +createElement(item.text)
