.list-steps
  list-style none
  counter-reset list-steps
  &__item
    position relative
    &:before
      --before-size 2rem
      counter-increment list-steps
      content counter(list-steps)
      position absolute
      bottom 1.5rem
      left 2rem
      display flex
      align-items center
      justify-content center
      width var(--before-size)
      height var(--before-size)
      font-weight 700
      color #ffffff
      background-color #8c3052
      border-radius 50%
    & > .block-marked
      height 100%
      padding-bottom 3rem
  &__title
    margin-bottom 0.5rem
    font-size font-l
    font-weight 700
  &__text
    margin-bottom 0.5rem
    font-size font-s
    line-height line-s
