-
  let portfolioKeysiPoKontekstnoyReklameList = [
    {
      link: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-vayt-dent',
      image: '/images/portfolio/keysi-po-kontekstnoy-reklame/vayt-dent.png',
      title: 'Вайтдент',
      desc: 'Стоматологическая клиника',
      result: 'Рост количества пациентов на компьютерную томографию зубов в 2 раза',
    },
    {
      link: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-stomatologicheskiy-tsentr-goroda',
      image: '/images/portfolio/keysi-po-kontekstnoy-reklame/stomatologicheskiy-tsentr-goroda.png',
      title: 'Стоматологический центр города',
      desc: 'Сеть стоматологических клиник',
      result: 'Снижение стоимости клика в 2,5 раза'
    },
    {
      link: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-stomadeus',
      image: '/images/portfolio/keysi-po-kontekstnoy-reklame/stomadeus.png',
      title: 'Стомадеус',
      desc: 'Сеть стоматологических клиник',
      result: 'Привлечение 74 заявок на 3-х этапную чистку зубов',
    },
    {
      link: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-meditsinskiy-tsentr-goroda',
      image: '/images/portfolio/keysi-po-kontekstnoy-reklame/meditsinskiy-tsentr-goroda.png',
      title: 'Medall',
      desc: 'Клиника эстетической медицины',
      result: 'Прибыль от рекламы услуги увеличения груди - 268 000 руб.',
    },
    {
      link: '/prodvizhenie-saytov/keys-po-kontekstnoy-reklame-shankara',
      image: '/images/portfolio/keysi-po-kontekstnoy-reklame/shankara.png',
      title: 'Shankara',
      desc: 'Клиника аюрведической медицины',
      result: 'Реклама услуг аюрведического массажа',
    },
  ]
