.case-info-multiplier
  display flex
  align-items center
  &__mult
    font-size (font-l*3)
    font-weight bold
    margin-right basePadding
    color #8c3052
  &__info
    font-size font-xs
    text-transform uppercase
  & + .case-price-comparison
    margin-top (basePadding*3)
