extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сеть стоматологический клиник «Стомадеус»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/stomadeus.png',
      //-     title: 'Сеть стоматологический клиник «Стомадеус»',
      //-     link: {
      //-       text: 'http://www.stomadeus.ru/',
      //-       href: 'http://www.stomadeus.ru/'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Стоматологические клиники «Стомадеус» оказывает спектр услуг по терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и эстетической стоматологии.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Проведены мероприятия по управлению репутацией в социальных медиа.
      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 3 раза
      //-       |  с 2400 до 7200 посетителей в месяц.
      //-     li Увеличение количества звонков клиентов из интернета в 
      //-       strong 2,5 раза
      //-       | .
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['брекеты стоимость',{content:'7',type:'marked'}],
      //-       ['профессиональная чистка зубов спб',{content:'10',type:'marked'}],
      //-       ['общий наркоз стоматология',{content:'6',type:'marked'}],
      //-       ['пульпит лечение',{content:'8',type:'marked'}],
      //-       ['синус лифтинг',{content:'5',type:'marked'}],
      //-     ]
      //-   +resultsTable(table1)

      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличение количества звонков пациентов из интернета в <strong>2,5 раза</strong> для сети стоматологических клиник',
          text: 'Стоматологические клиники «Стомадеус» оказывает спектр услуг по терапевтическому, хирургическому, ортодонтическому, пародонтологическому лечению, протезированию зубов и эстетической стоматологии.',
          url: 'stomadeus.ru',
          img: imgPath+'detail/stomadeus-detail.webp',
          logo: imgPath+'logo/logo-stomadeus.webp',
          logoWidth: '105',
          logoHeight: '33',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет;
          li Увеличение прибыли клиник;
          li Увеличение узнаваемости бренда.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Проведена оптимизация всех страниц сайта для поисковых систем;
          li Обновили сайт;
          li Создали эффективные рекламные кампании в системе Яндекс.Директ;
          li Проведены мероприятия по управлению репутацией в социальных медиа.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение целевой посещаемости сайта в #[strong 3 раза] с 2400 до 7200 посетителей в месяц;
          li Увеличение количества звонков пациентов из интернета в #[strong 2,5 раза] с 20 до 50;
          li Увеличение записей на прием с сайта в #[strong 2,7 раза].
        -
          let results1 = [
            {title: '×3', desc: 'увеличение <br> целевой посещаемости'},
            {title: '×2,5', desc: 'увеличение <br> количества звонков'},
            {title: '×2,7', desc: 'увеличение <br> записей с сайта'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p По&nbsp;рекомендации другого клиента к&nbsp;нам обратился управляющий сети стоматологических клиник Стомадеус. Клиники существовали на&nbsp;рынке уже достаточное время, но&nbsp;не&nbsp;уделяли интернет-маркетингу должного внимания. В&nbsp;результате конкуренции поток первичных пациентов стал падать.
        p Наша команда энергично взялась за&nbsp;работу. Первым этапом&nbsp;&mdash; провели анализ текущего состояния интернет-маркетинга.

      +caseSection('Анализ',{type:'solutions'}).text-align-left
        ul.list-marked
          li Проверили видимость и&nbsp;позиции сайта в&nbsp;поисковых системах;
          li Изучили состояние сайта и&nbsp;его продающие качества;
          li Провели аудит репутации клиники в&nbsp;сети интернет;
          li Проанализировали существующую рекламную активность клиник.

      +caseSection('Поисковая оптимизация',{type:'solutions'}).text-align-left
        +pageSubsection 
          p Сайт клиент нам передал в&nbsp;плачевном состоянии:
          ul.list-marked
            li Низкая посещаемость;
            li Неудобный сайт, который не&nbsp;адаптирован к&nbsp;мобильным с&nbsp;минимальным количеством контента.
          p Наша команда провела анализ, составила план и&nbsp;начала работы.
          ul.list-marked
            li Выполнили аудит технических ошибок на&nbsp;сайте и&nbsp;исправили их;
            li Отобрали эффективные запросы;
            li Провели оптимизацию существующих страниц сайта;
            li Наполнили сайт тематическими материалами;
            li Выработали и&nbsp;внедрили рекомендации по&nbsp;улучшению взаимодействия сайта с&nbsp;поисковыми системами и&nbsp;увеличению посещаемости;
            li Организовали получение ссылок со&nbsp;сторонних сайтов.
          h3.text-align-center Результаты
          p Уже через месяц после начала работ посещаемость сайта из&nbsp;поисковых систем начала планомерно расти.
          ul.list-marked
            li Яндекс тИЦ (тематический индекс цитируемости)&nbsp;&mdash; 40&nbsp;#[strong (увеличение в&nbsp;2&nbsp;раза)].
            li Упоминаемость домена в&nbsp;Яндексе: 356 раз #[strong (увеличение в&nbsp;7,5&nbsp;раз)].
            li Количество ключевых слов в&nbsp;топ 10&nbsp;Яндекса: 43&nbsp;#[strong (увеличение в&nbsp;3&nbsp;раза)].
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:8 })
            +img({
              name: 'visitors',
              path: '/images/prodvizhenie-saytov/stomadeus/',
              formats: [
                { ext: 'png', orig: true },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Посещаемость сайта').image-shadow
      
      +caseSection('Контекстная реклама',{type:'solutions'}).text-align-left
        +pageSubsection 
          p Выделили две основные цели рекламных кампаний и&nbsp;под каждую подготовили свое решение.
          p Цель: оповестить целевую аудиторию о&nbsp;выгодных предложениях сети клиник в&nbsp;системах Яндекс.Директ.
          p Решение:
          ul.list-marked
            li Запустили кампании по&nbsp;существующим акциям;
            li Запустили кампании по&nbsp;наиболее выгодным предложениям (с&nbsp;точки зрения цены и&nbsp;преимуществ услуги).
          p Подготовили продающие офферы и&nbsp;на&nbsp;основе их&nbsp;создали высококонверсионные рекламные объявления.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6 })
            p: +img({
              name: 'ad-1',
              path: '/images/prodvizhenie-saytov/stomadeus/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Рекламное объявление').image-shadow
          +grid__item({ m:6 })
            p: +img({
              name: 'ad-2',
              path: '/images/prodvizhenie-saytov/stomadeus/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Рекламное объявление').image-shadow
        
        +pageSubsection 
          p Цель: оповестить целевую аудиторию о клиниках в их районе.
          p Решение:
          ul.list-marked
            li Продолжение кампании по ключевым словам, связанным с местоположением клиник (район, метро, улица)
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6 })
            p: +img({
              name: 'ad-3',
              path: '/images/prodvizhenie-saytov/stomadeus/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Рекламное объявление').image-shadow
        
        +pageSubsection 
          h3.text-align-center Результаты
          +pageSubsection 
            h4.text-align-center Конверсия
            ul.list-marked
              li Увеличение конверсии в целевое действие на сайте в 4 раза.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:8 })
              p: +img({
                name: 'context-1',
                path: '/images/prodvizhenie-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Увеличение конверсии').image-shadow
          
          +pageSubsection 
            h4.text-align-center Стоимость достижения цели
            p Уменьшение стоимости достижения цели за счет оптимизации кампании в 10 раз.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:8 })
              p: +img({
                name: 'context-2',
                path: '/images/prodvizhenie-saytov/stomadeus/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
              })(alt= 'Уменьшение стоимости достижения цели').image-shadow
          +pageSubsection 
            +table
              +tr.table__row
                +th Дата
                +th Показы
                +th Клики
                +th CTR (%)
                +th Расход всего
                +th Ср. цена клика
                +th Глубина (стр.)
                +th Конверсия (%)
                +th Цена цели
              +tr.table__row
                +td Июнь 2012
                +td 114953
                +td 609
                +td 0.53
                +td 828.97
                +td 1.36
                +td 3.15
                +td 22.06
                +td 6.84
              +tr.table__row
                +td Июль 2012
                +td 97184
                +td 1010
                +td 1.04
                +td 873.45
                +td 0.86
                +td 3.53
                +td 31.42
                +td 2.95
              +tr.table__row
                +td Август 2012
                +td 51399
                +td 843
                +td 1.64
                +td 768.62
                +td 0.91
                +td 3.58
                +td 28.17
                +td 3.53
              +tr.table__row
                +td Сентябрь 2012
                +td 30264
                +td 330
                +td 1.09
                +td 322.67
                +td 0.98
                +td 3.38
                +td 23.18
                +td 5.25
              +tr.table__row
                +td Октябрь 2012
                +td 62156
                +td 773
                +td 1.24
                +td 894.73
                +td 1.16
                +td 3.69
                +td 27.93
                +td 4.70
              +tr.table__row
                +td Ноябрь 2012
                +td 28423
                +td 298
                +td 1.05
                +td 216.21
                +td 0.73
                +td 4.82
                +td 38.97
                +td 1.98
              +tr.table__row
                +td Декабрь 2012
                +td 36685
                +td 306
                +td 0.83
                +td 81.52
                +td 0.27
                +td 4.26
                +td 97.45
                +td 0.30
              +tr.table__row
                +td Январь 2013
                +td 40709
                +td 337
                +td 0.83
                +td 82.71
                +td 0.25
                +td 4.13
                +td 94.00
                +td 0.27
              +tr.table__row
                +td Февраль 2013
                +td 55570
                +td 513
                +td 0.92
                +td 247.44
                +td 0.48
                +td 3.95
                +td 70.84
                +td 0.73
              +tr.table__row
                +td Март 2013
                +td 22200
                +td 217
                +td 0.98
                +td 121.43
                +td 0.56
                +td 4.35
                +td 83.94
                +td 0.74

      +caseSection('Таргетированная реклама',{type:'solutions'}).text-align-left
        +pageSubsection 
          p Медицинская услуга является вынужденной для пациента, поэтому лучше всего работают каналы рекламы, которые отвечают на&nbsp;спрос. Но&nbsp;в&nbsp;случае не&nbsp;вынужденных услуг, таких как, например, эстетическая стоматология, каналы, формирующие предложение, также могут неплохо сработать.
          p Для того чтобы дополнительно привлечь внимание к&nbsp;бренду и&nbsp;конкретным клиникам, мы&nbsp;решили запустить таргетированную рекламу по&nbsp;услугам эстетической стоматологии.
          h3.text-align-center Что рекламируем?
          p Реклама направлена на&nbsp;клиники в&nbsp;общем, а&nbsp;также на&nbsp;акционные услуги по&nbsp;чистке и&nbsp;отбеливанию зубов.
          h3.text-align-center Цели кампании
          ul.list-marked
            li Увеличение потока пациентов;
            li Осведомленность пациентов ближайших районов о&nbsp;существовании клиники;
            li Привлечение пациентов на&nbsp;акции;
            li Цена привлечения не&nbsp;более 350&nbsp;р.
          h3.text-align-center Решение
          p Для решения задач, поставленных клиентом, использовали таргетированную рекламу в&nbsp;социальной сети #[strong &laquo;Вконтакте&raquo;].
          p Кампанию разбили на&nbsp;5&nbsp;объявлений: 3&nbsp;по&nbsp;местоположению клиник, 2&nbsp;на каждую из&nbsp;акций.
          p Кампании по&nbsp;местоположению таргетировали на&nbsp;жителей близлежащих станций метро. Кампании по&nbsp;акциям таргетировали на&nbsp;жителей близлежащих станций метро ко&nbsp;всем клиникам сети.
          h3.text-align-center Объявления
          p Для каждого объявления создали графическую баннер по&nbsp;ассоциации к&nbsp;услуге и&nbsp;близости к&nbsp;дому:
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:7 })
            p: +img({
              name: 'ad-4',
              path: '/images/prodvizhenie-saytov/stomadeus/',
              formats: [
                { ext: 'png', orig: true },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
            })(alt= 'Рекламное объявление').image-shadow
        +pageSubsection 
          h3.text-align-center Результаты
          p В&nbsp;результате проведенной кампании таргетированной рекламы за&nbsp;календарный месяц было совершено 77&nbsp;переходов пользователей на&nbsp;сайт по&nbsp;средней #[strong цене клика 19,3&nbsp;руб]. Бюджет кампании составил 1488&nbsp;руб. 
          p За&nbsp;месяц было получено #[strong 5&nbsp;звонков и&nbsp;2&nbsp;заявки] с&nbsp;сайта. Таким образом, конверсия кампании составила&nbsp;9%, стоимость привлечения клиента составила #[strong 212&nbsp;рублей]. 
          p Данный результат полностью удовлетворял целям, поставленным клиентом.
      
      +caseSection('Управление репутацией').text-align-left
        p По&nbsp;данным статистики&nbsp;#[strong 65% пациентов] перед принятием решения о&nbsp;выборе клиники ищут отзывы в&nbsp;интернете.
        p Мы&nbsp;провели аудит репутации клиники и&nbsp;обнаружили несколько негативных отзывов. Предложили клиенту выполнить цикл работ по&nbsp;управлению репутацией.
        ul.list-marked
          li Выполнили мониторинг выдачи поисковых систем по&nbsp;&laquo;репутационным&raquo;* запросам, анализ результатов выдачи, разработка плана мероприятий
          li Провели работу с&nbsp;отрицательными отзывами #[br] Обжалование недостоверных отзывов, реагирование на&nbsp;отзывы: ответы, обработка негатива, вытеснение из&nbsp;выдачи поисковых систем по&nbsp;&laquo;репутационным&raquo; запросам негативных отзывов
          li Проделали работу с&nbsp;положительными отзывами #[br] Стимулирование пациентов к&nbsp;распространению отзывов, размещение настоящих положительных отзывов на&nbsp;различных площадках, разбавление отрицательных отзывов положительными
        +textMarked({ tag:'p', 'size--s': true }) * &laquo;репутационные&raquo; запросы&nbsp;&mdash; это запросы, которые обычно используются для поиска информации о&nbsp;компании и&nbsp;отзывах о&nbsp;ней. Например, различные варианты названия компании или варианты названия компании + &laquo;отзывы&raquo;.
        h3.text-align-center Результаты
        p В&nbsp;результате работы мы&nbsp;уменьшили действие негативных отзывов и&nbsp;комментариев, создали положительный образ клиники.
      +caseOffer
