mixin caseBonuses(list)
  +grid({paddingy:true}).case-bonuses
    each item in list
      +grid__item({m:6,xs:12})
        .case-bonuses__item(class= 'case-bonuses__item--'+item.className) !{item.text}
        
      
