.home-form
  h2 + &
    margin-top (basePadding*1.5)
  padding (basePadding*2) (basePadding*3)
  background-color #f4f4f4
  border-radius (basePadding)
  @media screen and (max-width 60rem)
    margin-x (-(basePadding))
    margin-bottom (-(basePadding*2))
    padding-bottom (basePadding*4)
    &--no-margin
      margin 0
  &__input
    margin-bottom basePadding
    &--radio
      display flex
      margin-bottom (basePadding/2)
      align-items baseline
      input
        margin-right (basePadding/2)
      & ^[-2]__label
        font-weight normal
        margin-bottom 0
  &--contacts
    & ^[0]__input
      margin-bottom 0
  &__label
    margin-bottom (basePadding/2)
    display block
    font-weight bold
    font-size font-xs
    &--required
      &::after
        content ' *'
        color #8c3052
  &__submit
    margin-top auto
    margin-bottom 0.5rem
    padding-top (basePadding)
    display flex
    justify-content center
    .btn
      // font-size font-xl
      // line-height line-xl
      padding-x basePadding
      width 100%
  &__info
    display flex
    flex-direction column
  &__policy
    margin-bottom 0
