.home-form
  form.home-form__form
    +grid({justify:'space-between', paddingy: true})
      +grid__item({ m:7, xs:12 })
        .home-form__input
          label.home-form__label(for='home-form__task') Краткое описание задачи
          textarea.form-input#home-form__task 
        +grid
          +grid__item({ m:6, xs:12 })
            .home-form__input
              label.home-form__label(for='home-form__name') Имя
              input.form-input#home-form__name
            .home-form__input
              label.home-form__label(for='home-form__email') Электронная почта
              input.form-input#home-form__email
          
          +grid__item({ m:6, xs:12 })
            .home-form__input
              label.home-form__label(for='home-form__tel') Телефон
              input.form-input#home-form__tel
            .home-form__input
              label.home-form__label(for='home-form__site') Ваш сайт
              input.form-input#home-form__site
        //- .home-form__input.home-form__input--radio
        //-   input(type='radio' name='type')#home-form__service-1
        //-   label(for='home-form__service-1').home-form__label Комплексный аудит интернет-маркетинга
        //- .home-form__input.home-form__input--radio
        //-   input(type='radio' name='type')#home-form__service-2
        //-   label(for='home-form__service-2').home-form__label Аудит продающих качеств сайта
        //- .home-form__input.home-form__input--radio
        //-   input(type='radio' name='type')#home-form__service-3
        //-   label(for='home-form__service-3').home-form__label Консультация
      +grid__item({ m:4, xs:12 }).home-form__info
        span #[strong Заря Виталий] #[+textMarked({ tag:'p', 'size--xs': true}) Руководитель агентства]
        a(href='mailto:sale@medreclama.ru') sale@medreclama.ru 
        +textMarked({ tag:'div', 'size--xs': true}) Ответим в течение одного рабочего дня
        .home-form__submit
          button(type='submit').btn.btn--primary Отправить заявку
        +textMarked({ tag: 'p', 'size--xs': true, color: 'grey' }) Оставляя заявку, вы соглашаетесь на обработку личных данных
