extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/whitedent.jpg',
  //-         title: 'Стоматологическая клиника «Вайт-Дент»',
  //-         link: {
  //-           text: 'http://whitedent.spb.ru',
  //-           href: 'http://whitedent.spb.ru'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Стоматологическая клиника «Вайт-Дент» предоставляет широкий спектр стоматологических услуг.'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка новой версии сайта стоматологической клиники привела к <strong>значительному увеличению</strong> интереса пациентов`,
          text: 'Стоматологическая клиника &laquo;Вайт-Дент&raquo; предоставляет широкий спектр стоматологических услуг.',
          url: 'whitedent.spb.ru',
          img: imgPath+'detail/whitedent-detail.webp',
          logo: imgPath+'logo/logo-whitedent.webp',
          logoWidth: '90',
          logoHeight: '82',
        }
      +portfolioDetailHeader(header).page-section.page-section--portfolio
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Улучшить конверсию сайта, сделать его более современным и удобным;
          li Обновить оформление сайта;
          li Подготовить сайт к поисковой оптимизации.

      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Спроектировали сайт, отвечающий современным требованиям поисковых систем;
          li Обновили дизайн сайта: сделали его более современным;
          li Улучшили продающие качества сайта: подготовили качественный контент.

      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Время, которое проводит посетитель на сайте #[strong увеличилось на 12%];
          li Количество страниц, которые просматривает посетитель #[strong увеличилось на 9%].

        -
          let results1 = [
            {title: '12%', desc: 'увеличение времени, которое <br> проводит посетитель на сайте'},
            {title: '9%', desc: 'увеличение количества <br> просматриваемых страниц'},
          ]
        +caseResultsList(results1).text-align-center

      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p Мы&nbsp;давно сотрудничаем с&nbsp;данной стоматологической клиникой. В&nbsp;определенный момент пришло понимание, что для качественного скачка необходимо разработать новую версию. Которая&nbsp;бы соответствовала современным тенденциям в&nbsp;разработке сайтов. Нашей основной целью было сделать лучший сайт в&nbsp;нише. Внедрить все наши наработки в&nbsp;области медицинского маркетинга.
        p Мы&nbsp;сами предложили клиенту создать новую версию сайта стоматологии и&nbsp;изложили свои аргументы.
      
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        h3.text-align-center Анализ
        p Мы&nbsp;выполнили предварительный анализ сайта по&nbsp;следующим направлениям:
        ul.list-marked 
          li Анализ сайтов конкурентов по&nbsp;ряду параметров;
          li Оценка состояния сайта;
          li Анализ типичных технических ошибок;
          li Анализ содержания сайта и&nbsp;качества оптимизации.
        p Мы&nbsp;предложили серьезно переделать дизайн, структуру и&nbsp;интерфейс меню, шаблоны страниц сайта, добавить новые разделы.
        p После чего мы&nbsp;приступили к&nbsp;разработки стратегии поискового продвижения.

        h3.text-align-center Сбор ключевых слов
        +pageSubsection
          p Мы&nbsp;основательно подошли к&nbsp;сбору ключевых слов. Проработали 9&nbsp;основных направлений деятельности клиники. Проанализировали прайс и&nbsp;услуги клиники, услуги множества конкурентов.
          p Таким образом нам удалось получить максимально возможное количество тем для страниц. Только по&nbsp;направлению протезирования мы&nbsp;подготовили #[strong 47&nbsp;страниц] под разные услуги.
        +grid({ paddingy: true }).page-subsection 
          +grid__item({ m:9, xs:12 })
            p
              +img({
                name: 'whitedent-1',
                path: '/images/razrabotka-saytov/whitedent/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Сбор ключевых слов').image-shadow

        h3.text-align-center Проектирование новой структуры
        p На&nbsp;основе собранных сгруппированных ключевых слов, а&nbsp;также анализа конкурентов мы&nbsp;разработали новую структуру сайта.
        p Ее&nbsp;задача привлечь максимум посетителей из&nbsp;поисковых систем, дать ответы на&nbsp;все вопросы, вызвать доверие к&nbsp;сайту как у&nbsp;пациентов, так и&nbsp;у&nbsp;поисковых систем.
        p: iframe(src="https://drive.google.com/file/d/1QL5MmgPYp4ENeWJ2PK-NRzdytKxcz6og/preview" width="100%" height="500" allow="autoplay")
        
        h3.text-align-center Переделка дизайна сайта
        p Мы&nbsp;подготовили новый макет сайта:
        ul.list-marked 
          li сделали его более современным и&nbsp;привлекательным;
          li создали единый стиль;
          li улучшили удобство сайта (чтение информации, навигацию);
          li сделали акцент на&nbsp;важной информации.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            p: strong До
            p: a(href='/images/razrabotka-saytov/whitedent/whitedent-2.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'whitedent-2',
                path: '/images/razrabotka-saytov/whitedent/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Новый дизайн - до' width='1000' height='600').image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong После
            p: a(href='/images/razrabotka-saytov/whitedent/whitedent-3.webp' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'whitedent-3',
                path: '/images/razrabotka-saytov/whitedent/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Новый дизайн - после' width='1000' height='600').image-shadow.object-fit-cover

        h3.text-align-center Подготовка контента
        h4.text-align-center Качество и&nbsp;проработка
        p При подготовке контента для сайта мы&nbsp;плотно взаимодействуем с&nbsp;клиентом.
        p У&nbsp;нас есть наработанный годами список вопросов по&nbsp;различным направлениям медицины, который позволяет нам уточнить особенности оказания медицинской услуги в&nbsp;клинике и&nbsp;раскрывающий преимущества подхода.
        p По&nbsp;каждой странице мы&nbsp;подготовили опросник и&nbsp;направили его клиенту для заполнения.

        h4.text-align-center Четкие задания
        p Перед написанием текстов seo-специалист готовит подробное задание. Это является залогом успешного продвижения текста.
        p: iframe(src="https://drive.google.com/file/d/1ZIdiT-tjKEngYzRGTRgjM09FJPfDqoSB/preview" width="100%" height="500" allow="autoplay")

        h4.text-align-center Строгие регламенты
        p При написании текстов копирайтер следует строгим регламентам, в&nbsp;которые мы&nbsp;вложили весь наш опыт. В&nbsp;регламентах изложены требования к&nbsp;продающим качествам текстов, информативности, оформлению, оптимизации и&nbsp;т.д.
        p Отдельно описаны особенности написания медицинских текстов.
        p: iframe(src="https://drive.google.com/file/d/1zJK_ip1MU638YUpju8XJ-it38gbvbv-_/preview" width="100%" height="500" allow="autoplay")
