extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сайт стоматологической клиники «Medall»'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/dentaldaily.jpg',
  //-         title: 'Сайт стоматологической клиники «Medall»',
  //-         link: {
  //-           text: 'http://dentaldaily.ru',
  //-           href: 'http://dentaldaily.ru'
  //-         }
  //-       }
  //-     +pageDevelopment(page)
  
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `В результате разработки сайта отделения стоматологии <strong>новые заявки</strong> на запись стали поступать с <strong>первого дня</strong> запуска`,
          text: 'Отделение цифровой стоматологии &laquo;Medall&raquo;&nbsp;&mdash; современное лечебное учреждение, уровень стоматологической помощи в&nbsp;которых отвечает высоким мировым стандартам.',
          //- url: 'netvolos.ru',
          img: imgPath+'detail/medall-detail.webp',
          logo: imgPath+'logo/logo-medall.webp',
          logoWidth: '100',
          logoHeight: '30',
          logoMod: 'width-auto',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов на услуги стоматологии используя недорогой канал рекламы.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Подобрали и&nbsp;приобрели &laquo;старый&raquo; домен с&nbsp;готовым сайтом;
          li Создали новый дизайн сайта;
          li Запустили поисковую оптимизацию.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Получили более 100 посетителей из поисковых систем и новые заявки на запись уже с первого дня запуска сайта;
          li Значительно ускорили процесс поисковой оптимизации.
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p У&nbsp;нашего старого клиента многопрофильной клиники на&nbsp;сайте были представлены все направления: пластическая хирургия, косметология, флебология, стоматология.
        p При продвижении сайта в&nbsp;поисковых системах мы&nbsp;все поставленные цели были достигнуты кроме направления стоматологии. Проведя некоторый анализ мы&nbsp;пришли к&nbsp;выводу, что для достижения результатов в&nbsp;направлении стоматологии необходим #[strong специализированный стоматологический сайт]. Так как по&nbsp;результатам анализа поисковые системы отдают предпочтение именно таким сайтам.
        p Если регистрировать новый домен и&nbsp;начать его поисковую оптимизацию, то&nbsp;из-за определенных ограничений со&nbsp;стороны поисковых систем добиться результата будет возможно не&nbsp;ранее чем через год.
        p Но&nbsp;клиенту требовалось получить результаты в&nbsp;#[strong кратчайшие сроки].
      +caseSection('Что мы сделали?').text-align-left
        +pageSubsection
          p Мы&nbsp;предложили подобрать &laquo;старый&raquo; домен с&nbsp;готовым сайтом и&nbsp;использовать его для дальнейшего продвижения.
          ol.list-numbered
            li Нашли площадки, на&nbsp;которых представлен вторичный рынок доменов и&nbsp;сайтов;
            li Сформулировали критерии к&nbsp;выбору домена;
            li Изучили особенности работы со&nbsp;&laquo;старым&raquo; доменом после его покупки с&nbsp;целью сохранения его веса и&nbsp;позиций в&nbsp;поиске.
          p Мы&nbsp;выждали некоторое время в&nbsp;поисках лучшего предложения и&nbsp;когда оно поступило приобрели домен вместе с&nbsp;сайтом.

        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-1.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'dentaldaily-1',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Сайт dentaldaily' width='1000' height='600').object-fit-cover
        
        +pageSubsection
          p Данный сайт представлял собой стоматологический портал с новостями, акциями, статьями и каталогом клиник.
          h3.text-align-center Сохранение трафика сайта
          p Мы тщательно изучили статистику сайта и контент, который приводил больше всего трафика из поисковых систем.
          p После покупки сайта мы перенесли статьи на новый сайт чтобы продолжить получать поток посетителей по информационным запросам.
          p По остальным страницам мы настроили редиректы чтобы доверие поисковых систем к старому сайту передалось новым страницам.
          
          h4.text-align-center Результаты
          p За счет этих шагов нам удалось следующее.
          ul.list-marked
            li Добились быстрой индексации новых страниц сайта;
            li Сохранили и передали “ссылочный вес” всем страницам сайта;
            li Сохранили целевой трафик по информационным запросам, связанным с стоматологическими заболеваниями;
            li Существенно сократили сроки поисковой оптимизации сайта.

          h3.text-align-center План работ
          ol.list-numbered
            li Подготовили таблицу со структурой отделения стоматологии текущего сайта и определили, что будет делать с разделами и страницами;
            li Подготовили структуру нового сайта;
            li Продумали новый функционал;
            li Подготовили прототип сайта;
            li Создали контент план;
            li Написали техническое задание;
            li Определили порядок разработки сайта.
          
          h4.text-align-center Структура инфоблоков
          p Мы спроектировали сайт таким образом, что весь контент связан друг с другом. С помощью этих связей мы можем создавать из любой страницы посадочную, насыщая ее релевантной информацией. Это значительно увеличивает заинтересованность посетителя сайта и конверсию.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-2.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'dentaldaily-2',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Структура инфоблоков' width='1000' height='600').object-fit-cover.image-shadow
          
        h3.text-align-center Проектирование
        p Мы подготовили детальные прототипы страниц сайта.
        +grid({ paddingy: true }).page-subsection
          +grid__item({ m:6, xs:12 })
            p: strong Страница списка врачей
            p Мы разделили всех врачей на группы по специализации и клинике для удобства навигации. У каждого врача есть собственная страница.
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-3.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'dentaldaily-3',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница списка врачей').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница &laquo;До&nbsp;и&nbsp;после&raquo;
            p Каждую работу мы оформили как кейс, с описанием проблемы, подхода к лечению. Указали имя врача и название услуги и привязали их к кейсу. Таким образом пациент может легко найти результаты работ по интересующей его услуге или по врачу.
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-4.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'dentaldaily-4',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница &laquo;До&nbsp;и&nbsp;после&raquo;').image-shadow.object-fit-cover
          +grid__item({ m:6 })
            p: strong Страница акции
            ul.list-marked 
              li Разместили всю необходимую информацию об услуге на одной странице
              li Внедрили счетчик обратного отсчета для ограничения по времени
              li Встроили удобную форму отправки заявки
              li Добавили врачей, которые выполняют услугу
              li Указали отзывы пациентов по данной услуге
              li Кратко рассказали о преимуществах клиники
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-6.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'dentaldaily-6',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница акции' width=1000 height=600).image-shadow.object-fit-cover
          +grid__item({ m:6, xs:12 })
            p: strong Страница статьи
            p На сохраненных статьях по стоматологии с приобретенного сайта мы разместили ссылки на соответствующую страницу лечения и прайса, а также форму записи.
            p Это должно увеличить конверсию.
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-5.png' target='_blank' data-fancybox).image-zoom
              +img({
                name: 'dentaldaily-5',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница статьи' width=1000 height=770).image-shadow.object-fit-cover
        +pageSubsection
          h3.text-align-center Дизайн
          p Мы создали современный дизайн в едином стиле с основным сайтом клиники.
          p Разработали адаптивную верстку, которая подстраивается под разрешение экрана и различные устройства
          h4.text-align-center Главная страница
          p На первом экране по правилам построения посадочных страниц мы разместили три важных элемента:
          ul.list-marked 
            li Уникальный подход в лечении, отраженные на слайдерах;
            li Визуальный образ: врачи за работой на современном оборудовании;
            li Предварительно мы провели исследование демографии целевой аудитории;
            li Преимущества клиники.
          p Далее мы отразили:
          ul.list-marked 
            li Организации, с которыми сотрудничает центр;
            li Список услуг;
            li Порядок действий для получения лечения;
            li Акционный блок;
            li Список врачей;
            li Блок с формой записи на консультацию;
            li Контактная информация.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-7.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'dentaldaily-7',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Дизайн' width=1000 height=600).image-shadow.object-fit-cover
        +pageSubsection
          h4.text-align-center Страница услуги
          p Каждую страницу процедуры и проблемы сайта мы спроектировали таким образом чтобы она являлась посадочной:
          ul.list-marked 
            li разместив максимально исчерпывающую информацию: фото до и после, отзывы, цены, врачи.
            li снабдив аргументами, преимуществами.
          p Таким образом можно с уверенностью запускать рекламу и отправлять трафик на любую страницу сайта.
        +grid({ paddingy: true }).page-subsection
          +grid__item
            p: a(href='/images/razrabotka-saytov/medall/dentaldaily-8.png' target='_blank' data-fancybox).image-zoom   
              +img({
                name: 'dentaldaily-8',
                path: '/images/razrabotka-saytov/medall/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница услуги' width=1000 height=600).image-shadow.object-fit-cover

      .page-section
        include /blocks/portfolio-detail-like/portfolio-detail-like 
