mixin feedbackItem(item)
  +grid({ paddingy: true }).feedback-item
    +grid__item({m:2,s:2, xs:4}).feedback-item__photo
      img(src='/images/feedback-'+item.photo+'.jpg' alt='').image-border
      if item.scan
        a.feedback-item__link(href=`/images/feedback/${item.scan}` data-fancybox="data-fancybox").btn.btn--secondary Скан отзыва
    +grid__item({m:10,s:12,xs:12}).feedback-item__info
      .feedback-item__body !{item.text}
      .feedback-item__author
        strong !{item.organization}
        span !{item.name}
        span !{item.occupation}
