.header-mobile-menu
  position absolute
  top 5rem
  right 0
  background #ffffff
  width 100vw
  min-height calc(100vh - 5rem)
  padding (basePadding*2)
  padding-bottom ((basePadding*2)+(basePadding/3*4))
  opacity 0
  visibility hidden
  transition opacity (timing-s/2), transform  (timing-s/2)
  transform translateY(5rem)
  border-bottom 0.5px solid color-text-light
  z-index 10
  &__item-body
    display flex
  &__item
    a, span
      flex-grow 1
      display block
      padding-top (basePadding/3*4)
      text-decoration none
  &__list 
    & > ^[-1]__item
      border-bottom 0.5px solid color-text-light
  &__sublist
    display none
    padding-left basePadding
    margin-bottom (basePadding/3*4)
    &--active
      display block
  &__sublist-switcher
    width (basePadding*4)
    display flex
    align-items center
    justify-content center
    &::before
      content ''
      display block
      width 1rem
      height 1rem
      cursor pointer
      transform rotate(45deg)
      border-right 2px solid color-link
      border-bottom 2px solid color-link
    &--active
      &::before
        border-right 2px solid color-link-hover
        border-bottom 2px solid color-link-hover
      
