
.header-mobile-menu
  include ../../../data/menu-items
  ul.header-mobile-menu__list
    each item in list
      li.header-mobile-menu__item
        .header-mobile-menu__item-body
          a(href= item.url) !{item.name}
        if item.sub
          ul.header-mobile-menu__sublist
            each i in item.sub
              li.header-mobile-menu__item
                a(href= i.url) !{i.name}
