extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Клиника по пересадке волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      //- -
      //-   let page = {
      //-     image: '/images/prodvizhenie-saytov/netvolos.png',
      //-     title: 'Клиника по пересадке волос',
      //-     link: {
      //-       text: 'http://www.netvolos.ru/',
      //-       href: 'http://www.netvolos.ru/'
      //-     }
      //-   }
      //- +pageAdvertisment(page)
      //-   p Отделение по пересадке волос, практикующее передовые методики в трансплантации волос входит в состав Медицинского Центра Города.
      //-   p
      //-     strong Задача:
      //-     |  привлечение клиентов, увеличение прибыли клиники.
      //-   p
      //-     strong Решение:
      //-   ol.list-numbered
      //-     li Проведена оптимизация всех страниц сайта под запросы пользователей поисковых систем;
      //-     li Проведены работы по увеличению количества тематических ссылок на сайт;
      //-     li Регулярно ведутся работы по добавлению тематического контента;
      //-     li Проводятся мероприятия по управлению репутацией в социальных медиа.
      //-   p
      //-     strong Результат:
      //-   ol.list-numbered
      //-     li Увеличение целевой посещаемости сайта в 
      //-       strong 4,5 раз
      //-       |  с 729 до 3216 посетителей в месяц.
      //-     li Увеличение количества клиентов из интернета в 
      //-       strong 3 раза.
      //-     li Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google.
      //-   p Позиции по ключевым словам:
      //-   -
      //-     let table1 = [
      //-       [{type:'header',content:''},{type:'header-ya',content:''}],
      //-       ['пересадка волос',{content:'1',type:'marked'}],
      //-       ['трансплантация волос',{content:'1',type:'marked'}],
      //-       ['лечение облысения',{content:'2',type:'marked'}],
      //-       ['лечение выпадения волос',{content:'4',type:'marked'}],
      //-       ['лечение алопеции',{content:'2',type:'marked'}],
      //-     ]
      //-   +resultsTable(table1)

      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: 'Увеличение количества пациентов, привлеченных из интернета на <strong>58% </strong> для клиники по пересадке волос',
          text: 'Отделение по пересадке волос, практикующее передовые методики в трансплантации волос, входит в состав клиники Medall.',
          url: 'netvolos.ru',
          img: imgPath+'detail/netvolos-detail.webp',
          logo: imgPath+'logo/logo-netvolos.svg',
          logoWidth: '130',
          logoHeight: '50',
          logoMod: 'width-auto',
          mod: 'no-padding--bottom',
        }
      +portfolioDetailHeader(header).page-section
      
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li Увеличить количество пациентов, приходящих из интернет;
          li Увеличение прибыли отделения.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Запустили поисковую оптимизация сайта;
          li Создали эффективные рекламные кампании в&nbsp;системе Яндекс.Директ;
          li Создан удобный, информативный и&nbsp;продающий сайт.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение целевой посещаемости сайта в&nbsp;#[strong 6&nbsp;раз] с&nbsp;500 до&nbsp;3000 посетителей в&nbsp;месяц.
          li Увеличение количества пациентов, привлеченных из&nbsp;интернета, на&nbsp;#[strong 58%].
          li Заявки из&nbsp;#[strong интернет] дают в&nbsp;среднем #[strong 10&nbsp;операций] в&nbsp;месяц, запись на&nbsp;операции на&nbsp;#[strong месяц вперед]. 
          //- | #[br] #[+textMarked({ tag:'div', 'size--s': true }) * данные взяты из&nbsp;#[a(href='/images/prodvizhenie-saytov/netvolos/infoklinika.png' target='_blank') отчета] программы Инфоклиника]
        -
          let results1 = [
            {title: '6 раз', desc: 'увеличение <br> целевой посещаемости'},
            {title: '58%', desc: 'увеличение <br> количества пациентов'},
            {title: '10', desc: 'операций в месяц <br> дают заявки из интернет'},
          ]
        +caseResultsList(results1).text-align-center
        //- h3.text-align-center Детальная статистика
        //- p #[strong В&nbsp;марте 2023 года&nbsp;&mdash; около 68&nbsp;обращений пациентов.]
        //- ul.list-marked
        //-   li 20&nbsp;заявок на&nbsp;расчет стоимости операции;
        //-   li 8&nbsp;заявок на&nbsp;запись на&nbsp;консультацию;
        //-   li 3&nbsp;вопроса в&nbsp;заочную консультацию;
        //-   li 10&nbsp;обращений через виджет CRM Битрикса;
        //-   li 27&nbsp;звонков.
        //- p Получилось, что средний размер затрат клиники с&nbsp;точки зрения рекламного бюджета на&nbsp;привлечение пациента (операцию) составляет 3300-5500&nbsp;руб.
        
      +caseSection('Поисковая оптимизация').text-align-left
        .page-section
          +pageSubsection 
            h3.text-align-center Создание полного семантического ядра
            p Поисковые запросы в&nbsp;нашем процессе являются фундаментом для дальнейшего проектирования структуры сайта. Мы&nbsp;всегда создаем сайты так, чтобы они максимально отвечали на&nbsp;поисковый спрос, соответствовали требованиям поисковых систем&nbsp;и, следовательно, были полностью готовы к&nbsp;дальнейшему продвижению.
            p На&nbsp;основе анализа брифов и&nbsp;конкурентов мы&nbsp;подготовили маркеры&nbsp;&mdash; это базовые темы, по&nbsp;которым будет продвигаться сайт.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:6, s:7 })
              +img({
                name: 'semantic',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Семантическое ядро').image-shadow
          +pageSubsection 
            p На&nbsp;базе маркеров мы&nbsp;собрали все возможные варианты запросов и&nbsp;обработали&nbsp;их.

          h3.text-align-center Подготовка структуры сайта
          +pageSubsection 
            p На&nbsp;основе анализа конкурентов, требований к&nbsp;сайту и&nbsp;собранного семантического ядра мы&nbsp;подготовили mind map. Это отправная точка для проектирование структуры.
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              p: +img({
                name: 'mind-map',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'mind-map').image-shadow
        
        .page-section
          h3.text-align-center Подготовка контента
          +pageSubsection 
            p При подготовке контента для сайта мы&nbsp;кропотливо взаимодействуем с&nbsp;клиентом. 
            p Также мы&nbsp;внимательно изучили страницы сайтов конкурентов, проанализировали их&nbsp;и&nbsp;собрали лучшие идеи для наполнения сайта.
            p По&nbsp;каждой проектируемой страницы мы&nbsp;создали:
            ul.list-marked
              li отдельный документ со&nbsp;списком вопросов #[br] #[+textMarked({ tag:'div', 'size--s': true }) данный документ был направлен клиенту для заполнения]
              li отдельный документ, отражающий будущую структуру контента на&nbsp;странице #[br] #[+textMarked({ tag:'div', 'size--s': true }) он&nbsp;был использован для написания текстов]
              li пометки, какой медиаконтент (фото и&nbsp;иллюстрации) нам будет необходим для наполнения
            p Мы&nbsp;подготовили таблицу, в&nbsp;которую свели всю указанную информацию для удобства контроля.
          +grid({ paddingy: true }).page-subsection
            +grid__item
              p: +img({
                name: 'content',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'mind-map').image-shadow
        
        .page-section
          h3.text-align-center Показатели
          h4.text-align-center Посещаемость
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'visitors',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Посещаемость').image-shadow
          +pageSubsection 
            p За&nbsp;время нашей работы над сайтом количество посетителей из&nbsp;поисковых систем Яндекс и&nbsp;Google увеличилось в&nbsp;несколько раз.
          
          h4.text-align-center Позиции сайта по&nbsp;запросам
          p Запросы на&nbsp;первой странице результатов поиска:
          ul.list-marked
            li пересадка волос в&nbsp;спб
            li сколько стоит пересадка волос
            li пересадка волос цена
            li пересадка волос для мужчин спб
            li пересадка волос методом fue
            li пересадка волос в&nbsp;санкт петербурге
            li трансплантация волос
            li пересадка волос на&nbsp;бороду
            li трансплантация волос цена
            li центр пересадки волос спб
            li клиника по&nbsp;пересадке волос
            li пересадка волос на&nbsp;брови
            li пересадка волос женщинам
          
          h4.text-align-center Видимость сайта
          +pageSubsection 
            p Для отслеживания мы&nbsp;загрузили все целевые поисковые запросы в&nbsp;сервис мониторинга и&nbsp;получили отличные результаты. На&nbsp;данный момент видимость сайта, т.е.&nbsp;%&nbsp;пользователей, которые увидят сайт по&nbsp;поисковым запросам, составляет #[strong около&nbsp;90%].
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              p: +img({
                name: 'visibility-1',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Видимость сайта').image-shadow
            +grid__item({ m:9 })
              +img({
                name: 'visibility-2',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Сравнение видимости с конкурентами').image-shadow
          +pageSubsection 
            span Сайт обгоняет по *видимости всех ближайших конкурентов, даже самую популярную в&nbsp;СМИ #[strong клинику RTH].
            +textMarked({ tag:'p', 'size--s': true }) * Видимость&nbsp;&mdash; процент пользователей, которые увидят сайт в&nbsp;выдаче по&nbsp;запросам.

            p Из&nbsp;общего числа 178 поисковых запросов: по&nbsp;98&nbsp;сайт был в&nbsp;#[strong тройке лидеров], по&nbsp;140 запросам сайт был в&nbsp;#[strong первой десятке].
          +grid({ paddingy: true }).page-subsection
            +grid__item({ m:9 })
              +img({
                name: 'top',
                path: '/images/prodvizhenie-saytov/netvolos/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Таблица топ поисковых запросов').image-shadow

      +caseOffer
