extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  .container
    .content.content--white
      -
        let header = {
          className: 'stomcenter',
          title: 'Кейс по контекстной рекламе сети стоматологических клиник «Стоматологический центр города»',
          desc: 'Сеть стоматологических клиник высокого класса. Стоимость услуг – выше среднего.',
          price: '12 000 руб.',
        }
      +caseHeader(header)
      +caseSection('Задача',{type:'task'})
        p Увеличение количества операций по имплантации в рамках проводимой акции.<br>Стоимость привлечения клиента не больше 1000 руб.
      +caseSection('Поиск решения',{type:'solutions'})
        p Для продвижения акции по имплантации зубов использовали контекстную рекламу Яндекс.Директ. Провели аналитическую работу по выбору наиболее конверсионных запросов и разработали наиболее продающие тексты объявлений. Создали специальную landing page для проводимой акции в целях улучшения конверсии. Также, для оценки эффективности кампании была подключена система отслеживания звонков.
      +caseSection('Тонкие настройки',{type:'settings'})
        h3 Продвигали по ключевым запросам:
        ul.list-marked
          li наиболее конверсионные запросы по направлению «имплантация зубов»;
          li название участвующих в акции имплантов;
        h3 Рекламные объявления:
        p В целях экономии бюджета и отсекания не конверсионных кликов рекламные объявления составлены с учетом следующих критериев:
        ul.list-marked
          li включали в объявление размер предоставляемой скидки и стоимость услуг;
          li в объявлениях указывали срок окончания проводимой акции;
          li включали в объявления продающие триггеры;
          li в объявлениях обыгрывали преимущества клиники и выгоды для пациента.
      +caseSection('Результаты')
        p В результате проведенной кампании контекстной рекламы за календарный месяц было совершено 180 переходов пользователей на сайт, было получено 
          strong 13 звонков и 4 заявки
          |  с сайта. Бюджет на кампанию составил 12000 руб.
        -
          let results = [
            {title: '180', desc: 'переходов'},
            {title: '17', desc: 'заявок'},
            {title: '9,45 %', desc: 'конверсия кампании '},
            {title: '711 р.', desc: 'стоимость заявки'},
          ]

        +caseResultsList(results)
        +caseCupSeparator
        +caseInfographics

          +caseInfographicsItem
            +caseCtrRound({old:165, new:69, value:8, id: 'case-round-ctr-1'})
      +caseOffer
      +caseSection('Дополнительные бонусы')
        -
          let bonuses = [
            {
              text:'<strong>Большой опыт</strong> в ведении контекстной рекламы стоматологических клиник Санкт-Петербурга и Москвы. Мы хорошо понимаем, какие подходы работают для каждого вида стоматологий, и не тратим Ваш рекламный бюджет впустую',
              className: 'experience'
            },
            {
              text: '<strong>Большой объем накопленной статистики</strong>. Мы точно знаем, какие ключевые запросы сработают в Вашем случае и почему. Вы не тратите время и деньги на тестирование кампаний. Все усилия попадают точно в цель',
              className: 'volume'
            }
          ]
        +caseBonuses(bonuses)
