.book-module-mobile
  position fixed
  width 100%
  display flex
  justify-content center
  padding (basePadding*2)
  background-color #ffffff
  border-radius (basePadding) (basePadding) 0 0
  border (basePadding/3) solid #734d76
  bottom 0
  text-align center
  color #888787
  transform translate(0, 100%)
  transition transform timing-m
  z-index 1000
  &--active
    transform none
  &__inner
    width 100%
    padding (basePadding*2)
    background-color #e9e9e9
    max-width 23.33333rem
  &__title
    font-size font-s
    line-height line-s
    strong
      font-size font-l
      line-height line-l
  &__form 
    padding-y basePadding
  &__input
    margin-bottom basePadding
    .form-input
      color #333333
  &__submit
    padding-x (basePadding*2)
    .btn
      width 100%
      text-transform uppercase
      font-size font-xl
    p
      font-size font-s
      line-height line-s
      margin-bottom 0
      margin-x -(basePadding*2)
      &:first-child
        margin-top -15px
      &:last-child
        margin-bottom -15px
  &__info
    margin-bottom 0
    font-size font-s
    line-height line-s
  &__open
    position absolute
    text-transform uppercase
    font-size font-xl
    top -5.5rem
    right 1.5rem
    cursor pointer
    color #ffffff
    width 3.5rem
    height 3.5rem
    border-radius 1.75rem
    background-color #734d76
    transition transform timing-m
    &::after
      content ''
      position absolute
      width 3.5rem
      height 3.5rem
      top 0
      left 0
      background-image url("data:image/svg+xml;utf8, <svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 26 27' style='enable-background:new 0 0 26 27;' xml:space='preserve'><title>gift-box</title><path class='st0' style='fill: %23FFFFFF' d='M14.5,27h8.7c1.1,0,2-0.8,2.1-1.9c0,0,0,0,0-0.1v-8.3H14.5V27z'/><path class='st0' style='fill: %23FFFFFF' d='M0.7,25c0,1.1,0.9,2,2,2c0,0,0,0,0.1,0h8.7V16.8H0.7V25z'/><path class='st0' style='fill: %23FFFFFF' d='M14.5,9.1v5.6h9.4c1.1,0,2-0.8,2-1.9c0,0,0,0,0-0.1V11c0-1.1-0.9-2-2-2L14.5,9.1'/><path class='st0' style='fill: %23FFFFFF' d='M11.4,9H2.1c-1.1,0-2,0.8-2,1.9c0,0,0,0,0,0.1v1.7c0,1.1,0.9,2,2,2c0,0,0,0,0.1,0h9.4V9.1'/><path style='fill: %23FFFFFF' class='st0' d='M21.8,1.3c-1.7-1.6-4.4-1.6-6.1,0c-0.9,1.2-1.5,2.6-1.9,4.1c-0.5-0.2-1.1-0.2-1.6,0c-0.4-1.5-1-2.9-1.9-4.1 C8.6-0.4,6-0.4,4.3,1.2c-1,0.9-1.4,2.3-1.2,3.7c0.2,0.8,1.5,2.9,4.5,3.1h1.3c0,0-1.1-0.2-3.1-2.3C5,4.9,4.9,3.6,5.7,2.8 c0,0,0.1-0.1,0.1-0.1c0.8-0.8,2.2-0.8,3,0c0.7,1.2,1.3,2.6,1.6,4c-0.1,0.4-0.2,0.8-0.2,1.2h5.7c-0.1-0.4-0.1-0.8-0.3-1.2 c0.3-1.4,0.9-2.8,1.6-4c0.8-0.8,2.2-0.8,3,0c0.4,0.4,0.6,0.9,0.6,1.5c0,0.6-0.2,1.1-0.5,1.6c-1,0.9-2.1,1.7-3.3,2.2 C17.6,8,18,8,18.5,7.9c1.9-0.1,3.6-1.2,4.4-2.9C23.2,3.7,22.8,2.2,21.8,1.3z'/></svg>")
      background-repeat no-repeat
      background-size (basePadding*2.5)
      background-position center 
      z-index 2
    span
      position absolute
      top 0
      right 1.75rem
      line-height 3.5rem
      display block
      background-color #734d76
      padding-left (basePadding*4)
      padding-right (basePadding*4 + 1.75rem)
      border-radius 1.75rem 0 0 1.75rem
      white-space nowrap
      z-index -1
      font-size font-xxxl
      transition transform .4s, opacity .8s
      opacity 0
      transform scaleX(0) 
      transform-origin 100% 0 0
    &--active
      span
        opacity 1
        transform scaleX(1) 
    ^[-1]--active &
      transform translate(7rem,0)
      z-index -1
      span
        opacity 0
        transform scaleX(0) 
        
  &__close
    position absolute
    top (basePadding/3*2)
    right (basePadding/3*2)
    background-color red
    width (basePadding/3*4)
    height (basePadding/3*4)
    border-radius 50%
    background-image url("data:image/svg+xml;utf8, <svg enable-background='new 0 0 24 24' style='fill: %23ffffff' height='24px' id='Layer_1' version='1.1' viewBox='0 0 24 24' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M22.245,4.015c0.313,0.313,0.313,0.826,0,1.139l-6.276,6.27c-0.313,0.312-0.313,0.826,0,1.14l6.273,6.272  c0.313,0.313,0.313,0.826,0,1.14l-2.285,2.277c-0.314,0.312-0.828,0.312-1.142,0l-6.271-6.271c-0.313-0.313-0.828-0.313-1.141,0  l-6.276,6.267c-0.313,0.313-0.828,0.313-1.141,0l-2.282-2.28c-0.313-0.313-0.313-0.826,0-1.14l6.278-6.269  c0.313-0.312,0.313-0.826,0-1.14L1.709,5.147c-0.314-0.313-0.314-0.827,0-1.14l2.284-2.278C4.308,1.417,4.821,1.417,5.135,1.73  L11.405,8c0.314,0.314,0.828,0.314,1.141,0.001l6.276-6.267c0.312-0.312,0.826-0.312,1.141,0L22.245,4.015z'/></svg>")
    background-size (basePadding/5*4)
    background-position center
    background-repeat no-repeat
    cursor pointer
    opacity 0.675
    transition opacity 0.4s
    &:hover
      opacity 0.875
      transition none
  &__message
    display none
    font-size font-s
    line-height line-s
    padding-y basePadding
    p
      font-size font-s
      line-height line-s
      margin-bottom 0
  
