.book-module-mobile#book-module-mobile
  .book-module-mobile__close
  .book-module-mobile__inner
    .book-module-mobile__title Скачать бесплатно книгу в pdf 
      strong "Конкурентные преимущества в рекламе клиники"
    form.book-module-mobile__form
      .book-module-mobile__input
        input(type='text' placeholder='Ваше имя' required).form-input
      .book-module-mobile__input
        input(type='email' placeholder='Ваш e-mail' required).form-input
      .book-module-mobile__submit
        button(type='submit').btn Получить
    .book-module-mobile__message
      strong Вам отправлено письмо
      p На указанный вами электронный адрес 
        span.book-module-mobile__msg-mail
        |  было выслано письмо со ссылкой для подтверждения подписки. Сразу после подтверждения подписки вы получите письмо с книгой.
    p.book-module-mobile__info
      strong Благодаря книге
      |  вы сможете сформулировать собственное позиционирование и 
      strong увеличить конверсию
      |  сайта клиники минимум 
      strong на 30%
      |  без дополнительных вложений.
  .book-module-mobile__open
    span Книга в подарок
