mixin footerMenu(menu)
  - let classAdd = ''
  if menu.postfix
    - classAdd = 'footer-menu--' + menu.postfix
  .footer-menu(class= classAdd)
    .footer-menu__title !{menu.name}
    ul.footer-menu__list
      each item in menu.list
        - let classAddItem = ''
        if item.postfix
          - classAddItem = 'footer-menu__item--' + item.postfix
        li.footer-menu__item(class= classAddItem)
          a(href= item.url) !{item.name}
