.footer-menu
  margin-bottom (basePadding*2)
  &__title
    font-weight bold
    font-size font-s
    line-height line-m
  &__item
    font-size font-xs
    line-height line-s
    padding-left (basePadding/3*4)
    position relative
    &::before
      content ''
      position absolute
      left 0
      width (basePadding/2)
      height (basePadding/2)
      border-right 0.125rem solid color-link
      border-top 0.125rem solid color-link
      transform translateY(0.45rem) rotate(45deg)
  &--socials
    & ^[-1]__item
      padding-left (basePadding*2)
      &::before
        border none
        transform none
        width 1rem
        height 1rem
        top 0.15rem
        background-repeat no-repeat
        background-size 100%
      &--vk
        &::before
          background-image url('../images/vk.webp')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/vk@2x.webp')
      &--fb
        &::before
          background-image url('../images/fb.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/fb@2x.png')
