-
  const fw = {
    id: 'form-webinar',
    header: 'Записаться на вебинар',
    rows: [
      {type: 'text', label: 'Имя', name: 'name1', required: true,},
      {type: 'email', label: 'E-mail', name: 'email', required: true,},
    ],
    'submit': 'Записаться'
  }

+form(fw)#form-webinar
