ul.header-links
  li.header-links__item.header-links__item--call
    a(href='#') !{headerInfo.call[lang]}
  li.header-links__item.header-links__item--message
    a(href='#') !{headerInfo.message[lang]}

a(href='mailto:sale@medreclama.ru') sale@medreclama.ru
