.header-links
  &__item
    margin-bottom (basePadding/3)
    font-size font-s
    padding-left (basePadding/4*10)
    background-repeat no-repeat
    background-size contain
    background-position left center
    &--call
      // background-image url('../images/phone.png')
      background-image url("data:image/svg+xml;utf8, <svg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'><defs><style>.cls-1{fill:%23855680;stroke:%23855680;stroke-miterlimit:10;}</style></defs><title>telephone</title><path class='cls-1' d='M231.18,178.23a20.8,20.8,0,0,0,7,5.56,10.25,10.25,0,0,0,4,1.21h0.3a3.19,3.19,0,0,0,2.48-1.11h0a3,3,0,0,1,.79-0.81l0.59-.61a2.05,2.05,0,0,0,0-3l-2.48-2.53a2.09,2.09,0,0,0-1.49-.71,1.9,1.9,0,0,0-1.49.71l-1.49,1.52c-0.1-.1-0.3-0.1-0.4-0.2a1,1,0,0,0-.5-0.2,17.16,17.16,0,0,1-3.76-3.43,13.36,13.36,0,0,1-1.29-2,11.41,11.41,0,0,0,1.09-1.11l0.4-.4a2.37,2.37,0,0,0,.69-1.52,2.12,2.12,0,0,0-.69-1.52l-1.19-1.21-0.4-.4-0.79-.81a2,2,0,0,0-1.49-.61,2.35,2.35,0,0,0-1.49.61L228,167.12a3.26,3.26,0,0,0-1,2,7.23,7.23,0,0,0,.59,3.33A26,26,0,0,0,231.18,178.23Zm-3-9.09a1.94,1.94,0,0,1,.69-1.41l1.49-1.52a1.21,1.21,0,0,1,.79-0.4,0.74,0.74,0,0,1,.69.4l0.79,0.81,0.4,0.4,1.19,1.21a1,1,0,0,1,0,1.62l-0.4.4a11.41,11.41,0,0,1-1.09,1.11h0a0.84,0.84,0,0,0-.2.91h0a9.45,9.45,0,0,0,1.49,2.42,16.69,16.69,0,0,0,4,3.64,2.16,2.16,0,0,1,.5.3,1,1,0,0,0,.5.2h0a0.59,0.59,0,0,0,.4.1A0.84,0.84,0,0,0,240,179l1.58-1.52a1.21,1.21,0,0,1,.79-0.4,0.83,0.83,0,0,1,.69.4l2.48,2.53a1.06,1.06,0,0,1,0,1.62l-0.59.61-0.89.91a2.3,2.3,0,0,1-1.78.81h-0.2a9.3,9.3,0,0,1-3.56-1.11,18,18,0,0,1-6.63-5.35,19,19,0,0,1-3.27-5.45A8,8,0,0,1,228.21,169.14Z' transform='translate(-226.5 -164.5)'/></svg>")
    &--message
      background-image url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 16'><defs><style>.cls-1{fill:%23855680;stroke:%23855680;stroke-miterlimit:10;}</style></defs><title>message</title><path class='cls-1' d='M6,4.63v15H26v-15H6ZM24.56,5.88L16,12.69V12.63h0L7.44,5.88H24.56Zm0.19,12.5H7.25V7L16,14h0l8.75-7V18.38Z' transform='translate(-5.5 -4.13)'/></svg>")
      background-size 24px
    a
      font-weight 600
      display inline-block
