extends /blocks/layout/layout

include /blocks/portfolio-works-item/portfolio-works-item
include /blocks/portfolio-buttons/portfolio-buttons

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  //- include /data/portfolio/razrabotka-saytov-list

  .container
    .content.content--white
      h1 Разработка сайтов
      //- .page-section
      //-   h2.page-section__title Медицина и здоровье
      //-   +worksList(portfolioRazrabotkaSaytovList1,{size: 'small'})
      //- .page-section
      //-   h2.page-section__title Индустрия красоты
      //-   +worksList(portfolioRazrabotkaSaytovList2,{size: 'small'})

      .page-section  
        -
          const buttons = [
            {
              button: 'Все',
              active: true,
            },
            { button: 'Медицина и здоровье' },
            { button: 'Индустрия красоты' },
          ]
        +portfolioButtons(buttons)
      
      .page-section.portfolio-list
        -
          const works = [
            { 
              mod: 'neuros',
              title: 'Нейрохирургический центр им. профессора Г.С. Тиглиева «Новые технологии»',
              category: 'Медицина и здоровье',
              img: 'neuros.webp', 
              href: '/razrabotka-saytov/sayt-dlya-neyrohirurgicheskogo-centra-novye-tekhnologii',
            },
            { 
              mod: 'medall',
              title: 'Cтоматологическая клиника «Medall»',
              category: 'Медицина и здоровье',
              img: 'medall.webp', 
              href: '/razrabotka-saytov/sayt-stomatologicheskoy-kliniki-medall',
            },
            { 
              mod: 'stomadeus',
              title: 'Сеть стоматологических клиник «Стомадеус»',
              category: 'Медицина и здоровье',
              img: 'stomadeus1.webp',
              href: '/razrabotka-saytov/set-stomatologicheskich-klinik-stomadeus',
            },
            { 
              mod: 'mir-krasoty',
              title: 'Медицинский косметологический центр «Мир красоты»',
              category: 'Медицина и здоровье',
              img: 'mir-krasoty1.webp',
              href: '/razrabotka-saytov/sayt-meditsinskogo-kosmetologicheskogo-tsentra-mir-krasoti',
            },
            { 
              mod: 'ignatovskogo',
              title: 'Клиники дерматологии и репродуктивного здоровья «Клиника Игнатовского»',
              category: 'Медицина и здоровье',
              img: 'ignatovskogo.webp',
              href: '/razrabotka-saytov/sayt-kliniki-ignatovskogo',
            },
            { 
              mod: 'medall-hair',
              title: 'Клиника по пересадке волос «MEDALL»',
              category: 'Индустрия красоты',
              img: 'medall-hair.webp',
              href: '/razrabotka-saytov/sayt-kliniki-po-peresadke-volos-medall',
            },
            { 
              mod: 'white-dent',
              title: 'Стоматологическая клиника «ВайтДент»',
              category: 'Медицина и здоровье',
              img: 'white-dent.webp',
              href: '/razrabotka-saytov/white-dent',
            },
            { 
              mod: 'primed',
              title: 'Медицинский Центр Города',
              category: 'Медицина и здоровье',
              img: 'primed.webp',
              href: '/razrabotka-saytov/sayt-meditsinskogo-choldinga-praymed',
            },
            { 
              mod: 'hairdesign',
              title: 'Центр замещения утраченных волос',
              category: 'Индустрия красоты',
              img: 'hairdesign.webp',  
              href: '/razrabotka-saytov/salon-krasoti-tsentr-dizayna-volos',
            },
            { 
              mod: 'medical-center',
              title: 'Клиника  эстетической медицины «MEDALL»',
              category: 'Медицина и здоровье',
              img: 'medical-center.webp',
              href: '/razrabotka-saytov/mnogoprofilnaya-klinika-meditsinskiy-tsentr-goroda',
            },
            { 
              mod: 'shankara',
              title: 'Аюрведический медицинский центр «Shankara»',
              category: 'Медицина и здоровье',
              img: 'shankara1.webp',
              href: '/razrabotka-saytov/aiurvedicheskiy-meditsinskiy-tsentr-shankara',
            },
            { 
              mod: 'stomatology-center',
              title: 'Сеть клиник «Стоматологический центр города»',
              category: 'Медицина и здоровье',
              img: 'stomatology-center.webp',
              href: '/razrabotka-saytov/set-stomatologicheskich-klinik-stomatologicheskiy-tsentr-goroda',
            },
            { 
              mod: 'doctor-dent',
              title: 'Cтоматологическая клиника «Доктор Дент»',
              category: 'Медицина и здоровье',
              img: 'doctor-dent.webp',
              href: '/razrabotka-saytov/stomatologicheskaya-klinika-doktor-dent',
            },
            { 
              mod: 'hairlife',
              title: 'Портал индустрии красоты «Hairlife.ru»',
              category: 'Медицина и здоровье',
              img: 'hairlife-1.webp',
              href: '/razrabotka-saytov/portal-industrii-krasoti-hairlife-ru',
            },
            { 
              mod: 'volosy24',
              title: 'Интернет-магазин для наращивания «Волосы24»',
              category: 'Индустрия красоты',
              img: 'volosy24.webp',
              href: '/razrabotka-saytov/internet-magazin-volos-dlya-naraschivaniya-volosi24',
            },
            { 
              mod: 'triholog',
              title: 'Интернет-магазин лечебной косметики для волос «Трихолог.орг»',
              category: 'Медицина и здоровье',
              img: 'triholog-1.webp',
              href: '/razrabotka-saytov/internet-magazin-lechebnoy-kosmetiki-dlya-volos-tricholog-org',
            },
            { 
              mod: 'challenge-hair',
              title: 'Клиника по пересадке волос «Challenge Hair»',
              category: 'Медицина и здоровье',
              img: 'challenge-hair.webp',
              href: '/razrabotka-saytov/crm-challenge-hair',
            },
          ]
        +portfolioWorksItem(works).portfolio-list__works
