extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/case/case
  //- .container
  //-   .content.content--white
  //-     -
  //-       let page = {
  //-         image: '/images/razrabotka-saytov/medcenter.jpg',
  //-         title: 'Многопрофильная клиника «Медицинский Центр Города»',
  //-         link: {
  //-           text: 'http://www.medcentergoroda.ru/',
  //-           href: 'http://www.medcentergoroda.ru/'
  //-         },
  //-         info: [
  //-           {tag: 'p', content: 'Клиника Медицинский Центр Города - комплекс современных клиник, работающих в области эстетической косметологии и стоматологии.'}
  //-         ]
  //-       }
  //-     +pageDevelopment(page)
  .container
    .content.content--white
      - 
        const imgPath = '/images/portfolio/razrabotka-saytov/' 
        const header = {
          title: `Разработка нового сайта клиники эстетической медицины привела к увеличению конверсии`,
          text: '&laquo;Medall&raquo;&nbsp;&mdash; клиника работающая в&nbsp;области эстетической медицины: пластической хирургии, косметологии и&nbsp;стоматологии.',
          //- url: 'netvolos.ru',
          img: imgPath+'detail/medall-detail-2.webp',
          logo: '/images/portfolio/prodvizhenie-saytov/logo-medall-2.png',
          logoWidth: '100',
          logoHeight: '100',
        }
      +portfolioDetailHeader(header).page-section
      +caseSection('Задача',{type:'task' }).text-align-left
        ul.list-marked
          li В связи с ребрендингом и изменением направлений деятельности необходимо доработать структуру и обновить оформление сайта.
      +caseSection('Решение',{type:'task'}).text-align-left
        ul.list-marked
          li Перепроектировали сайт;
          li Обновили дизайн;
          li Улучшили продающие качества сайта.
      +caseSection('Результаты',{type:'task'}).text-align-left
        ul.list-marked
          li Увеличение конверсии сайта;
          li Улучшение поведенческих показателей;
          li Положительные отзывы от клиентов клиники.
      +caseSection('О проекте',{type:'solutions'}).text-align-left
        p Мы&nbsp;очень рады, когда с&nbsp;нашей помощью наши клиенты развиваются и&nbsp;добиваются новых высот. В&nbsp;данном случае развитие многопрофильной клиники &laquo;Медицинский Центр Города&raquo; привело к&nbsp;формированию отделений, каждое из&nbsp;которых представляет собой крупное направление.
        p При этом каждое из&nbsp;направлений требует особого места на&nbsp;общем сайте. Это продиктовано целями маркетинга, а&nbsp;также удобством для пользователей.
        p Одновременно с&nbsp;этим клиника выполнила ребрендинг, превратившись в&nbsp;клинику эстетической медицины. Что помимо структурных изменений требовало внедрения нового фирменного стиля на&nbsp;сайт.
        p В&nbsp;связи с&nbsp;этим и&nbsp;возникла необходимость в&nbsp;разработке новой версии сайта. Одновременно с&nbsp;этим мы&nbsp;планировали внедрить ряд изменений для улучшений продающих качеств сайта и&nbsp;usability.
      +caseSection('Что мы&nbsp;сделали?').text-align-left
        h3.text-align-center Проектирование
        p Подготовили прототипы основных страниц нового сайта.
        ul.list-marked 
          li Адаптировали макеты под современные мониторы;
          li Учли все пожелания клиента по&nbsp;подаче информации;
          li Внедрили удобную навигацию между страницами отделений.
        +pageSubsection
          h4.text-align-center Главная страница
          ul.list-marked 
            li Вынесли важные цифры о&nbsp;клинике;
            li Организации, с&nbsp;которыми сотрудничает центр;
            li Список отделений;
            li Блок со&nbsp;специальными предложениями;
            li Форма записи на&nbsp;прием;
            li Карта и&nbsp;адрес клиники.
        +pageSubsection
          a(href='/images/razrabotka-saytov/medall-1/medall-1.png' target='_blank' data-fancybox).image-zoom  
            +img({
              name: 'medall-1',
              path: '/images/razrabotka-saytov/medall-1/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Главная страница' width='1000' height='600').object-fit-cover.image-shadow
        +pageSubsection
          h4.text-align-center Страница отделения стоматологии
          ul.list-marked 
            li Краткое описание отделения с&nbsp;ярким изображением;
            li Важные цифры об&nbsp;отделении;
            li Описание шагов: как пройти лечение;
            li Список услуг отделения;
            li Специальные предложения по&nbsp;стоматологии;
            li Список врачей отделения.
        +pageSubsection
          a(href='/images/razrabotka-saytov/medall-1/medall-2.png' target='_blank' data-fancybox).image-zoom 
            +img({
              name: 'medall-2',
              path: '/images/razrabotka-saytov/medall-1/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Страница отделения стоматологии' width='1000' height='600').object-fit-cover.image-shadow
        +pageSubsection
          h4.text-align-center Страница услуги лечения кариеса
        +pageSubsection
          a(href='/images/razrabotka-saytov/medall-1/medall-3.png' target='_blank' data-fancybox).image-zoom 
            +img({
              name: 'medall-3',
              path: '/images/razrabotka-saytov/medall-1/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Страница услуги лечения кариеса' width='1000' height='600').object-fit-cover.image-shadow
        +pageSubsection
          h4.text-align-center Версия для мобильного
          p Спроектировали, как макет сайта должен адаптироваться при просмотре с мобильного телефона.
        +grid.page-subsection
          +grid__item({ m:3, xs:7 })
            a(href='/images/razrabotka-saytov/medall-1/medall-4.png' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'medall-4',
                path: '/images/razrabotka-saytov/medall-1/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Версия для мобильного' width='1000' height='600').object-fit-cover.image-shadow

        h3.text-align-center Дизайн
        p Мы&nbsp;создали яркий и&nbsp;современный дизайн сайта, которые полностью соответствует брендбуку.
        p Каждому отделению мы&nbsp;присвоили свой цвет чтобы можно было удобно дифференцировать их&nbsp;в&nbsp;интерфейсе сайта.
        +grid({ paddingy: true })
          +grid__item({ m:6, xs:12 })
            h4 Главная страница
            p: a(href='/images/razrabotka-saytov/medall-1/medall-5.png' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'medall-5',
                path: '/images/razrabotka-saytov/medall-1/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Главная страница' width='1000' height='600').object-fit-cover.image-shadow
          +grid__item({ m:6, xs:12 })
            h4 Страница отделения стоматологии
            p: a(href='/images/razrabotka-saytov/medall-1/medall-6.png' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'medall-6',
                path: '/images/razrabotka-saytov/medall-1/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница отделения стоматологии' width='1000' height='600').object-fit-cover.image-shadow
          +grid__item({ m:6, xs:12 })
            h4 Страница услуги лечения кариеса
            p: a(href='/images/razrabotka-saytov/medall-1/medall-7.png' target='_blank' data-fancybox).image-zoom 
              +img({
                name: 'medall-7',
                path: '/images/razrabotka-saytov/medall-1/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Страница услуги лечения кариеса' width='1000' height='600').object-fit-cover.image-shadow
