.about-me
  .about-me__photo
    img(src='/images/about-me-photo.jpg')
  .about-me__info
    p Здравствуйте. Меня зовут Заря Виталий&nbsp;&mdash; я&nbsp;эксперт по&nbsp;интернет-маркетингу в&nbsp;сфере медицины и&nbsp;индустрии красоты, консультант, 
      strong практикующий маркетолог
      | , руководитель агентства медицинского маркетинга &laquo;Медреклама&raquo;.
    p Более 
      strong 15&nbsp;лет
      |  в&nbsp;сфере интернет-маркетинга. Выполнил более 
      strong 50&nbsp;аудитов интернет-маркетинга клиник
      |  и&nbsp;салонов красоты. Автор низкобюджетных стратегий для продвижения клиник, книги &laquo;Конкурентные преимущества в&nbsp;рекламе клиник&raquo;.
    p В&nbsp;настоящее время 
      strong провожу аудиты маркетинга клиник
      | , руковожу группой специалистов, которые на&nbsp;практике реализуют задачи по&nbsp;
      strong увеличению продаж в&nbsp;клиниках
      | .
    blockquote Фокусировка на&nbsp;медицинском бизнесе дала возможность собрать компетенции, базу знаний, опробовать на&nbsp;практике ряд подходов и&nbsp;стратегий.
