mixin caseSubsection(header, settings = {})
  - let classList = ''
  if settings.type
    - classList += ` case-subsection--`+settings.type
  .case-subsection(class= classList)&attributes(attributes)
    h3.case-subsection__title !{header}
    block
