.case-subsection
  padding 3rem 5rem
  margin-x -(basePadding*2)
  @media (max-width point-m - 1)
    margin-x 0
    padding-x 0
  &__title
    margin-bottom (font-m/4*3)
    color #734d76
    text-align center
  &--task
    border-bottom 3px solid #8c3052
  &--solutions
    border-bottom 3px solid #e8e8e8
