.blog-contents.blog-contents--active
  .blog-contents__title Содержание
  ol.blog-contents__list
    li.blog-contents__item: a(href='#') К&nbsp;вопросу лицензирования
      ol.blog-contents__list
        li.blog-contents__item: a(href='#') Другие лицензионные требования
        li.blog-contents__item: a(href='#') Необходимость регистрации в&nbsp;ЕГИСЗ
        li.blog-contents__item: a(href='#') Важные нюансы
    
