.blog-contents
  margin-bottom 1rem
  padding basePadding (basePadding*2)
  background-color #fafafa
  &__title
    margin-bottom .25rem
    font-weight bold
  &__list
    margin-left 2rem
    list-style decimal
    & &
      list-style lower-alpha
