.countdown
  display flex
  margin-x -(basePadding/2)
  &__block
    display flex
    margin-x (basePadding/2)
    flex-wrap wrap
    width (1.25*2+(basePadding/3))
    .position
      overflow hidden
      position relative
      height (font-xxxl+(basePadding/3*4))
      height 2rem
      width 1.25rem
      &:first-child
        margin-right (basePadding/3)
      .digit
        display block
        text-align center
        width 1.25rem
        height 2rem
        line-height 2rem
        font-size font-l
        position absolute
        background-image linear-gradient(to bottom, #3A3A3A 50%, #444444 50%)
        color #ffffff
        border-radius (basePadding/3)
    &::after
      width 100%
      font-size font-xs
      text-align center
    &--days
      &::after
        content 'дней'
    &--hours
      &::after
        content 'часов'
    &--minutes
      &::after
        content 'минут'
    &--seconds
      &::after
        content 'секунд'
