.block-icon
  display flex
  align-items center
  gap 1rem
  @media(max-width point-s - 1)   
    flex-direction column
  &__icon
    height 5.5rem
    min-width 5.5rem
    background-image url(../images/svg-sprites/common.svg#plant)
    background-size cover
    background-repeat no-repeat
    background-position center
