mixin portfolioPromotionItem(list)
  a(class= `portfolio-promotion-item portfolio-promotion-item--${list.mod}` href=`/prodvizhenie-saytov/${list.href}/`)&attributes(attributes)
    p.portfolio-promotion-item__title= list.title
    p.portfolio-promotion-item__name !{list.name}
    p(data-category= list.category).portfolio-promotion-item__category= list.category
    if list.left
      - logoClass = 'portfolio-promotion-item__logo portfolio-promotion-item__logo--left'
    else 
      - logoClass = 'portfolio-promotion-item__logo'
    img(class= logoClass src=`/images/portfolio/prodvizhenie-saytov/${list.logo}` alt=list.name loading='lazy' decoding='async')
    img(src=`/images/portfolio/prodvizhenie-saytov/${list.chart}.svg` alt=list.title loading='lazy' decoding='async').portfolio-promotion-item__chart 
