.portfolio-promotion-item
  display flex
  flex-direction column
  position relative
  min-height 17rem
  padding 1.5rem
  color #ffffff
  text-decoration none
  background var(--bg-color)
  border-radius 15px
  @media(max-width point-m - 1)
    min-height 18.5rem
  &:hover
    color #ffffff
  &--neuros 
    --bg-color linear-gradient(180deg, #2CB34C 0%, rgba(44, 179, 76, 0.5) 100%)
    --logo-width 5rem
    --logo-height 5rem
  &--medall
    --bg-color linear-gradient(180deg, rgba(63, 113, 202, 0.8) 0%, rgba(82, 181, 223, 0.184) 100%)
    --logo-width 4.75rem
    --logo-height 4.75rem
  &--stomatology-center
    --bg-color linear-gradient(180deg, rgba(94, 106, 125, 0.85) 0%, rgba(94, 106, 125, 0.425) 188.06%)
    --logo-width 3rem
    --logo-height 4.5rem
  &--medall-hair
    --bg-color linear-gradient(180deg, #5A8988 0%, rgba(90, 137, 136, 0.5) 102.26%)
    --logo-width 6.75rem
    --logo-height 2.5rem
  &--medall-contest
    --bg-color linear-gradient(180deg, #5A8988 0%, rgba(90, 137, 136, 0.5) 102.26%)
    --logo-width 5rem
    --logo-height 5rem
  &--stomadeus
    --bg-color linear-gradient(180deg, #FF831B 0%, rgba(255, 131, 27, 0.5) 100%)
    --logo-width 3.5rem
    --logo-height 3.5rem
  &--whitedent
    --bg-color linear-gradient(180deg, rgba(221, 79, 68, 0.7) 0%, rgba(221, 79, 68, 0.35) 100%)
    --logo-width 3.5rem
    --logo-height 2.5rem
  &--doctor-dent
    --bg-color linear-gradient(180.13deg, rgba(47, 47, 47, 0.5) 9.14%, rgba(40, 40, 40, 0.25) 90.6%)
    --logo-width 3.5rem
    --logo-height 3.5rem
  &--hairdesign
    --bg-color linear-gradient(219.1deg, rgba(151, 125, 79, 0.85) 23.54%, rgba(207, 187, 147, 0.85) 78.71%)
    --logo-width 5.5rem
    --logo-height 3.5rem
  &--volosy24
    --bg-color linear-gradient(180.66deg, rgba(184, 19, 59, 0.6) 8.24%, rgba(184, 19, 59, 0.3) 92.11%)
    --logo-width 4rem
    --logo-height 3.5rem
  &--ignatovskogo
    --bg-color linear-gradient(180deg, rgba(5, 59, 112, 0.9) -1.61%, rgba(120, 141, 162, 0.441) 100%)
    --logo-width 7.5rem
    --logo-height 3rem
  &--dhcentre
    --bg-color linear-gradient(180deg, rgba(1, 109, 110, 0.60) 0%, rgba(39, 121, 122, 0.32) 100%)
    --logo-width 3.5rem
    --logo-height 3.5rem
  &--33zub
    --bg-color linear-gradient(180deg, rgba(0, 176, 103, 0.90) -1.61%, rgba(6, 156, 94, 0.44) 100%)
    --logo-width 3.5rem
    --logo-height 3.5rem
  &--vsepariki
    --bg-color linear-gradient(219deg, rgba(123, 102, 161, 0.85) 23.54%, rgba(184, 167, 215, 0.85) 78.71%)
    --logo-width 5.5rem
    --logo-height 3.5rem
  &__title
    margin-bottom 1rem
    font-size 1.15rem
    font-weight 600
    @media(max-width point-l - 1)
      font-size 1.25rem
  &__name
    margin-bottom 0.5rem
    font-size 0.8rem
    line-height 1.375
    font-weight 700
    @media(max-width point-l - 1)
      font-size 0.9rem
  &__category
    margin-bottom 0.5rem
    font-size 0.7rem
    line-height 1.7
    font-weight 600
    opacity 0.7
    @media(max-width point-l - 1)
      font-size 0.8rem
  &__chart
    position absolute
    right 1.3rem
    bottom 1.5rem
    width 14rem
    @media(max-width point-s - 1)
      width 12rem
  &__logo
    margin-top auto
    width var(--logo-width)
    height var(--logo-height)
    &--left
      margin-left -1.5rem
