-
  const headerInfo = {
    title: {
      en: 'Creating patient flow',
      ru: 'Увеличиваем продажи<br>в клиниках и салонах',
    },
    city: {
      en: 'Saint-Petersburg',
      ru: 'Санкт-Петербург',
    },
    call: {
      en: 'Callback',
      ru: 'Обратный звонок',
    },
    message: {
      en: 'Write us',
      ru: 'Напишите нам',
    },
    name: {
      en: 'Medreclama',
      ru: 'Медреклама',
    }
  };
  const lang = language || 'ru';
header.header-main
  .container.header-main__top.hidden-s.hidden-xs
    .content
      include header-contents/header-contents
  if !noMenu
    .container.header-main__bottom.hidden-s.hidden-xs
      .content
        include header-menu/header-menu
  .header-main__mobile.hidden-hd.hidden-xl.hidden-l.hidden-m
    include ../header-mobile/header-mobile
