.text-marked
  &--size--xs
    font-size font-xs
    line-height line-xs
  &--size--s
    font-size font-s
    line-height line-s
  &--size--m
    font-size 1.6rem
    line-height 1.25
  &--size--xm
    font-size 1.125rem
    line-height 1.25
  &--font-weight--600
    font-weight 600
  &--color-black
    color color-text
  &--color-purple
    color #8c3052
  &--color-grey
    color #888888
