.header-logo
  display flex
  align-items center
  justify-content center
  a
    // padding-left (basePadding*9)
    // height 5rem
    height 88px
    width 166px
    background-image url('../images/logo.svg')
    background-size 166px 72px
    background-repeat no-repeat
    background-position  center
    // font-size font-xxs
    // line-height font-xs
    // position relative
    // color color-text
    // text-decoration none
    // text-align center
    // display flex
    // justify-content center
    // flex-direction column
