.icon-block
  position relative
  display flex
  align-items center
  gap 1rem
  padding 1rem
  height 100%
  @media(max-width point-m - 1)
    flex-direction column
  &::before
    flex-shrink 0
    content ''
    width 4rem
    height 4rem
    background-image var(--icon-image)
    background-repeat no-repeat
    background-size contain
  &__inner
    line-height 1.65rem
  &--true
    --icon-image url(../images/svg-sprites/common.svg#icon-block--true)
  &--honesty
    --icon-image url(../images/svg-sprites/common.svg#icon-block--honesty)
  &--crowd
    --icon-image url(../images/svg-sprites/common.svg#icon-block--crowd)
  &--road-banner
    --icon-image url(../images/svg-sprites/common.svg#icon-block--road-banner)
  &--highlight
    --icon-image url(../images/svg-sprites/common.svg#icon-block--highlight)
  &--analytics
    --icon-image url(../images/svg-sprites/common.svg#icon-block--analytics)
  &--strategy
    --icon-image url(../images/svg-sprites/common.svg#icon-block--strategy)
  &--update
    --icon-image url(../images/svg-sprites/common.svg#icon-block--update)
  &--form
    --icon-image url(../images/svg-sprites/common.svg#icon-block--form)
  &--location
    --icon-image url(../images/svg-sprites/common.svg#icon-block--location)
  &--hospital
    --icon-image url(../images/svg-sprites/common.svg#icon-block--hospital)
  &--dentist-chair
    --icon-image url(../images/svg-sprites/common.svg#icon-block--dentist-chair)
  &--dentist
    --icon-image url(../images/svg-sprites/common.svg#icon-block--dentist)
  &--license
    --icon-image url(../images/svg-sprites/common.svg#icon-block--license)
  &--advertising
    --icon-image url(../images/svg-sprites/common.svg#icon-block--advertising)
  &--financial
    --icon-image url(../images/svg-sprites/common.svg#icon-block--financial)
  &--funds
    --icon-image url(../images/svg-sprites/common.svg#icon-block--funds)
  &--joint-account
    --icon-image url(../images/svg-sprites/common.svg#icon-block--joint-account)
  &--cashier
    --icon-image url(../images/svg-sprites/common.svg#icon-block--cashier)
  &--firefighter
    --icon-image url(../images/svg-sprites/common.svg#icon-block--firefighter)
  &--appointment
    --icon-image url(../images/svg-sprites/common.svg#icon-block--appointment)
  &--benefit
    --icon-image url(../images/svg-sprites/common.svg#icon-block--benefit)
  &--conversation
    --icon-image url(../images/svg-sprites/common.svg#icon-block--conversation)
  &--doctor
    --icon-image url(../images/svg-sprites/common.svg#icon-block--doctor)
  &--price-list
    --icon-image url(../images/svg-sprites/common.svg#icon-block--price-list)
  &--promotions
    --icon-image url(../images/svg-sprites/common.svg#icon-block--promotions)
  &--rating
    --icon-image url(../images/svg-sprites/common.svg#icon-block--rating)
