mixin form(form)
  form.form(id= form.id)
    if form.header
      .form__header !{form.header}
    each row in form.rows
      -
        let inputId =  form.id+'-'+row.name
        let requiredClass = ''
      .form__row
        if row.required
          - requiredClass = 'form__label--required'
        label(for= inputId class= requiredClass).form__label !{row.label}
        if row.type != 'textarea'
          input(type= row.type name= row.name id= inputId required= row.required placeholder= row.placeholder).form-input.rsform-input-box
        else
          textarea(name= row.name id= inputId required= row.required placeholder= row.placeholder).form-input.rsform-input-box
    .form__submit
      button(type='submit').btn !{form.submit}
