.feedback-list
  &__item
    display flex
    flex-wrap wrap
    background-color #f0f0f0
    padding (basePadding*2)
    border-radius (basePadding*4) 0 (basePadding*4) 0
    margin-bottom (basePadding*2)
  &__images
    @media screen and (max-width point-s)
      order 2
    img
      border-radius (basePadding/3)
      border 1px solid #a9a9a9
      width 100%
  &__logo
    margin-bottom (basePadding*2)
    img
      display block
      margin-bottom basePadding
      width 100%
  &__logo-title
    font-size font-xs
    line-height line-xs
    font-weight normal
    margin-top 0
    margin-bottom 0
    text-align center
  &__author
    @extends p
    margin-bottom 0
    font-size font-s
    line-height line-s
  &__title
    @extends h3
  &__read-more
    @extends p
    @extends a
    text-decoration underline
    text-decoration-style dotted
    cursor pointer
    margin-bottom 0
  &__details
    display none
    &--display
      display block
