mixin feedbackList(list)
  .feedback-list
    each item in list
      .feedback-list__item
        +grid({paddingy:true})
          +grid__item({s:2,xs:12}).feedback-list__images
            +grid()
              +grid__item({s:12,xs:6}).feedback-list__logo
                img(src= item.logo.image alt= item.logo.title title= item.logo.title)
                h3.feedback-list__logo-title !{item.logo.title}
              if item.scan
                +grid__item({s:12,xs:6}).feedback-list__scan
                  a(href= item.scan.big data-fancybox)
                    img(src= item.scan.small)
          +grid__item({s:10,xs:12}).feedback-list__body
            .feedback-list__title
              .feedback-list__author !{item.author}
              | !{item.title}
            +createElement(item.body)
            if item.hidden
              .feedback-list__details
                +createElement(item.hidden)
              .feedback-list__read-more Подробнее
          
