-
  let resultSlider = [
    {
      className: 'whitedent',
      header: 'Стоматологическая клиника<br>«Вайт Дент»',
      body: [
        {tag:'h4', content:'Цели клиента'},
        {tag:'p', content:'Увеличение осведомленности о клинике жителей близлежащих районов<br>Загрузка врачей и увеличение спроса на услугу компьютерной томографии'},
        {tag:'h4', content:'Результаты'},
        {tag:'ol',className:'list-numbered', content:[
          {tag:'li', content:'В результате проведенной кампании контекстной рекламы количество пациентов, которые воспользовались услугой компьютерной томографии <strong>выросло в 2 раза</strong>. Общая загрузка врачей клиники <strong>увеличилась на 15%</strong>.'},
          {tag:'li', content:'Увеличилась <strong>осведомленность</strong> о клинике (многие пользователи по названию клиники совершают переходы на сайт). <strong>Увеличилась посещаемость</strong> сайта заинтересованными пользователями.'},
          {tag:'li', content:'Благодаря тщательной проработке ключевых запросов и рекламных текстов удалось добиться значения CTR, намного большего, чем прогнозное значение Яндекс.Директа при планировании кампании (прогнозное среднее значение CTR = 5, фактическое CTR = 10,9).'},
          {tag:'li', content:'В результате этого существенно снизилась цена клика. Например, стоимость ключевой фразы «стоматология Василеостровский район» была снижена с 40 до 7 руб. Благодаря этому в рамках фиксированного бюджета удалось привести на сайт в 4 раза больше пользователей, чем прогнозировал сервис планирования кампании Яндекс.Директ.'},
        ]},
      ],
      feedback: {
        text: 'Работать с ребятами просто приятно. Работают активно, профессионально, решают поставленные задачи без промедления. Результаты работы стали видны практически через месяц нашего сотрудничества. Повысилась узнаваемость компании. После грамотной оптимизации сайта возросло количество посещений сайта в 2,5 раза. Увеличилось количество звонков в клинику в 2 раза, и, практически, 80% процентов позвонивших, стали нашими клиентами.',
        name: 'Моисейчиков Андрей Евгеньевич',
        occupation: 'Генеральный директор',
        organization: 'Стоматологическая клиника «Вайт-Дент»',
        photo: 'moiseychikov',
      },
    },
    {
      className: 'medcenter',
      header: 'Многопрофильная клиника<br>«Медицинский центр города»',
      body: [
        {tag:'h4', content:'Цели клиента'},
        {tag:'p', content:'Увеличение количества заявок на акцию «Увеличение груди. Все включено за 115 000 руб.». Не меньше 10 заявок в месяц и как минимум 2е согласившихся пациентов на операцию с этих заявок.'},
        {tag:'h4', content:'Результаты'},
        {tag:'ol',className:'list-numbered', content:[
          {tag:'li', content:'В результате проведенной кампании контекстной рекламы за календарный месяц было совершено 230 переходов пользователей на сайт с системы Яндекс.Директ по средней цене клика 93,6 рубля. С системы Google Adwords было получено 198 переходов по средней цене 56 рублей за переход.'},
          {tag:'li', content:'За месяц было получено 5 звонков и 12 заявок с сайта. Месячный бюджет на кампанию составил 32616 руб. Таким образом, конверсия кампании составила 3,97%, стоимость привлечения клиента составила 1918 рублей. В результате полученных заявок 6 пациентов согласились на операцию в клинике, что в денежном выражении означает дополнительный доход в размере 690 000 рублей в месяц. Данный результат полностью удовлетворял целям, поставленным клиентом.'}
        ]},
      ],
      feedback: {
        text: 'Благодаря работе компании "Медреклама" наш сайт уверенно продвинулся в топовые позиции по запросам в поисковых системах, даже учитывая высокую конкуренцию по нашему направлению. А также хочется отметить оперативность в решении вопросов и четкость выдаваемых рекомендаций',
        name: 'Дмитрий Метелев',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Медицинский Центр Города»',
        photo: 'metelev',
      },
    },
    {
      className: 'stomadeus',
      header: 'Сеть стоматологических клиник<br>«Стомадеус»',
      body: [
        {tag:'h4', content:'Цели клиента'},
        {tag:'p', content:'Привлечение звонков и заявок людей по акциям. Стоимость звонка или заявки с акции «прием + ортоснимок» не более 200 руб., с акции «3-х этапная чистка» не более 400 руб.'},
        {tag:'h4', content:'Результаты'},
        {tag:'ol',className:'list-numbered', content:[
          {tag:'li', content:[
            'В результате проведенной кампании контекстной рекламы по акции «прием + ортоснимок за 500 руб.» было совершено ',
            {tag: 'strong', content: '149 переходов'},
            ' и получено ',
            {tag: 'strong', content: '17 заявок и звонков'},
            ' с сайта за календарный месяц. Бюджет на кампанию составил 2508 руб.'
          ]},
          {tag:'li', content:[
            'Таким образом, ',
            {tag: 'strong', content: 'конверсия кампании составила 11,4%'},
            ', стоимость контакта составила 147 руб., что полностью удовлетворяло целям, поставленным клиентом.',
          ]},
          {tag:'li', content:[
            'По акции «3-х этапная чистка за 1500 руб.» было совершено ',
            {tag: 'strong', content: '604 перехода'},
            ' на сайт и получено ',
            {tag: 'strong', content: '74 заявки и звонка'},
            ' с сайта за календарный месяц. Бюджет на кампанию составил 22028 руб.',
          ]},
          {tag:'li', content:[
            {tag: 'strong', content: 'Конверсия кампании составила 12,25%'},
            ', стоимость контакта составила 297 руб., что полностью удовлетворяло целям, поставленным перед агентством клиентом.',
          ]},
        ]},
      ],
      feedback: {
        text: 'Посещаемость сайта в результате работы агентства постоянно росла и за год увеличилась более чем в 3 раза. Значительно выросло и количество звонков. Надеемся на дальнейшее плодотворное сотрудничество',
        name: 'Скворцова Т.В.',
        occupation: 'Управляющая',
        organization: 'Сеть стоматологических клиник «Стомадеус»',
        photo: 'skvortsova',
      },
    },
    {
      className: 'stomcenter',
      header: 'Сеть стоматологических клиник<br>«Стоматологический центр города»',
      body: [
        {tag:'h4', content:'Цели клиента'},
        {tag:'p', content:'Увеличение количества операций по имплантации в рамках проводимой акции. Стоимость привлечения клиента не больше 1000 руб.'},
        {tag:'h4', content:'Результаты'},
        {tag:'ol',className:'list-numbered', content:[
          {tag:'li', content:'В результате проведенной кампании контекстной рекламы за календарный месяц было совершено 180 переходов пользователей на сайт, было получено <strong>13 звонков и 4 заявки</strong> с сайта. Бюджет на кампанию составил 12000 руб.'},
          {tag:'li', content:'Таким образом, <strong>конверсия кампании составила 9,45%</strong>, стоимость привлечения клиента составила 711 руб, что полностью удовлетворяло целям, поставленным клиентом.'},
          {tag:'li', content:'Благодаря тщательной проработке ключевых запросов и рекламных текстов удалось добиться <strong>высокого значения CTR = 8</strong>.'},
          {tag:'li', content:'В результате этого была <strong>снижена средняя цена клика</strong> со 165 руб. до 69 руб. Это существенно сэкономило бюджет кампании и позволило <strong>привлечь больше потенциальных клиентов</strong> в рамках фиксированного бюджета.'},
        ]},
      ],
      feedback: {
        text: 'Особо хочется отметить индивидуальный подход к каждой нашей задаче. При общении с вами начинается теряться ощущение отношений клиент-подрядчик, общение ведется как с коллегами, с которыми работа идет в рамках единой компании, настолько велика ваша вовлеченность в решении наших задач',
        name: 'Сергей Лобанов',
        occupation: 'Генеральный директор ',
        organization: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
        photo: 'lobanov',
      },
    },
    {
      className: 'shankara',
      header: 'Аюрведический медицинский центр<br>«Shankara»',
      body: [
        {tag:'h4', content:'Цели клиента'},
        {tag:'p', content:'Увеличение количества процедур аюрведического массажа. Стоимость привлечения клиента не больше 300&nbsp;руб.'},
        {tag:'h4', content:'Результаты'},
        {tag:'ol',className:'list-numbered', content:[
          {tag:'li', content:'В результате проведенной кампании контекстной рекламы за календарный месяц было совершено 298 переходов пользователей на сайт по средней цене клика 21,09 рубля. Было получено <strong>17 звонков и 6 заявок</strong> с сайта. Бюджет на кампанию составил 6285 руб.'},
          {tag:'li', content:'Таким образом, <strong>конверсия кампании составила 7,72%</strong>, стоимость привлечения клиента составила 273 рубля, что полностью удовлетворяло целям, поставленным клиентом.'},
        ]},
      ],
      feedback: {
        text: 'В результате проведенных работ, значительно укрепился статус нашей компании, и повысилось узнаваемость наших услуг.<br>Хотелось бы выразить свою благодарность коллективу компании «Медреклама» за ответственность, оперативность, внимательность, а также своевременное реагирование на наши поручения. Веб-сайт, разработанный компанией «Медреклама» продолжает эффективно представлять услуги нашей компании в Интернете.<br>Желаем компании «Медреклама» дальнейших творческих успехов!',
        name: 'Ираида Рослякова',
        occupation: 'Руководитель',
        organization: 'Аюрведический медицинский центр «Shankara»',
        photo: 'roslyakova',
      },
    },
  ]
