-
  var list = [
   {name: 'О нас', url: '/about.html', sub: [
     {name: 'Вакансии', url: '/vakansii.html'},
    ]
   },
   {name: 'Клиенты', url: '/klienti.html'},
   {name: 'Услуги', url: '/uslugi.html', sub: [
     {name: 'Поисковая оптимизация', url: '/poiskovaya-optimizatsiya.html'},
     {name: 'Контекстная реклама', url: '/kontekstnaya-reklama.html'},
     {name: 'Управление репутацией', url: '/upravlenie-reputatsiey.html'},
     {name: 'Аудит продающих качеств сайта', url: '/audit-prodayushchikh-kachestv-sajta-kliniki.html'},
     {name: 'Комплексный аудит интернет-маркетинга', url: '/kompleksnyj-audit-internet-marketinga-kliniki.html'},
     {name: 'Консультация', url: '/konsultatsiya-po-privlecheniyu-patsientov-v-kliniku.html'},
     {name: 'Аудит воронки продаж клиники', url: '/audit-voronki-prodazh-kliniki.html'},
     {name: 'Создание сайтов', url: '/sozdanie-saitov.html'},
   ]},
   {name: 'Портфолио', url: '/portfolio.html', sub: [
     {name: 'Продвижение сайтов', url: '/portfolio/prodvizhenie-saytov/'},
     {name: 'Разработка сайтов', url: '/portfolio/razrabotka-saytov/'},
     {name: 'Контекстная реклама', url: '/portfolio/keysi-po-kontekstnoy-reklame/'},
     {name: 'Таргетированная реклама', url: '/portfolio/targetirovannaya-reklama/'},
     {name: 'Аудит сайта', url: '/portfolio/audit-saita/'},
     {name: 'Консультация', url: '/portfolio/konsultatsiya/'},
     {name: 'Управление репутацией', url: '/portfolio/upravlenie-reputatsiey/'},
     {name: 'Социальные сети', url: '/portfolio/smm/'},
   ]},
   {name: 'Отзывы', url: '/reports.html'},
   {name: 'Контакты', url: '/kontakti.html', sub: [
     {name: 'Заявка на рекламу', url: '/zayavka-na-reklamu.html'},
     {name: 'Заявка на обратный звонок', url: '/zaprosit-zvonok.html'},
   ]},
 ]
