-
  let resultSlider = [
    {
      className: 'medcenter',
      header: 'Многопрофильная клиника<br>«Медицинский центр города»',
      body: [
        {className: 'grid', content:
          [
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Посещяемость'},
              {content:`<img src='/images/prodvizhenie-saytov/whitedent.png'>`}
            ]},
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Позиции'},
              {tag: 'table', className: 'results-table', content: [
                {tag: 'tr', content:[
                  {tag: 'th', content:'Запрос'},
                  {tag: 'th', content:'Место'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'центр пластической хирургии'},
                  {tag: 'td', content:'3'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'мезотерапия'},
                  {tag: 'td', content:'3'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'ринопластика'},
                  {tag: 'td', content:'3'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'отопластика'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'фотоэпиляция'},
                  {tag: 'td', content:'1'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'увеличение груди'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'мануальная терапия'},
                  {tag: 'td', content:'3'}
                ]},
              ]},
              {tag: 'strong', content:'Использовалось запросов: 113'}
            ]},
          ]
        },
        {tag:'h4', content:'Результаты'},
        {tag: 'ul', className: 'list-marked', content: [
          {tag:'li', content:'Увеличение целевой посещаемости сайта <strong>в 11 раз</strong> с 2348 до 26232 посетителей в месяц'},
          {tag:'li', content:'Увеличение количества звонков клиентов из интернета <strong>в 4 раза</strong> с 150 до более 600 в месяц'},
          {tag:'li', content:'Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google'},
        ]}
      ],
      feedback: {
        text: 'Благодаря работе компании "Медреклама" наш сайт уверенно продвинулся в топовые позиции по запросам в поисковых системах, даже учитывая высокую конкуренцию по нашему направлению. А также хочется отметить оперативность в решении вопросов и четкость выдаваемых рекомендаций',
        name: 'Дмитрий Метелев',
        occupation: 'Генеральный директор',
        organization: 'Многопрофильная клиника «Медицинский Центр Города»',
        photo: 'metelev',
      },
    },
    {
      className: 'stomadeus',
      header: 'Сеть стоматологических клиник<br>«Стомадеус»',
      body: [
        {className: 'grid', content:
          [
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Посещяемость'},
              {content:`<img src='/images/prodvizhenie-saytov/stomadeus.png'>`}
            ]},
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Позиции'},
              {tag: 'table', className: 'results-table', content: [
                {tag: 'tr', content:[
                  {tag: 'th', content:'Запрос'},
                  {tag: 'th', content:'Место'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'брекеты стоимость'},
                  {tag: 'td', content:'7'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'профессиональная чистка зубов спб'},
                  {tag: 'td', content:'10'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'общий наркоз стоматология'},
                  {tag: 'td', content:'6'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'пульпит лечение'},
                  {tag: 'td', content:'8'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'синус лифтинг'},
                  {tag: 'td', content:'5'}
                ]},
              ]},
              {tag: 'strong', content:'Использовалось запросов: 63'}
            ]},
          ]
        },
        {tag:'h4', content:'Результаты'},
        {tag: 'ul', className: 'list-marked', content: [
          {tag:'li', content:'Увеличение целевой посещаемости сайта в <strong>3 раза</strong> 2400 до 7200 посетителей в месяц'},
          {tag:'li', content:'Увеличение количества звонков клиентов из интернета в <strong>2,5 раза</strong>'},
          {tag:'li', content:'Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google'},
        ]}
      ],
      feedback: {
        text: 'Посещаемость сайта в результате работы агентства постоянно росла и за год увеличилась более чем в 3 раза. Значительно выросло и количество звонков. Надеемся на дальнейшее плодотворное сотрудничество',
        name: 'Скворцова Т.В.',
        occupation: 'Управляющая',
        organization: 'Сеть стоматологических клиник «Стомадеус»',
        photo: 'skvortsova',
      },
    },
    {
      className: 'stomcenter',
      header: 'Сеть стоматологических клиник<br>«Стоматологический центр города»',
      body: [
        {className: 'grid', content:
          [
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Посещяемость'},
              {content:`<img src='/images/prodvizhenie-saytov/stomcenter.png'>`}
            ]},
            {className: 'grid__cell grid__cell--m-6 grid__cell--12 ', content: [
              {tag:'h4', content:'Позиции'},
              {tag: 'table', className: 'results-table', content: [
                {tag: 'tr', content:[
                  {tag: 'th', content:'Запрос'},
                  {tag: 'th', content:'Место'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'имплантация зубов'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'отбеливание зубов'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'протезирование зубов'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'зубные протезы'},
                  {tag: 'td', content:'1'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'брекеты стоимость'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'реставрация зубов'},
                  {tag: 'td', content:'2'}
                ]},
                {tag: 'tr', content:[
                  {tag: 'td', content:'стоматология спб'},
                  {tag: 'td', content:'3'}
                ]},
              ]},
              {tag: 'strong', content:'Использовалось запросов: 93'}
            ]},
          ]
        },
        {tag:'h4', content:'Результаты'},
        {tag: 'ul', className: 'list-marked', content: [
          {tag:'li', content:'Увеличение целевой посещаемости сайта <strong>в 6 раз</strong> 3587 до 22115 посетителей в месяц'},
          {tag:'li', content:'Увеличение количества звонков клиентов из интернета <strong>в 3 раза</strong> с 300 до более 1000 в месяц'},
          {tag:'li', content:'Сайт занимает высокие позиции по целевым запросам в ведущих поисковых системах Яндекс и Google'},
        ]}
      ],
      feedback: {
        text: 'Особо хочется отметить индивидуальный подход к каждой нашей задаче. При общении с вами начинается теряться ощущение отношений клиент-подрядчик, общение ведется как с коллегами, с которыми работа идет в рамках единой компании, настолько велика ваша вовлеченность в решении наших задач',
        name: 'Сергей Лобанов',
        occupation: 'Генеральный директор',
        organization: 'Сеть стоматологических клиник «Стоматологический Центр Города»',
        photo: 'lobanov',
      },
    },
  ]
