-
  let upravlenieReputatsieyResults = [
    {
      title: 'Клиника эстетической медицины',
      problem: 'отсутствие устойчивого положительного имиджа',
      tasks: [
        'создание положительной репутации',
        'вытеснение негативных отзывов из результатов поиска'
      ],
      results: [
        'средняя доля положительных отзывов по «репутационным» запросам выросла с 23% до 81%'
      ],
      achievments: [
        'увеличение загруженности отделения пластической хирургии на 20%',
        '100% загруженность хирургов операциями по увеличению груди'
      ],
      months: 9
    },
    {
      title: 'Клиника пересадки волос',
      problem: 'репутация не сформирована',
      tasks: [
        'создание положительной репутации'
      ],
      results: [
        'средняя доля положительных отзывов по «репутационным» запросам выросла с <strong>0%</strong> до <strong>91%</strong>'
      ],
      achievments: [
        'обеспечение клиники пациентами почти на 100%',
        'отсутствие необходимости вложений в другие виды рекламы'
      ],
      months: 12
    },
    {
      title: 'Стоматологическая клиника',
      problem: 'негативная репутация',
      tasks: [
        'создание положительной репутации',
        'вытеснение негативных отзывов из результатов поиска',
        'регулярный мониторинг результатов поиска на',
        'предмет появления негатива и его устранение'
      ],
      results: [
        'негатив вытеснен из результатов поиска'
      ],
      achievments: [
        'увеличение количества записей пациентов из интернета на <strong>16%</strong>',
        'увеличение эффективности вложений в другие виде рекламы'
      ],
      months: 6
    },
    {
      title: 'Клиника остеопатии',
      problem: 'полное отсутствие репутации',
      tasks: [
        'размещение информации о компании на целевых площадках',
        'создание положительной репутации'
      ],
      results: [
        'сформирована положительные результаты поиска по 100% «репутационных» запросов'
      ],
      achievments: [
        'увеличение обращений в клинику на <strong>35%</strong>'
      ],
      months: 0
    },
  ]
